
/**
* /////////////////////////////////////////////////////////////////////////////////////////////
* Taggle CSS for labels and input fields
**/
.taggle_list {
  float: left;
  width: 100%;
  margin-left: 4px;
}

.taggle_input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.taggle_list li {
  float: left;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  margin-bottom: 5px;
}

.taggle_list .taggle {
  margin-right: 8px;
  background: #E2E1DF;
  padding: 6px 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin-top: 9px !important;
  transition: all .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.taggle_list .taggle .taggle_text
{
  margin-right: 6px;
}

.taggle_list .taggle_hot {
  background: #cac8c4;
}

.taggle_list .taggle .close {
  font-size: 1.1rem;
  position: absolute;
  top: -1px;
  right: 3px;
  text-decoration: none;
  padding-left: 2px;
  padding-top: 3px;
  line-height: 0.5;
  color: #F14700;
  padding-bottom: 4px;
  border: 0;
  background: none;
  font-size: 13px;
  cursor: pointer;
  filter: alpha(opacity=55);
  opacity: 0.55;
  -khtml-opacity: 0.55;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
}

.taggle_list .taggle:hover {
  padding: 6px;
  padding-right: 15px;
  background: #ccc;
  transition: all .3s;
}

.taggle_list .taggle:hover > .close {
  display: block;
}

.taggle_list .taggle .close:hover {
  color: #990033;
}

.taggle_placeholder {
  position: absolute;
  color: #CCC;
  top: 12px;
  left: 8px;
  transition: opacity, .25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.taggle_input {
  padding: 8px;
  padding-left: 0;
  float: left;
  margin-top: -5px;
  background: none;
  width: 100% !important;
  max-width: 100% !important;
}

.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}

.taggle input
{
  margin-top: 0px !important;
}
/**
End of taggle css
**/