.show-menu {
  display: block;
  padding: 25px 5px;
  color: #ffffff;
  background-color: #F14700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 0px;
}
.show-menu:before {
  content: '\00BB';
  font-size: 1.2em;
}
.mobile_menu{ 
    color:rgb(241, 71, 0);
    background:#f7f7f7;
    padding: 10px;
    cursor:pointer;
}

@media (min-width: 240px) and (max-width: 800px){
    #company_logo{
        display: none;
    }
    .email_us{
        display: none;
    }     
    .show-menu{
        display:none;
    } 
    #cssmenu,
    #cssmenu ul,
	#cssmenu ul li,
	#cssmenu ul li a {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  list-style: none;
	  line-height: 1;
	  display: block;
	  position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  z-index:4000;
	}
	#cssmenu {
	  font-family: Roboto, sans-serif;
	  margin-left: 10px;
	  top: 35px;
	  left: 0px;
	  display: none;
	}
	#cssmenu > ul {
	  width: 150px;
	  background: #333333;
	}
	#cssmenu > ul > li > a {
	  padding: 12px 15px;
	  font-size: 14px;
	  color: #49464A;
	  font-weight: 600;
	  text-decoration: none;
	  border-right: 4px solid #F14700;
	  -webkit-transition: color .2s ease;
	  -o-transition: color .2s ease;
	  -ms-transition: color .2s ease;
	  transition: color .2s ease;
	}
	#cssmenu > ul > li:hover > a,
	#cssmenu > ul > li > a:hover {
	  color: #000000;
	  background: #c4c1c7;
	}
	#cssmenu ul li.has-sub > a::after {
	  position: absolute;
	  top: 50%;
	  right: 15px;
	  margin-top: -6px;
	  content: "+";
	}
	#cssmenu > ul > li.has-sub > a::after {
	  top: 16px;
	}
	#cssmenu > ul > li.has-sub:hover > a::after,
	#cssmenu > ul > li.has-sub > a:hover::after {
	  background: transparent;
	}
	#cssmenu ul ul li.has-sub > a::after {
	  top: 16px;
	  background: #ffffff;
	}
	#cssmenu ul ul li.has-sub:hover > a::after,
	#cssmenu ul ul li.has-sub > a:hover::after {
	  background: transparent;
	}
	#cssmenu ul li.has-sub > a::before {
	  position: absolute; 
          right: 15px;
	  z-index: 2;
	  display: block;
	  width: 0;
	  height: 0;
	  border: 3px solid #F14700;
    }
    #cssmenu ul ul, #cssmenu ul ul ul {
      width: 150px;
      background: #F14700;
      display:none;
    }    
    #cssmenu li:hover > ul{
        display: block;
    }
    #cssmenu ul ul::after {
      position: absolute;
      left: -8px;
      top: 14px;
      z-index: 5;
      display: block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-right-color: #f14700;
    }
    #cssmenu ul ul a {
      padding: 12px 15px;
      font-size: 12px;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
    }
    #cssmenu ul ul ul a {
      padding: 12px 15px;
      margin-left:10px;
      font-size: 11px;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
    }
    #cssmenu ul ul li {
      border-bottom: 1px solid #F14700;
    }
    #cssmenu ul ul li:last-child {
      border-bottom: 0px;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
      color: #FFFFFF;
      background: #c4c1c7;
    }
    #cssmenu input {
      display: inline;
      color: #000000;
      border: 0px;
      font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
      font-size: 11px;
      padding: 8px 5px;
      width: 150px;
      border: 1px solid #F14700;
      outline: none;
    }
    #cssmenu input:focus {
      background: #F14700;
      color: #ffffff;

    }
    #cssmenu .ui-autocomplete{
      position:absolute;
      z-index:5000 ;
    }
    #cssmenu .inactive_link{
        background:#F5F5F5;
    }
}
@media (min-width: 801px){
    .mobile_menu{
        display:none;
    } 
    .submenu{
      left: 100% !important;
      background: #F14700 !important;
      color: #000000 !important;
      opacity: 1 !important;
      transform: rotate3d(0, 0, 0, 0) !important;
    }
    #cssmenu,
    #cssmenu ul,
    #cssmenu ul li,
    #cssmenu ul li a {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      line-height: 1;
      display: block;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      z-index:4000;
    }
    #cssmenu {
      font-family: Roboto, sans-serif;
      margin-left: 20px;
      top: 6.3em;
      left: 0px;
      display: none;
    }
    #cssmenu > ul {
      width: 180px;
      background: #333333;
    }
    #cssmenu > ul > li > a {
      padding: 12px 15px;
      font-size: 16px;
      color: #49464A;
      font-weight: 700;
      text-decoration: none;
      border-right: 4px solid #F14700;
      -webkit-transition: color .2s ease;
      -o-transition: color .2s ease;
      -ms-transition: color .2s ease;
      transition: color .2s ease;
    }
    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li > a:hover {
      color: #000000;
      background: #c4c1c7;
    }
    #cssmenu ul li.has-sub > a::after {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -6px;
      content: "+";
    }
    #cssmenu > ul > li.has-sub > a::after {
      top: 16px;
    }
    #cssmenu > ul > li.has-sub:hover > a::after,
    #cssmenu > ul > li.has-sub > a:hover::after {
      background: transparent;
    }
    #cssmenu ul ul li.has-sub > a::after {
      top: 16px;
      background: #ffffff;
    }
    #cssmenu ul ul li.has-sub:hover > a::after,
    #cssmenu ul ul li.has-sub > a:hover::after {
      background: transparent;
    }
    #cssmenu ul li.has-sub > a::before {
      position: absolute;
      right: 15px;
      z-index: 2;
      display: block;
      width: 0;
      height: 0;
      border: 3px solid #F14700;
    }

    #cssmenu ul ul {
      position: absolute;
      top: 0;
      left: -9999px;
      width: 180px;
      background: #F14700;
      opacity: 0;

    }
    #cssmenu ul ul::after {
      position: absolute;
      left: -8px;
      top: 14px;
      z-index: 5;
      display: block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-right-color: #f14700;
    }
    #cssmenu ul ul a {
      padding: 12px 15px;
      font-size: 14px;
      color: #000000;
      font-weight: 700;
      text-decoration: none;
    }
    #cssmenu ul ul li {
      border-bottom: 1px solid #F14700;
    }
    #cssmenu ul ul li:last-child {
      border-bottom: 0px;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
      color: #FFFFFF;
      background: #c4c1c7;
    }
    #cssmenu input {
      display: inline;
      color: #000000;
      border: 0px;
      font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
      font-size: 14px;
      padding: 8px 5px;
      width: 180px;
      border: 1px solid #F14700;
      outline: none;
    }
    #cssmenu input:focus {
      background: #F14700;
      color: #ffffff;

    }
    #cssmenu .ui-autocomplete{
      position:absolute;
      z-index:5000 !important;
    }
    #cssmenu .inactive_link{
        background:#F5F5F5;
    }
}

