@media (min-width: 240px) and (max-width: 800px){
    body img{
        width:100%;        
    }
    #login-container{
        width:250px;
	position:absolute;
	z-index:15;
	top:50%;
	left:50%;
	margin:-100px 0 0 -150px;
	background:rgb(255,255,255);
	box-shadow: 4px 4px 4px rgb(136, 136, 136);
	padding:10px;
	color:#555;
    }

}
@media (min-width: 801px){
    #login-container{
        width:250px;
	position:absolute;
	z-index:15;
	top:50%;
	left:50%;
	margin:-100px 0 0 -150px;
	background:transparent;
	padding:10px;
	color:#555;
        border:none;
    }
    input {
        opacity: 1;
    }

    body {
        background-size: cover;
        background-color: white;
        background-image: url('/static/custom/img/panels-login-large.png'), url('/static/custom/img/panels-login-medium.png'), url('/static/custom/img/panels-login-small.png');
    }   
    
}  

    .form-signin {
        margin-bottom: 0;
    }
    .login-header {
        text-align: center;
    }

    .login-input {
        width: 95%;
    }

    .login-button {
        display: block;
        margin: auto;
        font-size:1.0em;
    }

    .login-forgot-password {
        display: block;
        text-align: center;
        color: #E05C28;
    }

    .login-forgot-password span {
        padding: 4px 6px 4px 6px;
        background-color: rgba(200,200,200,0.9);
        border-radius: 4px;
    }

    #login-logo {
        height: 150px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

