#transactions-table {
    background-color: #ffffff;
}

.element-header {
    display: inline;
}

.element-search {
    margin-top: 7px;
}

.element-container {
    background-color: #fff;
}

.element-title {
    text-align: center;
}

#recent-activity {
    height: 500px;
}

div.navbar-inner {
    background-image: none;
    background-color: #d3d2cc;
    color: #000;
    border-bottom: 1px solid grey;
    border-radius: 0;
    -webkit-border-radius: 0;
}

div.navbar-inner .brand {
    color: #000;
    text-shadow: none;
}

div.navbar-inner .brand>img {
    height: 26px;
    width: 26px;
    margin-top: -8px;
    margin-bottom: -2px;
}

div.navbar-inner .nav>li>a {
    color: #000;
    text-shadow: none;
}

div.navbar-inner .nav>.active>a, div.navbar-inner .nav>.active>a:hover {
    background-color: #aaa;
    color: #000;
    text-shadow: none;
}

div.navbar-inner .nav>li>a:hover {
    color: #555;
    text-shadow: none;
}

div.navbar-inner .navbar-text {
    color: #555;
}

div.navbar .divider-vertical {
    border-right: none;
    border-left: 1px solid grey;
}
