@media (min-width: 240px) and (max-width: 480px) {
    #style_switcher_panel .panel.middle{
        /*position: fixed; */
        overflow: hidden; 
        display: block;
        height:90%;
        margin-top:50px;
        
    }
    
}

@media (min-width: 481px) and (max-width: 800px) {
    #style_switcher_panel .panel.middle{
        /*position: fixed; */
        overflow: hidden; 
        display: block;
        height:90%;
        margin-top:50px;
        
    }

}

@media (min-width: 801px) {
    #style_switcher_panel .panel.middle{
        position: relative; 
        overflow: hidden; 
        display: block;
        height:90%;
        margin-top:50px;
        
    }
}


img[src="//www.google.com/intl/en_us/mapfiles/close.gif"] {
    display: none;
}
.infoBox:after,
.infoBox::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 10px white;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
.navbar{
	position:absolute;
	z-index:5;
 	width:100%;
}
#dashboard-overall {
    position: fixed;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
}

#dashboard-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}

#dashboard-charts {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 65%;
    right: 0;
    margin-bottom:2px;

    padding: 10px;

    background: #fff;
    color:#000;
}

#dashboard-alerts {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 65%;
    right: 0;

    margin-top:4px;        

    padding: 10px;

    overflow: auto;

    background: #fff;
    color:#000;
}

#chart-button-row {
    margin-top: 5px;
    margin-bottom:5px;
}

.chart-button,.bilevel-chart-button {
    font-weight: 200;
    display: inline;

    padding: 2px 6px 2px 6px;
    border: 1px solid #444444;
    border-radius: 5px;

    background-color: #ffffff;

    cursor: default;
}

.chart-button:not(.selected):hover,.bilevel-chart-button:not(.selected):hover {
    cursor: pointer;
    
    background-color: #cccccc;
}

.chart-button:not(.selected):active,.bilevel-chart-button:not(.selected):active {
    cursor: pointer;
    
    background-color: #aaaaaa;
}

.chart-button.selected,.bilevel-chart-button.selected {
    background-color : #FFA54F;
}

.dashboard-chart {
    margin-top: 10px;

    background-color: white;

    display: none;
    height: 230px;
}

#dashboard-map-container > div:first-child > div:first-child > div:not(:first-child) {
    display: none;
}

.site-details-header {
    font-size: 20pt;
}
.d3-tip {
  position:absolute;
  z-index:2000; 
  display: inline;
  min-width:100px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #FFA54F;
  line-height: 20px;
  padding:5px;
}
.d3-tip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #FFA54F;
  border-right: 12px solid rgba(255,255,255,0);
  border-left: 12px solid rgba(255,255,255,0);
}
.d3-tip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0; height: 0;
  border-top: 10px solid #FFFFFF;
  border-right: 10px solid rgba(255,255,255,0);
  border-left: 10px solid rgba(255,255,255,0);
}
circle, path {
  cursor: pointer; 
}
circle {
  fill: none;
  pointer-events: all;
}
#graph_payments{
    float:left;
}
#graph_energy_usage{
    float:right;
}
h4{
    text-align:center;
    color:#515151;
    font-weight:bold;
}
.bilevels a{
    padding-right:15px;
    margin-right:15px;
}
/*#style_switcher_panel .panel.middle{
    position: fixed; 
    overflow: hidden; 
    display: block;
    height:90%;
    margin-top:50px;
    
}

/*-----------------------------------------------------------------------------------------*/
/*FAQ CSS*/

.content-class
{
    float: left;
    width: 80%;
}
.content-multimedia
{
    float: right;
    width: 19%;
}
.content-multimedia img{
    width: 100%;height: auto;
}
.content-multimedia p{
    width: 40%;margin: auto;
}
.content-multimedia iframe{
    width: 99% !important;
    margin: auto !important;
    height: auto !important;
}
.down-strip
{
    width: 97%;
    position: fixed;
    margin: auto;
    bottom: 2%;
    height: 21%;
    background: #eee;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    overflow: hidden;
}
/*reset all anchors on nav tab*/
nav a{
    height: none !important;
    display:inline !important;
}

.down-strip .close-me
{
  position: fixed;
  right: 1%;
  color:#F14700;
  bottom:18.4%;
  cursor: no-drop;
  font-size: 1.8em;
  /*border:1px solid #f14700;*/
}
.down-strip .close-me i
{

}
.display-video
{
  width: 102%;
}
.display-video ul
{
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}
.display-video .lazyYT-container
{
  height: 99% !important;
  width:20% !important;
  padding: 5px !important;
  border:1px solid #F14700 !important;
  max-width: 19% !important;
  display: :inline-block !important;
}
.lazyYT-container
{
  display: inline-block !important;
}

.display-video ul li
{
  display: inline;
}

.display-video .js-lazyYT iframe
{
  /*height: 99% !important;
  width:auto !important;
  padding: 5px !important;
  border:1px solid #F14700 !important;
  max-width: 99% !important;*/
}
/*End FAQ CSS*/
/*--------------------------------------------------------------------------------------------*/
