.introjs-tooltip {
    border-style: solid;
    border-width: medium;
    border-color: rgb(241, 71, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: justify;
    padding: 25px 30px 25px 30px;
    max-width: 800px;
}

.introjs-bullets > ul > li {
    background-color: rgb(241, 71, 0);
}

.introjs-button {
    font: 12px;
}