/*
* Theme Name: Motion - Responsive vCard Template
* Author: lmtheme
* Author URL: http://themeforest.net/user/lmtheme
* Version: 1.0
*/

/*@import url('normalize.css');
@import url("//fonts.googleapis.com/css?family=Oswald:300,400,700");
@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic");
*/
/* ============================================================================= 
1. General 
============================================================================= */
body{
	font-family: 'PT Sans', Arial, Helvetica, sans-serif;
	background-color:#FFF;
	/*background-image: url(../images/body_backrounds/body_bg_1.png);*/
	font-weight: 400;
	font-size: 14px;
	color: #666665;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow: auto;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #b5cf5f;
}
a{
	color: #66B2DC;
	text-decoration: none;
}
a.button{
	color:#FFF;	
	float:right;
	background-color:#b5cf5f;
	-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
	padding:6px 10px;
	box-shadow:none;
	border:none;
}
a.button:hover{
	background:#cfd0ca;
	-webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}
button:active, button:focus {outline:0;}
img:active, img:focus {outline:0;}
:active, :focus {outline:0;}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	margin: 0px 0px 10px 0px;
	padding: 20px 0px 10px 0px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Oswald', Arial, Helvetica, sans-serif;
	color:#292929;
	margin-top:0;
	margin-bottom:10px;	
}
p{
	font-size:13px;
	line-height:20px;
	color:#666665;	
}
.title h2{
    font-weight: normal;
    padding: 0;
	margin:0;
	margin-top:0;
	margin-bottom:10px;
}

/* ============================================================================= 
2. Content Changer 
============================================================================= */
.jms-slideshow {
	position: relative;
	width: 100%;
	height: 470px;
}
.jms-wrapper {
	width: 100%;
	height: 100%;	
	outline: none; -webkit-appearance: none;	
}
.step {	
	width: 960px;
    height: 470px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
#jms-content, #jms-content2, #jms-content3, #jms-content4, #jms-content5 {
	position:absolute;
	z-index:1;
	left:0;
	width:100%;
	height:470px;
	overflow:auto;
	outline: none; -webkit-appearance: none;
}

/** NOT SUPPORTED STYLES **/
.not-supported .jms-slideshow {
	position: absolute;
	width: 100%;
	height: 100%;
}
.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}
.not-supported .jms-wrapper {
	width: 100%;
	height: 100%;	
	outline: none; -webkit-appearance: none;
}

/* ============================================================================= 
3. Main Menu 
============================================================================= */
nav select {
    display:none; /* this is just for the mobile display */
}
#menu {
	margin-bottom:30px;
}
nav ul {
	display:				block;
	list-style-type: 		none;
	margin:					0 auto;
	text-align: 			center;
	width:					50%;
	padding:				0;
	-webkit-transition: 	all .25s ease-in;
	-moz-transition:		all .25s ease-in;
	-o-transition:			all .25s ease-in;
	transition: 			all .25s ease-in;
}
nav li {
	border-top: 			2px solid #eee;
	border-bottom: 			2px solid #eee;
	float:					left;
	display:				block;
	margin:					0;
	text-align: 			center;
	width:					19%;
	padding:				0;
}
nav li:hover {
	border-top: 	    2px solid #cfd0ca;
	border-bottom: 	    2px solid #cfd0ca;
	border-radius:      60px 7px 60px 7px;
}
nav li.active {
    border-top: 	    2px solid #b5cf5f;
	border-bottom: 	    2px solid #b5cf5f;
	border-radius:      60px 7px 60px 7px;
}
nav a {
	display:				block;
	height:					100%;
	padding:				1em 0;
	text-decoration: 		none; 
	color:					#999;
	letter-spacing: 		1px;
	font-family:"Oswald", Arial, Helvetica, sans-serif;
	font-size:15px;	
	font-weight:300;	
	text-shadow:none;
}
nav a:hover a {
	color:#b5cf5f;
}	
#nav .active a {
	color:#292929;
	outline: 0;
}		
nav a, nav li {	
	-webkit-transition: 	all .25s ease-in-out; 
	-moz-transition: 		all .25s ease-in-out;
	-o-transition: 			all .25s ease-in-out;
	transition: 			all .25s ease-in-out;
}

/* ============================================================================= 
4. Mobile Dropdown Menu
 ============================================================================= */
#dd_menu {
	display: none;
	width: 100%;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
    padding: 7px;
    margin: 0 0 0 0;
	outline: none;
}

/* ============================================================================= 
5. Blocks 
============================================================================= */
.block {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #b5cf5f;
	padding: 20px 20px 20px 20px;
	bottom:30px;
	border-radius: 30px 30px 30px 30px;
}
/* Block for Portfolio Tab */
.block2 {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #b5cf5f;
	padding: 0px 0px 0px 0px;
	bottom:30px;
	border-radius: 30px 30px 30px 30px;
}

/* ============================================================================= 
6.Home Panel 
============================================================================= */
.My_name {
	text-align:center;
	margin-top:0;
	margin-bottom:30px;
}
.My_name h1 {
	font-family:"Oswald", Arial, Helvetica, sans-serif;
	font-weight:300;
	margin-top:0px;
	margin-bottom:5px;
	font-size:60px;
	line-height: 65px;
	color:#292929;
}
.My_name h3 {
	margin-bottom:20px;
	font-size:18px;
	line-height: 22px;
	font-weight: 200;
	color:#555556;
}
.portrait {
	width: 100%;
    display: block;
	margin:0;
	padding:0;
	margin-top:10px;
}
.portrait img {
	width: 100%;
    display: block;
	margin:0;
	padding:0;
	border-radius: 20px 20px 20px 20px;
}
.general_info {
	margin-top:10px;
}
.general_info p {
	margin:0;
	padding:0;
	margin-bottom:20px;
}

/* social icons */
.social_icons ul{
	width:100%;
	margin:0;
	padding:0;
	outline: none;
	margin-bottom:30px;
}
.social li{
	float:left;
	display:inline;
	margin-right:5px;
}
.social li a {
	outline: 0;
}
.social img {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.social img:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* personal info */   
ul.personal-info { 
    margin:10px 0 0 0; 
	padding-left:0; 
	list-style:none; 
}
ul.personal-info li { 
    margin-bottom:12px; 
}
ul.personal-info .title {
	display:inline-block;
	font-family:'Oswald', Arial, Helvetica, sans-serif;	
	border-width: 2px;
	border-style: solid;
	border-color: #b5cf5f;	
	border-radius: 22px 22px 22px 22px;
	color:#333; 
	padding:3px 10px; 
	position:relative; 
	font-size:13px;  
}
ul.personal-info .value { 
    margin-left:10px; 
}
ul.personal-info .available { /* Font Color For Freelance Status = Available */
    color:#6f803b; 
}
ul.personal-info .not_available { /* Font Color For Freelance Status = Not Available */
    color:#803b3b; 
}

/* ============================================================================= 
7. Resume Panel 
============================================================================= */
.detailsCol {
    width: 100%;
}
.detailsCol h3 {
    font-size: 14px;
    margin-bottom: 2px;
	font-weight:400;
}
.detailsCol ul {
	margin:0;
	padding:0;
	padding-right:10px;
    font-size: 13px;
}
.detailsCol ul li {
    display:inline-block;
	width:100%;
	margin: 0 0 15px 0;
	padding-left:10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b5cf5f;
}
.detailsCol ul li p{
    margin:5px 0px 5px 0px;
}
.detailsCol span {
	font-family:'PT Sans', Arial, Helvetica, sans-serif;
    display: block;
	float:left;
	color:#b4b4b4;
}
.detailsCol span.date {
    color: #b5cf5f;
	float: right;
    font-size: 13px;
    text-transform:none;
    line-height: 11px;
	margin-top:7px;
    text-decoration: none;
}

/* Skills */
.skillsInfo {
	margin:10px 0 0px 0;
}
.skillsInfo em { 
	position:relative; 
	margin-bottom:2px;
	font-size:13px;
	color:#292929;
	font-family:"Oswald", Arial, Helvetica, sans-serif;
	font-weight:400;
	font-style:normal;
}
.skill-container {
	background-color:transparent;
	width:100%;
	height:12px;
	border-color:#b5cf5f;
	border-width:2px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-style:solid;
	margin-bottom:10px;	
}
/*Skill 1*/
.skill-1 {
	background-color:#CBE86B;
	width:70%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}
/*Skill 2*/
.skill-2 {
	background-color:#CBE86B;
	width:55%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}
/*Skill 3*/
.skill-3 {
	background-color:#CBE86B;
	width:80%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}
/*Skill 4*/
.skill-4 {
	background-color:#CBE86B;
	width:95%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}
/*Skill 5*/
.skill-5 {
	background-color:#CBE86B;
	width:85%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}
/*Skill 6*/
.skill-6 {
	background-color:#CBE86B;
	width:60%;
	height:12px;
	-moz-border-radius:6px 6px 6px 6px;
	-webkit-border-radius:6px 6px 0px 6px;
	border-radius:6px 6px 6px 6px;
	padding:0 -1px 0 1px;
}

/* ============================================================================= 
8.Services Panel 
============================================================================= */
.services {
	margin-top:30px;
}
.service {
	text-align:center;
	margin-bottom:30px;
}
.service h4 {
	margin-top:10px;
}
.service img {
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.service img:hover {
	-webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	transform: rotate(720deg);
}

/* ============================================================================= 
9. Portfolio Panel 
============================================================================= */
.portfolio {
	width:100%;
	padding:0;
	margin-left:5px;
}
/* Portfolio Items */
.portfolio li { 
    list-style:none; 
	float: left;  
	margin-bottom: 10px; 
}
.portfolio a { 
    display: block; 
	text-decoration: none; 
}
.portfolio h3 { 
    color:#b5cf5f; 
}
.portfolio img {  
    vertical-align: bottom;
	width: 100%; 
	padding:0;
	margin:0; 
}
/* Portfolio Filter */
ul.filter {
	overflow:hidden;
	padding:0;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:15px;
	margin-left:20px;
	list-style:none;
}
ul.filter li a {
    float: right;
	font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
    padding: 5px 7px 5px 7px;
    margin-top: 6px;
	margin-left:5px;
    line-height: 13px;
    background: #cfd0ca;
	border-radius:20px;
    text-decoration: none;
     -webkit-transition: all 80ms ease-in ; /* property duration timing-function delay */
       -moz-transition: all 80ms ease-in ; /* property duration timing-function delay */
          transition: all 80ms ease-in ; /* property duration timing-function delay */
}
.filter a:hover { 
    color:#FFF;
	background: #b5cf5f; 
}
.filter .current a {
	color:#FFF;
	background: #b5cf5f;
}
/* 3D Boxes Rotate Styles */
.rollover {
    position: relative;
    width: 100%;
    height:100%;
    display: block;
    float:left;
}
.short{
	width:100%;
	height:100%;
}
.front {
    z-index: 2;
    position: relative;
	padding:5px;
    background: #fff;
}
.back {
    z-index: 1;
    position: absolute;
	padding:0 10px;
	margin-top:-95% !important;
}
.rollover:hover .back, 
.rollover:focus .back {
    z-index: 2;
}
.rollover:hover .front, 
.rollover:focus .front {
    z-index: 1;
}
.fade .rollover .front {
    opacity: 1;
    -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.fade .rollover .back {
    opacity: 0;
    -webkit-transition: 1s;
     -moz-transition: 1s;
      -ms-transition: 1s;
       -o-transition: 1s;
          transition: 1s;
}
.fade .rollover:hover .front, 
.fade .rollover:focus .front {
    opacity: 0;
	-webkit-transform: translate3d(0,0,1px);
     -moz-transform: translate3d(0,0,1px);
      -ms-transform: translate3d(0,0,1px);
       -o-transform: translate3d(0,0,1px);
          transform: translate3d(0,0,1px);
}
.fade .rollover:hover .back, 
.fade .rollover:focus .back {
    opacity: 1;
}
.flip .cube {
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
     -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
      -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
       -o-transform: rotateX(0) rotateY(0) rotateZ(0);
          transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.8s;
     -moz-transition: 0.8s;
      -ms-transition: 0.8s;
       -o-transition: 0.8s;
          transition: 0.8s;
}
.flip .front {
    -webkit-transform: translate3d(0,0,1px);
     -moz-transform: translate3d(0,0,1px);
      -ms-transform: translate3d(0,0,1px);
       -o-transform: translate3d(0,0,1px);
          transform: translate3d(0,0,1px);
}
.flip .back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,0);
     -moz-transform: rotateY(180deg) translate3d(0,0,0);
      -ms-transform: rotateY(180deg) translate3d(0,0,0);
       -o-transform: rotateY(180deg) translate3d(0,0,0);
          transform: rotateY(180deg) translate3d(0,0,0);
}
.flip .rollover:hover .cube, 
.flip .rollover:focus .cube {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.box .front {
    -webkit-transform: translate3d(0,0,60px) scale(1,1);
     -moz-transform: translate3d(0,0,60px) scale(1,1);
      -ms-transform: translate3d(0,0,60px) scale(1,1);
       -o-transform: translate3d(0,0,60px) scale(1,1);
          transform: translate3d(0,0,60px) scale(1,1);
}
.box .back {
    -webkit-transform: rotateY(180deg) translate3d(0,0,60px)  scale(1,1);
     -moz-transform: rotateY(180deg) translate3d(0,0,60px) scale(1,1);
      -ms-transform: rotateY(180deg) translate3d(0,0,60px)  scale(1,1);
       -o-transform: rotateY(180deg) translate3d(0,0,60px)  scale(1,1);
          transform: rotateY(180deg) translate3d(0,0,60px)  scale(1,1);
}

/* ============================================================================= 
10. Contact Panel 
============================================================================= */
#contactform{
	margin-top:-7px;
    padding-right:20px;
}
.info_fieldset{
	padding:0;
	margin:0;
	bottom:5px;
	background: none; 
	border: 0px;
}	
label	{float:left;width:100%;padding:0 0 2px;}
input[type="text"] 
textarea	{width:100%;}
input[type="submit"]	{padding:0;width:100%;margin:5px 0 0;}

/*FORM ELEMENTS*/
label { 
    cursor: pointer;
	margin-top:7px;
	font-family:'Oswald', Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:400;
	color: #292929;
}
input,textarea {outline: none;}
button, input, select, textarea { 
    margin: 0; 
	vertical-align: baseline; 
	*vertical-align: middle; 
}
button, input[type="button"], input[type="reset"], input[type="submit"] { 
    cursor: pointer; 
	-webkit-appearance: button; 
}
input[type="checkbox"], input[type="radio"] { 
    box-sizing: border-box; 
}
input[type="text"] {
	border:2px solid #cfd0ca;
	font:normal 13px;
	color:#999;
	padding:3px 10px;
	width:100%;
	-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
}
textarea	{
	border:2px solid #cfd0ca;
	font:normal 13px;
	color:#999;
	padding:3px 10px;
	width:100%;
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;  
	resize: none;
}
input[type="text"]:focus,
textarea:focus 	{
	border-color:#b5cf5f;
	-webkit-transition: 	all .10s ease-in;
	-moz-transition:		all .10s ease-in;
	-o-transition:			all .10s ease-in;
	transition: 			all .10s ease-in;
}
/* Submit Button */
input[type="submit"] 		{
	color:#FFF;
	width:50%;
	float:right;
	margin-right:-20px;
	background-color:#b5cf5f;
	-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
	padding:6px 10px;
	box-shadow:none;
	border:none;
}
input[type="submit"]:hover 		{
	background:#cfd0ca;
	-webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}
/* CSS for Error notification */
.notification_error{
    border: 1px solid #f1dfc5;
	width:100%;
    height: auto;
	color: #ca5702;
    padding: 10px;
    margin: 10px auto;
    text-align:left;
    -webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
    margin-bottom:5px;
}
/* CSS for Successfully sent notification */
.notification_ok{
    border: 1px #cbcf8e solid;
	width:100%;
    height: auto;
	padding: 10px;
    margin:0 auto;
    background: #f5f9fd;
    text-align: center;
	-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;
	margin-bottom:5px;
}

.fragment {
    font-size: 8px;
    font-family: tahoma;
    height: 50px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
    float: left;
    margin-right: 10px;
}


.fragment h3 {
    padding: 0;
    margin: 0;
    color: #369;
}
.fragment h4 {
    padding: 0;
    margin: 0;
    color: #000;
}
#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}


/* Gogle Map */
.gmap{
    width: 100%;
    max-width: 1200px;
    min-height: 550px;
    background: #eee;
    margin-top:15px;
  	border-width: 2px;
	border-style: solid;
	border-color: #cfd0ca;
}
.gmap img{
    vertical-align: top;
    max-width: 100%;
}

/*Show 50% for 2 column table*/
.table-two-column tr td
{
	width: 50%;
}
.table-two-column input[type=text]
{
	width:100%;
}

/* ============================================================================= 
11. Media Queries 
============================================================================= */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.step {	
	  width: 960px;
      height: 470px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.step {	
	width: 768px;
    height: 470px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.step {	
	width: 300px;
    height: 470px;
    }
	.block {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #b5cf5f;
	padding: 40px 40px 40px -20px;
	margin-bottom:30px;
	border-radius: 20px 20px 20px 20px;
    }
	.end {
		margin-bottom:0;
	}
	.block2 {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #b5cf5f;
	padding: 0px 0px 0px 0px;
	border-radius: 20px 20px 20px 20px;
    }
	nav ul {
	display: none;
    }
	#dd_menu {
		display:block;
	}
    .My_name h1 {
	font-family:"Oswald", Arial, Helvetica, sans-serif;
	font-weight:300;
	margin-top:0px;
	margin-bottom:0px;
	font-size:40px;
	line-height: 45px;
	color:#292929;
    }
    .My_name h3 {
	margin-top:0px;
	margin-bottom:0px;
	font-size:15px;
	line-height: 20px;
	font-weight: 200;
	color:#555556;
    }
    .portfolio img {  
    margin-bottom:10px; 
    }
	.portfolio {
	width:100%;
	padding:0;
	margin:0 0 0 0;
    }
    .jspDrag {   
    width:6px;
	height:6px;
	background:#999999;
	position: relative;
	opacity:0.2;
	border-radius: 10px 10px 10px 10px;
	top: 0;
	left: 0;
	cursor: pointer;
	margin-left:0px;
    }
    a.trigger {
	display:none;
    }
}
		
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.step {	
	width: 420px;
    height: 470px;
    }
}

/* Retina Ready */
/*@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) {
  body { background-image: url(../images/body_backrounds/body_bg_1@2x.png); background-size: cover; }
}*/


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 300px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}


#style-11::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-11::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}
