@media (min-width: 240px) and (max-width: 800px){
    #company_logo{
        display:none;
    }
    #card_column_left{
        width:90%;
    }
    #card_column_right{
        width:0%;
    }
    .open_close_workspace{
        position:fixed;
        top:0;
        right:0px;
        float:right;
        margin-right:5%;
    }
    .open_close_workspace img{
        position: fixed;
        left:85%;
    }   
    .dashboard_help_center{
        position: fixed;
        left:45%;
        top:3px;
    } 
}
@media (min-width: 801px) {
    #mobile_menu {
        display: none;
    }

    #card_column_left {
        width: 48%;
    }

    #card_column_right {
        width: 47%;
    }

    .open_close_workspace {
        position: fixed;
        top: 0;
        left: 220px;
        right: 0px;
        float: right;
    }

    .open_close_workspace img {
        position: fixed;
        left: 220px;
    }

    .dashboard_help_center {
        position: fixed;
        left: 300px;
        top: 5px;
    }
}
	
.dashboard_help_center{
    font-size:1.0em;
    font-weight:normal;
    background:none;
} 

#filter_form{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 230px;
    z-index:1998;
    background: #fff;
    border: 3px #000 solid;
}
.show_loading{
    position: relative;
    background: url("../img/loading.gif") no-repeat;
    background-position: right 5px;
}
.hide_loading {
    background: none;
}
#filter_form p{
    padding: 5px;
    margin:0px;
}

#open_help_center{
    cursor:pointer;
}

#open_help_center{
    cursor:pointer;
}

.fa-info{
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color:#F14700;
    height:2em;
    width:2em;
    text-align:center;
}


#workspace{
   width:100%;
   position:fixed;   
   padding:10px;
   font-size:20px;
   border:1px solid transparent;
   z-index:2000 !important;       
}

#workspace img{
   position:fixed;
   top:2;
   width:45px;
   height:45px;
   padding:2px 2px 2px 2px;
}
.main-right-button{
    position:fixed;
    right:10px;
    display: block;
}
.email_us{
    position:fixed;
    right:10px;
}
.timezone{
    /*position:fixed;
    right:95px;*/
}
.timezone .fall-back select
{
    width: auto;
}
.timezone-title
{
    text-align: center;
    color: #F14700;
    font-size: 11px;
    /*display: inline;
    float: right;*/
    /*right:;*/
    /*display: none !important;*/
}
.payment_info{
    position:fixed;
    right:100px;
}
.email_us button, .timezone button{
    padding:5px 10px 5px 10px !important;
    background:#F14700 !important;
    border-radius:0px !important;
    color:#fff;
    border:none;
    font-weight:normal;
}
.email_us button:hover, .timezone button:hover{
    font-weight:bold;
}
#email_us_div{
     position:fixed;   
     right:10px;  
     padding:5px 10px;
     font-size:20px;
     border:1px solid transparent;
     z-index:2001 !important; 
     float:right !important;
     width:100% !important;
}
.timezone-change
{
    width: 100%;
}
.timezone button {
    clear: both;
}

{
    color:#454545;
}
.mobile_menu{
    position: fixed;
    top:5;
    background:#f4f4f4;
    padding:5px; 
    color:rgb(241, 71, 0);
    font-size:1.2em;
    cursor:pointer;       
}
#company_logo{
    position:fixed;
    top:0;
    left:50px;
    border:1px solid transparent;
}
#company_logo img{
    width:156px;
    height:60px;
    padding:3px;
}
.simple_with_animation .vertical{
    height:99%;
    overflow-y:scroll;
}
#overlay {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
        position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
img[src="//www.google.com/intl/en_us/mapfiles/close.gif"] {
    display: none;
}

input[type="text"]{
    border-radius:0px;
    height:30px;
    padding:5px;
    border: 1px solid rgb(187, 187, 187);
}
input[type="radio"]{
    margin:5px;
    padding:5px;
}
.search_user_form input[type="text"], .energy-bilevel input[type="text"], .payments-bilevel input[type="text"]{
    border-radius:0px;
    height:30px;
    width:100px;    
}
.search_user_form input[type="text"]{
    border-radius:0px;
    height:30px;
    width:130px;    
    position:relative;
    z-index:10;
}
.input-small{
    border-radius:0px;
    height:30px;
    width:100px;
}
.bold_text{
    font-weight:bold;
}

.large{
    font-size:1.1em;
}
.site_report_tb input[type="text"], .recent_activity_tb input[type="text"], .utility_activity_tb input[type="text"], .daily_totals_tb input[type="text"]{
    border-radius:0px;
    height:30px;
    width:100px;
}

.modal-body{
    background:#fff;
    margin:0px !important;
}
.all_sites ul li{
    background:#fff;
    border:none;
}
table{
    font-size:13px; 
    width:100%;
}
table td{
    padding:5px;
}
.close_button{
    float:right;    
    padding:5px;
    position: relative;
    font-size:1.3em;
    font-weight:bold;
    vertical-align:top;
    color:#fff;
    background: #F14700;
    border-radius:5px;
    
}
.close_button:hover{
    background:#F14700;
}
.timezone-display{
    float:right;    
    padding:5px;
    position: relative;
    font-size:1.0em;
    font-weight:normal;
    vertical-align:top;
    color:#f14700;
    margin-top: -1px;
    margin-right:5px;
    border: 1px solid #f14700;
    background: #FFF;    
}
.timezone-display:hover{
    /*background:#F14700;*/
    /*font-weight: bold;*/
}
.load_more{
    background:#efefef;
    color:#000;
    padding:5px 50px 5px 50px;
    font-weight:bold;
}
li{
    background:#fff;
    margin-top:0px !important;
}
.notification{
    color:rgb(255,10,10);
}
.notification-warning
{
    border-bottom: 1px dotted #ff0000;
    color :#ff0000;
    padding :12px 9px 1px 1px;
    font-size: 11px;
    word-wrap:break-word;
    font-family: Comic Sans;
    width: 100%;
    text-align: center;
}
button{
    border:2px solid #cccccc;
    color:#515151;
    font-size:15px;
    font-weight:bold;
    padding:5px;
    text-align:center;  
    margin-top:2px;  
    height:30px;
    float:right;
}
button:hover{
    background:#eaeaea;
}
.bold_text{
    font-weight:bold;
    color:#000;
}
select{
    background:#fff;
    padding:5px;
    height:30px;
    width:90%;
}
.reports_form select{
    width:160px;
}
.energy-bilevel select, .payments-bilevel select{
    width:100px !important;
}
.ui-autocomplete{
    position:absolute;
    z-index:10000 !important;
    background:#fff;
}
.ui-menu-item{
    font-size:13px;
    background:#F5F5F5;
}
.ui-datepicker {     
    font-size: 13px;  
}
.ui-datepicker-header {  
    background: repeat 0 0 #f5f5f5;  
    color: #e0e0e0;  
    font-weight: bold;
} 
.ui-datepicker-header {  
    background: repeat 0 0 #f5f5f5;  
    color: #e0e0e0;  
    font-weight: bold;
} 
.ui-datepicker-title {  
    text-align: center;  
}
.ui-datepicker tbody td {  
    padding:2px;   
    background:#f5f5f5;
}  
.search_user_form input[type="text"]{
    position:relative;
    z-index:300;
}
table{
    table-layout:fixed;    
    word-wrap:break-word;
}
.daily_totals_tb
{
    table-layout: auto;
    display: block;
}
.daily_totals_tb tr 
{
    width: 100%;
}
.daily_totals_tb td{
    width: 25%;
}
.daily_totals_tb tr .first_td button{
    position: relative;
    left: 57%;
}
.daily_totals_tb tr .last_td button{
    margin-right: 16%;
}
.daily_totals_tb td button
{
    width:150px;
}
.wide-row
{
    clear: both !important;
}
.wide-row .two-cols
{
    clear: both;
    width: 50%;
    display: inline-block;
    margin: 0 auto;
}
.wide-row .two-cols button
{
    float: left !important;
    margin-left: 32%;
}
.site_report_tb input[type="text"], .recent_activity_tb input[type="text"], .utility_activity_tb input[type="text"], .daily_totals_tb input[type="text"]{
    border-radius:0px;
    height:30px;
    width:100px;
}

.panel{
    height:90%;
    margin-top:60px;
    width:98%;
    margin-bottom: 5px;    
    border-radius: 15px;
}
.new-panel{
    height:40% !important;
    margin-top:60px !important;
    width:20% !important;
    position:relative;
    background: #fff;
    margin: auto;
    margin-bottom: 5px;    
    border-radius: 15px !important;
}
.change_timezone_div .row
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.element-timezone
{
    width:100% !important; 
}
.btn-timezone
{
    border:1px solid #fff !important;
    background: #f14700;
    font-weight: normal;
    color:#fff;
    padding: 5px 10px;
}
.btn-timezone:hover
{
    font-weight: bold;
    border:1px solid #fff !important;
    background: #f14700;
    color:#fff;
    padding: 5px 10px;
}
.small_text{
    font-size:13px;
}
.main_div{
    width:100%;
}
.left_div{
    width:80%;
    float:left;
}
.right_div{
    width:20%;
    float:right;
}
.kpi_div{
    overflow:hidden;
    padding:5px;
}
.kpi_child_div{
    font-size:12px !important;
    border:1px solid #000;
    width:140px;
    height:330px;
    padding:3px 0px 3px 0px;
    float:left;    
}
.display{
    table-layout:auto !important;
}
.display td{
    padding:5px !important;
}
.display input[type="search"]{
    margin:0 !important;
    height:100px !important;
    font-weight:normal !important;
}
.display th{
    background:#000 !important;
    color:#fff !important;    
}
.bulk_display{
    table-layout:fixed !important;
}
.bulk_display tr:nth-child(even){
    background:rgb(249,249,249);
}
.bulk_display tr:nth-child(odd){
    background:rgb(255,255,255);
}
.bulk_display td{
    padding:5px !important;
    border-top: 1px solid rgb(221, 221, 221);
    word-wrap:break-word;
}
.bulk_display input[type="search"]{
    margin:0 !important;
    height:100px !important;
    font-weight:normal !important;
}
.bulk_display th{
    background:#000 !important;
    color:#fff !important;
    padding:5px;
}
.bulk_display input[type="text"]{
    width:70px !important;
}
.add{
    margin:5px 0;
    padding:0px 10px 0px 10px;
    background:#F14700;
    border:none;
}
.add:hover{
    background:#f69066; 
}
.invalid_row{
    border: 1px rgb(255,0,0) solid;
}
.switcher_left{
    width:20%;
    height:100px;
    margin-left:32px;
    float:left;    
}
.switcher_left a{
    cursor:pointer !important;
}
.switcher_right{
    width:70%;
    float:right;
}
.faqs_page{
    width:100% !important;
}
.faqs_search_bar input[type="text"]{
    padding: 1px 6px 0px 30px !important;
    border: 1px solid #BBB;
    float:right;
    width:100%;
    height:30px;
}
.cat_title{
    font-size:1.0em !important;
    font-weight:bold !important;
    color:#000 !important;
}
.faqs_title{
    padding:0px 10px !important;
    margin:0px 10px !important;
    color:#000 !important;
    font-size:1.8em;
    float:left;
}
.faqs_header{
    font-size:1.5em;
    padding:10px;
    background: none repeat scroll 0% 0% rgb(241, 71, 0);
    padding: 10px;
    color: rgb(255, 255, 255);
}
.faq_question_wrapper{
    background:#ccc !important;    
}
.faq_category p{
    width:300px !important;
    padding:5px;
}
.active{
    font-weight:bold;
    font-style:underline;
}
.ui-accordion-header{
    background:#fff !important;
    color:#F14700;
    font-weight:normal !important;
    border:0px !important;
    text-decoration:underline !important;
}
.ui-accordion-content{
    color:#000 !important;
}
.ui-corner-all,.ui-corner-top,.ui-corner-right, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0px !important;
}
.ui-accordion{
    border:none !important;
}
.ui-accordion-content{
    border:none !important;
    height:auto;
}
.separator{
    margin:0px 0px 10px 0px !important;
    padding:0px !important;
    width:100% !important;
    border-bottom:1px #000 solid;
}
.faqs_header_section{
    width:100% !important;
    padding:0px 10px 10px 10px !important;
    height:60px !important;    
}
.faqs_content_section{
    width:100%;
    overflow-y:scroll;    
    height:64%;
    margin-top:30px;
}
.faqs_search_bar{
    width:300px;
    float:right;
    position:relative;
}
.btnSearch {
    padding: 5px;
    cursor: pointer;
    float: right;
    height:30px;
    position:absolute;
}
.support_form select{
    width:300px !important;
    border:1px #bbbbbb solid !important;
}
.support_form textarea{
    width:500px !important;
    height:200px !important;
    border:1px #BBBBBB solid !important;
    border-radius:0px !important;
}
.support_form input[type="submit"],.switcher_left input[type="submit"]{
    width:100px !important;
    padding:5px !important;
    background:#F14700 !important;
    border-radius:0px !important;
    float:left;
}
.support_form input[type="submit"]:hover,.switcher_left input[type="submit"]:hover{
    font-weight:bold;
}
.accordion div h3{
    /*color:#000 !important;*/
    color:#952C00 !important;
}
.accordion p{
    color:#000 !important;
}
.accordion a{
    color:#0000EE !important;
}
caption{
    font-weight:bold;
    float:left !important;
}
h5{
    font-weight:bold;
    color:#000;
    font-size:0.9em;
}
h6{
    font-weight:bold;
    color:#000;
    font-size:1.0em;
}
table input[type="text"]{
    padding:0px !important;
    margin-top:6px !important;
}
.bulk_edit_right_table thead, .bulk_edit_left_table thead{
    border:1px #000 solid !important;
    background:#F14700;
    color:#fff;
    font-size:1.0em;
}
.bulk_edit_right_table tr, .bulk_edit_left_table tr{
    border-bottom:1px #000 solid !important;
}
/*for report builder */

.report_builder_tb tr{
    margin:0;
    padding:0;
}
.report_builder_tb hr{
    background:#F14700;
    height:2px;
    margin:0;
    padding:0;
}
.div-table{
    display:table;         
    width:150px;      
    border:1px solid  #dddddd;
    float:left;
    margin:10px;
}
.div-table-row{
    display:table-row;
    width:100%;
    padding:10px !important;
    font-size:0.9em;
    height:40px;
    text-align:center;    
    clear:both;    
}
.div-table-col{
    float:left;
    display:table-column;
    width:100%;
    background:#F14700;
    color:#fff;
    border-bottom:1px solid #dddddd;
    padding:5px;
    font-size:1.0em;
}
.report_builder_columns_div{
    overflow:hidden;
    clear:both;
}
.report_builder_columns_div .close{
    float:right;
}

/* end report builder*/

/*for tooltips*/
.ui-tooltip {
    background: #000;
    color: white;
    border: none;
    padding:0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 2px;
    font-size:0.9em;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -10px;
    left: 50px;
    border-color: #000 transparent;
    border-width: 0 10px 10px;
}
.ui-tooltip {
    white-space: pre-line;
}
/*end tooltips*/

/* date adjustment interface */
.date-adjustment-input {
    float:left;
    margin:2px
}

/*for multiselect*/
.ui-multiselect { 
    border: solid 1px !important; 
}
.ui-multiselect ul { -moz-user-select: none !important;}
.ui-multiselect li { margin: 0 !important; padding: 0 !important; cursor: default !important; line-height: 20px !important; height: 20px !important; font-size: 14px !important; list-style: none !important; background:#fff;color:#000;}
.ui-multiselect li:hover {
    background:#eee !important;
}
.ui-multiselect li a { color: #999 !important;* text-decoration: none !important; padding: 0 !important; display: block !important; float: left !important; cursor: pointer !important;}
.ui-multiselect li.ui-draggable-dragging { padding-left: 10px !important;border-bottom:1px #000 solid !important; }

.ui-multiselect div.selected { position: relative !important; padding: 0 !important; margin: 0 !important; border: 0 !important; float:left !important; }
.ui-multiselect ul.selected { position: relative !important; padding: 0 !important; overflow: auto !important; overflow-x: hidden !important; background: #fff !important; margin: 0 !important; list-style: none !important; border: 0 !important; position: relative !important; width: 100% !important; }
.ui-multiselect ul.selected li { }

.ui-multiselect div.available { position: relative !important; padding: 0 !important; margin: 0 !important; border: 0 !important; float:left !important; border-left: 1px solid !important; }
.ui-multiselect ul.available { position: relative !important; padding: 0 !important; overflow: auto !important; overflow-x: hidden !important; background: #fff !important; margin: 0 !important; list-style: none !important; border: 0 !important; width: 100% !important; }
.ui-multiselect ul.available li { padding-left: 10px !important; }
 
.ui-multiselect .ui-state-default { border: none !important; margin-bottom: 1px !important; position: relative !important; padding-left: 20px !important;}
.ui-multiselect .ui-state-hover { border: none !important; }
.ui-multiselect .ui-widget-header {border: none !important;border-bottom:1px #000 solid !important; font-size: 11px !important; margin-bottom: 1px !important;
    background:#F14700;
    color:#fff;
    font-size:1.0em;}
 
.ui-multiselect .add-all { float: right !important; padding: 7px !important;color:#fff;}
.ui-multiselect .remove-all { float: right !important; padding: 7px !important; color:#fff;}
.ui-multiselect .search { float: left !important; padding: 4px !important;}
.ui-multiselect .count { float: left !important; padding: 7px !important;}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s { position: absolute !important; left: 2px !important; }
.ui-multiselect li a.action { position: absolute !important; right: 2px !important; top: 2px !important; }
 
.ui-multiselect input.search { height: 20px !important; padding: 1px !important; /*opacity: 0.5 !important;*/ margin: 4px !important; width: 150px !important;background:#fff;font-size:1.2em; }

/*File upload*/
.register_user_details .td-fileupload
{
    display: inline-flex;
    display: table-cell;
    width: 100%;
    clear: both;
}
.register_user_details td .file-text
{
    min-width: 40%;
    float: left;
}
.register_user_details td .file-button
{
    width: 0%;
    float: left;
    left: 40%;
    width: 55%;
}
.register_user_details .td-fileupload-sucess
{
    height: 30px !important;
}
.register_user_details .btn-success
{
    border:2px solid #cccccc;
    color:#515151;
    font-size:15px;
    font-weight:bold;
    padding:0px;
    text-align:center;  
    background: none;
}
.register_user_details .btn-success:hover
{
    background: #eaeaea;
}
.red
{
    color: #F14700;
}
.red-bold
{
    color: #F14700;
    font-weight: bold;
}
