.overlay{
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #555;
	opacity: 0.1;
}
.modal{
	top:40%;
	left:50%;
	position:absolute;	
	border-radius:14px;
	padding:8px;
	color:#000;
	/*background:#9C9C9C;*/
	background:#fff;
	font-weight:bold;
	width:500px;
	
}
.modal input[type="text"]{
	margin:0px 10px 5px 5px ;
	padding:10px;
	width:90%;
	border:1px solid #000;	
	color:#000;
	font-weight:normal;
}
.modal input[type="button"]{
	padding:5px;
	margin-right:5px;
	margin-left:5px;
	color:#000;
	font-weight:normal;
}
.notification{
	color:rgb(255,0,0);
        font-weight:normal;
}
label{
	font-size:12px;
	font-weight:bold;
	margin:0;
        padding:0;
        display:inline !important;
}
