<div class="activate_website_user_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".activate_website_user_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Activate Users</h4>");
    var activate_website_user_form = $("<form id='activate_website_user_form"+current_num+"' class='activate_website_user_details' method='post' action='/register/website_user/'>{%csrf_token%}</form>");    
    var activate_website_user_details = $("<p><span class='notification' id='activate_website_user_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>First Name</td><td>Last Name</td><td>Username</td><td>Email</td><td>Is active ?</td></tr>"+
                                  "{% for user in all_users %}<tr><td>{{ user.first_name }}</td><td>{{ user.last_name }}</td><td>{{ user.lastname }}</td><td>{{ user.email }}</td><td>{% if user.is_active %}<input type='checkbox' id='chk_status{{user.id}}"+current_num+"' class='chk_status"+current_num+"' name='chk_status' value='{{user.id}}' checked /> {% else %} <input type='checkbox' id='chk_status{{user.id}}"+current_num+"' name='chk_status' class='chk_status"+current_num+"'  value='{{user.id}}' /> {% endif %}<span id='status_update{{user.id}}"+current_num+"' class='notification'></span></td></tr> {% endfor %}"+                                
                                  "</table>"
    );
    var activate_website_user_btn = $("<p></p>"); 
    var activate_website_user_div = $('.activate_website_user_div');


    activate_website_user_form.append(heading);
    activate_website_user_form.append(activate_website_user_details);
    activate_website_user_form.append(activate_website_user_btn);

    activate_website_user_div.parent().html(activate_website_user_form);

    $('.chk_status'+current_num).change(function(){ 
       var form_id = 'activate_website_user_form'+current_num; 
       var chk_id = 'chk_status'+current_num; 
       var activate = 'no';
       var s = 'status_update'+$(this).val()+current_num
       if($(this).prop('checked'))
        activate = 'yes';
        var string_data='user_id='+$(this).val()+'&activate_status='+activate+'&'+$('#'+form_id).serialize();
           $.ajax({
               type:'post',
               url: '/user/activate/',
               data: string_data,
               beforeSend:function(){
                $('#'+s).html('Please wait <img src="/static/custom/img/loading.gif">')
               },
               success: function (data) {
                   $('#'+s).html(data);
               },
               error: function(data) { 
               $('#'+s).html('error occured');                     
               }
           });                
          return false;   
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
