<div class="all_sms_messages_div"></div>
<script type="text/javascript">
$(document).ready(function(){
    var current_num = $('.all_sms_messages_form').length + 1;
    var form_heading = $("<span class='close_button'>X</span><h4 align='center'>All SMS Messages</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
    var all_sms_messages_form = $("<form class='all_sms_messages_form' id='all_sms_messages_form"+current_num+"' method='post' action='/messages/all_sms/list/'>{%csrf_token%}</form>");
    var form_items = $("<table >"+
                       "<tr><td id='all_sms_messages_log_min_date_div"+current_num+"'><input type='text' id='all_sms_messages_min_date"+current_num+"' name='min_date' placeholder='Min Date' {% if filter_form.min_date.value %} value='{{ filter_form.min_date.value }}'{% endif %}></td><td id='all_sms_messages_log_max_date_div"+current_num+"'><input type='text' id='all_sms_messages_max_date"+current_num+"' name='max_date' placeholder='Max Date' {% if filter_form.min_date.value %} value='{{ filter_form.min_date.value }}'{% endif %}></td>"+                       
                       "<td><input type='text' id='all_sms_messages_user_name"+current_num+"' name='user_name' placeholder='{% if utility_management %}Utility{% else %}Customer{% endif %}'><input type='hidden' id='all_sms_messages_user_id"+current_num+"' name='user_id'></td><td><input type='text' id='all_sms_messages_bh_name"+current_num+"' name='bh_name' placeholder='bitHarvester'><input type='hidden' id='all_sms_messages_bh_id"+current_num+"' name='bh_id'></td><td><input type='text' id='all_sms_messages_digest"+current_num+"' name='digest' placeholder='Digest'></td><td><select id='all_sms_messages_log_interval"+current_num+"' name='interval' placeholder='Select interval' title='select interval'><option value='hour_1' selected>last 1 hour</option><option value='hour_3'>last 3 hours</option><option value='day_1'>last 1 day</option><option value='week_1'>last 1 week</option><option value='month_1'>last 1 month</option><option value='custom'>custom dates</option></select></td></tr>"+
                       "</table>");
    var form_buttons = $("<button id='all_sms_messages_apply_filters_btn"+current_num+"' name='filter'>Apply Filters</button>");

    var all_sms_messages_table = $("<table id='all_sms_messages_table"+current_num+"' class='bulk_display'><thead id='all_sms_messages_thead"+current_num+"'></thead><tbody id='all_sms_messages_tbody"+current_num+"'></tbody></table>");

    var load_more_section = $("<div align='center' width='100%'><a href='#' class='load_more' id='all_sms_messages_load_more"+current_num+"' in_last_message_id='' out_last_message_id=''>Load More</a></span></div>");
    

    var all_sms_messages_div = $('.all_sms_messages_div');

    all_sms_messages_form.append(form_heading);
    all_sms_messages_form.append(form_items);
    all_sms_messages_form.append(form_buttons);
    all_sms_messages_form.append(all_sms_messages_table);
    all_sms_messages_form.append(load_more_section);

    all_sms_messages_div.parent().html(all_sms_messages_form);

    $("#all_sms_messages_load_more"+current_num).hide(); 


    $( "#all_sms_messages_min_date"+current_num ).datepicker();
    $( "#all_sms_messages_max_date"+current_num ).datepicker();

    $( "#all_sms_messages_max_date"+current_num ).datepicker( "option", "dateFormat","yy-mm-dd");
    $( "#all_sms_messages_min_date"+current_num ).datepicker( "option", "dateFormat","yy-mm-dd"); 


    var availableCustomerNames = [{% for user in all_users %}
            {value:"{{ user.first_name }} {{user.last_name}} {{ user.telephone }}",id:"{{ user.id }}"},
        {% endfor %}];

    $("#all_sms_messages_user_name"+current_num).autocomplete({
            source: availableCustomerNames,
            select: function( event, ui ){
                 var user_id = ui.item.id;
                 $("#all_sms_messages_user_id"+current_num).val(user_id);
            },
    });


    var availableBHNames = [{% for bh in all_bitharvesters %}
            {value:"{{ bh.harvester_id }} - {{ bh.site.name }}",id:"{{ bh.id }}"},
        {% endfor %}];

    $("#all_sms_messages_bh_name"+current_num).autocomplete({
            source: availableBHNames,
            select: function( event, ui ){
                 var bh_id = ui.item.id;
                 $("#all_sms_messages_bh_id"+current_num).val(bh_id);
            },
    });

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $("#all_sms_messages_log_min_date_div"+current_num).hide(); 
    $("#all_sms_messages_log_max_date_div"+current_num).hide();

    // Show/hide custom dates
    $('#all_sms_messages_log_interval'+current_num).change(function(){ 
        $("#all_sms_messages_log_min_date_div"+current_num).show(); 
        $("#all_sms_messages_log_max_date_div"+current_num).show(); 
        if($("#all_sms_messages_log_interval"+current_num).val()!='custom')
        {
            $("#all_sms_messages_log_min_date_div"+current_num).hide(); 
            $("#all_sms_messages_log_max_date_div"+current_num).hide();
        }

    });

    $('#all_sms_messages_apply_filters_btn'+current_num).click(function(){ 
        $("#all_sms_messages_tbody"+current_num).html("");           
        var form_id = $(this).parent().attr('id');          
        $('#'+form_id).unbind('submit').submit(function(){  
            if($("#all_sms_messages_user_name"+current_num).val()==""){
                $("#all_sms_messages_user_id"+current_num).val("");
            }
            if($("#all_sms_messages_bh_name"+current_num).val()==""){
                $("#all_sms_messages_bh_id"+current_num).val("");
            }                      
            $.ajax({
                type:$('#'+form_id).attr('method'),
                url: $('#'+form_id).attr('action'),
                data: $('#'+form_id).serialize(),
                dataType:'json',
                beforeSend:function(){
                    $('#all_sms_messages_apply_filters_btn'+current_num).html("Searching...");
                },
                success: function (data) {
                    var in_last_message_id = 0;
                    var out_last_message_id = 0;
                    var k2_last_message_id = 0;

                    $('#all_sms_messages_apply_filters_btn'+current_num).html("Apply Filters");

                    if(data['transactions_list'].length > 1){
                         $("#all_sms_messages_thead"+current_num).html("<tr><th>Timestamp</th><th>Sender/Recipient</th><th>Message</th><th>Message Type</th></tr>");
                         var i = 0;
                        for (i = 0; i < (data['transactions_list'].length-1); i++) {  
                            var date = formatted_date(new Date(data['transactions_list'][i]['timestamp']));  
                            if(data['transactions_list'][i]['other_party_type'] == "bh"){                      
                                $("#all_sms_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='all_sms_messages_log_bh_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td><td>"+data['transactions_list'][i]['type']+"</td></tr>"); 
                            }
                            else{
                                $("#all_sms_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='all_sms_messages_log_user_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td><td>"+data['transactions_list'][i]['type']+"</td></tr>");
                            }
                            if(data['transactions_list'][i]['atin_message_id']==undefined){
                                in_last_message_id = in_last_message_id;
                            }
                            else{
                                in_last_message_id = data['transactions_list'][i]['atin_message_id'];
                            }
                            if(data['transactions_list'][i]['atout_message_id']==undefined){
                                out_last_message_id = out_last_message_id;
                            }
                            else{
                                out_last_message_id = data['transactions_list'][i]['atout_message_id'];
                            }
                        } 

                        // Get query timestamp
                        query_time = data['transactions_list'][i]['query_time'];                       
                            
                        $("#all_sms_messages_load_more"+current_num).attr('in_last_message_id', in_last_message_id);
                        $("#all_sms_messages_load_more"+current_num).attr('out_last_message_id', out_last_message_id);
                        $("#all_sms_messages_load_more"+current_num).attr('k2_last_message_id',k2_last_message_id); 
                        $("#all_sms_messages_load_more"+current_num).attr('query_time',query_time);

                        $("#all_sms_messages_load_more"+current_num).show();
                    }
                    else{
                        $("#all_sms_messages_load_more"+current_num).hide();
                        $("#all_sms_messages_tbody"+current_num).append("<tr><td colspan='3'><span class='notification'>No data found for the search query.</span></td></tr>");                        
                    } 
                },
                error: function(data) {   
                    $('#all_sms_messages_notification'+current_num).text(data);
                }
            });                              
            return false;
        });              
    });
    //when load more link is clicked, get the last message id received
    $("#all_sms_messages_load_more"+current_num).click(function(){
        var in_last_message_id = $(this).attr('in_last_message_id');
        var out_last_message_id = $(this).attr('out_last_message_id');
        var query_time = $(this).attr('query_time');
        var min_date = $('#all_sms_messages_min_date'+current_num).val();
        var max_date = $('#all_sms_messages_max_date'+current_num).val();
        var digest = $('#all_sms_messages_digest'+current_num).val();
        var user_id = $('#all_sms_messages_user_id'+current_num).val();
        var bh_id = $('#all_sms_messages_bh_id'+current_num).val();
        var interval = $('#all_sms_messages_log_interval'+current_num).val();

        $.ajax({
            url:'/messages/all_sms/list/',
            type:'POST',
            dataType:'json',
            data:{
                'min_date':min_date,
                'max_date':max_date, 
                'digest':digest,  
                'user_id':user_id, 
                'bh_id':bh_id,                        
                'in_last_message_id':in_last_message_id,
                'out_last_message_id':out_last_message_id,
                'query_time':query_time,
                'interval':interval,
                'load_more':'load_more',
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend:function(){
                $("#all_sms_messages_load_more"+current_num).html("Loading...");
            },
            success:function(data){
                    $("#all_sms_messages_load_more"+current_num).html("Load More");
                    if(data['transactions_list'].length > 1){
                        var i = 0;
                        for (i = 0; i < (data['transactions_list'].length-1); i++) {  
                            var date = formatted_date(new Date(data['transactions_list'][i]['timestamp']));  
                            if(data['transactions_list'][i]['other_party_type'] == "bh"){                      
                                $("#all_sms_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='all_sms_messages_log_bh_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td><td>"+data['transactions_list'][i]['type']+"</td></tr>"); 
                            }
                            else{
                                $("#all_sms_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='all_sms_messages_log_user_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td><td>"+data['transactions_list'][i]['type']+"</td></tr>");
                            }
                            if(data['transactions_list'][i]['atin_message_id']==undefined){
                                in_last_message_id = in_last_message_id;
                            }
                            else{
                                in_last_message_id = data['transactions_list'][i]['atin_message_id'];
                            }
                            if(data['transactions_list'][i]['atout_message_id']==undefined){
                                out_last_message_id = out_last_message_id;
                            }
                            else{
                                out_last_message_id = data['transactions_list'][i]['atout_message_id'];
                            }   
                        }

                        // Get query timestamp
                        query_time = data['transactions_list'][i]['query_time'];                         
                            
                        $("#all_sms_messages_load_more"+current_num).attr('in_last_message_id', in_last_message_id);
                        $("#all_sms_messages_load_more"+current_num).attr('out_last_message_id', out_last_message_id);
                        $("#all_sms_messages_load_more"+current_num).attr('k2_last_message_id',0);
                        $("#all_sms_messages_load_more"+current_num).attr('query_time',query_time);            
                        $("#all_sms_messages_load_more"+current_num).show();
                    }
                    else{
                        $("#all_sms_messages_load_more"+current_num).hide();                        
                    } 
            }
        });
    });

    $('.all_sms_messages_log_user_link').die('click').live('click', function(){
        var user_id=$(this).attr('id');
        create_card("/cards/user/user_details/"+user_id+"/");
    });
    $('.all_sms_messages_log_bh_link').die('click').live('click', function(){
       var bh_id = $(this).attr('id');
       create_card("/cards/bh/bh_details/"+bh_id+"/");       
   });
    
});
</script>
