<div class="bh_sms_form_div"></div>

<script type="text/javascript">

$(document).ready(function(){
        var current_num = $(".bh_sms_form").length + 1;
        var form_heading = $("<span class='close_button'>X</span><h4 align='center'>bitHarvester Controls</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
        var form_message = $("<p><span  class='notification' id='bh_sms_notification"+current_num+"'></span></p>");
        var bh_sms_form = $("<form class='bh_sms_form' id='bh_sms_form"+current_num+"' name='"+current_num+"' method='post' action='/bh_sms/send/'></form>");    

        var send_command_radio_btn = $("<input id='send_command"+current_num+"' type='radio' name='sms_type' class='send_command' value='send_command' checked><span class='bold_text'>Send Command</span></input> ");
        var input_message_radio_btn = $(" <input id='input_message"+current_num+"' type='radio' name='sms_type' class='input_message' value='input_message'><span class='bold_text'>Input Message</span></input>");


        var send_command_div = $("<div class='send_command_div"+current_num+"'></div>");
        var input_message_div = $("<div class='input_message_div"+current_num+"'></div>");  

        var send_command_options = $("<p>Send Command:</p><select name='command-option' class='command-option' id='command-option"+current_num+"' ><option value='status'>Get Status Update</option><option value='single_on'>Single Lines On (Manual Lines Only)</option><option value='single_off'>Single Lines Off (Manual Lines Only)</option><option value='single_auto'>Single Lines to Auto Control</option><option value='all_on'>All Lines On</option><option value='all_off'>All Lines Off</option><option value='all_auto'>All Lines to Auto Control</option><option value='set_line_balance'>Set Line Account Balance</option><option value='set_line_price'>Set Line Energy Price</option><option value='set_line_priority'>Set Line Priority</option><option value='get_config_param'>Get Config Parameters</option><option value='set_log_interval'>Set Data Log Interval</option><option value='set_reporting_interval'>Set Number of Logs per Report</option></select>");
       
       var linenumber_inputbox = $("<div class='line_number_div"+current_num+"'><p>Line Number(s):</p><input type='text' name='line_number' class='line_number' id='line_number"+current_num+"'></div>");

       // Extra input box for account balance, line priority, etc
       var extra_inputbox = $("<div class='extra_div"+current_num+"'><p id='extra_label"+current_num+"'>Extra input:</p><input type='text' name='extra_input' class='line_number' id='extra_input"+current_num+"'></div>");

       
       var input_message_box = $("<p>Input Message:</p><input type='text' name='command-manual' id='command-manual"+current_num+"' class='command-manual' >");

       var bh_options = $("<p>To bitHarvester:</p><select name='bit_harvester_phone' class='bit_harvester_phone'><option value=''>-------</option>{% for bh in bit_harvesters %}{% if pre_open_bh == bh.telephone %} <option selected value='{{ bh.telephone }}'>{{ bh.harvester_id }}: {{ bh.site.name }}</option> {% endif %} <option value='{{ bh.telephone }}'>{{ bh.site.name }}: {{ bh.harvester_id }} </option>{% endfor %}</select>");

       var send_command_btn = $("{% if is_cro %}<button disabled>Send Command</button>{% else %}<button type='submit' id='btn_bh_sms"+current_num+"' name='bh_sms' class='bh_sms'>Send Command</button>{% endif %}");

       var bh_sms_form_div = $('.bh_sms_form_div'); 

       send_command_div.append(send_command_options);
       send_command_div.append(linenumber_inputbox);
       send_command_div.append(extra_inputbox);
       input_message_div.append(input_message_box);

       bh_sms_form.append(form_heading);
       bh_sms_form.append(form_message);
       bh_sms_form.append(send_command_radio_btn);
       bh_sms_form.append(input_message_radio_btn);       
       bh_sms_form.append(send_command_div);
       bh_sms_form.append(input_message_div);
       bh_sms_form.append(bh_options);
       bh_sms_form.append(send_command_btn);
       bh_sms_form_div.parent().html(bh_sms_form);


       $('.close_button').click(function(){
           var div_id=$(this).parent().attr('id');
           $('#'+div_id).parent().parent().hide('slow');
       });

       //hide on creation
       $('.line_number_div'+current_num).hide();
       $('.extra_div'+current_num).hide();
       input_message_div.hide(); 

       $('.send_command').click(function(){
            var id = $(this).parent().attr('name');
            $('.send_command_div'+id).show();
            $('.input_message_div'+id).hide();
       });
       $('.input_message').click(function(){
            var id = $(this).parent().attr('name');
            $('.send_command_div'+id).hide();
            $('.input_message_div'+id).show();
       });

       //check whether single line(show line number) or all lines
       $('.command-option').change(function(){
          var id = $(this).parent().parent().attr('name');	          
          //empty the input field
          $("#bh_sms_notification"+id).text(""); 
          $('#line_number'+id).val("");		
          $('.line_number_div'+id).hide();  
          $('.extra_div'+id).hide(); 

          if($('#command-option'+id).val()=="single_on"||$('#command-option'+id).val()=="single_off"||$('#command-option'+id).val()=="single_auto"){              
              $("#bh_sms_notification"+id).text(""); 
              $('.line_number_div'+id).show();             
          }
          if($('#command-option'+id).val()=="set_line_balance"||$('#command-option'+id).val()=="set_line_price"||$('#command-option'+id).val()=="set_line_priority")
          {
              var label="Error in label";
              if($('#command-option'+id).val()=="set_line_balance")
              {
                label = "Line balance";
              }
              if($('#command-option'+id).val()=="set_line_price")
              {
                label = "Line price";
              }
              if($('#command-option'+id).val()=="set_line_priority")
              {
                label = "Line priority (<strong>values only 0,1,2</strong>)";
              }
              if($('#command-option'+id).val()=="set_log_interval")
              {
                label = "Log interval";
              }
              if($('#command-option'+id).val()=="set_reporting_interval")
              {
                label = "Reporting interval";
              }

              $("#bh_sms_notification"+id).text(""); 
              $('.line_number_div'+id).show();
              $('.extra_div'+id).show();
              $('#extra_label'+id).html(label);
          }
          if($('#command-option'+id).val()=="set_log_interval"||$('#command-option'+id).val()=="set_reporting_interval")
          {
               if($('#command-option'+id).val()=="set_log_interval")
              {
                label = "Log interval (minutes)";
              }
              if($('#command-option'+id).val()=="set_reporting_interval")
              {
                label = "Number of logs per report";
              }

              $("#bh_sms_notification"+id).text(""); 
              $('.extra_div'+id).show();
              $('#extra_label'+id).html(label);
          }
          return false;
       });  

       //submit form
       $('.bh_sms').click(function(){
           var form_id = $(this).parent().attr('id');
           var element_id = $(this).parent().attr('name');
           var line_number=$('#line_number'+element_id).val();
           var extra_input=$('#extra_input'+element_id).val();

           $('#bh_sms_notification'+element_id).text(""); 
           
           $('#'+form_id).unbind('submit').submit(function(){                 
                if($('#command-option'+element_id).val()=="single_on"&& $.trim(line_number)==""||$('#command-option'+element_id).val()=="single_off"&& $.trim(line_number)==""||$('#command-option'+element_id).val()=="set_line_balance"&& $.trim(line_number)==""||$('#command-option'+element_id).val()=="set_line_priority"&& $.trim(line_number)==""||$('#command-option'+element_id).val()=="set_line_price"&& $.trim(line_number)==""||$('#command-option'+element_id).val()=="single_auto"&& $.trim(line_number)==""){	
                    $("#bh_sms_notification"+element_id).text("Enter a line number.");
                    $('.line_number_div'+element_id).show();
                }
                else if($('#command-option'+element_id).val()=="set_line_balance"&& $.trim(extra_input)==""||$('#command-option'+element_id).val()=="set_line_priority"&& $.trim(extra_input)==""||$('#command-option'+element_id).val()=="set_line_price"&& $.trim(extra_input)==""||$('#command-option'+element_id).val()=="set_log_interval"&& $.trim(extra_input)==""||$('#command-option'+element_id).val()=="set_reporting_interval"&& $.trim(extra_input)=="")
                {
                    var error_label=$('#extra_label'+element_id).html();
                    $("#bh_sms_notification"+element_id).text("Enter "+error_label);
                    $('.line_number_div'+element_id).show();
                }
                else{                     
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        data: $('#'+form_id).serialize(),
                        beforeSend:function(){
                            $('#btn_bh_sms'+element_id).html("Sending...");
                        },
                        success: function (data) {
                            $('#btn_bh_sms'+element_id).html("Send Command");
                            $('#bh_sms_notification'+element_id).text(data); 
                        },
                        error: function(data) {   
                            $('#bh_sms_notification'+element_id).text(data);
                        }
                    });
                }         
                return false;       
            });
       });  

       {% if pre_open_bh %} $(".input_message" ).trigger( "click" ); {% endif %} 
});

</script>
