<div class="bh_details_div"></div>

<script type='text/javascript'>
$(document).ready(function(){
    var current_num = $('.bh_details').length + 1;
    var bh_info = $("<div class='bh_details' id='bh_details"+current_num+"'></div>");
    var bh_details = $("<p> <span class='bold_text'>Serial Number:</span> {{ serial_number }}"+
                         " <span class='bold_text'>Site:</span> <a href='#' class='bh_site_link'>{{ site.name }}</a>"+
                         " <span class='bold_text'>Telephone:</span> {{ telephone }}"+
                         " <span class='bold_text'>Approval Date:</span> {{ approval_date }}"+
                         " <span class='bold_text'>Version:</span> {{ version }}"+
                         " <span class='bold_text'>Logging Hours:</span> {{ logging_hours }}</p>"
    );

    var heading = $("<span class='close_button'>X</span><h4 align='center'>{{ harvester_id }} Details</h4>");


    var bh_details_div = $('.bh_details_div'); 

    var bh_links = $("<p><a href='#' class='send_message_btn'>Send Message</a> | <a href='#' class='show_lines_btn'>Show Lines</a></p>")

    bh_info.append(heading);
    bh_info.append(bh_details);
    bh_info.append(bh_links);

    bh_details_div.parent().html(bh_info);

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $('.bh_site_link').unbind('click').click(function(){
       create_card("/cards/site/site_details/{{site.id}}/");
    });

    $(".show_lines_btn").unbind('click').click(function(){
        create_card("/cards/site/site_users/{{site.id}}/");
    });

    $(".send_message_btn").unbind('click').click(function(){
        create_card("/cards/bh_controls/");
    });



});
</script>
