<div class="bulk_edit_users_div"></div>
<script type="text/javascript">
$(document).ready(function(){
    var BULK_EDIT_CONFIRMATION_MESSAGE = "This is a potentially destructive action! Are you sure you want to submit a bulk edit?";

    var FIELD_ID_MAP = {
        "0": "Select a Field to Edit",
        "1": "Account Balance",
        "2": "Energy Price",
        "3": "Low Balance Warning",
        "4": "Current Low Balance Level",
        "5": "Site Manager",
        "6": "Site",
        "7": "BitHarvester",
        "8": "Line Control Party",
        "9": "Meter Log Party",
        "10": "Line Number",
        "11": "Language",
        "12": "Notifications Setting",
        "13": "Payment Plan",
        "14": "Sub Balance"
    };

    var BULK_USER_EDIT_ENDPOINT = "/bulk/user/";

    var editFields = {};
    var filterFields = {};

    var current_num = $(".bulk_edit_form").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Bulk User Edits</h4>");
    var bulk_edit_form = $("<div id='bulk_edit_form"+current_num+"' class='bulk_edit_form' style='height:auto !important;'></div>");
    var bulk_edit_table = $("<div><table class='bulk_edit_table' id='bulk_edit_div"+current_num+"'>"+
        "<tr><td id='bulk_edit_notifications"+current_num+"' class='notification' colspan='4'></td></tr>"+
        "<tr>"+
        "<td><select id='bulk_edit_select"+current_num+"'>"+
        "<option value='0'>Select a Field to Edit</option>"+
        "<option value='1'>Account Balance</option>"+
        "<option value='2'>Energy Price</option>"+
        "<option value='3'>Low Balance Warning</option>"+
        "<option value='4'>Current Low Balance Level</option>"+
        "<option value='5'>Site Manager</option>"+
        "<option value='6'>Site</option>"+
        "<option value='7'>BitHarvester</option>"+        
        "<option value='10'>Line Number</option>"+
        "<option value='11'>Language (short code)</option>"+
        "<option value='13'>Payment Plan</option>"+
        "<option value='14'>Sub Balance</option>"+      
        "</select></td>"+
         //for others
        "<td><input id='bulk_edit_input"+current_num+"' class='bulk_edit_value_input"+current_num+"' type='text' placeholder='Enter New Value'>"+
        //for sites
        "<select id='sites_bulk_edit_input"+current_num+"'>{% for site in sites %}<option name='{{site.name}}' value='{{site.id}}'>{{site.name}}</option>{% endfor %}</select>"+
        //for bitharvester
        "<select id='bh_bulk_edit_input"+current_num+"'>{% for bh in bitharvesters %}<option name='{{bh.harvester_id}}' value='{{bh.id}}'>{{bh.harvester_id}}</option>{% endfor %}</select>"+
        // for users
        "<select id='users_bulk_edit_input"+current_num+"'>{% for user in users %}<option name='{{user.first_name}} {{user.last_name}}' value='{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>{% endfor %}</select>"+        
       //for language code
        "<select id='languagecode_bulk_edit_input"+current_num+"'><option value='ENG'>English</option><option value='SWA'>Swahili</option></select></td>"+
        "<td><button style='float:left;margin:0;padding:0px 10px 0px 10px;background:#F14700;border:none' id='bulk_edit_add"+current_num+"' class='btn btn-success'> + </button></td>"+          
        "<td><input type='checkbox' id='check_bulk_edit_add_filter"+current_num+"'>Add Filters</input></td>"+
        "</tr>"+
        "<tr id='add_filter_row"+current_num+"'>"+
        "<td><select id='bulk_edit_select_filter"+current_num+"'>"+
        "<option value='0'>Select a Field to Filter</option>"+
        "<option value='1'>Account Balance</option>"+
        "<option value='2'>Energy Price</option>"+
        "<option value='3'>Low Balance Warning</option>"+
        "<option value='4'>Current Low Balance Level</option>"+
        "<option value='5'>Site Manager</option>"+
        "<option value='6'>Site</option>"+
        "<option value='7'>BitHarvester</option>"+
        "<option value='10'>Line Number</option>"+
        "<option value='11'>Language (short code)</option>"+
        "<option value='13'>Payment Plan</option>"+
        "<option value='14'>Sub Balance</option>"+      
        "</select></td>"+
        //for others
        "<td><input id='bulk_edit_filter_input"+current_num+"' type='text' placeholder='Enter New Value'>"+
        //for sites
        "<select id='sites_bulk_edit_filter_input"+current_num+"'>{% for site in sites %}<option name='{{site.name}}' value='{{site.id}}'>{{site.name}}</option>{% endfor %}</select>"+
        //for bitharvester
        "<select id='bh_bulk_edit_filter_input"+current_num+"'>{% for bh in bitharvesters %}<option name='{{bh.harvester_id}}' value='{{bh.id}}'>{{bh.harvester_id}}</option>{% endfor %}</select>"+
        // for users
        "<select id='users_bulk_edit_filter_input"+current_num+"'>{% for user in users %}<option name='{{user.first_name}} {{user.last_name}}' value='{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>{% endfor %}</select>"+        
       //for language code
        "<select id='languagecode_bulk_edit_filter_input"+current_num+"'><option value='ENG'>English</option><option value='SWA'>Swahili</option></select></td>"+
        "<td><button style='float:left;margin:0;padding:0px 10px 0px 10px;background:#F14700;border:none' id='bulk_edit_add_filter"+current_num+"' class='btn btn-success'> + </button></td>"+   
        "</tr>"+
    "</table></div>");

    var tables_div = $("<div class='content' style='clear:both;display:inline-block;'><div class='bulk_edit_main_div'><div></div>");

    var edit_fields_table = $("<div class='bulk_edit_left_div' style='width:48%;float:left;'><h5>Edit Fields</h5><table id='edit_fields_table"+current_num+"' class='bulk_edit_left_table'><thead><tr><th>Field</th><th>Value</th><th></th></tr></thead><tbody></tbody></table></div>");
    var filter_fields_table = $("<div style='width:48%;float:right;' class='bulk_edit_right_div'><h5>Filter Fields</h5><table caption='Filter Fields' id='filter_fields_table"+current_num+"' class='bulk_edit_right_table'><thead><tr><th>Field</th><th>Value</th><th></th></tr></thead><tbody></tbody></table></div>");

    var users_table = $("<div style='margin-bottom:20px !important;'><div class='notification' id='bulk_users_list_notification"+current_num+"'></div><table id='bulk_users_table"+current_num+"' class='bulk_display'><thead><tr><th>Name</th><th>Site</th></tr></thead><tbody id='bulk_users_list"+current_num+"'></tbody></table><div id='bulk_edits_confirmation"+current_num+"'><span class='notification'>"+BULK_EDIT_CONFIRMATION_MESSAGE+"</span> <button id='no_bulk_edit"+current_num+"' style='margin-right:40px !important;'>Cancel</button> <button id='yes_bulk_edit"+current_num+"'>Update Users</button></div></div>");

    var submit_button = $("<div style='width:100%;margin-bottom:20px;'><button id='bulk_edit_submit_button"+current_num+"'>Check</button></div>");


    var bulk_edit_users_div = $(".bulk_edit_users_div");

    tables_div.append(edit_fields_table);
    tables_div.append(filter_fields_table);

    bulk_edit_form.append(heading);  
    bulk_edit_form.append(bulk_edit_table); 
    bulk_edit_form.append(tables_div);
    bulk_edit_form.append(submit_button); 
    bulk_edit_form.append(users_table);   

    bulk_edit_users_div.parent().html(bulk_edit_form); 

    $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
    $("#meterlog_bulk_edit_filter_input"+current_num).hide();
    $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();

    $("#sites_bulk_edit_input"+current_num).hide();
    $("#bh_bulk_edit_input"+current_num).hide();
    $("#users_bulk_edit_input"+current_num).hide();
    $("#linecontrol_bulk_edit_input"+current_num).hide();
    $("#meterlog_bulk_edit_input"+current_num).hide();
    $("#languagecode_bulk_edit_input"+current_num).hide();
    $("#notificationsettings_bulk_edit_input"+current_num).hide();
    $("#sites_bulk_edit_filter_input"+current_num).hide();
    $("#bh_bulk_edit_filter_input"+current_num).hide();
    $("#users_bulk_edit_filter_input"+current_num).hide();
    $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
    $("#meterlog_bulk_edit_filter_input"+current_num).hide();
    $("#languagecode_bulk_edit_filter_input"+current_num).hide();
    $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
    $("#bulk_users_table"+current_num).hide();
    $("#bulk_edits_confirmation"+current_num).hide();
    $("#add_filter_row"+current_num).hide();

    $("#bulk_edit_select"+current_num).on("change",function(){
        var selected_item = $(this).val();
        if(selected_item == 5){
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).show();
        }
        else if(selected_item == 6){
            $("#sites_bulk_edit_input"+current_num).show();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
        }
        else if(selected_item == 7){            
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).show();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
        }
        else if(selected_item == 8){            
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).show();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
        }
        else if(selected_item == 9){            
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).show();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
        }
        else if(selected_item == 11){            
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).show();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).hide();
        }
        else if(selected_item == 12){            
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).show();
            $("#bulk_edit_input"+current_num).hide();
        }
        
        else{
            $("#sites_bulk_edit_input"+current_num).hide();
            $("#bh_bulk_edit_input"+current_num).hide();
            $("#users_bulk_edit_input"+current_num).hide();
            $("#linecontrol_bulk_edit_input"+current_num).hide();
            $("#meterlog_bulk_edit_input"+current_num).hide();
            $("#languagecode_bulk_edit_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_input"+current_num).hide();
            $("#bulk_edit_input"+current_num).show();
        }
        
    });

    $("#bulk_edit_select_filter"+current_num).on("change",function(){
        var selected_item = $(this).val();
        if(selected_item == 5){
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).show();
        }
        else if(selected_item == 6){
            $("#sites_bulk_edit_filter_input"+current_num).show();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        else if(selected_item == 7){            
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).show();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        else if(selected_item == 8){            
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).show();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        else if(selected_item == 9){            
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).show();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        else if(selected_item == 11){            
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).show();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        else if(selected_item == 12){            
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).show();
            $("#bulk_edit_filter_input"+current_num).hide();
        }
        
        else{
            $("#sites_bulk_edit_filter_input"+current_num).hide();
            $("#bh_bulk_edit_filter_input"+current_num).hide();
            $("#users_bulk_edit_filter_input"+current_num).hide();
            $("#linecontrol_bulk_edit_filter_input"+current_num).hide();
            $("#meterlog_bulk_edit_filter_input"+current_num).hide();
            $("#languagecode_bulk_edit_filter_input"+current_num).hide();
            $("#notificationsettings_bulk_edit_filter_input"+current_num).hide();
            $("#bulk_edit_filter_input"+current_num).show();
        }
        
    });

    $("#check_bulk_edit_add_filter"+current_num).click(function(){
        if($(this).is(":checked")){
            $("#add_filter_row"+current_num).show();
        }
        else{
            $("#add_filter_row"+current_num).hide();
        }
    });

    $('.close_button').click(function(){    
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
    });

    $('#bulk_users_table'+current_num).on('click','.bulk_edit_users_link',function(){   
       var user_id = $(this).attr('user_id');
       create_card("/cards/user/user_details/"+user_id+"/");
    });    

    setupBulkEdits("{{ csrf_token }}");



    function setupBulkEdits(csrf_token) {
        $('#bulk_edit_submit_button'+current_num).click(function() {  
            $("#bulk_users_list_notification"+current_num).text("");          
            submitBulkEdit(csrf_token);
        });

        setupEditFields();
        setupFilterFields();
    };

    function submitBulkEdit(csrf_token) {
        $("#bulk_users_list_notification"+current_num).text("");
        var fields_list = "";
        if (emptyObject(editFields)) {
            $("#bulk_edit_notifications"+current_num).text("No Edit Parameters");
            return;
        }

        var editFieldsToSend = {}
        for (var field in editFields) {
            if (editFields.hasOwnProperty(field))
                editFieldsToSend[field] = editFields[field]['value']
                fields_list += FIELD_ID_MAP[field]+", ";
        }
        fields_list = fields_list.substring(0,fields_list.length-2);

        var filterFieldsToSend = {}
        for (var field in filterFields) {
            if (filterFields.hasOwnProperty(field))
                filterFieldsToSend[field] = filterFields[field]['value']
        }

        $.ajax({
            url:BULK_USER_EDIT_ENDPOINT,
            type:'POST', 
            data:{
                'csrfmiddlewaretoken': csrf_token,
                'editFields': editFieldsToSend,
                'filterFields': filterFieldsToSend
            },
            beforeSend:function(){
                $("#bulk_users_list_notification"+current_num).text("");
                $("#bulk_users_list"+current_num).html("");
                $("#bulk_edit_submit_button"+current_num).html("Checking <img src='/static/custom/img/loading.gif'>");
            },
            success:function(response){ 
                $("#bulk_edit_submit_button"+current_num).html("Check");
                if( response.length < 1){
                    $("#bulk_users_table"+current_num).hide();
                    $("#bulk_edits_confirmation"+current_num).hide();
                    $("#bulk_users_list_notification"+current_num).text("No users fit the edit criteria.");
                }
                else{             
                    $("#bulk_users_list"+current_num).append(response);
                    $("#bulk_users_table"+current_num).show();
                    $("#bulk_edits_confirmation"+current_num).show();
                    $("#bulk_users_list_notification"+current_num).text("These users will have the following fields overridden: "+fields_list);
                }
            }
        }); 

        $('#yes_bulk_edit'+current_num).click(function(){        
        $.ajax({
            url:'/confirm/bulk/user/',
            type:'POST',
            data:{
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'editFields': editFieldsToSend,
                'filterFields': filterFieldsToSend
            },
            beforeSend:function(){
                $('#yes_bulk_edit'+current_num).html("Updating <img src='/static/custom/img/loading.gif'>");
            },
            success:function(response){                               
                $("#bulk_users_list_notification"+current_num).text(response);
                $('#yes_bulk_edit'+current_num).html("Update Users");
                $("#bulk_users_list"+current_num).html("");
                $("#bulk_edits_confirmation"+current_num).hide();
                $("#bulk_users_table"+current_num).hide();
            }
        });
    });

    $('#no_bulk_edit'+current_num).click(function(){
        $("#bulk_users_list_notification"+current_num).text("");
        $("#bulk_users_list"+current_num).html("");
        $("#bulk_edits_confirmation"+current_num).hide();
        $("#bulk_users_table"+current_num).hide();
    });      
    }

    function setupEditFields() {
        var bulkEditSelect = $('#bulk_edit_select'+current_num);
        var bulkEditAdd = $('#bulk_edit_add'+current_num);        
        
        var bulkEditInput; 
        var displayValue;              
        
        bulkEditSelect.change(function () {
            var selectedOption = $(this).find('option:selected');
            if (selectedOption.attr('value') == 0) {
                bulkEditAdd.css('display', 'none');
            } else {
                bulkEditAdd.css('display', 'inline');
            }
        });

        bulkEditAdd.click(function () {
            $("#bulk_edit_notifications"+current_num).text("");    

            var bulkEditSelection = $("#bulk_edit_select"+current_num).val();            
            if (bulkEditSelection == 5){
                bulkEditInput = $('#users_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.find(":selected").text();
            }
            else if (bulkEditSelection == 6){
                bulkEditInput = $('#sites_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.find(":selected").text();
            }
            else if (bulkEditSelection == 7){
                bulkEditInput = $('#bh_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.find(":selected").text();
            }
            else if (bulkEditSelection == 8){
                bulkEditInput = $('#linecontrol_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.val();
            }
            else if (bulkEditSelection == 9){
                bulkEditInput = $('#meterlog_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.val();
            }
            else if (bulkEditSelection == 11){
                bulkEditInput = $('#languagecode_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.val();
            }
            else if (bulkEditSelection == 12){
                bulkEditInput = $('#notificationsettings_bulk_edit_input'+current_num);
                displayValue = bulkEditInput.val();
            }
            else{
                bulkEditInput = $('#bulk_edit_input'+current_num);
                displayValue = bulkEditInput.val();
            }
            
            var selectedOption = bulkEditSelect.find('option:selected');
            var inputValue = bulkEditInput.val();            
            if($.trim(inputValue) == ""){
                $("#bulk_edit_notifications"+current_num).text("Enter a value first");    
            }
            else if(selectedOption.attr('value') == "0"){
                $("#bulk_edit_notifications"+current_num).text("Select a field to edit first");    
            }
            else{
                $("#bulk_edit_notifications"+current_num).text("");    
                bulkEditInput.val("");
                editFields[selectedOption.attr('value')] = {
                    'display': inputValue,
                    'value': inputValue,
                    'displayValue':displayValue
                };
                setEditFieldsTable();
            }

        });

        setEditFieldsTable();
    }

    function setupFilterFields() {
        var bulkFilterSelect = $('#bulk_edit_select_filter'+current_num);
        var bulkFilterAdd = $('#bulk_edit_add_filter'+current_num);
        var bulkFilterInput;
        var displayValue;

        bulkFilterSelect.change(function () {
            var selectedOption = $(this).find('option:selected');
            if (selectedOption.attr('value') == 0) {
                bulkFilterAdd.css('display', 'none');
            } else {
                bulkFilterAdd.css('display', 'inline');
            }
        });

        bulkFilterAdd.click(function () {
            $("#bulk_edit_notifications"+current_num).text("");
            var bulkFilterSelection = $("#bulk_edit_select_filter"+current_num).val();
            if (bulkFilterSelection == 5){
                bulkFilterInput = $('#users_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.find(":selected").text();
            }
            else if (bulkFilterSelection == 6){
                bulkFilterInput = $('#sites_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.find(":selected").text();
            }
            else if (bulkFilterSelection == 7){
                bulkFilterInput = $('#bh_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.find(":selected").text();
            }
            else if (bulkFilterSelection == 8){
                bulkFilterInput = $('#linecontrol_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.val();
            }
            else if (bulkFilterSelection == 9){
                bulkFilterInput = $('#meterlog_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.val();
            }
            else if (bulkFilterSelection == 11){
                bulkFilterInput = $('#languagecode_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.val();
            }
            else if (bulkFilterSelection == 12){
                bulkFilterInput = $('#notificationsettings_bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.val();
            }
            else{
                bulkFilterInput = $('#bulk_edit_filter_input'+current_num);
                displayValue = bulkFilterInput.val();
            }                 
            var selectedOption = bulkFilterSelect.find('option:selected');
            var inputValue = bulkFilterInput.val();
            bulkFilterInput.val("");
            if($.trim(inputValue) == ""){
                $("#bulk_edit_notifications"+current_num).text("Enter a value first");    
            }
            else if(selectedOption.attr('value') == "0"){
                $("#bulk_edit_notifications"+current_num).text("Select a field to edit first");    
            }
            else{            
                filterFields[selectedOption.attr('value')] = {
                    'display': inputValue,
                    'value': inputValue,
                    'displayValue':displayValue
                };
                setFilterFieldsTable();    
            }           
        });

        setFilterFieldsTable();
    }

    function setEditFieldsTable() {
        var body = $('#edit_fields_table'+current_num).find("tbody");
        body.html("");
        if (emptyObject(editFields)) {
            body.html('<tr><td colspan="3">No Edited Fields</td></tr>');
            return;
        }
        for (var field in editFields) {
            if (editFields.hasOwnProperty(field)) {
                var row = $('<tr></tr>');
                row.append('<td fieldid="' + field + '">' + FIELD_ID_MAP[field] + '</td>');
                row.append('<td>' + editFields[field]['displayValue'] + '</td>');
                var removeLink = $('<a href="#" class="text-error">remove</a>');
                removeLink.attr('fieldid', field);
                var removeCell = $('<td></td>');
                removeCell.append(removeLink);
                row.append(removeCell);
                body.append(row);

                removeLink.click(function () {
                    delete editFields[$(this).attr('fieldid')];
                    setEditFieldsTable(current_num);
                    return false;
                });
            }
        }
    }

    function setFilterFieldsTable() { 
        var body = $('#filter_fields_table'+current_num).find("tbody");
        body.html("");
        if (emptyObject(filterFields)) {
            body.append('<tr><td colspan="3">No Filtered Fields (All users will be edited)</td></tr>');
            return;
        }
        for (var field in filterFields) {
            if (filterFields.hasOwnProperty(field)) {
                var row = $('<tr></tr>');
                row.append('<td fieldid="' + field + '">' + FIELD_ID_MAP[field] + '</td>');
                row.append('<td>' + filterFields[field]['displayValue'] + '</td>');
                var removeLink = $('<a href="#" class="text-error">remove</a>');
                removeLink.attr('fieldid', field);
                var removeCell = $('<td></td>');
                removeCell.append(removeLink);
                row.append(removeCell);
                body.append(row);

                removeLink.click(function () {
                    delete filterFields[$(this).attr('fieldid')];
                    setFilterFieldsTable(current_num);
                    return false;
                });
            }
        }
    }

    function emptyObject(obj) {
        return (Object.keys(obj).length === 0);
    }
});
</script>
