<div class="change_timezone_div"></div>
<script>
    var current_num = $(".change_timezone_details").length + 1;
    var heading = $("<h4 align='center'><br/>Change Timezone</h4>");
    var change_timezone_form = $("<div id='change_timezone_form"+current_num+"' class='change_timezone_details'></div>");    

    var change_timezone_details = $("<p><span class='bold_text panel-heading'></span><br><span class='notification' id='change_timezone_notification"+current_num+"'></span></p>"+
                                  "<div class='row' style='margin-left:0px;margin-right:0px;'>"+
                                  "<div class='list-group-item'>Select Timezone <select class='element-timezone' name='timezone' id='timezone"+current_num+"'>{% for timezone in timezones %}{% if timezone == user_timezone %}<option value='{{ timezone }}' selected>{{ timezone }}</option> {% else %}<option value='{{ timezone }}'> {{ timezone }} </option>{% endif %}{% endfor %}</select></div>"+
                                  "<div class='list-group-item' id='list_group2"+current_num+"'><button class='element-timezone btn-timezone' id='btn_choose_timezone"+current_num+"'>Help Me Choose</button><br/><br/></div>"+
                                  "<div class='list-group-item'><button class='element-timezone btn-timezone' id='btn_change_timezone"+current_num+"'>Change My Timezone</button><br/><br/></div>"+ 
                                  +"</div"
    );
    var change_timezone_btn = $("<p style='margin-bottom:20px;'></p>"); 
    var change_timezone_div = $('.change_timezone_div');

    change_timezone_form.append(heading);
    change_timezone_form.append(change_timezone_details);
    change_timezone_form.append(change_timezone_btn);

    change_timezone_div.parent().html(change_timezone_form);


    $('.multiselect').multiselect();

    $( ".tip" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });

    $('#btn_change_timezone'+current_num).click(function(){ 
       $("#change_timezone_notification"+current_num).text("");

       var timezone = $("#timezone"+current_num).val();

       $.ajax({
               url:'/save/timezone/',
               type:'POST',
               dataType:'json',
               data:{
                   'timezone':timezone,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend: function(){   
                   $("#btn_change_timezone"+current_num).html("Please wait  <img src='/static/custom/img/loading.gif'>");
               },
               success:function(response){
                   $("#change_timezone_notification"+current_num).text(response['result']);
                   $("#btn_change_timezone"+current_num).html("Change My Timezone");
               }
           });

   });

    $('#btn_choose_timezone'+current_num).click(function(){ 
       $("#change_timezone_notification"+current_num).text("");

       // var timezone = $("#timezone"+current_num).val();

       $.ajax({
               url:'/save/timezone/choose/',
               type:'POST',
               dataType:'json',
               data:{
                   // 'timezone':timezone,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend: function(){   
                   $("#btn_choose_timezone"+current_num).html("Please wait  <img src='/static/custom/img/loading.gif'>");
               },
               success:function(response){
                // alert(response['timezone'])
                // $('#timezone'+current_num+' option[value='+ response['timezone'].start +']').attr('selected', 'selected');
                $('#timezone'+current_num+' option[value="'+response['timezone']+'"]').attr('selected', 'selected');
                $("#list_group2"+current_num).hide(300);
                   $("#change_timezone_notification"+current_num).text("Timezone selected: "+response['timezone']);
                   $("#btn_choose_timezone"+current_num).html("Help Me Choose");
               }
           });

   });

    // $('#btn_change_timezone'+current_num).click(function(){ 
    //    $("#change_timezone_notification"+current_num).text("");

    //    var site_name = $("#site_name"+current_num).val();
    //    var site_company_name = $.trim($("#site_company_name"+current_num).val());
    //    var site_operator_name = $.trim($("#site_operator_name"+current_num).val());
    //    var site_num_lines = $.trim($("#site_num_lines"+current_num).val());
    //    var site_equipment = $.trim($("#site_equipment"+current_num).val());
    //    var site_latitude = $.trim($("#site_latitude"+current_num).val());
    //    var site_longitude = $.trim($("#site_longitude"+current_num).val());
    //    var site_currency = $.trim($("#site_currency"+current_num).val());
    //    var site_rent = $.trim($("#site_rent"+current_num).val());
    //    var site_personnel_fees = $.trim($("#site_personnel_fees"+current_num).val())
    //    var site_bh_number = $.trim($("#site_bh_number"+current_num).val());
    //    var bh_logging_hours = $.trim($("#bh_logging_hours"+current_num).val());
    //    var site_pricing_bundles = $.trim($("#site_pricing_bundles"+current_num).val());
    //    var site_capacities = $.trim($("#site_capacities"+current_num).val());
    //    var site_user_access = $.trim($("#site_user_access"+current_num).val());
    //    var timezone = $.trim($("#timezone"+current_num).val());
       

    //    if(site_name == ""||site_company_name==""||site_operator_name==""||site_num_lines==""||site_latitude==""||site_longitude ==""||site_currency == ""){
    //        $("#change_timezone_notification"+current_num).text("All fields marked in * are required.");
    //    }
    //    else if(site_name.indexOf("-")==-1){
    //        $("#change_timezone_notification"+current_num).text("Site name should follow format: Name-Number e.g. Site Name-I or Site Name-II");
    //    }
    //    else if (!$.isNumeric(site_num_lines)){
    //        $("#change_timezone_notification"+current_num).text("Invalid value for number of lines.");
    //    }
    //    else if(!$.isNumeric(site_latitude) || !$.isNumeric(site_longitude)){
    //        $("#change_timezone_notification"+current_num).text("Invalid value for latitude or longitude.");
    //    }
    //    else if(site_rent !="" && !$.isNumeric(site_rent)){
    //        $("#change_timezone_notification"+current_num).text("Invalid value for site rent.");
    //    }
    //    else if(site_personnel_fees !="" && !$.isNumeric(site_personnel_fees)){
    //        $("#change_timezone_notification"+current_num).text("Invalid value for personnel fees.");
    //    }
    //    else if(bh_logging_hours !="" && !$.isNumeric(bh_logging_hours)){
    //        $("#change_timezone_notification"+current_num).text("Enter bitHarvester logging hours");
    //    }
    //    else{
           // $.ajax({
           //     url:'/register/site/',
           //     type:'POST',
           //     data:{
           //         'site_name':site_name,
           //         'site_company_name':site_company_name,
           //         'site_operator_name':site_operator_name,
           //         'site_num_lines':site_num_lines,
           //         'site_equipment':site_equipment,
           //         'site_latitude':site_latitude,
           //         'site_longitude':site_longitude,
           //         'site_currency':site_currency,
           //         'site_rent':site_rent,
           //         'site_personnel_fees':site_personnel_fees, 
           //         'site_bh_number':site_bh_number,
           //         'bh_logging_hours':bh_logging_hours,
           //         'site_pricing_bundles':site_pricing_bundles,
           //         'site_capacities':site_capacities,
           //         'site_user_access':site_user_access,
           //         'timezone':timezone,
           //         'csrfmiddlewaretoken':'{{csrf_token}}'
           //     },
           //     beforeSend: function(){   
           //         $("#btn_change_timezone"+current_num).html("Registering  <img src='/static/custom/img/loading.gif'>");
           //     },
           //     success:function(response){
           //         $("#change_timezone_notification"+current_num).text(response);
           //         $("#btn_change_timezone"+current_num).html("Register");
           //     }
           // });
    //     }
    // });


    
</script>


