<div class="comparison_graph_div"></div>

<script type='text/javascript'>
$(document).ready(function(){
    var current_num = $('.comparison_graph').length + 1;    
    
    var comparison_info = $("<div class='comparison_graph' id='comparison_graph"+current_num+"'></div>");

    var heading = $("<span class='close_button'>X</span><h4 align='center'>Comparison Graph</h4>");
    var chart = $("<div class='comparison_chart' id='comparison_chart"+current_num+"'></div>");

    var buttons = "<table class='options_tb'>"+
        "<tr><td id='comparison_graph_notification"+current_num+"' class='notification' colspan='4'></td></tr>"+
        "<tr id='select_sites_row"+current_num+"'><td colspan='5' id='select_sites_cell"+current_num+"'><h5>Select Sites (max. 10)</h5><select data-placeholder='Choose a Site...' class='chosen-select tip' multiple id='comparison_graph_sites"+current_num+"' multiple title='A limit of 10 sites has been set because of the large amounts of data being processed.'>{% for site in sites %}<option value='{{site.id}}'>{{site.name}}</option>{% endfor %}</select></td></tr>"+
        "<tr id='select_lines_row"+current_num+"'><td colspan='5' id='select_lines_cell"+current_num+"'><h5>Select Lines</h5><select data-placeholder='Choose a Line...' class='chosen-select tip' multiple id='comparison_graph_lines"+current_num+"' multiple ></select></td></tr>"+
        "<tr>"+
        "<td><b>Chart Type</b><select id='chart_type"+current_num+"'><option value=''>--Select Chart--</option><option value='stacked'>Stacked Chart</option>"+
        "<option value='series'>Time Series</option><option value='pie'>Pie Chart</option></select></td>"+
            "<td><b>Data Type</b><select id='data_type"+current_num+"'><option value=''>--Select Data--</option></select></td>"+
        "<td id='data_scope_type_row"+current_num+"'><b>Scope</b><select id='data_scope_type"+current_num+"'><option value=''>--Select Scope--</option><option value='sites_data'>Site Data</option><option value='lines_data'>Line Data</option></select></td>"+ 
        "<td id='data_utility_type_row"+current_num+"'><b>Utility Type</b><select id='data_utility_type"+current_num+"'>{% for utility in utilities %}<option value='{{utility.name}}'>{{utility.name}}</option>{% endfor %}</select></td>"+          
        "<td id='data_scope_type_sites_row"+current_num+"'><b>Site</b><select id='data_scope_type_sites"+current_num+"'><option>--Select Site--</option>{% for site in sites %}<option value='{{site.id}}'>{{site.name}}</option>{% endfor %}</select></td>"+        
        "<td><label><b></b></label><input type='text' id='comparison_start_date"+current_num+"' placeholder='Start Date'></td>"+
        "<td><label><b></b></label><input type='text' id='comparison_end_date"+current_num+"' placeholder='End Date'></td>"+
        "<td><label><b></b></label><button id='btn_comparison_graph"+current_num+"'>Compare</button></td>"+
        "</tr>"+
    "</table>";

    var comparison_graph_div = $('.comparison_graph_div');

    comparison_info.append(heading);
    comparison_info.append(chart);
    comparison_info.append(buttons);

    comparison_graph_div.parent().html(comparison_info);

    var scope = "";

    $("#data_utility_type_row"+current_num).hide();
    $("#data_scope_type_row"+current_num).hide();
    $("#data_scope_type_sites_row"+current_num).hide();
    $("#select_lines_row"+current_num).hide();

    $('#comparison_start_date'+current_num).datepicker({ 				
       onSelect: function () {
            $('#comparison_end_date'+current_num).datepicker("option", 'minDate', $('#comparison_start_date'+current_num).val());
       },
   });

    $("#comparison_end_date"+current_num).datepicker({});

    $("#comparison_start_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");
    $("#comparison_end_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");   

    $("#comparison_graph_sites"+current_num).chosen({
        width: "100%",
        max_selected_options: 10
    }); 

    $("#comparison_graph_lines"+current_num).chosen({
        width: "100%"
    });    

    $(".tip").tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $("#chart_type"+current_num).change(function(){        

        $("#data_scope_type_row"+current_num).hide();
        $("#data_scope_type_sites_row"+current_num).hide();
        $("#data_utility_type_row"+current_num).hide();
        $("#select_sites_row"+current_num).show();
        $("#select_lines_row"+current_num).hide();
        $("#data_scope_type_sites"+current_num).val("");
        $("#data_scope_type"+current_num).val("");

        $("#select_sites_cell"+current_num).attr("colspan",5);
        $("#select_lines_cell"+current_num).attr("colspan",5);

        scope = "sites";

        var html = "";
        var selected_chart_type = $("#chart_type"+current_num).val();
        var selected_data_type = $("#data_type"+current_num).val();
        $("#data_type"+current_num).html("<option value=''>--Select Data--</option>");          

        if(selected_chart_type == "stacked" || selected_chart_type == "pie" ){
            html+= "<option value='revenue_totals'>Revenue Totals</option>"+
                   "<option value='utility_use_totals'>Utility Use Totals</option>";            
            
        }
        else if(selected_chart_type == "series"){
            html+=  "<option value='utility_use'>Utility Use</option>"+
                    "<option value='temperature'>Temperature</option>"+
                    "<option value='voltage'>Voltage</option>";

        }

        $("#data_type"+current_num).append(html);        

   });

    $("#data_type"+current_num).change(function(){
        $("#data_scope_type_row"+current_num).hide();
        $("#data_scope_type_sites_row"+current_num).hide();
        $("#data_utility_type_row"+current_num).hide();

        $("#select_sites_cell"+current_num).attr("colspan",5);
        $("#select_lines_cell"+current_num).attr("colspan",5);

        var selected_data_type = $("#data_type"+current_num).val();

        if(selected_data_type == "utility_use_totals"){
            $("#data_utility_type_row"+current_num).show();
            $("#select_sites_cell"+current_num).attr("colspan",6);
        }
        if(selected_data_type == "utility_use"){
            $("#data_scope_type_row"+current_num).show();
            $("#select_sites_cell"+current_num).attr("colspan",6);
        }

   });

    $("#data_scope_type"+current_num).change(function(){
        $("#data_scope_type_row"+current_num).hide();
        selected_scope_type = $(this).val();

        if(selected_scope_type == "lines_data"){
            scope = "lines";
            $("#select_sites_row"+current_num).hide();
            $("#data_utility_type_row"+current_num).hide();
            $("#select_lines_row"+current_num).show();
            $("#data_scope_type_sites_row"+current_num).show();
            $("#data_scope_type_row"+current_num).show();
            $("#select_lines_cell"+current_num).attr("colspan",7);
        }
        else{
            scope = "sites";
            $("#select_lines_row"+current_num).hide();
            $("#data_scope_type_sites_row"+current_num).hide();
            $("#select_sites_row"+current_num).show();
            $("#data_utility_type_row"+current_num).show();
            $("#data_scope_type_row"+current_num).show();
            $("#select_sites_cell"+current_num).attr("colspan",7);
        }
    });

    $("#data_scope_type_sites"+current_num).change(function(){
        var site_id = $(this).val();
        $.ajax({
            url: "/site/lines/",
            type: "POST",
            dataType: "json",
            data: {
                'id': site_id,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            beforeSend: function(){
            },
            success: function(response){
                var html = "";
                $("#comparison_graph_lines"+current_num).html("");
                for(i=0; i<response.length;i++){
                    if(response[i]['user'] == null){
                        $("#comparison_graph_lines"+current_num).append("<option value='"+response[i]['id']+"'>"+response[i]['name']+"</option");
                    }
                    else{
                        $("#comparison_graph_lines"+current_num).append("<option value='"+response[i]['id']+"'>"+response[i]['user']+"</option");
                    }
                    
                }
                $("#comparison_graph_lines"+current_num).trigger("chosen:updated");
            }
        });
    });

    $("#btn_comparison_graph"+current_num).click(function(){
        $("#comparison_graph_notification"+current_num).html("");
        var start_date = $("#comparison_start_date"+current_num).val();
        var end_date = $("#comparison_end_date"+current_num).val();        
        var data_type = $("#data_type"+current_num+" option:selected").attr('value');
        var chart_type = $("#chart_type"+current_num+" option:selected").attr('value');
        var utility_type = $("#data_utility_type"+current_num+" option:selected").attr('value');
        var scope_type = $("#data_scope_type"+current_num+" option:selected").attr('value');
        var sites = $("#comparison_graph_sites"+current_num).val();
        var lines = $("#comparison_graph_lines"+current_num).val();

        if(start_date == "" || end_date == "" || data_type == "" || chart_type == ""){
            $("#comparison_graph_notification"+current_num).html("Please fill all values.");
        }
        else if(scope == "sites" && sites == null){
            $("#comparison_graph_notification"+current_num).html("Select at least one site.");
        }
        else if(scope == "lines" && lines == null){
            $("#comparison_graph_notification"+current_num).html("Select at least one line.");
        }
        else{
            get_data(chart_type, data_type, start_date, end_date, utility_type, sites, lines, scope);

        }
            
        
    });

    function get_data(chart_type, data_type, start_date, end_date, utility_type, sites, lines, scope){       
        $.ajax({
            url: "/comparison_graph/data/",
            type: "POST",
            dataType: "json",
            data:{
                "data_type": data_type,
                "chart_type": chart_type,
                "start_date": start_date,
                "end_date": end_date,
                "utility_type": utility_type,
                "sites": sites,
                "lines": lines,
                "scope": scope,
                "csrfmiddlewaretoken": "{{csrf_token}}"
            },
            beforeSend: function(){
                $("#btn_comparison_graph"+current_num).html("Loading...");
            },
            success: function(response){
                $("#btn_comparison_graph"+current_num).html("Compare");
                draw_chart(data_type, chart_type, response);
            }
        });
        
    }

    function draw_chart(data_type, chart_type, data){
        var title = "";
        var units = "";
        var label = "";
        var series_data = [];
    
        if(data_type == "revenue_totals" || data_type == "utility_use_totals"){
            var dates = [];            

            if(data_type == "revenue_totals"){
                units = data['currency'];
                title = "Revenue Totals (" +units+ ")";
                label = "Revenues (" +units+ ")";
                
            }
            else{
                title = "Utility Use Totals";
                label = data['data'][0]['chart_label'];
                units = "("+data['data'][0]['chart_units']+")";
            }

            if(chart_type == "stacked"){
                //dates
                for(i=0; i<data['data'][0]['dates'].length; i++){
                    dates.push(data['data'][0]['dates'][i]);
                }

                //series_data
                for(j=0; j<data['name'].length; j++){
                    totals_data = [];
                    if(data['data'][j] != undefined){
                        for(k=0; k<data['data'][j]['total'].length; k++){
                            totals_data.push([parseFloat(data['data'][j]['total'][k])]);
                        }                        
                    }
                    series_data.push({
                        name: data['name'][j],
                        data: totals_data
                    });
                }
                
                $('#comparison_chart'+current_num).highcharts({
                    chart: {
                        type: 'column',
                        height: 500
                    },
                    credits:{
                        enabled:false,
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        categories: dates
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: label
                        }, 
                        gridLineWidth:0                   
                    },
                    tooltip: {                        
                        formatter: function() {		
                            return  '<b>' + this.series.name + '</b><br>'+ Highcharts.numberFormat(this.y,2)+" "+units;
                        }
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',                        
                        }
                    },
                    series: series_data
                });
            }
            else if(chart_type == "pie"){
                //series_data                
                for(j=0; j<data['name'].length; j++){
                    totals_data = parseFloat(data['data'][j]['duration_total']);
                    series_data.push({
                        name: data['name'][j],
                        y: totals_data
                    });                    
                }
                $('#comparison_chart'+current_num).highcharts({
                    chart: {
                        type: 'pie'
                    },
                    credits:{
                        enabled:false,
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        categories: dates
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: label
                        }, 
                        gridLineWidth:0                   
                    },
                    tooltip:{
                        formatter: function() {		
                            return  '<b>' + this.series.name + '</b><br>'+ Highcharts.numberFormat(this.y,2)+" "+units;
                        }
                    },
                    pie: {
                        size:'50%',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    },
                    series:[{
                        name: title,
                        colorByPoint: true,
                        data: series_data
                    }]
                });
            }
        }     

        else if(data_type == "temperature" && chart_type == "series" || data_type == "voltage" && chart_type == "series"){            
            var sites = [];                       

            for(n=0; n<data['name'].length; n++){
                sites.push(data['name'][n]);
            }
            if(data_type == "temperature"){
                title = "Temperature";
                units = "C";
            }
            else if(data_type == "voltage"){
                title = "Voltage";
                units = "V";
            }

            for (var i = 0; i < sites.length; i++) {
                var sites_data = []; 
                var chart_data = [];

                if(data_type == "temperature"){
                    sites_data = data['data'][i]['temp'][sites[i]];

                    if(sites_data != undefined){
                        for (var j = 0; j < sites_data.length; j++) { 
                            chart_data.push([
                                sites_data[j]['timestamp'],
                                parseFloat(sites_data[j]['reading'])
                            ]);
                        }
                        series_data.push({
                            name: sites[i],
                            data:chart_data
                        });
                    }
                }

                else if(data_type == "voltage"){
                    sites_data = data['data'][i]['volts'][sites[i]];                    
                    
                    if(sites_data != undefined){
                        for (var j = 0; j < sites_data.length; j++) {                           
                            chart_data.push([
                                sites_data[j]['timestamp'],
                                parseFloat(sites_data[j]['reading'])
                            ]);
                        }
                        
                        series_data.push({
                            name: sites[i],
                            data:chart_data
                        });

                    }
                }

            }

            $('#comparison_chart'+current_num).highcharts({
                chart: {
                    type: 'area',
                    height: 350,
                    alignTicks:false
                },
                credits:{
                    enabled:false,
                },
                title: {
                    text: title
                },
                xAxis: {
                    type:'datetime',
                },
                yAxis: {
                    floor: 0,
                    gridLineWidth:0,
                    allowDecimals:false,
                    title: {
                        text: title + '('+ units + ')'
                    }, 
                    gridLineWidth:0                   
                },
                tooltip:{
                    formatter: function() {
                        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2) +" "+units;
                    }
                },
                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: series_data
            });
        }

        else if(data_type == "utility_use" && chart_type == "series"){
            var title = "Utility Use";

            if(scope == "sites"){
                var sites = [];            

                if(data['name'].length > 0){
                    title = data['data'][0]['chart_label'];
                    
                }

                for(n=0; n<data['name'].length; n++){
                    sites.push(data['name'][n]);
                }

                for (var i = 0; i < sites.length; i++) {
                    var sites_data = []; 
                    var chart_data = [];

                    sites_data = data['data'][i]['rates']['total'];

                    if(sites_data != undefined){
                        for (var j = 0; j < sites_data.length; j++) { 
                            chart_data.push([
                                sites_data[j]['timestamp'],
                                parseFloat(sites_data[j]['rate'])
                            ]);
                        }
                        series_data.push({
                            name: sites[i],
                            data:chart_data
                        });
                    }
                }
            }

            else{
                var lines = [];
                for (var i = 0; i < data['data'].length; i++) {
                    var line_num = Object.keys(data['data'][i]['rates']);

                    var sites_data = []; 
                    var chart_data = [];

                    sites_data = data['data'][i]['rates'][line_num];

                    if(sites_data != undefined){
                        for (var j = 0; j < sites_data.length; j++) { 
                            chart_data.push([
                                sites_data[j]['timestamp'],
                                parseFloat(sites_data[j]['rate'])
                            ]);
                        }
                        series_data.push({
                            name: "Line "+line_num,
                            data:chart_data
                        });
                    }
                }                
            }

            $('#comparison_chart'+current_num).highcharts({
                chart: {
                    type: 'area',
                    height: 350,
                    alignTicks:false
                },
                credits:{
                    enabled:false,
                },
                title: {
                    text: title
                },
                xAxis: {
                    type:'datetime',
                },
                yAxis: {
                    floor: 0,
                    gridLineWidth:0,
                    allowDecimals:false,
                    title: {
                        text: title
                    }, 
                    gridLineWidth:0                   
                },
                tooltip:{
                    formatter: function() {
                        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2) +" "+units;
                    }
                },
                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: series_data
            });

            /*for (var i = 0; i < sites.length; i++) {
                var utility_drawData = data['rates'][sites[i]];
                var chartutility_drawData = [];
                for (var j = 0; j < utility_drawData.length; j++) {                           
                    chartutility_drawData.push([
                        utility_drawData[j]['timestamp'],
                        parseFloat(utility_drawData[j]['rate'])
                    ]);
                }
                highchart.series[seriesIndex].setData(chartutility_drawData);
                seriesIndex++;                                        
            }*/   
        }
    }


});
</script>
