<div class="csv_report"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".csv_report_form").length + 1;
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>CSV Data Report</h4>");
    var form_message = $("<p><span  class='notification' id='csv_report_notification"+current_num+"'></span></p>");
    var csv_report_form = $("<form class='csv_report_form' id='csv_report_form"+current_num+"' name='"+current_num+"' method='post' action='/csv_report/generate/'>{%csrf_token%}</form>");  
    var report_table = $("<table class='csv_report_tb'>"+
                         "<tr><td><span class='bold_text'>Start Date: </span> <input type='text' id='filter_start_date"+current_num+"' name='min_date' placeholder='Start Date'></td><td><span class='bold_text'>End Date: </span><input type='text' id='filter_end_date"+current_num+"' name='max_date' placeholder='End Date'></td></tr>"+
                       "<tr><td><span class='bold_text'>Site: </span><select name='site'>{% for site in all_sites %}<option value='{{ site.name }}'>{{ site.name}}</option>{% endfor %}</select></td><td> <span class='bold_text'>Data For: </span><select name='object_name'><option value='Line_State_Snapshot'>Line State Snapshots</option><option value='Kopo_Kopo_Message'>Payments</option><option value='Mingi_User'>User Profiles</option><option value='Voltage'>Voltage Logs</option><option value='Africas_Talking_Output'>a:e Payments</option></select></td></tr>"+
                      "<tr><td><span class='bold_text'>Email Address:</span><input type='text' name='email' id='email"+current_num+"'></td></tr>"+
                      "</table>");
    var form_button = $("<button type='submit' name='generate' class='generate_csv_report'>Generate CSV Report</button>");

    var csv_report = $('.csv_report');
 
    csv_report_form.append(form_heading);
    csv_report_form.append(form_message);
    csv_report_form.append(report_table);
    csv_report_form.append(form_button);

    csv_report.parent().html(csv_report_form);

    
    $( "#filter_start_date"+current_num).datepicker();
    $( "#filter_end_date"+current_num).datepicker();

    $( "#filter_start_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 
    $( "#filter_end_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 

    //on submission of the form
    $('.generate_csv_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        $('#csv_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email=$('#email'+element_id).val();
        validEmail=validateEmail(email);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#csv_report_notification'+element_id).text("");
            if($.trim(email)==""||validEmail==false){
			    $('#csv_report_notification'+element_id).text("Enter a valid email address.");
		    }
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {

                       if(data=="success"){
                            $('#csv_report_notification'+element_id).text("Your report is being generated and will arrive in your email inbox soon.");

					    }
                        else{
                            $('#csv_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#csv_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });    
    

});
</script>
