<div class="customer_sms_form_div"></div>

<script type="text/javascript">

$(document).ready(function(){
        var current_num = $(".customer_sms_form").length + 1;
        var form_heading = $("<span class='close_button'>X</span><h4 align='center'>Customer SMS</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
        var form_message = $("<p><span  class='notification' id='customer_sms_notification"+current_num+"'></span></p>");
        var customer_sms_form = $("<form class='customer_sms_form' id='customer_sms_form"+current_num+"' name='"+current_num+"' method='post' action='/customer_sms/send/'></form>");        
        var multiple_users_div = $("<div class='multiple_users_div"+current_num+"'></div>");
        var multiple_users_radio_btn = $("<input id='multiple_users"+current_num+"' type='radio' name='sms_type' class='multiple_users' value='multiple_users' checked> <span class='bold_text'>Multiple Users</span> </input>");     
        
        var multiple_users_options = $("<table><tr><td><p>Send to users at:</p><select name='site' class='site'><option value=''>----</option>{% for site in sites %}<option value='{{ site.name }}'>{{ site.name }}</option>{% endfor %}</select></td><td><p>Filter by:</p><select name='filter' class='filter'><option value='all'>All Registered Users</option><option value='line_owners'>Line Owners</option></select></td></tr>");        

        var individual_user_div = $("<div class='individual_user_div"+current_num+"'></div>");
        var individual_user_radio_btn = $("<input type='radio' name='sms_type' class='individual_user' value='individual_user'> <span class='bold_text'>Individual User</span></input>");        
        var individual_users_list = $("<p>Specify indivdual user:</p><select name='user_phone' class='user_phone'><option value=''>----</option>{% for user in all_users %}{% if pre_open_user == user.telephone %}<option selected value='{{ user.telephone }}'>{{ user.first_name }} {{ user.last_name }}: {{ user.telephone }}</option>{% else %}<option value='{{ user.telephone }}'>{{ user.first_name }} {{ user.last_name }}: {{ user.telephone }}</option>{% endif %}{% endfor %}</select>");
        var message_label = $("<p>Message Content:</p>");
        var message_box = $("<input type='text' name='message_text' id='message_text"+current_num+"' class='message_text'>");
        var form_button = $("{% if is_cro %}<button disabled>Send to All Recipients</button>{% else %}<button type='submit' id='btn_customer_sms"+current_num+"' name='customer_sms' class='customer_sms'>Send to All Recipients</button>{% endif %}");

        var customer_sms_form_div = $('.customer_sms_form_div');
        
                
        multiple_users_div.append(multiple_users_options);
        
        individual_user_div.append(individual_users_list);
        

        customer_sms_form.append(form_heading);
        customer_sms_form.append(form_message);
        customer_sms_form.append(multiple_users_radio_btn);
        customer_sms_form.append(individual_user_radio_btn);
        customer_sms_form.append(multiple_users_div);
        customer_sms_form.append(individual_user_div);
        customer_sms_form.append(message_label);        
        customer_sms_form.append(message_box);
        customer_sms_form.append(form_button); 
        customer_sms_form_div.parent().html(customer_sms_form);

        //hide on creation
        individual_user_div.hide();  


        $('.close_button').click(function(){
            var div_id=$(this).parent().attr('id');
            $('#'+div_id).parent().parent().hide('slow');
        });      
    
        $('.individual_user').click(function(){
            var id = $(this).parent().attr('name');
            $('.individual_user_div'+id).show();
            $('.multiple_users_div'+id).hide();
        });
        $('.multiple_users').click(function(){
            var id = $(this).parent().attr('name');
            $('.individual_user_div'+id).hide();
            $('.multiple_users_div'+id).show();
        });
        
        //on submission of a form
        $('.customer_sms').click(function(event){            
            var form_id = $(this).parent().attr('id');            
            var element_id = $(this).parent().attr('name');

            var message_text = $('#message_text'+element_id).val();

            if($.trim(message_text)==""){
                event.preventDefault();
                $('#customer_sms_notification'+element_id).text("Enter a message first."); 
            }     
            else{       
                $('#customer_sms_notification'+element_id).text(""); 
                $('#'+form_id).unbind('submit').submit(function(){
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        data: $('#'+form_id).serialize(),
                        beforeSend:function(){
                            $('#btn_customer_sms'+element_id).html("Sending...");
                        },
                        success: function (data) {                            
                            $('#btn_customer_sms'+element_id).html("Send to All Recipients");
                            $('#customer_sms_notification'+element_id).text(data); 
                        },
                        error: function(data) {   
                            $('#customer_sms_notification'+element_id).text(data);
                        }
                    });                              
                    return false;
                }); 
            }              
        });   

        {% if pre_open_user %} $(".individual_user" ).trigger( "click" ); {% endif %}                    
});

</script>
