<div class="custom_trigger_command_form_div"></div>

<script type="text/javascript">

$(document).ready(function(){
        var current_num = $(".custom_trigger_command_form").length + 1;
        var form_heading = $("<h4 align='center'>Add Trigger Command</h4>");
        var commands_heading = $("<span class='close_button'>X</span><h4 align='center'>Trigger Commands</h4>");
        var form_message = $("<p><span class='notification' id='custom_trigger_command_notification"+current_num+"'></span></p>");
        var custom_trigger_command_form = $("<form class='custom_trigger_command_form' id='custom_trigger_command_form"+current_num+"' name='"+current_num+"' method='post' action='/custom_trigger_commands/add/'></form>"); 

        var form_items = $("<table><tr>"+

            "<td><span class='bold_text'>IF <select name='trigger_type' id='trigger_type"+current_num+"' title='user type'><option value='' selected>---</option>{% for type in trigger_types.items %}<option value='{{ type.0 }}'>{{ type.1 }}</option>{% endfor %}</select></span></td>"+
            "<td id='td_user_type"+current_num+"'><span class='bold_text'>AT <select name='user_type' id='user_type"+current_num+"'><option value=''>---</option></select></span></td>"+
            "<td id='td_user_type_list"+current_num+"'><br><select name='user_type_list' id='user_type_list"+current_num+"'><option value=''>---</option></select></td>"+            
            "<td id='td_trigger_level"+current_num+"'><span class='bold_text'>IS <select name='trigger_level' id='trigger_level"+current_num+"'>{%for level in trigger_levels.items %}<option value='{{ level.0 }}'>{{ level.1 }}</option>{% endfor %}</select></span></td>"+            
            "<td id='td_value"+current_num+"'><br><input name='threshold' id='threshold"+current_num+"' class='threshold' type='text' placeholder='Value'></td>"+
            "</tr>"+
            "<tr>"+
            "<td><span class='bold_text'>Send <select name='msg_type' id='msg_type"+current_num+"'><option value=''>---</option>{% for msg_type in msg_types.items %}<option value='{{ msg_type.0 }}'>{{ msg_type.1 }}</option>{% endfor %}</select></span></td>"+
            "<td><span class='bold_text'>To <input type='text' name='destination' id='trigger_destination"+current_num+"' placeholder='Email/Telephone'></span></td>"+
            "<td colspan='3'><span class='bold_text'>Saying <input type='text' id='message"+current_num+"' name='message' placeholder='Custom Message'></span></td></tr>"+
            "<tr><td colspan='2'><span class='bold_text'>Run At (optional):</span><br><input type='text' name='hours' placeholder='Hours to send e.g. 0,12,23' id='hours"+current_num+"' class='tip' title='The hour(s) you want this command to run separated by commas. e.g. 0 for 12:00am, 1 for 1:00am, 23 for 11:00pm etc.'></td></tr>"+
            "</tr>"+
            "</table>"); 

        var add_trigger_btn = $("<button name='add_trigger_command' class='add_trigger_command' type='submit'>Add Command</button>");
        var triggers_list = $("<table class='bulk_display'><thead>"+
            "<tr>"+
            "<th>If</th>"+
            "<th>At</th>"+
            "<th>Is</th>"+
            "<th>Send</th>"+
            "<th>To</th>"+
            "<th>Hour(s)</th>"+
            "<th></th>"+
            "</tr></thead></table>");
        var commands_list = $("<tbody class='commands_list'>"+
            "{% for command in all_trigger_commands %}"+
            "<tr class='command_{{ command.id }}'>"+
            "<td>{% for trigger in trigger_types.items %} {% if command.trigger_type == trigger.0 %} {{ trigger.1 }} {% endif %}{% endfor %}</td>"+
            "<td>{% if command.site != None %}{{ command.site.name }}{% elif command.line != None %}{{command.line.name}}{% elif command.user != None%}{{command.user.first_name}} {{command.user.last_name}}{% endif %}</td>"+   
            "<td>{{ command.get_trigger_level_display }} {{command.threshold}}</td>"+
            "<td>{{ command.message }}</td>"+
            "<td>{{ command.destination }}</td>"+
            "<td>{% if command.hours == '' %}--{% else %}{{ command.hours }}{% endif %}</td>"+
            "<td><a href='javascript:void(0);' id='{{ command.id }}' class='custom_trigger_command'>Delete</a></td>"+
            "</tr>"+
            "{% endfor %}</tbody>");


        var custom_trigger_command_form_div = $('.custom_trigger_command_form_div');

        triggers_list.append(commands_list);

        custom_trigger_command_form.append(commands_heading);
        custom_trigger_command_form.append(triggers_list);
        custom_trigger_command_form.append(form_heading);
        custom_trigger_command_form.append(form_message);
        custom_trigger_command_form.append(form_items);
        custom_trigger_command_form.append(add_trigger_btn); 

        custom_trigger_command_form_div.parent().html(custom_trigger_command_form);

        $( ".tip" ).tooltip({
            show: {
                effect: "slideDown",
                delay: 250,
            }
        });

        //change user type options depending on trigger type
        $('#trigger_type'+current_num).change(function(){
            $('#user_type'+current_num).html("<option value=''>---</option>"); 
            $('#user_type_list'+current_num).html("<option value=''>---</option>");           
            var trigger_value = $(this).val();

            if(trigger_value == "account_balance"){
                "{% for user_type in user_types.items %}"
                    "{% if user_type.0 == 'user'%}"
                    $('#user_type'+current_num).append("<option value='{{user_type.0}}'>{{user_type.1}}</option>");
                    "{% endif %}"
                "{% endfor %}"
            }
            else if(trigger_value == "voltage" || trigger_value == "temp"){
                "{% for user_type in user_types.items %}"
                    "{% if user_type.0 == 'site'%}"
                    $('#user_type'+current_num).append("<option value='{{user_type.0}}'>{{user_type.1}}</option>");
                    "{% endif %}"
                "{% endfor %}"
            }
            else{
                "{% for user_type in user_types.items %}"
                    $('#user_type'+current_num).append("<option value='{{user_type.0}}'>{{user_type.1}}</option>");
                "{% endfor %}"
            }

        });

        //change user type listing depending on user type selected
        $('#user_type'+current_num).change(function() {
            $('#user_type_list'+current_num).html("<option value=''>---</option>");

            if($(this).val()=='user')
            {
                "{% for user in all_users %}"
                    $('#user_type_list'+current_num).append("<option value='{{user.id}}'>{{user.first_name}} {{user.last_name}} {{user.telephone}}</option>");   
                "{% endfor %}"
            }
            else if($(this).val()=='line')
            {
                "{% for line in all_lines %}"
                    $('#user_type_list'+current_num).append("<option value='{{line.id}}'>{{line.name}}</option>");   
                "{% endfor %}"
            }
            else if($(this).val()=='site')
            {
                "{% for site in all_sites %}"
                    $('#user_type_list'+current_num).append("<option value='{{site.id}}'>{{site.name}}</option>");   
                "{% endfor %}"
            }
        });
        
        $('.close_button').click(function(){
            var div_id=$(this).parent().attr('id');
            $('#'+div_id).parent().parent().hide('slow');
        });

        $( ".tip" ).tooltip({
            show: {
                effect: "slideDown",
                delay: 250,
            }
        });

        //on submission of a form
        $('.add_trigger_command').click(function(event){                                  
            $('#custom_trigger_command_notification'+element_id).text("");            
            var element_id = $(this).parent().attr('name');
            var form_id = "custom_trigger_command_form"+element_id;

            var destination = $('#trigger_destination'+element_id).val();
            var user_type = $('#user_type'+element_id).val();
            var user_type_list = $('#user_type_list'+element_id).val();
            var trigger_type = $('#trigger_type'+element_id).val();
            var trigger_level = $('#trigger_level'+element_id).val();
            var threshold = $('#threshold'+element_id).val();
            var message = $('#message'+element_id).val(); 
            var message_type = $('#msg_type'+element_id).val();
            var hours = $('#hours'+element_id).val();


            if($.trim(destination)==""||$.trim(user_type) == ""|| $.trim(trigger_type)==""||$.trim(trigger_level)==""||$.trim(message)==""||$.trim(threshold)==""){
                event.preventDefault();
                $('#custom_trigger_command_notification'+element_id).text("Fill in all fields");
                return false;
            }
            else if($.trim(message_type) == "email" && !validateEmail(destination)){
                event.preventDefault();
                $('#custom_trigger_command_notification'+element_id).text("Enter a valid email address");
            }
            else if($.trim(message_type) == "sms" && !processPhone(destination)){
                event.preventDefault();
                $('#custom_trigger_command_notification'+element_id).text("Enter a valid phone number");
            }            
            else{
                $('#'+form_id).unbind('submit').submit(function(){ 
                    $('#custom_trigger_command_notification'+element_id).text("");                
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        data: $('#'+form_id).serialize(),
                        success: function (data) { 
                            var split_data = data.split("::");                           
                            if(split_data[0] == "0"){
                                $('#custom_trigger_command_notification'+element_id).text(split_data[1]);
                            }
                            else{
                                var command_id = split_data[0];
                                var site = split_data[1];
                                var user = split_data[2];
                                var line = split_data[3];
                                var trigger_type = split_data[4];
                                var trigger_level = split_data[5];
                                var destination = split_data[6];
                                var msg = split_data[7];
                                var msg_type = split_data[8];
                                var threshold_val = split_data['9'];
                                var hrs = split_data['10'];
                                var entity = "";
            
                                if($.trim(user)!= "None"){
                                    entity = user;
                                }
                                else if($.trim(line)!= "None"){
                                    entity = line;
                                }
                                else if($.trim(site)!= "None"){
                                    entity = site;
                                }

                                if(('.no_commands').length>0){
                                    $('.no_commands').remove();
                                }
                                $('.commands_list').append("<tr class='command_"+command_id+"'>"+
                                    "<td>"+trigger_type+"</td>"+                                    
                                    "<td>"+entity+"</td>"+
                                    "<td>"+trigger_level+" "+threshold+"</td>"+
                                    "<td>"+message+"</td>"+
                                    "<td>"+destination+"</td>"+
                                    "<td>"+hrs+"</td>"+
                                    "<td><a href='javascript:void(0);' id='"+ command_id +"' class='custom_trigger_command'>Delete</a></td>"+
                                    "</tr>");
                            }
                        }
                    });         
                    return false;       
              }); 
           }
        }); 

        //delete a trigger command
        $('.custom_trigger_command').live("click",function(){
            var command_id = $(this).attr('id');         
            $.ajax({
                url:'/custom_trigger_commands/delete/',
                type:'POST',
                data:'command_id='+command_id,
                success:function(data){
                    if(data == "deleted"){
                        $('.command_'+command_id).remove();
                    }
                    return false;
                },
                error:function(data){
                }            
            });
            return false;
        });

});

</script>
