<div class="edit_site_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".edit_site_details").length + 1; 
 
   var edit_site_form = $("<div id='edit_site_form"+current_num+"' class='edit_site_details' style='padding-bottom:5px;'>{%csrf_token%}</div>");  

   var heading = $("<span class='close_button'>X</span><h4 align='center'>Edit: {{site.name}}</h4>");

   var edit_site_details = $("<p><span  class='notification' id='edit_site_notification"+current_num+"'></span></p>"+
                         "<table>"+
                         "<tr><td>Name: <input type='text' name='name' value='{{ site.name }}' id='edit_site_name"+current_num+"'></td><td>Latitude: <input type='text' name='latitude' value='{{ site.latitude }}' id='edit_site_latitude"+current_num+"'></td><td>Longitude: <input type='text' name='longitude' value='{{ site.longitude }}' id='edit_site_longitude"+current_num+"'></td><td>Pulse Ratio: <input type='text' name='pulse_ratio' value='{{ site.pulse_ratio }}' id='edit_site_pulse_ratio"+current_num+"'></td><td>No.of Lines <input type='text' name='number_of_lines' value='{{ site.num_lines }}' id='edit_site_lines"+current_num+"'></td>"+
                         "<td>Site timezone <select name='timezone' id='timezone"+current_num+"'><option value='{{ site.timezone }}'>{{ site.timezone }}</option> {% for timezone in timezones %}<option value='{{ timezone }}'> {{ timezone }} </option>{% endfor %}</select></td></tr>"+
                         "<tr><td colspan='6'>Identification Labels: <div id='labels"+current_num+"'></div></td></tr>"+
                        "<!--tr><td colspan='5'><button id='btn_edit_site"+current_num+"'>Edit</button></td></tr-->"+
                        "</table>"
   );

   var tariff_details_header = $("<h5>Tariff Bundles</h5>");
   var tariff_details_notification = $("<span class='notification' id='site_tariff_notification"+current_num+"'></span>");
   var tariff_details = $("<table class='bulk_display' id='site_tariff_table"+current_num+"'>"+
        "<tr><th>Local Currency Range</th><th>Ratio</th></tr>"+
        "<tr id='start_row"+current_num+"'><td><input type='text' value='0' id='start_from_range"+current_num+"' name='from_range'> to <input type='text' value='0' name='to_range' id='start_to_range"+current_num+"'></td><td><input type='text' value='0' name='ratio' id='start_ratio"+current_num+"'> account credits / {{site.currency}} <button class='tip btn btn-success add remove-tariff-range' title='remove this tariff range'> - </button></td></tr>"+        
        "<tr id='above_range"+current_num+"'><td><input type='text' id='above_range_text"+current_num+"' name='from_range'> and up</td><td><input type='text' name='ratio' id='above_ratio_text"+current_num+"'> account credits / {{site.currency}}</td></tr>"+
        "</table>"
   );
   var tariff_button = $("<table><tr><td colspan='2'><button class='tip btn btn-success add' id='btn_add_bundles"+current_num+"' title='add bundles' style='margin-left:5px; float:left;'> Add Bundles </button> <button class='tip btn btn-success add add-tariff-range' id='btn_add_range"+current_num+"' title='add a new range' style='float:left;'> + Add Range </button> <button class='tip btn btn-success add add-tariff-range' id='btn_remove_bundles"+current_num+"' title='remove bundles' style='margin-left:5px; float:left;'> - Remove Bundles </button></td></tr>"+
        "<tr id='remove_bundles_notification"+current_num+"'><td colspan='2'><p><span class='notification'>This is a potentially destructive action! Are you sure you want to remove this site's tariff settings?</span></p> <button id='no_remove_bundles"+current_num+"'>Cancel</button> <button id='yes_remove_bundles"+current_num+"'>Yes</button></td></tr>"+
        
        "</table>");
   
    var discount_details_header = $("<h5>Discounts / Time of Use</h5>");
    var discount_details_notification = $("<span class='notification' id='site_discount_notification"+current_num+"'></span>");
    var discount_details = $(
        "<table class='bulk_display' id='site_discount_table"+current_num+"'>"+
        "<tr><th>Hour Range</th><th></th></tr>"+
        "<tr><td><input type='text' placeholder='from' class='from_time' name='from_time' id='start_from_time"+current_num+"' value='00'> through <input type='text' placeholder='to' class='to_time' name='to_time' id='start_to_time"+current_num+"' value='01'></td><td><input type='text' name='percentage' id='start_percentage"+current_num+"'> % of normal energy price (as a decimal)</td></tr>"+
        "</table>"
    );

    var discount_button = $("<table><tr><td colspan='2'><button class='tip btn btn-success add' id='btn_add_discounts"+current_num+"' title='add a new discount range' style='float:left;'> Add Discounts </button> <button class='tip btn btn-success add add-discount-range' id='btn_add_discount_range"+current_num+"' title='add a new discount range' style='float:left;'> + Add Range </button> <button class='tip btn btn-success add' id='btn_remove_discounts"+current_num+"' title='remove discount settings' style='float:left; margin-left:5px;'> - Remove Discounts </button></td></tr>"+
        "<tr id='remove_discounts_notification"+current_num+"'><td colspan='2'><p><span class='notification'>This is a potentially destructive action! Are you sure you want to remove this site's discount settings?</span></p> <button id='no_remove_discounts"+current_num+"'>Cancel</button> <button id='yes_remove_discounts"+current_num+"'>Yes</button></td></tr>"+
        "</table>");

    var edit_button = $("<div style='width:100%;margin-bottom:20px;'><button id='btn_edit_site"+current_num+"'>Edit</button></div>");

   var edit_site_div = $('.edit_site_div'); 

   edit_site_form.append(heading);
   edit_site_form.append(edit_site_details);


    edit_site_form.append(tariff_details_header); 
    edit_site_form.append(tariff_details_notification); 
    edit_site_form.append(tariff_details);
    edit_site_form.append(tariff_button);
    edit_site_form.append(discount_details_header);   
    edit_site_form.append(discount_details_notification); 
    edit_site_form.append(discount_details);
    edit_site_form.append(discount_button);
    edit_site_form.append(edit_button);   

    edit_site_div.parent().html(edit_site_form); 

    preload_bundle_settings();
    preload_discount_settings();

    // add taggle labels. if site labels is empty, don't prefill anything
    var tags = "{{ site.labels }}".split(",");
    if(tags[0]=="")
    {
      tags = [];
    }
    
    var label_input = new Taggle('labels'+current_num,{
      tags: tags,
      preserveCase:true,
    });


    $("#start_to_range"+current_num).keyup(function(){
        var to_range = $("#start_to_range"+current_num).val();
        $("#above_range_text"+current_num).val(parseFloat(to_range)+1);       
    });

    $(document).on("keyup","#site_tariff_table"+current_num +" tr:eq(-2)", function(){
        var to_range = $(this).find("input[name=to_range]").val();
        $("#above_range_text"+current_num).val(parseFloat(to_range)+1);
    });
  
   $('#btn_edit_site'+current_num).click(function(){ 
       $("#edit_site_notification"+current_num).text("");
       $("#site_tariff_notification"+current_num).text("");
       $("#site_discount_notification"+current_num).text("");

       var name = $.trim($("#edit_site_name"+current_num).val());
       var latitude = $.trim($("#edit_site_latitude"+current_num).val());
       var longitude = $.trim($("#edit_site_longitude"+current_num).val());
       var pulse_ratio = $.trim($("#edit_site_pulse_ratio"+current_num).val());
       var num_lines = $.trim($("#edit_site_lines"+current_num).val());
       var timezone = $.trim($("#timezone"+current_num).val());
       var labels = label_input.getTags().values.join(); // get labels array, then stringfy


      if(name == ""||latitude == ""||longitude == ""||num_lines == ""){
          $("#edit_site_notification"+current_num).text("Please fill in all fields.");
      }      
      else if (!$.isNumeric(num_lines)){
          $("#edit_site_notification"+current_num).text("Invalid value for number of lines.");
      }
      else if(!$.isNumeric(latitude) || !$.isNumeric(longitude)){
          $("#edit_site_notification"+current_num).text("Invalid value for latitude or longitude.");
      }      
      else{           
           submitTariff = true;
           submitDiscount = true;

           if($("#site_tariff_table"+current_num).is(":visible")){
               $('#site_tariff_table'+ current_num +' tr').find('input').each(function(){
                    if($.trim($(this).val()) == ""){
                        submitTariff = false;
                        return false;
                    }
               });
           }
           
           if($("#site_discount_table"+current_num).is(":visible")){ 
               $('#site_discount_table'+ current_num +' tr').find('input').each(function(){
                    if($.trim($(this).val()) == ""){
                        submitDiscount = false;
                        return false;
                    }
               });
           }

           if(submitTariff == true && submitDiscount == true){
               var bundles_list = "";
               var discounts_list = "";

               if($("#site_tariff_table"+current_num).is(":visible")){
                   if(!$("#start_row"+current_num).is(":visible")){
                       $("#start_row"+current_num).remove();
                   }
                   $('#site_tariff_table'+ current_num +' tr').not(':first').each(function(){
                        var from_range = $(this).find('input[name=from_range]').val();
                        var ratio = $(this).find('input[name=ratio]').val();
                        bundles_list += from_range + ":"+ ratio+";"
                   });
                }

               if($("#site_discount_table"+current_num).is(":visible")){  
                   var start_from_time = 0;
                   var reset_percentage = 1;

                   var settings = $('#site_discount_table'+ current_num +' tr').not(':first');                   

                   settings.each(function(index, element){                        
                        //remove leading zeros
                        var from_time = parseInt($(this).find('input[name=from_time]').val());
                        var to_time = parseInt($(this).find('input[name=to_time]').val());
                        var percentage = $(this).find('input[name=percentage]').val();

                        if(start_from_time != from_time){
                            discounts_list += start_from_time + ":"+ reset_percentage+";";
                        }

                        //check if the last discount setting covers the entire range
                        if(index == settings.length - 1){
                            discounts_list += from_time + ":"+ percentage+";";

                            //check if all hours are covered
                            if(to_time < 23){
                                next_to_time = to_time + 1;
                                discounts_list += next_to_time + ":"+ reset_percentage+";";
                            }
                        }
                        else{                            
                            discounts_list += from_time + ":"+ percentage+";";
                        }
                        start_from_time = to_time + 1;
                   });
               }
            
               $.ajax({
                   type:'GET',
                   url:'/edit/site/{{site.id}}/',
                   data:{
                       'name':name,
                       'latitude':latitude,
                       'longitude':longitude,
                       'pulse_ratio':pulse_ratio,
                       'num_lines':num_lines,
                       'bundle_settings':bundles_list,
                       'TOU_hours':discounts_list,
                       'timezone':timezone,
                       'labels':labels,
                       'csrfmiddlewaretoken':'{{csrf_token}}'
                   },
                   beforeSend:function(){
                        $('#btn_edit_site'+current_num).html("Editing <img src='/static/custom/img/loading.gif'>");
                   },
                   success: function (data) {                   
                       $("#edit_site_notification"+current_num).text(data);
                       $('#btn_edit_site'+current_num).html("Edit");
                   },
                   error: function(data) {                      
                   }
               });
           }
           else if(submitTariff == false){
                $("#site_tariff_notification"+current_num).text("Fill all blank fields before submitting.");
           }
           else if(submitDiscount == false){
                $("#site_discount_notification"+current_num).text("Fill all blank fields before submitting.");
           }
       }
   });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

    
    $("#btn_add_bundles"+current_num).click(function(){        
        $("#btn_add_bundles"+current_num).hide();
        $("#site_tariff_table"+current_num).show();            
        $("#btn_remove_bundles"+current_num).show();
        $("#btn_add_range"+current_num).show();
    });

    $("#btn_add_range"+current_num).click(function(){
        if($("#site_tariff_table"+current_num).is(":visible")){
            var this_row = $('#site_tariff_table'+ current_num +' tr:last').prev();
            var from_range = $.trim(this_row.find('input[name=from_range]').val());
            var to_range = $.trim(this_row.find('input[name=to_range]').val());
            var ratio = $.trim(this_row.find('input[name=ratio]').val());
            add_tariff_range(parseFloat(to_range) + 1, "", "");
        }
        else{
            $("#btn_add_bundles"+current_num).hide();
            $("#site_tariff_table"+current_num).show();            
            $("#btn_remove_bundles"+current_num).show();
            $("#btn_add_range"+current_num).show();
        }        
    });

    $("#btn_remove_bundles"+current_num).click(function(){
        $('#site_tariff_table'+ current_num +' tr').each(function(){
            $(this).removeClass("invalid_row");
        });

        {% if site.bundle_settings == None or site.bundle_settings == "" %}
            $("#site_tariff_notification"+current_num).text("");
            $("#site_tariff_table"+current_num).hide();
            $("#btn_remove_bundles"+current_num).hide();
            $("#btn_add_range"+current_num).hide();        
            $("#btn_add_bundles"+current_num).show();
            $("#remove_bundles_notification"+current_num).hide();
        {% else %}
            $("#remove_bundles_notification"+current_num).show();
        {% endif %}
    });

    $("#yes_remove_bundles"+current_num).click(function(){
        $("#site_tariff_notification"+current_num).text("");
        $("#site_tariff_table"+current_num).hide();
        $("#btn_remove_bundles"+current_num).hide();
        $("#btn_add_range"+current_num).hide();        
        $("#btn_add_bundles"+current_num).show();
        $("#remove_bundles_notification"+current_num).hide();
        
    });
    $("#no_remove_bundles"+current_num).click(function(){
        $("#remove_bundles_notification"+current_num).hide();
    });

    $("#btn_add_discounts"+current_num).click(function(){
        $("#btn_add_discount_range"+current_num).show();
        $("#btn_remove_discounts"+current_num).show();
        $("#site_discount_table"+current_num).show();
        $(this).hide();
    });

    $("#btn_remove_discounts"+current_num).click(function(){
        $('#site_discount_table'+ current_num +' tr').each(function(){
            $(this).removeClass("invalid_row");
        });

        {% if tou == None or tou == "" %}
            $("#site_discount_notification"+current_num).text("");
            $("#site_discount_table"+current_num).hide();
            $("#btn_remove_discounts"+current_num).hide();
            $("#btn_add_discount_range"+current_num).hide();        
            $("#btn_add_discounts"+current_num).show();
            $("#remove_discounts_notification"+current_num).hide();
        {% else %}
            $("#remove_discounts_notification"+current_num).show();
        {% endif %}
    });

    $("#yes_remove_discounts"+current_num).click(function(){
        $("#site_discount_notification"+current_num).text("");
        $("#site_discount_table"+current_num).hide();
        $("#btn_remove_discounts"+current_num).hide();    
        $("#btn_add_discounts"+current_num).show();
        $("#btn_add_discount_range"+current_num).hide();
        $("#remove_discounts_notification"+current_num).hide();
        
    });
    $("#no_remove_discounts"+current_num).click(function(){
        $("#remove_discounts_notification"+current_num).hide();
    });

    $(".add-discount-range").click(function(){
        add_discount_range("","","");
    });
    $(".remove-tariff-range").live("click", function(){
        $(this).parent().parent().remove();
    });
    $(".remove-discount-range").live("click", function(){
        $(this).parent().parent().remove();
        //show remove button and enable times of the last discount setting
        $('#site_discount_table'+ current_num +' tr:last .remove-discount-range').show();
        $('#site_discount_table'+ current_num +' tr:last input[name=from_time]').removeAttr("readonly");
        $('#site_discount_table'+ current_num +' tr:last input[name=to_time]').removeAttr("readonly");
    });
        

    //add time pickers
    $(document).on('focus',".from_time", function(){
        $(this).timepicker({
            controlType: 'select',
            timeFormat: 'HH',
            alwaysSetTime: true,
        });
    });
    
    $(document).on('focus',".to_time", function(){
        $(this).timepicker({
            controlType: 'select',
            timeFormat: 'HH',
            alwaysSetTime: true,
        });
    });

    function preload_bundle_settings(){
        $("#remove_bundles_notification"+current_num).hide();
        $("#site_tariff_table"+current_num).hide();
        $("#btn_add_range"+current_num).hide();
        $("#btn_remove_bundles"+current_num).hide();


        {% if site.bundle_settings == "" or site.bundle_settings == None %}
            //do nothing, don't show table
        {% else %}
            //show table
            $("#site_tariff_table"+current_num).show();
            $("#btn_remove_bundles"+current_num).show();
            $("#btn_add_range"+current_num).show();
            $("#btn_add_bundles"+current_num).hide();

            var bundle_settings = "{{site.bundle_settings}}";
            
            if (bundle_settings.substring(bundle_settings.length - 1) == ";"){
                bundle_settings = bundle_settings.substring(0, bundle_settings.length - 1);
            }
            var bundles = bundle_settings.split(";");
            

            for(var i=0; i<bundles.length; i++){
                if (i != bundles.length - 1 && bundles.length != 1){
                    var previous_range = bundles[i].split(":");
                    var next_range = bundles[i+1].split(":");
                    var from_range = previous_range[0];
                    var to_range = parseInt(next_range[0]) - 1;
                    var ratio = previous_range[1];
                    if(i == 0){
                        $("#start_from_range"+current_num).val(from_range);
                        $("#start_to_range"+current_num).val(to_range);
                        $("#start_ratio"+current_num).val(ratio);
                    }
                    else{
                        add_tariff_range(from_range, to_range, ratio);
                    }
                }
                else if(i == bundles.length - 1 || bundles.length == 1){
                    if(bundles.length == 1){
                        $("#start_row"+current_num).remove();
                    }
                    var range = bundles[i].split(":");
                    $("#above_range_text"+current_num).val(range[0]);
                    $("#above_ratio_text"+current_num).val(range[1]);
                }
            }
        {% endif %}
    }

    function preload_discount_settings(){
        $("#remove_discounts_notification"+current_num).hide();
        $("#btn_add_discount_range"+current_num).hide();
        $("#btn_remove_discounts"+current_num).hide();
        $("#site_discount_table"+current_num).hide();


        {% if tou == "" or tou == None %}
            //do nothing, don't show table            
        {% else %}
            $("#site_discount_table"+current_num).show();
            $("#btn_add_discount_range"+current_num).show();
            $("#btn_remove_discounts"+current_num).show();
            $("#btn_add_discounts"+current_num).hide();

            var tou_settings = "{{tou}}";
            if (tou_settings.substring(tou_settings.length - 1) == ";"){
                tou_settings = tou_settings.substring(0, tou_settings.length - 1);
            }
            var tou = tou_settings.split(";");
            var count = 0;

            for(var i=0; i< tou.length; i++){
                if(tou.length == 1){
                    var from_time = prepend_zero(tou[i].split(":")[0]);
                    var to_time = parseInt(from_time) - 1;
                    if(to_time < 0 || to_time > 23){
                        to_time = 23;
                    }       
                    var percentage = tou[i].split(":")[1];

                    $("#start_from_time"+current_num).val(from_time);
                    $("#start_to_time"+current_num).val(to_time);
                    $("#start_percentage"+current_num).val(percentage);

                }
                else{
                    if (i != tou.length - 1){
                        var previous_range = tou[i].split(":");
                        var next_range = tou[i+1].split(":");
                        var from_time = prepend_zero(previous_range[0]);
                        var to_time = prepend_zero(parseInt(next_range[0]) - 1);
                        var percentage = previous_range[1];

                        if(percentage != "1"){
                            if(count == 0){                                
                                $("#start_from_time"+current_num).val(from_time);
                                $("#start_to_time"+current_num).val(to_time);
                                $("#start_percentage"+current_num).val(percentage);
                            }
                            else{
                                add_discount_range(from_time, to_time, percentage);
                            }
                            count++;
                        }
                    }
                    else{
                        var from_time = prepend_zero(tou[i].split(":")[0]);
                        var to_time = tou[0].split(":")[0] - 1;
                        if(to_time < 0){
                            to_time = 23;
                        }
                        var percentage = tou[i].split(":")[1];
                        if(percentage != "1"){
                            add_discount_range(from_time, prepend_zero(to_time), percentage);   
                        }                                                
                    }
                }
            }
        {% endif %}
    }


    function add_tariff_range(input_from_range, input_to_range, input_ratio){
        $("#site_tariff_notification"+current_num).text("");
        var this_row = $('#site_tariff_table'+ current_num +' tr:last').prev();
        var from_range = $.trim(this_row.find('input[name=from_range]').val());
        var to_range = $.trim(this_row.find('input[name=to_range]').val());
        var ratio = $.trim(this_row.find('input[name=ratio]').val());

        if($("#start_row"+current_num).length < 1){
            if(from_range != ""||to_range != "" || ratio != ""){
                if(from_range == ""||to_range == "" || ratio == ""){
                    $("#site_tariff_notification"+current_num).text("Enter a valid range and ratio first.");
                    $(this_row).addClass("invalid_row");
                }
                else{
                    $(this_row).removeClass("invalid_row");
                    add_tariff_row(input_from_range, input_to_range, input_ratio);
                }
            }
            else{
                $(this_row).removeClass("invalid_row");
                add_tariff_row("0", "0", "0");
            }
        }
        else{
            if(from_range == ""||to_range == "" || ratio == ""){
                $("#site_tariff_notification"+current_num).text("Enter a valid range and ratio first.");
                $(this_row).addClass("invalid_row");
            }
            else if(parseFloat(to_range) < parseFloat(from_range)){
                $("#site_tariff_notification"+current_num).text(to_range + " is less than "+from_range);
                $(this_row).addClass("invalid_row");
            }
            else{
                $(this_row).removeClass("invalid_row");
                add_tariff_row(input_from_range, input_to_range, input_ratio);
            }
        }
            
    }
    function add_tariff_row(input_from_range, input_to_range, input_ratio){
        if(input_from_range != "" || input_to_range != "" || input_ratio != ""){
                var new_row = $("<tr><td><input type='text' name='from_range' value='"+input_from_range+"'> to <input type='text' name='to_range' value='"+input_to_range+"'></td><td><input type='text' name='ratio' value='"+input_ratio+"'> account credits / {{site.currency}} <button class='tip btn btn-success add remove-tariff-range' title='remove this tariff range'> - </button></td></tr>");
                $("#site_tariff_table"+current_num+" tr:last").before(new_row);
            }
            else{
            
                var next_from_range = parseFloat(input_to_range) + 1;
                //up the value of the above range
                $("#above_range_text"+current_num).val(next_from_range);
                var new_row = $("<tr><td><input type='text' name='from_range' value='"+next_from_range+"'> to <input type='text' name='to_range'></td><td><input type='text' name='ratio'> account credits / {{site.currency}} <button class='tip btn btn-success add remove-tariff-range' title='remove this tariff range'> - </button></td></tr>");
                $("#site_tariff_table"+current_num+" tr:last").before(new_row);
            }
    }
    function add_discount_range(input_from_time, input_to_time, input_percentage){
        $("#site_discount_notification"+current_num).text("");
        var this_row = $('#site_discount_table'+ current_num +' tr:last');
        var from_time = $.trim($('#site_discount_table'+ current_num +' tr:last input[name=from_time]').val());
        var to_time = $.trim($('#site_discount_table'+ current_num +' tr:last input[name=to_time]').val());
        var percentage = $.trim($('#site_discount_table'+ current_num +' tr:last input[name=percentage]').val());

        if(from_time == ""||to_time == "" || percentage == ""){
            $("#site_discount_notification"+current_num).text("Enter a valid range and percentage first.");
            $(this_row).addClass("invalid_row");
        }

        else if(toSeconds(to_time) == toSeconds(from_time)){
            $("#site_discount_notification"+current_num).text("From time is the same as Through time");
            $(this_row).addClass("invalid_row");
        }
        else if(toSeconds(to_time) < toSeconds(from_time)){
            $("#site_discount_notification"+current_num).text("From time is greater than Through time");
            $(this_row).addClass("invalid_row");
        }
        
        //check that the time has not been overlapped or assigned
        else{  
            var next_from_time = parseInt(to_time) + 1;

            if(next_from_time < 10){
                next_from_time = prepend_zero(next_from_time);
            } 

            if(next_from_time < 0 || next_from_time > 23){
                next_from_time = 23;
            }

            if(input_from_time != "" || input_to_time != "" || input_percentage != ""){
                //disable times and remove delete button of last row to prevent gaps
                $('#site_discount_table'+ current_num +' tr:last input[name=from_time]').attr("readonly", "readonly");
                $('#site_discount_table'+ current_num +' tr:last input[name=to_time]').attr("readonly", "readonly");
                $('#site_discount_table'+ current_num +' tr:last .remove-discount-range').hide();

                var new_row = $("<tr><td><input type='text' placeholder='from' name='from_time' class='from_time' value='"+input_from_time+"'> through <input type='text' placeholder='to' name='to_time' class='to_time' value='"+input_to_time+"'></td><td><input type='text' name='percentage' value='"+input_percentage+"'> % of normal energy price <button class='tip btn btn-success add remove-discount-range' title='remove this discount range'> - </button></td></tr>");
                $("#site_discount_table"+current_num).append(new_row);
            }
            else{
                var exists = false;
                $('#site_discount_table'+ current_num +' tr').not(':last').each(function(){
                        this_from_time = $(this).find('input[name=from_time]').val();
                        this_to_time = $(this).find('input[name=to_time]').val();
                        if(this_from_time != undefined || this_to_time != undefined){
                            this_from_time_seconds = toSeconds(this_from_time);
                            this_to_time_seconds = toSeconds(this_to_time);
                                
                            if(from_time >=this_from_time && from_time <= this_to_time || to_time >= this_from_time && to_time <= this_to_time){
                                $("#site_discount_notification"+current_num).text("There is a time overlap. Please re-check that your times are within the correct ranges");
                                exists = true;
                                $(this_row).addClass("invalid_row");
                            }
                        }
                });
                if(exists == false){
                    //disable from time and remove delete button of last row to prevent gaps
                    $('#site_discount_table'+ current_num +' tr:last input[name=from_time]').attr("readonly", "readonly");
                    $('#site_discount_table'+ current_num +' tr:last input[name=to_time]').attr("readonly", "readonly");
                    $('#site_discount_table'+ current_num +' tr:last .remove-discount-range').hide();

                    var new_row = $("<tr><td><input type='text' placeholder='from' name='from_time' class='from_time' value='"+next_from_time+"'> through <input type='text' placeholder='to' name='to_time' class='to_time' value=''></td><td><input type='text' name='percentage'> % of normal energy price <button class='tip btn btn-success add remove-discount-range' title='remove this discount range'> - </button></td></tr>");
                    $("#site_discount_table"+current_num).append(new_row);
                    $(this_row).removeClass("invalid_row");
                }
            }
        }
    }
   

});

</script>
