<div class="edit_line_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".edit_line_details").length + 1; 
 
   var edit_line_form = $("<form id='edit_line_form"+current_num+"' class='edit_line_details' method='get' action='/edit/line/{{this_line.id}}/' style='padding-bottom:5px;'>{%csrf_token%}</form>");  

   var heading = $("<span class='close_button'>X</span><h4 align='center'>Edit: {{this_line.name}}</h4>");

   var edit_line_details = $("<p><span  class='notification' id='edit_line_notification"+current_num+"'></span></p>"+
                         "<table>"+
                         "<tr><td colspan='6'>Name: <input type='text' name='name' value='{{ this_line.name }}'></td>"+
      "<td colspan='6'>User: <select name='user'><option value=''> --- </option>{% for user in all_users %}{% if this_line.user == user %}<option value='{{user.id}}' selected>{{user.first_name}} {{user.last_name}}</option>{% else %}<option value='{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>{% endif %}{% endfor %}</select></td></tr>"+
                         "<tr><td colspan='3'>Line Status: <select name='line_status'>"+
                            "{% for status in line_status %}"+
                                "{% if this_line.line_status == status %}"+
                                "<option value='{{status.0}}' selected>{{status.1}}</option>"+
                                "{% else %}"+
                                "<option value='{{status.0}}'>{{status.1}}</option>"+
                                "{% endif %}"+
                            "{% endfor %}"+
                        "</select></td>"+
                        "<td colspan='3'>Pulse Ratio: <input type='text' name='pulse_ratio' value='{% if this_line.pulse_ratio != None%}{{ this_line.pulse_ratio }}{% endif %}'></td>"+
                        "<td colspan='3'>Utility Type: <select name='utility_type'>{% for utility in utilities %}{% if this_line.utility_type == utility %}<option value='{{utility.id}}' selected>{{utility.name}}</option>{% else %}<option value='{{utility.id}}'>{{utility.name}}</option>{% endif %}{% endfor %}</select></td>"+
    "<td colspan='3'>Is Connected?  <input type='checkbox' name='is_connected' value='is_connected' {% if this_line.is_connected %} checked {% endif %}' class='tip' title='Check if line is connected to a metered utility'></td></tr>"+
                        "</table>"
   );
   
   var edit_line_btn = $("<button id='btn_edit_line"+current_num+"'>Edit</button>"); 

   var edit_line_div = $('.edit_line_div'); 

   edit_line_form.append(heading);
   edit_line_form.append(edit_line_details);
   edit_line_form.append(edit_line_btn);   

   edit_line_div.parent().html(edit_line_form); 
  
   $('#btn_edit_line'+current_num).click(function(){ 
       $("#edit_line_notification"+current_num).text("");
       var form_id = 'edit_line_form'+current_num; 

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                    $('#btn_edit_line'+current_num).html("Editing <img src='/static/custom/img/loading.gif'>");
               },
               success: function (data) {                   
                   $("#edit_line_notification"+current_num).text(data);
                   $('#btn_edit_line'+current_num).html("Edit");
               },
               error: function(data) {                      
               }
           });
           return false;                                   
       }); 
   });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   

});
</script>
