<div class="edit_user_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".edit_user_details").length + 1; 
 
   var edit_user_form = $("<form id='edit_user_form"+current_num+"' class='edit_user_details' method='get' action='/edit/user/{{this_user.id}}/' style='padding-bottom:5px;'>{%csrf_token%}</form>");  

   var heading = $("<span class='close_button'>X</span><h4 align='center'>Edit: {% if not utility_management %}{{ first_name }}{% endif %} {{ last_name }}</h4>");


   var edit_user_details = $("<p><span  class='notification' id='edit_user_notification"+current_num+"'></span></p>"+
                         "<table>"+
                         "<tr><td>Telephone: <input type='text' name='telephone' id='telephone"+current_num+"' value='{{ telephone }}'></td>"+
                         "{% if not utility_management %}"+                         
                         "<td>First Name: <input type='text' name='first_name' id='first_name"+current_num+"' value='{{ first_name }}'></td>"+                         
                         "{% else %}"+
                         "<td>Utility Type:"+
                         "<select name='first_name' id='first_name"+current_num+"'>"+
                         "{% for utility in utilities %}"+
                         "{% if first_name == utility.name %}"+
                         "<option value='{{utility.name}}' selected>{{utility.name}}</option>"+                            
                         "{% else %}"+
                         "<option value='{{utility.name}}'>{{utility.name}}</option>"+                            
                         "{% endif %}"+
                         "{% endfor %}"+                         
                         "</select>"+                                               
                         "{% endif %}"+                         
                         "<td>{% if utility_management %}Name:{% else %}Last Name:{% endif %} <input type='text' name='last_name' id='last_name"+current_num+"' value='{{ last_name }}'></td></tr>"+
                         "</td></tr>"+ 
                         "<tr><td>Language: <select name='language'>"+
                            "{% if language == 'ENG' %}"+
                            "<option value='ENG'>English</option>"+
                            "<option value='SWA'>Swahili</option>"+
                            "{% elif language == 'SWA' %}"+
                            "<option value='SWA'>Swahili</option>"+
                            "<option value='ENG'>English</option>"+
                            "{% endif %}"+
                        "</select></td>"+
                        "<td>Account Balance: <input type='text' name='account_balance' value='{{ account_balance }}' ></td>"+
                        "<td>User Type:"+
                        "{% if utility_management %}"+
                        "<input type='hidden' name='user_type' value='BUS'>"+
                        "{% else %}"+
                        "<select name='user_type'>"+  
                            "{% if this_user.user_type == 'RES' %}"+
                            "<option value='RES'>Residence</option>"+
                            "<option value='BUS'>Business</option>"+
                            "{% else %}"+
                            "<option value='BUS'>Business</option>"+	
                            "<option value='RES'>Residence</option>"+
                            "{% endif %}"+
                        "</select>"+
                        "{% endif %}</td></tr>"+
                        "<tr><td>Low Balance Warning: <input type='text' name='low_balance_warning' value='{{ low_balance_warning }}' class='tip' title='This amount notifies the user that the account balance is low and needs to be topped up'></td>"+
                        "<td>Energy Price: <input type='text' name='energy_price' value='{{ energy_price }}' class='tip' title='The amount taken from the account balance per kWh of energy use'></td>"+                                               
                        "<td>Site Manager: <select name='site_manager'>"+
                           "{% if site_manager %}"+
                           "<option value='{{ site_manager_phone }}' selected='selected'>{{ site_manager }}</option>"+
                           "<option value='none'>----</option>"+
                           "{% else %}"+
                           "<option value='none' selected='selected'>----</option>"+
                           "{% endif %}"+
                           "{% for this_user in all_users %}"+
                           "<option value='{{ this_user.telephone  }}'>{{ this_user.first_name }} {{ this_user.last_name }}: {{ this_user.telephone }}</option>"+
                           "{% endfor %}"+
                        "</select></td></tr>"+                          
                        "<tr><td>bitHarvester: <select name='bit_harvester'>"+
                           "{% if harvester_id %}"+
                           "<option value='{{ harvester_phone }}' selected='selected'> {{ harvester_id }}: {{ harvester_phone }}</option>"+
                           "<option value='none'>----</option>"+
                           "{% else %}"+
                           "<option value='none' selected='selected'>----</option>"+
                           "{% endif %}"+
                           "{% for BH in bit_harvesters %}"+
                           "<option value='{{ BH.telephone  }}'>{{ BH.harvester_id }}: {{ BH.telephone }}</option>"+
                           "{% endfor %}"+
                           "</select></td>"+
                           "<td>Line Number: <input type='text' name='line_number' value='{{ line_number }}' class='tip' title='Line number(s) assigned to user/utility separated by commas e.g. 1,2,3'></td>"+
                           "<td>Line Control: <select name='control_type'>"+
                            "{% if this_user.control_type == 'AUTO' %}"+
                            "<option value='AUTOC'>Automatic (Cloud)</option>"+
                            "{% if bh_version == 'V4' %}"+
                            "<option value='AUTOL' selected>Automatic (Local)</option>"+
                            "{% endif %}"+
                            "{% else %}"+
                            "<option value='AUTOC' selected>Automatic (Cloud)</option>"+
                            "{% if bh_version == 'V4' %}"+
                            "<option value='AUTOL'>Automatic (Local)</option>"+
                            "{% endif %}"+
                            "{% endif %}"+
                            "</select></td></tr>"+
                           "<tr><td>Payment Plan: <select name='payment_plan' id='payment_plan"+current_num+"' class='tip' title='If you’re unsure of how to set the threshold, check the Help Center'>"+
                           "{% for plan in payment_plans %}"+
                               "{% if plan.1 == payment_plan_name %}"+
                                   "{% if plan.1 == 'Commercial User'%}"+
                                   "<option value='{{plan.1}}' selected>Tariff Override</option>"+
                                   "{% elif plan.1 == 'High Energy User'%}"+
      "<option value='{{plan.1}}' selected>Minimum Top Up</option>"+
      "{% elif plan.1 == 'PowerGen Default'%}"+
      "<option value='{{plan.1}}' selected>Pre-Connection Fee</option>"+
                                   "{% else %}"+
      "<option value='{{plan.1}}' selected>{{plan.1}}</option>"+
      
                                   "{% endif %}"+
                               "{% else %}"+
                                   "{% if plan.1 == 'Commercial User'%}"+
                                   "<option value='{{plan.1}}'>Tariff Override</option>"+
                                   "{% elif plan.1 == 'High Energy User'%}"+
      "<option value='{{plan.1}}'>Minimum Top Up</option>"+
      "{% elif plan.1 == 'PowerGen Default'%}"+
      "<option value='{{plan.1}}'>Pre-Connection Fee</option>"+
      "{% else %}"+
                                   "<option value='{{plan.1}}'>{{plan.1}}</option>"+
                                   "{% endif %}"+
                               "{% endif %}"+                           
      "{% endfor %}"+
      "</select></td>"+
  "<td><span id='payment_plan_amount_cell"+current_num+"'>Payment Plan Threshold: <input type='text' name='payment_plan_amount' id='payment_plan_amount"+current_num+"' value='{% if threshold %}{{ threshold }}{% endif %}'></span></td>"+
  "<td><span id='subscription_plan_days_cell"+current_num+"'>Payment Term (Days): <input type='text' name='payment_plan_days' id='payment_plan_days"+current_num+"' class='tip' title='Subscription Plan only - number of days in a payment cycle' value='{% if days %}{{ days }}{% endif %}'></span></td></tr>"+
  "<tr><td><span id='subscription_plan_fee_cell"+current_num+"'>Plan Fee: <input type='text' name='payment_plan_fee' id='payment_plan_fee"+current_num+"' class='tip' title='Subscription Plan only - cost in account credit of a payment cycle' value='{% if fee %}{{ fee }}{% endif %}'></span></td></tr>"+
                        "</table>"
   );
   
   var edit_user_btn = $("{% if is_cro %}<button disabled>Edit User</button>{% else %}<button id='btn_edit_user"+current_num+"'>Edit</button>{% endif %}"); 

   var edit_user_div = $('.edit_user_div'); 

   edit_user_form.append(heading);
   edit_user_form.append(edit_user_details);
   edit_user_form.append(edit_user_btn);   

   edit_user_div.parent().html(edit_user_form);    


   $( ".tip" ).tooltip({
       show: {
           effect: "slideDown",
           delay: 250,
       }
});

//$("#payment_plan_amount_cell"+current_num).hide();
//$("#subscription_plan_days_cell"+current_num).hide();
//$("#subscription_plan_fee_cell"+current_num).hide();

   $("#payment_plan"+current_num).change(function(){
        var selected_payment_plan = $("#payment_plan"+current_num).val();
        if(selected_payment_plan == "Default Settings" || selected_payment_plan == "Commercial User"){            
$("#payment_plan_amount"+current_num).val("");
$("#subscription_plan_days_cell"+current_num).val("");
$("#subscription_plan_fee_cell"+current_num).val("");
$("#payment_plan_amount_cell"+current_num).hide();
$("#subscription_plan_days_cell"+current_num).hide();
$("#subscription_plan_fee_cell"+current_num).hide();
}
else if(selected_payment_plan == "Subscription Plan"){
$("#subscription_plan_days_cell"+current_num).show();
$("#subscription_plan_fee_cell"+current_num).show();
$("#payment_plan_amount_cell"+current_num).show();
}
else{
$("#payment_plan_amount_cell"+current_num).show();
$("#subscription_plan_days_cell"+current_num).val("");
$("#subscription_plan_fee_cell"+current_num).val("");
$("#subscription_plan_days_cell"+current_num).hide();
$("#subscription_plan_fee_cell"+current_num).hide();
        }
});
  
   $('#btn_edit_user'+current_num).click(function(){ 
       $("#edit_user_notification"+current_num).text("");
       var form_id = 'edit_user_form'+current_num; 

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                    $('#btn_edit_user'+current_num).html("Editing <img src='/static/custom/img/loading.gif'>");
               },
               success: function (data) {                   
                   $("#edit_user_notification"+current_num).text(data);
                   $('#btn_edit_user'+current_num).html("Edit");
               },
               error: function(data) {                      
               }
           });
           return false;                                   
       }); 
   });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   

});
</script>
