<div class="edit_bh_div"></div>
<script>
    var current_num = $(".edit_bh_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Edit: {{bh.harvester_id}}</h4>");
    var edit_bh_form = $("<div id='edit_bh_form"+current_num+"' class='edit_bh_details'></div>");    

    var edit_bh_details = $("<p><span class='notification' id='edit_bh_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr>"+
                                  "<td>Name:<input type='text' id='edit_bh_name"+current_num+"' name='bh_name' value='{{bh.harvester_id}}'></td>"+
                                  "<td>Phone Number: <input type='text' id='edit_bh_telephone"+current_num+"' name='bh_telephone' value='{{bh.telephone}}'></td>"+
                                  "<td>Alt. Phone Number: <input type='text' id='edit_bh_send_telephone"+current_num+"' name='send_telephone' value='{{bh.send_telephone}}' class='tip' title='If this bitHarvester uses two different numbers, enter the second number here. Otherwise, leave this field blank'></td>"+
                                  "</tr>"+
                                  "<tr>"+
      {% if request.user.is_staff %}
                                  "<td>Serial Number : <input type='text' id='edit_bh_serial_number"+current_num+"' name='serial_number' value='{{bh.serial_number}}'></td>"+
                                  "<td>Input Gateway:<select id='edit_bh_input_gateway"+current_num+"' name='input_gateway'><option value='' selected>None</option>{% for g in gateway %}{% if bh.input_gateway == g %}<option value='{{ g.id }}' selected>{{ g.name }} {{ g.telephone }}</option>{% else %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endif %}{% endfor %}</select></td>"+
                                  "</tr>"+
                                  "<tr>"+
                                  "<td>Output Gateway : <select id='edit_bh_output_gateway"+current_num+"' name='output_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "<td>Backup Input Gateway : <select id='edit_bh_backup_input_gateway"+current_num+"' name='backup_input_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "<td>Backup Output Gateway:<select id='edit_bh_backup_output_gateway"+current_num+"' name='backup_output_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "</tr>"+
    {% endif %}
                                  "<tr>"+
                                  "<td>Version : <select id='edit_bh_version"+current_num+"' name='version'>{% for bit_harvester in bh_versions %} {% if bh.version == bit_harvester.0 %}<option value='{{bit_harvester.0}}' selected> {{ bit_harvester.1 }} </option>{% else %}<option value='{{bit_harvester.0}}'> {{ bit_harvester.1 }} </option>{% endif %}{% endfor %}</select></td>"+
                                  "<td>Logging Hours : <input type='text' id='edit_bh_logging_hours"+current_num+"' value='{{bh.logging_hours}}' name='logging_hours' class='tip' title='How often you expect a bitHarvester log, e.g. if the bitHarvester logs every hour, this field should read: 1'></td>"+
                                  "<td></td>"+
                                  "</tr>"+
                                  "</table>"
    );
    var edit_bh_btn = $("<p style='margin-bottom:20px;'>{% if is_cro%}<button disabled>Edit</button>{% else %}<button id='btn_edit_bh"+current_num+"'>Edit</button>{% endif %}</p>"); 
    var edit_bh_div = $('.edit_bh_div');

    edit_bh_form.append(heading);
    edit_bh_form.append(edit_bh_details);
    edit_bh_form.append(edit_bh_btn);

    edit_bh_div.parent().html(edit_bh_form);   

    $('#btn_edit_bh'+current_num).click(function(){ 
       $("#edit_bh_notification"+current_num).text("");

       var bh_name = $("#edit_bh_name"+current_num).val();
       var bh_telephone = $.trim($("#edit_bh_telephone"+current_num).val());
       var bh_serial_number = $.trim($("#edit_bh_serial_number"+current_num).val());
       var send_telephone = $("#edit_bh_send_telephone"+current_num).val();
       var serial_number = $("#edit_bh_serial_number"+current_num).val();
       var input_gateway = $("#edit_bh_input_gateway"+current_num).val();
       var output_gateway = $("#edit_bh_output_gateway"+current_num).val();
       var backup_input_gateway = $("#edit_bh_backup_input_gateway"+current_num).val();
       var backup_output_gateway = $("#edit_bh_backup_output_gateway"+current_num).val();
       var version = $("#edit_bh_version"+current_num).val();
       var logging_hours = $("#edit_bh_logging_hours"+current_num).val();

       if(bh_name==""||bh_telephone==""||bh_serial_number=="0.0"||serial_number==""||serial_number==""||version==""||logging_hours==""){
           $("#edit_bh_notification"+current_num).text("All fields are required.");
       }
       else{           
           $.ajax({
               url:'/edit/bh/{{bh.id}}/',
               type:'POST',
               data:{
                   'name':bh_name,
                   'telephone':bh_telephone,
                   'serial_number':serial_number,
                   'send_telephone':send_telephone,
                   'input_gateway':input_gateway,
                   'output_gateway':output_gateway,
                   'backup_gateway_in':backup_input_gateway,
                   'backup_gateway_out':backup_output_gateway,
                   'version':version,
                   'logging_hours':logging_hours,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend: function(){   
                   $("#btn_edit_bh"+current_num).html("Editing <img src='/static/custom/img/loading.gif'>");
               },
               success:function(response){
                   $("#edit_bh_notification"+current_num).text(response);
                   $("#btn_edit_bh"+current_num).html("Edit");
               }
           });
        }
    });


    $( ".tip" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
</script>


