<div class="edit_website_user_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".edit_website_user_details").length + 1; 
 
   var edit_website_user_form = $("<form id='edit_website_user_form"+current_num+"' class='edit_website_user_details' method='post' action='/edit/website_user/{{this_user.id}}/' style='padding-bottom:5px;'>{%csrf_token%}</form>");  

   var heading = $("<span class='close_button'>X</span><h4 align='center'>Edit: {{ this_user.username }}</h4>");


   var edit_website_user_details = $("<p><span class='notification' id='edit_website_user_notification"+current_num+"'></span></p>"+
                                  "<table class='table-two-column'>"+
                                  "<tr><td>Username <input type='text' placeholder='Enter username' name='username' id='edit_website_user_username"+current_num+"' value='{{ this_user.username }}' ></td><td>First name <input type='text' placeholder='Enter first name' name='first_name' id='edit_website_user_first_name"+current_num+"'  value='{{ this_user.first_name }}' ></td></tr>"+
                                  "<tr><td>Last name <input type='text' placeholder='Enter last name' name='last_name' id='edit_website_user_last_name"+current_num+"' value='{{ this_user.last_name }}' ></td><td>Email <input style='width:100%;' type='email' placeholder='Enter email address' name='email' id='edit_website_user_email"+current_num+"' value='{{ this_user.email }}' ></td></tr>"+
                                  "<tr><td>{% if logged_user.is_staff %} Is staff ? {% if this_user.is_staff %}<input type='checkbox' checked name='is_staff' > {% else %}<input type='checkbox' name='is_staff' >{% endif %} {% endif %}</td><td>{% if logged_user.is_superuser %} Is superuser ? {% if this_user.is_superuser %}<input type='checkbox' checked name='is_superuser' > {% else %}<input type='checkbox' name='is_superuser' >{% endif %} {% endif %}</td></tr>"+
                                  "<tr>{% if this_user_profile %}<td>Send emails {% if this_user_profile.send_emails %}<input type='checkbox' name='send_emails' id='send_emails' checked >{% else %}<input type='checkbox' name='send_emails' id='send_emails' >{% endif %}</td>{% endif %}<td>User Type <select name='user_type' id='user_type"+current_num+"'>{% for type in user_types %}{% if type.0 == this_user_profile.user_type %}<option value='{{type.0}}' selected>{{type.1}}</option>{% else %}<option value='{{type.0}}'>{{type.1}}</option>{% endif %}{% endfor %}</select></td><td></td></tr>"+
                                  "<tr>{% if utility_management %}<td colspan='2'>Utilities: <select  name='user_utilities[]' multiple size='5' class='multiselect'>{% for utility in utilities %} {% if utility in assigned_utilities %}<option value='{{utility.id}}' selected>{{utility.name}}</option>{% else %}<option value='{{utility.id}}'>{{utility.name}}</option>{% endif %} {% endfor %}</select></td>{% endif %}</tr>"+
                                  "<tr><td colspan='2'>User Permissions <select  name='user_permissions[]' multiple size='8' class='multiselect'>{% for permission in assigned_permissions %}<option selected='selected' value='{{ permission.id }}' >{{ permission.feature_name }}</option> {% endfor %} {% for permission in unassigned_permissions %}<option value='{{ permission.id }}' >{{ permission.feature_name }}</option> {% endfor %}</select></td></tr>"+
                                  "<tr><td colspan='2'>Sites <select multiple size='8' class='multiselect' name='user_sites[]'> {% for site in assigned_sites %}<option  selected='selected' value='{{ site.id }}' > {{ site.name }} </option> {% endfor %} {% for site in unassigned_sites %}<option value='{{ site.id }}' > {{ site.name }} </option> {% endfor %} </select></td></tr>"+                           
                                  "</table>"
   );
   
   var edit_website_user_btn = $("<button id='btn_edit_website_user"+current_num+"'>Edit Website User</button>"); 

   var edit_website_user_div = $('.edit_website_user_div'); 

   edit_website_user_form.append(heading);
   edit_website_user_form.append(edit_website_user_details);
   edit_website_user_form.append(edit_website_user_btn);   

   edit_website_user_div.parent().html(edit_website_user_form);
   $('.multiselect').multiselect(); 
  
   $('#btn_edit_website_user'+current_num).click(function(event){ 
       $('#edit_website_user_notification'+current_num).text("");

       var username = $("#edit_website_user_username"+current_num).val();
       var email = $("#edit_website_user_email"+current_num).val();
       var firstname = $("#edit_website_user_first_name"+current_num).val();
       var lastname = $("#edit_website_user_last_name"+current_num).val();

       if($.trim(username) == "" || $.trim(email) == ""){
           event.preventDefault();
           $('#edit_website_user_notification'+current_num).text("Fill in the username and email fields.");
       }
       else if(!validateEmail(email)){
           event.preventDefault();
           $('#edit_website_user_notification'+current_num).text("Enter a valid email address.");
       }
       else if($.trim(firstname)!=""&& $.trim(firstname).length <3 ||$.trim(lastname)!=""&& $.trim(lastname).length <3){
           event.preventDefault();
           $('#edit_website_user_notification'+current_num).text("User first name and last name should be more than 3 characters.");
       }
       else{
           var form_id = 'edit_website_user_form'+current_num; 

           $('#'+form_id).unbind('submit').submit(function(){           
               $.ajax({
                   type:$('#'+form_id).attr('method'),
                   url: $('#'+form_id).attr('action'),
                   data: $('#'+form_id).serialize(),
                   beforeSend:function()
                   {
                    $('#btn_edit_website_user'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
                   },
                   complete:function(){
                    $('#btn_edit_website_user'+current_num).html('Edit Website User');
                   },
                   success: function (data) {
                       $("#edit_website_user_notification"+current_num).text("");
                       $("#edit_website_user_notification"+current_num).text(data);
                   },
                   error: function(data) {                      
                   }
               });
               return false;                                   
           });
       }
   });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   

});
</script>
