<div class="energy_chart"></div>
<script type="text/javascript">
   $(document).ready(function(){      
       var current_num = $(".energy_chart_div").length + 1;
       var heading = $("<span class='close_button'>X</span><h4 align='center' id='energy_bilevel_title"+current_num+"'>Utility Use</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
       var notification = $("<span class='notification' id='energy_bilevel_notification"+current_num+"'></span>");
       var bilevel_buttons = $("<table class='energy-bilevel' width='100%' align='center'><tr><td colspan='2' class='"+current_num+"'><b>Select New Date Range:</b><a id='energy_this_month"+current_num+"'> THIS MONTH</a> <span>| <a id='energy_week"+current_num+"'>THIS WEEK </a></span> | <input type='text' name='' id='energy_from_date"+current_num+"' placeholder='From'> <input type='text' name='' id='energy_to_date"+current_num+"' placeholder='To'> <select id='utility_type"+current_num+"'>{% for utility in utilities %}<option value='{{utility.name}}'>{{utility.name}}</option>{% endfor %}</select></td></tr><tr><td id='energy_fault_error"+current_num+"' colspan='2' align='center'><a href=''><strong class='notification'>Errors found</strong></a><span style='display:none;' id='energy_fault_error_span"+current_num+"'></span></td></tr><tr id='energy_loading"+current_num+"'><td  colspan='2' align='center'>Crunching data. Please wait <img src='/static/custom/img/loading.gif'></td></tr></table>");   

       var energy_chart_div = $("<div class='energy_chart_div' id='energy_chart_div"+current_num+"'></div>");  

       var bilevel_chart_div = $("<div id='energy_bilevel_chart_div"+current_num+"'></div>");
       var energy_chart = $('.energy_chart');
       
       energy_chart_div.append(heading); 
       energy_chart_div.append(notification);
       energy_chart_div.append(bilevel_buttons);
       energy_chart_div.append(bilevel_chart_div);

       energy_chart.parent().html(energy_chart_div);

       $('.close_button').click(function(){
           var div_id=$(this).parent().attr('id');
           $('#'+div_id).parent().parent().hide('slow');
       }); 

       // Hide faulty Errors
       $("#energy_fault_error"+current_num).hide();
       
       // $("#energy_to_date"+current_num).datepicker();
       $("#energy_to_date"+current_num).datepicker({ maxDate: "-1D" });
       $("#energy_from_date"+current_num).datepicker({ maxDate: "-1D" });
       // $("#energy_from_date"+current_num).datepicker();
       $("#energy_from_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");            
       $("#energy_to_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");

       $('.close_button').click(function(){
           var div_id=$(this).parent().attr('id');
           $('#'+div_id).parent().parent().hide('slow');
       }); 
       var date = new Date();       
       var today = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-"+(date.getDate()-1).toString());
       var seventh_date = removedays(date, 6);
       var seventh_day = simpledate(seventh_date.getFullYear()+"-"+(seventh_date.getMonth()+1).toString()+"-"+seventh_date.getDate().toString()); 

       sevenDaysData(date,today,seventh_date,seventh_day);
       function sevenDaysData(date,today,seventh_date,seventh_day)
       {       
        var utility_type = $("#utility_type"+current_num).val();  // trip colon in urls
        $('#energy_bilevel_title'+current_num).html(utility_type + " Use Breakdown<p><span class='small_text'>From: "+seventh_day+" To: "+today+"</span><br><span class='energy_graph_total"+current_num+"'></span></p>");
        showchart('/energy_usage_graph/'+utility_type+"/","#energy_bilevel_chart_div"+current_num,"","",current_num);               
       }


       $('#energy_to_date'+current_num).datepicker("option", "onClose", function(){            
           $('#energy_bilevel_notification'+current_num).text("");
           $('#energy_bilevel_title'+current_num).text("Utility Use Breakdown");
           if($(this).val()!="" && $('#energy_from_date'+current_num).val()==""){
             $(this).val("");
             $('#energy_bilevel_notification'+current_num).text("Please select a start date first");
         }
          else if($(this).val()==""|| $("#energy_from_date").val()==""){
               $('#energy_bilevel_notification'+current_num).text("Enter valid dates.");
           }
          else{   
            var from_date = $('#energy_from_date'+current_num).val();
            var to_date = $('#energy_to_date'+current_num).val();

            // Check energy range
            var days = ((new Date(to_date))-(new Date(from_date)))/(1000*60*60*24);
            $('#energy_bilevel_notification'+current_num).html('');
            if(days>window.MAX_SITES)
            {
              $('#energy_bilevel_notification'+current_num).html("<div class='notification-warning'>Selected number of days is greater than "+MAX_SITES+" days which is the maximum recommended for this graph</div>");
              $('#energy_bilevel_notification'+current_num).effect( "bounce", "slow" );
              return false;
            }


            $('#energy_bilevel_notification'+current_num).text("");  

            // Show loading
            $('#energy_loading'+current_num).show();
            $("#energy_fault_error"+current_num).hide();

            var utility_type = $("#utility_type"+current_num).val().replace(":",""); 
            $('#energy_bilevel_title'+current_num).html(utility_type + " Use Breakdown<p><span class='small_text'>From: "+simpledate(from_date)+" To: "+simpledate(to_date)+"</span><br><span class='energy_graph_total"+current_num+"'></span></p>");            
            showchart('/energy_usage_graph/dates/'+from_date+'/'+to_date+'/'+utility_type+'/',"#energy_bilevel_chart_div"+current_num,"","",current_num);            
                        

            $('#energy_from_date'+current_num).val("");
            $('#energy_to_date'+current_num).val("");
         }
       });        
   
       $('#energy_this_month'+current_num).click(function(){
          $('#energy_bilevel_title'+current_num).text("Utility Use Breakdown");
          var date = new Date();
          var today = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-"+(date.getDate()-1).toString());
          var first_day = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-01");

          // Show loading
          $('#energy_loading'+current_num).show();
          $("#energy_fault_error"+current_num).hide();
   
          var utility_type = $("#utility_type"+current_num).val().replace(":","");         
          $('#energy_bilevel_title'+current_num).html(utility_type +" Use Breakdown<p><span class='small_text'>From: "+first_day+" To: "+today+"</span><br><span class='energy_graph_total"+current_num+"'></span></p>");
          showchart('/energy_usage_graph/month/'+utility_type+"/","#energy_bilevel_chart_div"+current_num,"","",current_num);           
       });
      
      $('#energy_week'+current_num).click(function(){
        $('#energy_loading'+current_num).show();
        sevenDaysData(date,today,seventh_date,seventh_day);
       }); 

       $('#energy_today'+current_num).click(function(){  

           // Show loading
          $('#energy_loading'+current_num).show();
          $("#energy_fault_error"+current_num).hide();

           "{% if utility_management %}" 
           var utility_type = $("#utility_type"+current_num).val().replace(":",""); 
           $('#energy_bilevel_title'+current_num).html(utility_type + " Use Breakdown<p><span class='small_text'>Today</span><br><span class='energy_graph_total"+current_num+"'></span></p>");
           showchart('/energy_usage_graph/today/'+utility_type+'/',"#energy_bilevel_chart_div"+current_num,"","",current_num);      
           "{% else %}"
           $('#energy_bilevel_title'+current_num).html(utility_type + "Use Breakdown<p><span class='small_text'>Today</span><br><span class='energy_graph_total"+current_num+"'></span></p>");
           showchart('/energy_usage_graph/today/',"#energy_bilevel_chart_div"+current_num,"","",current_num);      

           "{% endif %}"
       }); 

       // Click show Errors
      $('#energy_fault_error'+current_num).click(function(){  
        create_card_from_client($('#energy_fault_error_span'+current_num).html());
        return false;
      });  

       //on change of utility use, load the last 7 days of that utility
       $("#utility_type"+current_num).change(function(){
           $('#energy_loading'+current_num).show();
           utility_type = $("#utility_type"+current_num).val(); 
           $('#energy_bilevel_title'+current_num).html(utility_type + " Use Breakdown<p><span class='small_text'>From: "+seventh_day+" To: "+today+"</span><br><span class='energy_graph_total"+current_num+"'></span></p>");
           showchart('/energy_usage_graph/'+utility_type+"/","#energy_bilevel_chart_div"+current_num,"","",current_num); 
       });
   });
</script>
