{% if not has_featured_video %}
<style type="text/css">
.faqs_content_section{height: 85%;}
</style>
{% endif %}
<div class='faqs_page'>
    <div class='faqs_header_section'>
        <div class='faqs_title'><span>Steama Support</span>
        <p><span>Read our frequently asked questions for fast answers</p>
        </div>
        <div class="faqs_search_bar">
            <span class="btnSearch ui-state-default" title="search"><span class="ui-icon ui-icon-search" id='btn_search_faq'></span></span>
            <input type="text" placeholder="Search FAQ's" id="search_input">
        </div>         
    </div>
    <div class='separator'></div>

    <div class='faqs_content_section'>
      <div class="switcher_left">
        <div id="faqs_categories"> 
          <span class="cat_title">Help & FAQs</span>
          <hr>
          {% for category in faqs_categories %} 
          <p><a class="faq_category" id="faq_category_{{ forloop.counter0 }}" category_id="{{category.id}}" category_name="{{category.name}}">{{category.name}}</a></p>
	  
          {% endfor %}
          {% if has_featured_video %}
          <p><a class="faq_category" id="faq_category_learn_video" category_id="learn_vdeo" category_name="learn_video">Learn Through Videos</a></p> 
          {% endif %}               
        </div>
        </div>
        <div class="switcher_right">
            <div class="faqs_section">           
                <div class="faqs_header"></div>
                <div class="faqs_holder"></div>
            </div>
            <div class="support_form" width="400px">
                <h2>Contact Support</h2>
                    <p><span class="notification" id="email_notification"></span></p>
                    <p>Message Subject:</p>
                    <p>
                        <select id="email_subject">
                            <option value="Feature Request">Feature Request</option>
                            <option value="Bug Report">Bug Report</option>
                            <option value="Other">Other</option>
                        </select>
                    </p> 
                    <p>Message:</p>
                    <p><textarea id="email_message"></textarea></p>
                    <p><input id="send_support_email" type="submit" value="Send"/></p>
            </div>
        </div>
    </div>
                {% if has_featured_video %}
                <div class="down-strip">
                    <div class="display-video">
                        <ul>
                            {% for video in featured_video %}
                            <li><div class="js-lazyYT" data-youtube-id="{{ video.content }}" data-ratio="16:9"></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>        
                <div class="close-me"><i class="fa fa-times-circle-o fa-6"></i></div>
                </div>
                {% endif %}
</div>

<script>
$(document).ready(function(){
    $('.js-lazyYT').lazyYT();     
$(".support_form").hide();
    $(".faqs_section").hide();

    $('.js-lazyYT').lazyYT();

    // Load videos
    // var video = '<div class="js-lazyYT" data-youtube-id="_oEA18Y8gM0" data-ratio="16:9"></div>';
    // $('.display-video').html(video);

    // Hide video show
    $(".down-strip .close-me").click(function(){ 
            $('.faqs_content_section').css('height','85%');
           $('.down-strip').css('height','0%');
$('.down-strip').fadeOut(200);
      
    });

    $(".faq_category").click(function(){        
        //remove styling from others add to currently clicked
        $(".faq_category.active").removeClass("active");
        $(this).addClass('active');

        $(".faqs_section").show();
$(".support_form").hide();
var category_id = $(this).attr('category_id');
        var category_name = $(this).attr('category_name');        
        
        if(category_name=='learn_video')
        {
            // # show video lazy load
            $('.faqs_content_section').css('height','64%');
            $('.down-strip').css('height','20%');
            $('.down-strip').fadeIn(200);

            // Load videos into this
        }
        else
        {
                $.ajax({
                    url:'/faqs/category/',
                    type:'POST',
                    dataType:'json',
                    data:{
                        'category_id':category_id,
                        'csrfmiddlewaretoken':'{{csrf_token}}'
                    },
                    beforeSend:function(){ 
                        $(".faqs_holder").html("<h3 align='center'>Searching... <img src='/static/custom/img/loading.gif'></h3>");
                    },
                    success:function(response){
                        $(".faqs_header").html(category_name);
                        $(".faqs_header").show();
                        var faq = "";
                        if(response.length <= 0){
                            $(".faqs_holder").html("<h3 align='center'>No items in this category.</h3>");
                        }
                        else{
                            for(i=0;i<response.length;i++){ 
                                if(response[i]['fields']['has_multimedia'])
                                {
                                    faq +=  "<div class='accordion'><h3 class='main_faq' id='"+i+"'>"+response[i]['fields']['question']+"</h3><div><nav id='content"+response[i]['pk']+"' class='content-class'>"+response[i]['fields']['answer']+"</nav><nav id='multimedia"+response[i]['pk']+"' class='content-multimedia'><img src='http://www.fs.usda.gov/ccrc/sites/all/themes/ccrc_boron_zen/images/videos-overlay.png'><p>loading ...</p> </nav></div></div></div>";

                                    getMultimedia(response[i]['pk'],response[i]['fields']['multimedia']);
                                }
                                else
                                {
                                    faq +=  "<div class='accordion'><h3 class='main_faq' id='"+i+"'>"+response[i]['fields']['question']+"</h3>"+response[i]['fields']['answer']+"</div></div>";
                                }
                            }
                            $(".faqs_holder").html(faq);                
                            $(".accordion").accordion({
                                collapsible:true,
                                active:false,
                                heightStyle:"content"
                            });
                            $(".accordion").accordion("refresh");
                        }
                    }
                }); 
    }

    });  

    // search by enter key
    $('#search_input').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#btn_search_faq').click();//Trigger search button click event
        }
					});

					
    $("#btn_search_faq").click(function(){        
        var search_input = $("#search_input").val();
        if($.trim(search_input)!=""){
            $.ajax({
                url:'/faqs/search/',
                type:'POST',
                dataType:'json',
                data:{
                    'q':search_input,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend: function(){
                    $(".faqs_holder").html("<h3 align='center'>Searching... <img src='/static/custom/img/loading.gif'></h3>");
                },
                success: function(response){
                    $(".faqs_header").html("Search Results");
                    $(".faqs_header").show();
                    var faq = "";
                    if(response.length <= 0){
                        $(".faqs_holder").html("<h3 align='center'>Nothing in search results.</h3>");
                    }
                    else{
                        for(i=0;i<response.length;i++){   
                            // faq +=  "<div class='accordion'><h3 class='search_faq'>"+response[i]['fields']['question']+"</h3>"+response[i]['fields']['answer']+"</div></div>";
                            if(response[i]['fields']['has_multimedia'])
                            {
                                faq +=  "<div class='accordion'><h3 class='main_faq' id='"+i+"'>"+response[i]['fields']['question']+"</h3><div><nav id='content"+response[i]['pk']+"' class='content-class'>"+response[i]['fields']['answer']+"</nav><nav id='multimedia"+response[i]['pk']+"' class='content-multimedia'><img src='http://www.fs.usda.gov/ccrc/sites/all/themes/ccrc_boron_zen/images/videos-overlay.png'><p>loading ...</p> </nav></div></div></div>";

                                getMultimedia(response[i]['pk'],response[i]['fields']['multimedia']);
                            }
                            else
                            {
                                faq +=  "<div class='accordion'><h3 class='main_faq' id='"+i+"'>"+response[i]['fields']['question']+"</h3>"+response[i]['fields']['answer']+"</div></div>";
                            }

                        }
                        $(".faqs_holder").html(faq);                
                        $(".accordion").accordion({
                            collapsible:true,
                            active:false,
                            heightStyle:"content"
                        });
                        $(".accordion").accordion("refresh");
                    }
                }
            });
        }
    });


    $("#send_support_email").click(function(){
        $("#email_notification").text("");
        var subject = $("#email_subject").val();
        var message = $("#email_message").val();
        if ($.trim(message)==""){
            $("#email_notification").text("Enter a message first.");
        }
        else{
            $.ajax({
                url:'/email/support/',
                type:'POST',
                data:{
                    'subject':subject,
                    'message':message,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend:function(){
                    $("#send_support_email").val("Sending...");
                },
                success:function(response){
                    if(response=="sent"){
                        $("#email_message").html("");
                        $("#email_notification").text("Email sent successfully. We will get back to you as soon as possible.");
                    }
                    else{
                        $("#email_notification").text("Oops! There was an error trying to send your email. Please try again.");
                    }
                    $("#send_support_email").val("Send");
                }
            });
        }
    });  

    // Fetch multimedia for the FAQ
    function getMultimedia(faq_id,multimedia_id)
    {
        $.ajax({
                url:'/faqs/multimedia/',
                type:'POST',
                dataType:'json',
                data:{
                    'multimedia_id':multimedia_id,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend:function(){
                },
                success:function(response){
                    if(response[0]['fields']['multimedia_type']=='youtube')
                    {
                        // $('#multimedia'+faq_id).html(response[0]['fields']['content']);
                        $('#multimedia'+faq_id).html('<iframe width="420" height="315" src="https://www.youtube.com/embed/'+response[0]['fields']['content']+'" frameborder="0" allowfullscreen></iframe>');
                        $('#multimedia'+faq_id).attr({title:response[0]['fields']['title']});
                    }
                    else if(response[0]['fields']['multimedia_type']=='pdf')
                    {
                        $('#multimedia'+faq_id).html('<a title="'+response[0]['fields']['title']+'" target="_blank" href="'+response[0]['fields']['content']+'" download><img src="http://www.asef.org/ebooks/annualreport/2011/Images/pdf_download.jpg" /> </a>');
                    }
                    else { /** do nothing **/}
                },
                error:function(a,b,c)
                {
                    alert(b);
                },
            });
    }  
    //show email form
    "{% if action == 'email' %}"
				    $(".faqs_section").hide();
				    $(".support_form").show();
				    
				    //show the first category if help center
    "{% else %}"        
        $("#faq_category_0").click();    
    "{% endif %}"
				    });
				    

</script>
