<div class="finance_report"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".finance_report_form").length + 1;
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>Finance Report</h4>");
    var form_message = $("<span class='notification' id='finance_report_notification"+current_num+"'></span>");
    var finance_report_form = $("<form class='finance_report_form' id='finance_report_form"+current_num+"' name='"+current_num+"' method='post' action='/finance_report/generate/'>{%csrf_token%}</form>");  
    var report_table = $("<table><tr><td><span class='bold_text'>Month:</span><br><select id='month' name='month'><option value='1'>January</option><option value='2'>February</option><option value='3'>March</option><option value='4'>April</option><option value='5'>May</option><option value='6'>June</option><option value='7'>July</option><option value='8'>August</option><option value='9'>September</option><option value='10'>October</option><option value='11'>November</option><option value='12'>December</option></select></td><td><span class='bold_text'>Year:</span><br><select name='year'><option value='2014'>2014</option></select></td><td><span class='bold_text'>Email Address:</span><br><input type='text' id='email_address"+current_num+"' name='email_address'></td></tr></table>");
    var form_button = $("<button type='submit' style='float:right;' name='generate' class='generate_finance_report'>Generate Report</button>");

    var finance_report = $('.finance_report');
 
    finance_report_form.append(form_heading);
    finance_report_form.append(form_message);
    finance_report_form.append(report_table);
    finance_report_form.append(form_button);

    finance_report.parent().html(finance_report_form);

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 

    //on submission of the form
    $('.generate_finance_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        $('#finance_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email_address=$('#email_address'+element_id).val();
        validEmail=validateEmail(email_address);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#finance_report_notification'+element_id).text("");
            if($.trim(email_address)==""||validEmail==false){
			    $('#finance_report_notification'+element_id).text("Enter a valid email address.");
		    }
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {
                        if(data=="success"){
                            $('#finance_report_notification'+element_id).text("Your report is being generated and will arrive in your email inbox soon.");
					    }
                        else{
                            $('#finance_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#finance_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });    
    

});
</script>
