<div class="kpi_report"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".kpi_report_form").length + 1;
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>KPI Report</h4>");
    var form_message = $("<span class='notification' id='kpi_report_notification"+current_num+"'></span>");
    var kpi_report_form = $("<form class='kpi_report_form' id='kpi_report_form"+current_num+"' name='"+current_num+"' method='post' action='/kpi_report/generate/'>{%csrf_token%}</form>");  
    var report_table = $("<table><tr><td><span class='bold_text'>Start Date: </span><br><input type='text' id='kpi_report_start_date"+current_num+"' name='start_date'></td><td><span class='bold_text'>End Date:</span><br><input type='text' id='kpi_report_end_date"+current_num+"' name='end_date'></td><td><span class='bold_text'>Email Address:</span><br><input type='text' id='kpi_report_email_address"+current_num+"' name='email_address'></td></tr></table>");
    var form_button = $("<button type='submit' style='float:right;' name='generate' class='generate_kpi_report'>Generate Report</button>");

    var kpi_report = $('.kpi_report');
 
    kpi_report_form.append(form_heading);
    kpi_report_form.append(form_message);
    kpi_report_form.append(report_table);
    kpi_report_form.append(form_button);

    kpi_report.parent().html(kpi_report_form);

    $( "#kpi_report_start_date"+current_num).datepicker();
    $( "#kpi_report_end_date"+current_num).datepicker();

    $( "#kpi_report_start_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 
    $( "#kpi_report_end_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 

    //on submission of the form
    $('.generate_kpi_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        $('#kpi_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email_address=$('#kpi_report_email_address'+element_id).val();
        validEmail=validateEmail(email_address);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#kpi_report_notification'+element_id).text("");
            if($.trim(email_address)==""||validEmail==false){
	        $('#kpi_report_notification'+element_id).text("Enter a valid email address.");
            }
        
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {
                        if(data=="success"){
                            $('#kpi_report_notification'+element_id).text("Your report is being generated and will arrive in your email inbox soon.");
			}
                        else{
                            $('#kpi_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#kpi_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });    
    

});
</script>
