<h3>KPI</h3>
<div class='kpi_report_div'></div>
<script type="text/javascript">
$(document).ready(function(){
    var selected_buttons = new Array();
    var current_num = $('.kpi_div').length + 1;
    var error_num = 1;
    var heading =$("{% if is_staff %}<span class='breadcrumb' style='display:none;'>{{ breadcrumb }}</span>{% endif %}<span class='close_button'>X</span><h4 align='center'>KPIs</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
    var main_div = $("<div class='main_div'></div>");
    var left_div = $("<div class='left_div' id='left_div"+current_num+"'></div>");
    var right_div = $("<div class='right_div' id='right_div"+current_num+"'></div>");

    "{% if utility_management%}"
        var utilities_div = $("<div>"+
                                "{% for utility in utilities %}"+
                                    "<p><label>{{utility.name}}</label></p>"+
                                    "<p><input type='checkbox' id='{{utility.name}}_by_day"+current_num+"' class='utilities_kpi' data_type='{{utility.name}}' request_data='day' utility_unit='{{utility.primary_unit}}' utility_name='{{utility.name}}'> Day</input></p>"+
                                    "<p><input type='checkbox' id='{{utility.name}}_by_week"+current_num+"' class='utilities_kpi' data_type='{{utility.name}}' request_data='week' utility_unit='{{utility.primary_unit}}' utility_name='{{utility.name}}'> Week</input></p>"+
                                    "<p><input type='checkbox' id='{{utility.name}}_by_month"+current_num+"' class='utilities_kpi' data_type='{{utility.name}}' request_data='month' utility_unit='{{utility.primary_unit}}' utility_name='{{utility.name}}'> Month</input></p>"+
                                "{% endfor %}"+
                                "</div>"
                         
        );

    "{% else %}"

    var total_revenues_div = $("<div>"+
                           "<span>"+
                           "<p><label> Total Revenues</label></p>"+
                           "<div id='total_revenues_options"+current_num+"'><p><input type='checkbox' id='total_revenues_aggregate_option"+current_num+"' value='total_revenues_aggregate_kpi'> Aggregate</input></p>"+
                           "<p><input type='checkbox' id='total_revenues_by_site_option"+current_num+"' value='total_revenues_by_site_kpi'> By Site</input></p></div>"+
                           "<div id='total_revenues_all_sites_list"+current_num+"'>"+
                           "<select id='revenues_sites_list_kpi"+current_num+"'>"+
                           "<option value=''>---</option>"+
                           "{% for site in all_sites %}"+ 
                           "<option value='{{site.id}}'>{{site.name}}</option>"+  
                           "{% endfor %}</select></div>"+
                         "</div>");


    var total_energy_use_div = $("<div>"+
                           "<span>"+
                           "<p><label> Total Energy Use</label></p>"+
                           "<div id='total_energy_use_options"+current_num+"'><p><input type='checkbox' id='total_energy_use_aggregate_option"+current_num+"' value='total_energy_use_aggregate_kpi'> Aggregate</input></p>"+
                           "<p><input type='checkbox' id='total_energy_use_by_site_option"+current_num+"' value='total_energy_use_by_site_kpi'> By Site</input></p></div>"+
                           "<div id='total_energy_use_all_sites_list"+current_num+"'>"+
                           "<select id='energy_use_sites_list_kpi"+current_num+"'>"+
                           "<option value=''>---</option>"+
                           "{% for site in all_sites %}"+ 
                           "<option value='{{site.id}}'>{{site.name}}</option>"+  
                           "{% endfor %}</select></div>"+
                         "</div>");

       var line_states_div = $("<div>"+
                           "<span>"+
                            "<p><label> Line States</label></p>"+
                           "<div id='line_states_options"+current_num+"'><p><input type='checkbox' id='line_states_aggregate_option"+current_num+"' value='line_states_aggregate_kpi'> Aggregate</input></p>"+
                           "<p><input type='checkbox' id='line_states_by_site_option"+current_num+"' value='line_states_by_site_kpi' > By Site</input></p></div>"+
                           "<div id='line_states_all_sites_list"+current_num+"'>"+
                           "<select id='line_states_sites_list_kpi"+current_num+"'>"+
                           "<option value=''>---</option>"+
                           "{% for site in all_sites %}"+ 
                           "<option value='{{site.id}}'>{{site.name}}</option>"+  
                           "{% endfor %}</select></div>"+
                         "</div>");

       "{% endif %}"
        
    var table = $("<div id='kpi_display"+current_num+"'></div>");

    var kpi_report = $("<div id='kpi_report"+current_num+"' class='kpi_div'></div>");
    var kpi_report_div = $('.kpi_report_div');

    "{% if utility_management %}"
        right_div.append(utilities_div);

    "{% else %}"

        right_div.append(total_revenues_div);
        right_div.append(total_energy_use_div);
        right_div.append(line_states_div);

    "{% endif %}"
    
    left_div.append(table);

    main_div.append(left_div);
    main_div.append(right_div);

    kpi_report.append(heading);
    kpi_report.append(main_div);

    kpi_report_div.parent().html(kpi_report);

    $("#total_revenues_all_sites_list"+current_num).hide();

    $("#total_energy_use_all_sites_list"+current_num).hide();

    $("#line_states_all_sites_list"+current_num).hide();

    
    $(".close_button").click(function(){
        var div_id = $(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });  

    "{% if utility_management %}"     
    $(".utilities_kpi").click(function(){
        if($(this).is(":checked")){
            var data_type = $(this).attr('data_type'); 
            var request_data  = $(this).attr('request_data');
            var id = $(this).attr('id'); 
            var utility_name = $(this).attr('utility_name');
            var utility_unit = $(this).attr('utility_unit');
            
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':request_data,
                    'data_type':data_type 
                },
                beforeSend:function(){
                    $(this).prop("disabled",true);
                },
                success:function(response){
                    if(request_data == "day"){
                        createKPI(current_num,utility_name+" "+request_data,"Yesterday","Previous Day",parseFloat(response['current']),parseFloat(response['previous']),utility_unit);
                    }
                    else if(request_data == "week"){
                        createKPI(current_num,utility_name+" "+request_data,"Current Week","Previous Week",parseFloat(response['current']),parseFloat(response['previous']),utility_unit);
                    }
                    else if(request_data == "month"){
                        createKPI(current_num,utility_name+" "+request_data,"Current Month","Previous Month",parseFloat(response['current']),parseFloat(response['previous']),utility_unit);
                    }
                    selected_buttons.push(id);
                    $(this).prop("disabled",false);
                }
            });
        }
    });    
    
    "{% else %}"
    $("#line_states_aggregate_option"+current_num).click();    
    $.ajax({
        url:'/kpis/generate/',
        type:'POST',
        dataType:'json',
        data:{
            'csrfmiddlewaretoken':'{{csrf_token}}',
            'request_data':'aggregate_line_states' 
        },
        success:function(response){    
            createKPI(current_num,"All Line States","Lines ON","Lines OFF",response['lines_on'],response['lines_off'],"");
            selected_buttons.push("line_states_aggregate_option"+current_num);
        }
    });
               
       
    $("#total_revenues_by_site_option"+current_num).click(function(){  
        if($(this).is(":checked")){     
            $("#total_revenues_all_sites_list"+current_num).show();
        }
        else{
            $("#total_revenues_all_sites_list"+current_num).hide();
        }
    });
    
    $("#revenues_sites_list_kpi"+current_num).change(function(){                
        if($(this).val() != ""){
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'by_site_total_revenue',
                    'site_id':$(this).val() 
                },
                success:function(response){
                    createKPI(current_num,response['site']+" Revenues","This Week","Last Week",parseFloat(response['total_revenue_this_week']),parseFloat(response['total_revenue_last_week']),response['currency']);                    
                    selected_buttons.push("total_revenues_by_site_option"+current_num);
                }
            });
        }        
    });
    $("#total_revenues_aggregate_option"+current_num).click(function(){        
        if($(this).is(":checked")){
            $("#total_revenues_all_sites_list"+current_num).hide();    
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'aggregate_total_revenue' 
                },
                beforeSend:function(){
                    $("#total_revenues_aggregate_option"+current_num).prop("disabled",true);
                },
                success:function(response){
                    createKPI(current_num,"Total Revenues","This Week","Last Week",parseFloat(response['total_revenue_this_week']),parseFloat(response['total_revenue_last_week']),response['currency']);
                    selected_buttons.push("total_revenues_aggregate_option"+current_num);
                    $("#total_revenues_aggregate_option"+current_num).prop("disabled",false);
                }
            });        
        }
    });

   
    $("#total_energy_use_by_site_option"+current_num).click(function(){
        if($(this).is(":checked")){
            $("#total_energy_use_all_sites_list"+current_num).show();
        }
        else{
            $("#total_energy_use_all_sites_list"+current_num).hide();
        }        
    });
    
    $("#energy_use_sites_list_kpi"+current_num).change(function(){        
        if($(this).val() != ""){
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'by_site_total_energy_use',
                    'site_id':$(this).val() 
                },
                success:function(response){      
                    createKPI(current_num,response['site']+" Energy Use","This Week","Last Week",parseFloat(response['total_energy_use_this_week']),parseFloat(response['total_energy_use_last_week']),"kWh");
                    selected_buttons.push("total_energy_use_by_site_option"+current_num);

                }
            });
        }
    });
    $("#total_energy_use_aggregate_option"+current_num).click(function(){        
        if($(this).is(":checked")){
            $("#total_energy_use_all_sites_list"+current_num).hide();    
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'aggregate_total_energy_use' 
                },
                beforeSend:function(){
                    $("#total_energy_use_aggregate_option"+current_num).prop("disabled",true);
                },
                success:function(response){
                     // Get errors raised
                    var data_errors=""
                    if((response['error_this_week']!="")||(response['error_last_week']!=""))
                    {
                        data_errors=response['error_this_week']+response['error_last_week'];
                    }

                    createKPI(current_num,"Total Energy Use","This Week","Last Week",parseFloat(response['total_energy_use_this_week']),parseFloat(response['total_energy_use_last_week']),"kWh",data_errors);
                    selected_buttons.push("total_energy_use_aggregate_option"+current_num);                 
                    $("#total_energy_use_aggregate_option"+current_num).prop("disabled",false);
                }
            });
        }
    });

    $("#line_states_by_site_option"+current_num).click(function(){
        if($(this).is(":checked")){     
            $("#line_states_all_sites_list"+current_num).show();
        }
        else{
            $("#line_states_all_sites_list"+current_num).hide();
        }
    });
    
    $("#line_states_sites_list_kpi"+current_num).change(function(){        
        if($(this).val() != ""){
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'by_site_line_states',
                    'site_id':$(this).val() 
                },
                success:function(response){ 
                    createKPI(current_num,response['site']+" Line States","Lines ON","Lines OFF",response['lines_on'],response['lines_off'],"");
                    selected_buttons.push("line_states_by_site_option"+current_num);
                }
            });
        }
    });
    $("#line_states_aggregate_option"+current_num).click(function(){        
        if($(this).is(":checked")){
            $("#line_states_all_sites_list"+current_num).hide();
            $.ajax({
                url:'/kpis/generate/',
                type:'POST',
                dataType:'json',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                    'request_data':'aggregate_line_states' 
                },
                success:function(response){    
                   createKPI(current_num,"All Line States","Lines ON","Lines OFF",response['lines_on'],response['lines_off'],"");
                   selected_buttons.push("line_states_aggregate_option"+current_num);
                }
            });
        }
    });

    "{% endif %}"


function createKPI(current_num,header,first_value_label,second_value_label,first_value,second_value,units,errors){

    if(selected_buttons.length > 2){
        var first_selected_button = selected_buttons.shift();  
        if(document.getElementById(first_selected_button).checked){
             document.getElementById(first_selected_button).checked = false;
        }
        else{
            document.getElementById(first_selected_button).checked = true;
        }
    }
    var current_showing = $("#kpi_display"+current_num).children(".kpi_child_div").length; 
    // alert(error_num);
    var err_message="";
    if(String(errors)!=""&&String(errors)!="undefined"){
        err_message='<div onclick="clickError(\''+error_num+'\')" id="error'+error_num+'" title="Click to see errors">Errors Found</div><span id="span'+error_num+'" style="display:none;">'+errors+'</span>';
    }
    error_num += 1;
    
    if(current_showing == 0 || current_showing == 1 || current_showing == 2){

        if(units == "kWh" || units == "Cu. Meters"){
            $("#kpi_display"+current_num).append("<div class='kpi_child_div' id='kpi_child_"+current_num+"_div"+current_showing+"'><span style='font-weight:bold;'>"+header+"</span><br>"+first_value+" "+units+" "+first_value_label+"<br>Compared to "+second_value+"  "+units+" "+second_value_label+"<br/>"+err_message+"<div id='kpi_display"+current_num+"_kpi_chart"+current_showing+"'></div></div>"); 

        }
        else{
            $("#kpi_display"+current_num).append("<div class='kpi_child_div' id='kpi_child_"+current_num+"_div"+current_showing+"'><span style='font-weight:bold;'>"+header+"</span><br>"+units+" "+first_value+" " +first_value_label+"<br>Compared to "+" "+units+" "+second_value+" "+second_value_label+"<div id='kpi_display"+current_num+"_kpi_chart"+current_showing+"'></div></div>"); 
        }

        drawChart('#kpi_display'+current_num+'_kpi_chart'+current_showing,header,first_value_label,second_value_label,first_value,second_value);
        
    }
    else if(current_showing > 2){
        var first_display = $("#kpi_display"+current_num+">div:first").attr('id');
        var second_display = $("#"+first_display+">div:first").attr('id');
        
        $("#"+first_display).remove();
        $("#"+second_display).remove();

        if(units == "kWh" || units == "Cu. Meters"){
            $("#kpi_display"+current_num).append("<div class='kpi_child_div' id='"+first_display+"'><span style='font-weight:bold;'>"+header+"</span><br>"+first_value+" "+units+" "+first_value_label+"<br>Compared to "+second_value+" "+units+" "+second_value_label+"<br/>"+err_message+"<div id='"+second_display+"'></div></div>");

        }
        else{
            $("#kpi_display"+current_num).append("<div class='kpi_child_div' id='"+first_display+"'><span style='font-weight:bold;'>"+header+"</span><br>"+units+" "+first_value+" "+first_value_label+"<br>Compared to "+units+" "+second_value+" "+second_value_label+"<div id='"+second_display+"'></div></div>");
        }


        drawChart('#'+second_display,header,first_value_label,second_value_label,first_value,second_value); 
        
    }    
}

function drawChart(chart_area, series_name, series_one_label,series_two_label,series_one_data,series_two_data){
    $(chart_area).highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        width:138,
                        height:200,
                        spacing:[0,0,5,0]
                    },   
                    credits:{
                        enabled:false,
                    },
                    exporting:{
                        enabled:false,
                    },
                    title: {
                        text: ''
                    },     
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer', 
                            width:138,
                            height:200,
                            dataLabels:{
                                enabled:false,
                                distance:5
                            },
                            showInLegend:true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: series_name,
                        data: [
                            [series_one_label,series_one_data],
                            [series_two_label,series_two_data],
                        ]
                    }]
                });
}
    
});

</script>
