<div class="line_details_div"></div>
<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".line_details").length + 1;
   var line_info = $("<div class='line_details' id='line_details"+current_num+"'></div>");
   var line_details = $("<p><span class='bold_text'>Site: </span> <a href='#' class='line_site_link' id={{ this_line.site.id }}>{{ this_line.site.name }}</a>"+
                         " <span class='bold_text'>bitHarvester: </span> {{ this_line.line.bit_harvester }}"+
                         " <span class='bold_text'>Name: </span> {{this_line.name}}"+
                         " <span class='bold_text'>User: </span> None"+
                         " <span class='bold_text'>Line: </span> {{this_line.number}} - {{ this_line.get_line_status_display }}"+
                         " <span class='bold_text'>Pulse Ratio:</span> {{this_line.pulse_ratio}}"+
                         " <span class='bold_text'>Utility Type:</span> {{ this_line.utility_type }}"+
" <span class='bold_text'>Is Connected?: </span> {% if this_line.is_connected %} True {% else %} False {% endif %}</p>"
   );

   var heading = $("<span class='close_button'>X</span><h4 align='center'>{{ this_line.name }} Details</h4>");

   var edit_line_buttons = $("<a href='#' class='view_line_activity' name='line_{{this_line.id}}' id='view_line_activity_btn"+current_num+"'>View Activity</a> | <a href='#' class='edit_line' name='line_{{this_line.id}}' id='edit_line_btn"+current_num+"'>Edit Line</a>");

   var line_details_div = $('.line_details_div'); 


   
   line_info.append(heading);
   line_info.append(line_details);
   line_info.append(edit_line_buttons);


   line_details_div.parent().html(line_info);
   
   $('.edit_line').unbind('click').click(function(){
       var line_id = $(this).attr('name');
       create_card("/cards/line/edit_line/"+line_id+"/");
   });
   $('.view_line_activity').unbind('click').click(function(){
       var line_id = $(this).attr('name');
       create_card("/cards/user/user_recent_activity/"+line_id+"/line/");
   });


   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $('.line_site_link').unbind('click').click(function(){
       var site_id = $(this).attr('id');
       create_card("/cards/site/site_details/"+site_id+"/");
   });   
});
</script>
