<div class="management_command_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".management_command_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Initiate Management Commands</h4>");
    var management_command_form = $("<form id='management_command_form"+current_num+"' class='management_command_details' method='post' action='/register/website_user/'>{%csrf_token%}</form>");    
    var management_command_details = $("<p><span class='notification' id='management_command_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr>"+
      "<td><select id='management_command_select"+current_num+"'><option selected value=''>Select command</option><option value='power_rollups'>Power rollups</option><option value='daily_power_rollups'>Daily Power Rollups</option><option value='diagnostics'>Diagnostics</option><option value='timer_commands'>Timer Commands</option><option value='revenue_rollups'>Revenue Rollups</option value='check_power_rollups'><option>Check Power Rollups</option><option value='custom_timer_commands'>Trigger Commands</option><option value='transfer_data'>Transfer Data </option><option value='pdf_report'>PDF Report</option><option value='change_timezone'>Change Timezone</option><option value='delete_revenue_rollups'>Delete Revenue Rollups </option></select></td>"+
      "<td id='arg"+current_num+"'>Argument Input: <select name='rev_all_sites' id='rev_all_sites"+current_num+"'><option value='all' selected>All</option>{% for site in all_sites %}<option value='{{ site.name }}'>{{ site.name }}</option>{% endfor%}</select><input type='text' name='arg' id='arg'></td>"+
                                  "<td  style='display:none;'><select id='management_command_select"+current_num+"'><option>Select command</option>{% for task in all_task_names %}<option value='{{ task }}'>{{ task }}</option>{% endfor %}</select></td>"+
                                  "<td id='td_parameters1"+current_num+"'><input type='text' id='management_command_parameters1"+current_num+"' placeholder='optional buffer days' /></td>"+
                                  "<td id='td_parameters2"+current_num+"'><input type='text' class='hasDatepicker' id='management_command_parameters2"+current_num+"' placeholder='optional date' /></td>"+
                                  "<td align='left'><button type='button' id='management_command_button"+current_num+"'>Run Command</button></td>"+
                                  "</tr>"+                                
                                  "</table>"
    );
    var management_command_btn = $("<p></p>"); 
    var management_command_div = $('.management_command_div');


    management_command_form.append(heading);
    management_command_form.append(management_command_details);
    management_command_form.append(management_command_btn);

    management_command_div.parent().html(management_command_form);

    $('#td_parameters1'+current_num).hide();
    $('#td_parameters2'+current_num).hide();
    $('#rev_all_sites'+current_num).hide();

    $('#management_command_parameters2'+current_num).datepicker();
    $('.management_command_parameters2'+current_num).datepicker("option", "dateFormat","yy-mm-dd");

    $('.chk_status'+current_num).change(function(){ 
       var form_id = 'management_command_form'+current_num; 
       var chk_id = 'chk_status'+current_num; 
       var activate = 'no';
       var s = 'status_update'+$(this).val()+current_num
       if($(this).prop('checked'))
        activate = 'yes';
        var string_data='user_id='+$(this).val()+'&activate_status='+activate+'&'+$('#'+form_id).serialize();
           $.ajax({
               type:'post',
               url: '/user/activate/',
               data: string_data,
               beforeSend:function(){
                $('#'+s).html('Please wait <img src="/static/custom/img/loading.gif">')
               },
               success: function (data) {
                   $('#'+s).html(data);
               },
               error: function(data) { 
               $('#'+s).html('error occured');                     
               }
           });                
          return false;   
    });

    $('#management_command_select'+current_num).click(function(){
      $('#td_parameters1'+current_num).hide(); 
      $('#td_parameters2'+current_num).hide(); 
      $('#management_command_notification'+current_num).html('');
      $('#arg'+current_num).show();
      $('#rev_all_sites'+current_num).hide();
      if($(this).val()=='daily_power_rollups')
      {
        $('#td_parameters1'+current_num).show();
        $('#td_parameters2'+current_num).show();
      }
      else if($(this).val()=='transfer_data')
      {
        $('#td_parameters1'+current_num).show();
        $('#td_parameters2'+current_num).hide();
        $('#arg'+current_num).hide();
      }
      else if($(this).val()=='delete_revenue_rollups')
      {
        $('#td_parameters1'+current_num).show();
        $('#td_parameters2'+current_num).show();
        $('#arg'+current_num).show();
        $('#arg').hide();        
        $('#rev_all_sites'+current_num).show();
      }
    else {/** do nothing **/}
    });

    $('#management_command_button'+current_num).click(function(){ 
      var sel = "management_command_select"+current_num
      // var param = "management_command_param"+current_num
      var btn = "management_command_button"+current_num
      var not = "management_command_notification"+current_num
      var form_id = 'management_command_form'+current_num; 

      if($('#'+sel).val()=='')
      {
        $('#'+not).html("Select a command first");
        return false;
      }

      var string_data = "command="+$('#'+sel).val()+'&'+$('#'+form_id).serialize();

      if($('#'+sel).val()=='daily_power_rollups')
      {
        string_data += '&parameters1='+$('#management_command_parameters1'+current_num).val();
        string_data += '&parameters2='+$('#management_command_parameters2'+current_num).val();
      }
      else if($('#'+sel).val()=='transfer_data')
      {
        string_data += '&parameters1='+$('#management_command_parameters1'+current_num).val();
      }
      else if($('#'+sel).val()=='delete_revenue_rollups')
      {
        var param1 = $('#management_command_parameters1'+current_num).val();
        var param2 = $('#management_command_parameters2'+current_num).val();

        if(param1=='' || param2=='')
        {
          $('#'+not).html("Enter start date and end date <yyy-mm-dd>");
          return false;
        }
        string_data += '&site='+$('#rev_all_sites'+current_num).val();
        string_data += '&parameters1='+param1;
        string_data += '&parameters2='+param2;
      }
    else{/*do nothing*/}

      $.ajax({
               type:'post',
               url: '/trigger/management_command/',
               data: string_data,
               beforeSend:function(){
                $('#'+not).html('initiating command. please wait <img src="/static/custom/img/loading.gif">')
               },
               success: function (data) {
                   $('#'+not).html(data);
               },
               error: function(data) { 
               $('#'+not).html('Error in initiating command');                    
               }
           });
      return false;

    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
