<div class="payment_chart"></div>
<script type="text/javascript">
   $(document).ready(function(){      
       var current_num = $(".payment_chart_div").length + 1;
       var heading = $("<span class='close_button'>X</span><h4 align='center' id='payments_bilevel_title"+current_num+"'>Payments</h4>");
       var notification = $("<span class='notification' id='payments_bilevel_notification"+current_num+"'></span>");
       var bilevel_buttons = $("<table class='payments-bilevel' width='100%' align='center'><tr><td colspan='2' class='"+current_num+"'><span class='bold_text'>Select New Date Range: </span><a id='payments_this_month"+current_num+"'>THIS MONTH</a> | <a id='payments_today"+current_num+"'>TODAY</a> | <input type='text' id='payments_from_date"+current_num+"' placeholder='From'> <input type='text' id='payments_to_date"+current_num+"' placeholder='To'> </td></tr><tr id='payment_loading"+current_num+"'><td  colspan='2' align='center'>Crunching data. Please wait <img src='/static/custom/img/loading.gif'></td></tr></table>");
       var payment_chart_div = $("<div class='payment_chart_div' id='payment_chart_div"+current_num+"'></div>");

       var bilevel_chart_div = $("<div id='payments_bilevel_chart_div"+current_num+"'></div>");
       var payment_chart = $('.payment_chart');

       var bilevel_time_alert_div = $("<div style='font-size:11px;color:#F14700;font-weight:bold;' align='center' id='bilevel_time_alert_div"+current_num+"' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
       
       payment_chart_div.append(heading); 
       payment_chart_div.append(bilevel_time_alert_div);
       payment_chart_div.append(notification);
       payment_chart_div.append(bilevel_buttons);
       payment_chart_div.append(bilevel_chart_div);

       payment_chart.parent().html(payment_chart_div);
       

       
       $("#payments_to_date"+current_num).datepicker();
       $("#payments_from_date"+current_num).datepicker();
       $("#payments_from_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");            
       $("#payments_to_date"+current_num).datepicker("option", "dateFormat","yy-mm-dd");

       var date = new Date();       
       var today = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-"+date.getDate().toString());
       var seventh_date = removedays(date, 6);
       var seventh_day = simpledate(seventh_date.getFullYear()+"-"+(seventh_date.getMonth()+1).toString()+"-"+seventh_date.getDate().toString());

       $('#payments_bilevel_title'+current_num).html("{% if utility_management %}Cost Breakdown{% else %}Payments{% endif %}<p><span class='small_text'>From: "+seventh_day+" To: "+today+"</span><br><span class='payments_graph_total"+current_num+"'></span></p>");
       showchart('/payment_graph/',"#payments_bilevel_chart_div"+current_num,"KES","payments",current_num); 
        

       $('.close_button').click(function(){
           var div_id=$(this).parent().attr('id');
           $('#'+div_id).parent().parent().hide('slow');
       });


       $('#payments_to_date'+current_num).datepicker("option", "onClose", function(){             
           $('#payments_bilevel_notification'+current_num).text("");
           if($(this).val()!="" && $('#payments_from_date'+current_num).val()==""){
             $(this).val("");
             $('#payments_bilevel_notification'+current_num).text("Please select a start date first");
     }
           else if($(this).val()==""|| $("#payments_from_date").val()==""){
               $('#payments_bilevel_notification'+current_num).text("Enter valid dates.");
           }
           else{   
            var from_date = $('#payments_from_date'+current_num).val();
            var to_date = $('#payments_to_date'+current_num).val();   
            $('#payments_bilevel_title'+current_num).html("{% if utility_management %}Cost Breakdown{% else %}Payments{% endif %}<p><span class='small_text'>From: "+simpledate(from_date)+" To: "+simpledate(to_date)+"</span><br><span class='payments_graph_total"+current_num+"'></span></p>");
            $('#payments_bilevel_notification'+current_num).text(""); 
   // Show loading
   $('#payment_loading'+current_num).show();

   showchart('/payment_graph/dates/'+from_date+"/"+to_date+"/","#payments_bilevel_chart_div"+current_num,"KES","payments",current_num);            

            $('#payments_from_date'+current_num).val("");
            $('#payments_to_date'+current_num).val("");
         }
       });     
                 
       $('#payments_this_month'+current_num).click(function(){ 
          var date = new Date();
          var today = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-"+date.getDate().toString());
          var first_day = simpledate(date.getFullYear()+"-"+(date.getMonth()+1).toString()+"-01");          
          $('#payments_bilevel_title'+current_num).html("{% if utility_management %}Cost Breakdown{% else %}Payments{% endif %}<p><span class='small_text'>From: "+first_day+" To: "+today+"</span><br><span class='payments_graph_total"+current_num+"'></span></p>");

   $('#payment_loading'+current_num).show();

          showchart('/payment_graph/month/',"#payments_bilevel_chart_div"+current_num,"KES","payments",current_num);       
       });

       $('#payments_today'+current_num).click(function(){
          $('#payments_bilevel_title'+current_num).html("{% if utility_management %}Cost Breakdown{% else %}Payments{% endif %}<p><span class='small_text'>Today</span><br><span class='payments_graph_total"+current_num+"'></span></p>");

   $('#payment_loading'+current_num).show();

          showchart('/payment_graph/today/',"#payments_bilevel_chart_div"+current_num,"KES","payments",current_num);      

       });           
   });
</script>
