<div class="payments_messages_div"></div>
<script type="text/javascript">
$(document).ready(function(){
    var current_num = $('.payments_messages_form').length + 1;
    var form_heading = $("<span class='close_button'>X</span><h4 align='center'>Payments Messages</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
    var form_message = $("<p><span  class='notification' id='payments_messages_notification"+current_num+"'></span></p>");
    var payments_messages_form = $("<form class='payments_messages_form' id='payments_messages_form"+current_num+"'>{%csrf_token%}</form>");
    var form_items = $("<table width='100%'>"+
                       "<tr><td><input type='text' id='payments_messages_min_date"+current_num+"' name='min_date' placeholder='Min Date'></td><td><input type='text' id='payments_messages_max_date"+current_num+"' name='max_date' placeholder='Max Date'></td>"+                       
                       "<td><input type='text' id='payments_messages_other_party"+current_num+"' name='other_party' placeholder='Customer'><input type='hidden' id='payments_messages_other_party_id"+current_num+"' name='other_party_id'></td>"+
                       "<td><input type='text' id='payments_messages_amount"+current_num+"' name='digest' placeholder='Amount'></td></tr>"+
                       "</table>");
    var form_buttons = $("<button id='payments_messages_apply_filters_btn"+current_num+"' name='payments'>Apply Filters</button>");

    var payments_messages_table = $("<table id='payments_messages_table"+current_num+"' class='bulk_display'><thead id='payments_messages_thead"+current_num+"'></thead><tbody id='payments_messages_tbody"+current_num+"'></tbody></table>");
    
    var load_more_section = $("<div align='center' width='100%'><a href='#' class='load_more' id='payments_messages_load_more"+current_num+"' k2_last_message_id=''>Load More</a></span></div>");

    var payments_messages_div = $('.payments_messages_div');

    payments_messages_form.append(form_heading);
    payments_messages_form.append(form_message);
    payments_messages_form.append(form_items);
    payments_messages_form.append(form_buttons);
    payments_messages_form.append(payments_messages_table);
    payments_messages_form.append(load_more_section);


    payments_messages_div.parent().html(payments_messages_form);

    $("#payments_messages_load_more"+current_num).hide(); 

    $( "#payments_messages_max_date"+current_num ).datepicker(); 
    $( "#payments_messages_min_date"+current_num ).datepicker(); 

    $( "#payments_messages_max_date"+current_num ).datepicker( "option", "dateFormat","yy-mm-dd");
    $( "#payments_messages_min_date"+current_num ).datepicker( "option", "dateFormat","yy-mm-dd");    

    var availableUserNames = [{% for user in all_users %}
            {value:"{{ user.first_name }} {{ user.last_name }} {{ user.telephone }}",id:"{{ user.id }}"},
        {% endfor %}];

    $("#payments_messages_other_party"+current_num).autocomplete({
            source: availableUserNames,
            select: function( event, ui ){
                 var user_id = ui.item.id;
                 $("#payments_messages_other_party_id"+current_num).val(user_id);
            },
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $('#payments_messages_apply_filters_btn'+current_num).click(function(){ 
        $("#payments_messages_tbody"+current_num).html("");
        $("#payments_messages_notification"+current_num).text("");        

        var form_id = $(this).parent().attr('id');          
        $('#'+form_id).unbind('submit').submit(function(){
            if($("#payments_messages_other_party"+current_num).val()==""){
                $("#payments_messages_other_party_id"+current_num).val("");
            }
            $.ajax({
                type:'POST',
                url: '/messages/payments/list/',
                data: $('#'+form_id).serialize(),
                dataType:'json',
                beforeSend:function(){
                    $('#payments_messages_apply_filters_btn'+current_num).html("Searching...");
                },
                success: function (data) {
                    var k2_last_message_id = 0;

                    $('#payments_messages_apply_filters_btn'+current_num).html("Apply Filters");

                    if(data['transactions_list'].length > 0){
                        $("#payments_messages_thead"+current_num).html("<tr><th>Timestamp</th><th>Sender/Recipient</th><th>Amount</th></tr>");
                        for (var i = 0; i < data['transactions_list'].length; i++) {
                            var date = formatted_date(new Date(data['transactions_list'][i]['timestamp']));                            
                            $("#payments_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='payments_messages_log_user_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td></tr>");                            
                            k2_last_message_id = data['transactions_list'][i]['k2_message_id'];                            
                        }                                                                            
                        $("#payments_messages_load_more"+current_num).attr('k2_last_message_id',k2_last_message_id);            
                        $("#payments_messages_load_more"+current_num).show();
                    } 
                    else{
                        $("#payments_messages_load_more"+current_num).hide();
                        $("#payments_messages_tbody"+current_num).append("<tr><td colspan='3'><span class='notification'>No data found for the search query.</span></td></tr>");
                    }                                    
                },
                error: function(data) {   
                    $('#payments_messages_notification'+current_num).text(data);
                }
            });                              
            return false;
        });              
    });

    //when load more link is clicked, get the last message id received
    $("#payments_messages_load_more"+current_num).click(function(){
        var k2_last_message_id = $(this).attr('k2_last_message_id');
        var min_date = $('#payments_messages_min_date'+current_num).val();
        var max_date = $('#payments_messages_max_date'+current_num).val();
        var amount = $('#payments_messages_amount'+current_num).val();
        var other_party_id = $('#payments_messages_other_party_id'+current_num).val();                 

        $.ajax({
            url:'/messages/payments/list/',
            type:'POST',
            dataType:'json',
            data:{
                'min_date':min_date,
                'max_date':max_date,
                'digest':amount,
                'other_party_id':other_party_id,
                'last_message_id':k2_last_message_id,
                'load_more':'load_more',
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend:function(){
                $("#payments_messages_load_more"+current_num).html("Loading...");
            },
            success:function(data){
                $("#payments_messages_load_more"+current_num).html("Load More");
                if(data['transactions_list'].length > 0){
                        for (var i = 0; i < data['transactions_list'].length; i++) { 
                            var date = formatted_date(new Date(data['transactions_list'][i]['timestamp']));                           
                            $("#payments_messages_tbody"+current_num).append("<tr><td>"+date+"</td><td><a id='"+data['transactions_list'][i]['other_party_id']+"' class='payments_messages_log_user_link'>"+data['transactions_list'][i]['other_party']+"</a></td><td>"+data['transactions_list'][i]['digest']+"</td></tr>");                            
                            k2_last_message_id = data['transactions_list'][i]['k2_message_id'];                            
                        }                                                                            
                    $("#payments_messages_load_more"+current_num).attr('k2_last_message_id',k2_last_message_id);            
                    $("#payments_messages_load_more"+current_num).show();
                }
                else{
                    $("#payments_messages_load_more"+current_num).hide();
                }     
            }
        });
    });

    $('.payments_messages_log_user_link').die('click').live('click', function(){
        var user_id = $(this).attr('id');
        create_card("/cards/user/user_details/"+user_id+"/");
    });
});

</script>
