<div class="pending_alerts_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".pending_alerts").length + 1;
   var pending_alerts = $("<div class='pending_alerts' id='pending_alerts"+current_num+"'></div>");
   var table_heading = $("<span class='close_button'>X</span><h4 align='center'>Pending Alerts</h4>");
   var table_notification = $("<p><span  class='notification' id='pending_alerts_notification"+current_num+"'></span></p>");
   var alerts_table = $("<table class='bulk_display'><thead><tr><th>Timestamp</th><th>Type</th><th>Details</th><th>Creator</th><th></th></tr></thead></table>");
   var alerts_list = $("<tbody class='pending_alerts_list' id='pending_alerts_list"+current_num+"'></tbody><tbody><tr><td colspan='5'><div class='wide-row'><div class='two-cols'><button id='btn_prev"+current_num+"' pg_num='1'><< Prev</button></div><div class='two-cols'><button id='btn_next"+current_num+"' pg_num='2'>Next >> </button></div></div></td></tr></tbody>");

   var pending_alerts_div = $('.pending_alerts_div'); 
      
   alerts_table.append(alerts_list);

   pending_alerts.append(table_heading);
   pending_alerts.append(table_notification);
   pending_alerts.append(alerts_table);
   

   pending_alerts_div.parent().html(pending_alerts);

   load_alerts(1,current_num);

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide("slow");
   });


   $(document).on('click', '.resolve_alert'+current_num, function(){ 
    
       $('#pending_alerts_notification'+current_num).text("");         
       var alert_id = $(this).attr('id');

       $.ajax({
           url:'/alerts/resolve/',
           type:'GET',
           data:'alert_id='+alert_id,
           success:function(data){
               if(data == "success"){             
                   $('#pending_alerts_notification'+current_num).text("Alert has been resolved.");        
                   $('.alert_'+alert_id).remove();                   
               }
               else{
                   $('#pending_alerts_notification'+current_num).text("An error has occured while deleting the alert. Try again later.");  
               }
           },
           error:function(data){
               $('#pending_alerts_notification'+current_num).text(data);  
           }            
   });
   });

   $('#btn_prev'+current_num).click(function(){
    var pg_num = $(this).attr("pg_num");
    load_alerts(pg_num,current_num);
   });
   $('#btn_next'+current_num).click(function(){
    var pg_num = $(this).attr("pg_num");
    load_alerts(pg_num,current_num);
   });
   
   function load_alerts(pg_num,current_num)
   {
      $.ajax({
             url:'/load/alerts/',
             type:'GET',
             dataType:'json',
             data:'page='+pg_num,
             success:function(data){
              var json_list =  $.parseJSON(data['alerts_list']);
              $('#pending_alerts_list'+current_num).html("");

              for(var c=(json_list.length-1);c>=0;c--)
              {
                var row = "<tr class='alert_"+json_list[c]['pk']+"'><td>"+new Date(json_list[c]['fields']['timestamp'])+"</td><td>"+json_list[c]['fields']['problem_type']+"</td><td>"+json_list[c]['fields']['problem_message']+"</td><td>"+json_list[c]['fields']['creator']+"</td><td><a id='"+json_list[c]['pk']+"' class='resolve_alert"+current_num+"'>Mark Resolved</a></td></tr>";
                $('#pending_alerts_list'+current_num).prepend(row);
                
              }
              $('#btn_next'+current_num).attr("pg_num",data['page_num']+1);
              $('#btn_prev'+current_num).attr("pg_num",data['page_num']-1);

             },
             error:function(data){
                 $('#pending_alerts_notification'+current_num).text("Error occured in fetching alerts. Please re-try or contact admin if problem persists");  
             }            
     });
   }


});
</script>
