<div class="permissions_denied_div"></div>

<script type='text/javascript'>
$(document).ready(function(){
    var current_num = $('.permissions_denied').length + 1;
    var permissions_denied = $("<div class='permissions_denied' id='permissions_denied"+current_num+"'></div>");
    var permissions_denied_details = $("<div align='center'>You have no permission to access this feature.</div>");

    var heading = $("<span class='close_button'>X</span><h4 align='center'>Access Denied</h4>");


    var permissions_denied_div = $('.permissions_denied_div'); 

    permissions_denied.append(heading);
    permissions_denied.append(permissions_denied_details);

    permissions_denied_div.parent().html(permissions_denied);

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });
});
</script>
