<div class="register_bh_div"></div>
<script>
    var current_num = $(".register_bh_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register a bitHarvester</h4>");
    var register_bh_form = $("<div id='register_bh_form"+current_num+"' class='register_bh_details'></div>");    

    var register_bh_details = $("<p><span class='notification' id='register_bh_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr>"+
                                  "<td>Name:<input type='text' id='bh_name"+current_num+"' name='bh_name'></td>"+
                                  "<td>Telephone: <input type='text' id='bh_telephone"+current_num+"' name='bh_telephone'></td>"+
                                  "<td>Send Telephone: <input type='text' id='send_telephone"+current_num+"' name='send_telephone'></td>"+
                                  "</tr>"+
                                  "<tr>"+
                                  "<td>Serial Number : <input type='text' id='serial_number"+current_num+"' name='serial_number'></td>"+
                                  "<td>Approval Date : <input type='text' id='approval_date"+current_num+"' name='approval_date'></td>"+
                                  "<td>Input Gateway:<select id='input_gateway"+current_num+"' name='input_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "</tr>"+
                                  "<tr>"+
                                  "<td>Output Gateway : <select id='output_gateway"+current_num+"' name='output_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "<td>Backup Input Gateway : <select id='backup_input_gateway"+current_num+"' name='backup_input_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "<td>Backup Output Gateway:<select id='backup_output_gateway"+current_num+"' name='backup_output_gateway'><option value='' selected>None</option>{% for g in gateway %}<option value='{{ g.id }}'>{{ g.name }} {{ g.telephone }}</option>{% endfor %}</select></td>"+
                                  "</tr>"+
                                  "<tr>"+
                                  "<td>Version : <select id='version"+current_num+"' name='version'>{% for bh in bh_versions %} <option value='{{bh.0}}'> {{ bh.1 }} </option>{% endfor %}</select></td>"+
                                  "<td>Logging Hours : <input type='text' id='logging_hours"+current_num+"' value='999.0' name='logging_hours'></td>"+
                                  "<td></td>"+
                                  "</tr>"+
                                  "</table>"
    );
    var register_bh_btn = $("<p style='margin-bottom:20px;'>{% if is_cro%}<button disabled>Register bitHarvester</button>{% else %}<button id='btn_register_bh"+current_num+"'>Register bitHarvester</button>{% endif %}</p>"); 
    var register_bh_div = $('.register_bh_div');

    register_bh_form.append(heading);
    register_bh_form.append(register_bh_details);
    register_bh_form.append(register_bh_btn);

    register_bh_div.parent().html(register_bh_form);

    $('#approval_date'+current_num).datepicker({ maxDate: "+0D" });
    $( "#approval_date"+current_num ).datepicker( "option", "dateFormat","yy-mm-dd");


    $('#btn_register_bh'+current_num).click(function(){ 
       $("#register_bh_notification"+current_num).text("");

       var bh_name = $("#bh_name"+current_num).val();
       var bh_site_id = $("#bh_site_name"+current_num).val();
       var bh_telephone = $.trim($("#bh_telephone"+current_num).val());
       var bh_serial_number = $.trim($("#bh_serial_number"+current_num).val());
       var send_telephone = $("#send_telephone"+current_num).val();
       var serial_number = $("#serial_number"+current_num).val();
       var approval_date = $("#approval_date"+current_num).val();
       var input_gateway = $("#input_gateway"+current_num).val();
       var output_gateway = $("#output_gateway"+current_num).val();
       var backup_input_gateway = $("#backup_input_gateway"+current_num).val();
       var backup_output_gateway = $("#backup_output_gateway"+current_num).val();
       var version = $("#version"+current_num).val();
       var logging_hours = $("#logging_hours"+current_num).val();

       if(bh_name==""||bh_telephone==""||bh_serial_number=="0.0"||serial_number==""||serial_number==""||approval_date==""||input_gateway==""||output_gateway==""||backup_input_gateway==""||backup_output_gateway==""||version==""||logging_hours==""){
           $("#register_bh_notification"+current_num).text("All fields are required.");
       }
       else{
           $.ajax({
               url:'/register/bh/',
               type:'POST',
               data:{
                   'name':bh_name,
                   'site_id':bh_site_id,
                   'telephone':bh_telephone,
                   'serial_number':serial_number,
                   'send_telephone':send_telephone,
                   'approval_date':approval_date,
                   'input_gateway':input_gateway,
                   'output_gateway':output_gateway,
                   'backup_gateway_in':backup_input_gateway,
                   'backup_gateway_out':backup_output_gateway,
                   'version':version,
                   'logging_hours':logging_hours,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend: function(){   
                   $("#btn_register_bh"+current_num).html("Registering <img src='/static/custom/img/loading.gif'>");
               },
               success:function(response){
                   $("#register_bh_notification"+current_num).text(response);
                   $("#btn_register_bh"+current_num).html("Register");
               }
           });
        }
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
</script>


