<div class="register_user_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".register_user_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register a {% if utility_management %}Utility{% else %}Customer{% endif %}</h4>");
    var register_user_form = $("<form id='register_user_form"+current_num+"' class='register_user_details' method='get' action='/register/user/'>{%csrf_token%}</form>");    
    var register_user_details = $("<p><span class='notification' id='register_user_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>"+
                                  "{% if utility_management %}"+
                                  "Utility Type:<select name='first_name'>"+
                                     "{% for utility in utilities %}"+
                                     "{% if first_name == utility.name %}"+
                                     "<option value='{{utility.name}}' selected>{{utility.name}}</option>"+                            
                                     "{% else %}"+
                                     "<option value='{{utility.name}}'>{{utility.name}}</option>"+                            
                                     "{% endif %}"+
                                     "{% endfor %}"+                         
                                  "</select>"+                                               
                                  "{% else %}"+
                                  "First Name: <input type='text' name='first_name'>"+
                                  "{% endif %}"+
                                  "</td>"+
                                  "<td>{% if utility_management %}Name:{% else %}Last Name:{% endif %} <input type='text' name='last_name'></td>"+
                                  "<td>Phone: <input type='text' name='telephone'></td></tr>"+
                                  "<tr><td>Site: "+
                                  "<select name='site'>"+
                                  "{% for site in sites %}<option value='{{ site.name }}'>{{ site.name}}</option>{% endfor %}"+
                                  "</select></td>"+
                                  "<td>bitHarvester:"+
                            "<select name='bit_harvester'>"+
                            "{% for BH in bit_harvesters %}"+
                                  "<option value='{{ BH.telephone }}'>{{ BH.harvester_id }}: {{ BH.telephone }}</option>"+
                            "{% endfor %}"+
                                  "</select></td>"+
                                  "<td>Site Manager:"+
                            "<select name='site_manager'>"+
                            "<option value='none'>NA</option>"+
                            "{% for user in all_users %}"+
                                  "<option value='{{ user.telephone }}'>{{ user.first_name }} {{ user.last_name }}: {{ user.telephone }}</option>"+
                            "{% endfor %}"+
                                  "</select></td>"+                                  
                                  "</tr>"+
                            "<tr>"+
                                  "<td>Low Balance Warning: <input type='text' name='low_balance_warning' value='75.00' class='tip' title='This amount notifies the user that the account balance is low and needs to be topped up'></td>"+
                            "<td>Energy Price: <input type='text' name='energy_price' value='0.00' class='tip' title='The amount charged per kilowatt-hour'></td>"+
                            "<td>User Type:"+
                            "<select name='is_user'>"+
                                  "<option value='Customer'>Customer</option>"+
                                  "<option value='Agent'>Agent</option>"+
                            "<!-- add more as relevant -->"+
                                  "</select></td></tr>"+
                                  "<tr><td>Language: "+
                            "<select name='language'>"+
                                  "<option value='ENG'>English</option>"+
                            "<option value='SWA'>Swahili</option>"+
                                  "</select></td>"+
                                  "<td>Line Number:<br>"+
                            "<input type='text' name='line_number' class='tip' title='Line number(s) assigned to user/utility separated by commas e.g. 1,2,3'></td>"+
                                  "<td>Payment Plan: <select name='payment_plan' id='register_payment_plan"+current_num+"'>"+
                                        "{% for plan in payment_plans %}"+
                                           "{% if plan.1 == 'Commercial User'%}"+
                                               "<option value='{{plan.1}}'>Tariff Override</option>"+
                                           "{% elif plan.1 == 'High Energy User'%}"+
          "<option value='{{plan.1}}'>Minimum Top Up</option>"+
    "{% elif plan.1 == 'PowerGen Default'%}"+
                                               "<option value='{{plan.1}}'>Pre-Connection Fee</option>"+
                                           "{% else %}"+
                                               "<option value='{{plan.1}}'>{{plan.1}}</option>"+
                                           "{% endif %}"+
                                        "{% endfor %}"+
                                  "</select></td></tr>"+                            
    "<tr><td><span id='register_payment_plan_amount_cell"+current_num+"'>Payment Plan Threshold: <input type='text' name='payment_plan_amount' id='register_payment_plan_amount"+current_num+"'></span></td>"+
    "<td><span id='subscription_plan_days_cell"+current_num+"'>Payment Term (Days): <input type='text' name='payment_plan_days' id='payment_plan_days"+current_num+"' value='{% if threshold %}{{ threshold }}{% endif %}'></span></td>"+
  "<td><span id='subscription_plan_fee_cell"+current_num+"'>Plan Fee: <input type='text' name='payment_plan_fee' id='payment_plan_fee"+current_num+"' value='{% if threshold %}{{ threshold }}{% endif %}'></span></td></tr>"+
  "<tr><td colspan='3' class='red-bold'>OR</td></tr>"+
  "<tr><td colspan='3' class='td-fileupload red-bold'><div class='file-text red-bold'>Upload a CSV registration file</div>"+
  "<div class='file-button'><span class='btn btn-success fileinput-button'><input id='fileupload"+current_num+"' type='file' name='files[]'></span></div></td></tr>"+
  "<tr><td colspan='3' id ='td-success"+current_num+"' class='td-fileupload-sucess'><div id='progress"+current_num+"' class='progress'><div id='progress-bar"+current_num+"' class='progress-bar progress-bar-success'></div><div id='files"+current_num+"' class='files'></div></div></td></tr>"+
                                  "</table>"
    );
    var register_user_btn = $("<p>{% if is_cro%}<button disabled>Register</button>{% else %}<button id='btn_register_user"+current_num+"'>Register</button>{% endif %}</p>");
    var register_user_div = $('.register_user_div');

    register_user_form.append(heading);
    register_user_form.append(register_user_details);
    register_user_form.append(register_user_btn);

    register_user_div.parent().html(register_user_form);

    $("#register_payment_plan_amount_cell"+current_num).hide();
    $("#subscription_plan_days_cell"+current_num).hide();
    $("#subscription_plan_fee_cell"+current_num).hide();

    $("#td-success"+current_num).hide();

    $( ".tip" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });

    $("#register_payment_plan"+current_num).change(function(){
        var selected_payment_plan = $("#register_payment_plan"+current_num).val();
        if(selected_payment_plan == "Default Settings" || selected_payment_plan == "Commercial User"){
            $("#register_payment_plan_amount"+current_num).val("");
            $("#register_payment_plan_amount_cell"+current_num).hide();
            $("#subscription_plan_days_cell"+current_num).hide();
            $("#subscription_plan_fee_cell"+current_num).hide();
        }

        else if(selected_payment_plan == "Subscription Plan"){
            $("#register_payment_plan_amount_cell"+current_num).show();
            $("#subscription_plan_days_cell"+current_num).show();
            $("#subscription_plan_fee_cell"+current_num).show();            
        }
        else{
            $("#register_payment_plan_amount_cell"+current_num).show();
            $("#subscription_plan_days_cell"+current_num).hide();
            $("#subscription_plan_fee_cell"+current_num).hide();
        }
    });

    $('#btn_register_user'+current_num).click(function(){ 
       var form_id = 'register_user_form'+current_num;
       $("#td-success"+current_num).hide();
       

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                   $('#btn_register_user'+current_num).html("Registering <img src='/static/custom/img/loading.gif'>");
               },
               success: function (data) {
                   $("#register_user_notification"+current_num).text("");
                   $("#register_user_notification"+current_num).text(data);
                   $('#btn_register_user'+current_num).html("Register");
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });


    $('#fileupload'+current_num).fileupload({
        url: "/register/user",
        dataType: 'json',
         autoUpload: true,
         add: function(e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /\/(csv|xml)$/i;
                if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type. Kindly upload csv file types only.');
                }
                if(data.originalFiles[0]['size'].length && data.originalFiles[0]['size'] > 5000000) {
                    uploadErrors.push('Uploaded filesize is too big. Kinddly upload a file of upto 5MB');
                }
                if(uploadErrors.length > 0) {
                  $("#td-success"+current_num).show();
                $('#progress'+current_num+' .progress-bar').removeClass("progress-bar-success").addClass("progress-bar-warning");
                $('#progress'+current_num+' .progress-bar').css(
                    'width',
                    '100%'
                ); 
                  $("#progress-bar"+current_num).html(uploadErrors.join("\n"));
                } else {
                    data.submit();
                }
        },
        progressall: function (e, data) {
          $("#td-success"+current_num).show();
          $('#progress'+current_num+' .progress-bar').removeClass("progress-bar-warning").addClass("progress-bar-success");
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress'+current_num+' .progress-bar').css(
                'width',
                progress + '%'
            );
            $("#register_user_notification"+current_num).text("");
        },
        fail: function(e, data) {
            $("#register_user_notification"+current_num).html("<p class='red'>Unknown server error.</p>");
        },
        done: function (e, data) {
          $("#progress-bar"+current_num).html(data.files[0].name +"  file uploaded successfully");
          $("#register_user_notification"+current_num).text("");
          var result_html ="";
          var json_data = $.parseJSON(data.jqXHR.responseText);
          if(json_data['error_list'].length > 0){
            result_html += "<p class='red'>Some customers could not be uploaded:</p>";
            console.log(json_data['error_list']);
          for(var i=0;i<json_data['error_list'].length;i++)
          {
            result_html += "<p class='red'>"+json_data['error_list'][i][0]+": "+json_data['error_list'][i][1]+"</p>";
          }
          $("#register_user_notification"+current_num).html(result_html);
        }
        else
        {
          $("#register_user_notification"+current_num).text("Customers created successfully.");
        }
          $('#btn_register_user'+current_num).html("Register");
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
