<div class="register_faq_div"></div>
<script type="text/javascript">
$(document).ready(function(){

    var current_num = $(".register_faq_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register FAQ</h4>");
    var register_faq_form = $("<form id='register_faq_form"+current_num+"' class='register_faq_details' method='post' action='/register/faq/'>{%csrf_token%}</form>");    
    var register_faq_details = $("<p><span class='notification' id='register_faq_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Category <select name='category' id='category'> {% for category in all_categories %} <option value='{{ category.id }}'> {{ category.name }}</option> {% endfor %}</select></td></tr>"+
                                  "<tr><td colspan='2'>Question <input type='text' id='question' name='question' /></td></tr>"+
                                  "<tr><td colspan='2'>Answer <input type='text' id='answer' name='answer' /></td></tr>"+
                                  "<tr><td colspan='2'>Keywords <input type='text' id='keywords' name='keywords' /></td></tr>"+
                                  "<tr><td>Has Multimedia <input type='checkbox' name='has_multimedia' id='has_multimedia"+current_num+"' /></td><td id='td_multimedia"+current_num+"'>Multimedia <select name='multimedia' id='multimedia'>{% for multimedia in all_multimedia %}<option value='{{ multimedia.id }}'>{{ multimedia.title }}</option>{% endfor %}</select></td></tr>"+
                                  "</table>"
    );
    var register_faq_btn = $("<p><button id='btn_register_faq"+current_num+"'>Register FAQ</button></p>"); 
    var register_faq_div = $('.register_faq_div');


    register_faq_form.append(heading);
    register_faq_form.append(register_faq_details);
    register_faq_form.append(register_faq_btn);

    register_faq_div.parent().html(register_faq_form);
    $('.multiselect').multiselect();

    $('#td_multimedia'+current_num).fadeOut(0);

    $('#btn_register_faq'+current_num).click(function(){ 
       var form_id = 'register_faq_form'+current_num; 
       

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                $('#btn_register_faq'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
               },
               complete:function(){
                $('#btn_register_faq'+current_num).html('Register FAQ');
               },
               success: function (data) {
                   $("#register_faq_notification"+current_num).text("");
                   $("#register_faq_notification"+current_num).text(data);
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });
  $('#has_multimedia'+current_num).click(function(){ 
    if($('#has_multimedia'+current_num).prop("checked"))
    {
      $('#td_multimedia'+current_num).fadeIn(200);
    }
    else
    {
      $('#td_multimedia'+current_num).fadeOut(200);
    }
  });
   


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
