<div class="register_site_div"></div>
<script>
    var current_num = $(".register_site_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register a Site</h4>");
    var register_site_form = $("<div id='register_site_form"+current_num+"' class='register_site_details'></div>");    

    var register_site_details = $("<p><span class='bold_text'>Fields marked with * are mandatory</span><br><span class='notification' id='register_site_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Site Name*:<input type='text' id='site_name"+current_num+"' name='site_name' class='tip' title='Site name should follow format: Name-Number e.g. Site Name-I or Site Name-II'></td>"+
                                  "<td>Company Name*: <input type='text' id='site_company_name"+current_num+"' name='site_company_name'></td>"+
                                  "<td>Operator Name*: <input type='text' id='site_operator_name"+current_num+"' name='site_operator_name' value='access-energy'></td></tr>"+
    "<tr><td>Number of Lines*:<input type='text' id='site_num_lines"+current_num+"' name='site_num_lines' class='tip' title='Total number of available connections based on IO boards and THINK lines'></td>"+
                                  "<td colspan='2'>Equipment: <input type='text' id='site_equipment"+current_num+"' name='site_equipment' class='tip' title='List of equipments installed in the site (separated by commas) e.g. item 1, item 2, item 3'></td></tr>"+
                                  "<tr><td>Site Latitude*:<input type='text' id='site_latitude"+current_num+"' name='site_latitude' placeholder='0.00'></td>"+
                                  "<td>Site Longitude*:<input type='text' name='site_longitude' id='site_longitude"+current_num+"' placeholder='0.00'></td>"+
                                  "<td>Currency*: <select name='site_currency' id='site_currency"+current_num+"'>"+
                                  "{% for currency in currencies %}"+
                                  "<option value='{{currency.0}}'>{{currency.1}}</option>"+
                                  "{% endfor %}"+ 
                                  "</select></td></tr>"+
                                  "<tr><td>Site Rent: <input type='text' id='site_rent"+current_num+"' name='site_rent' class='tip' title='e.g. cost to rent land and equipment for site'></td>"+
                                  "<td colspan='2'>Pricing Bundles: <input type='text' id='site_pricing_bundles"+current_num+"' name='site_pricing_bundles' class='tip' title='Pricing information for special deals on buying energy'></td></tr>"+
                                  "<tr><td>Capacities: <input type='text' id='site_capacities"+current_num+"' name='site_capacities' class='tip' title='Holds the capacity of the system e.g. solar, wind, generator, inverter,etc'></td>"+
      "<td>bitHarvester Phone Number*: <input type='text' id='site_bh_number"+current_num+"' name='site_bh_number'></td><td>bitHarvester Logging interval* (hours) <input type='text' id='bh_logging_hours"+current_num+"' name='bh_logging_hours' title='logging interval in hours' class='tip'></td></tr>"+
    "<tr><td>Personnel Fees: <input type='text' id='site_personnel_fees"+current_num+"' name='site_personnel_fees' class='tip' title='e.g. fees for agents, maintenance, and/or security staff on-site'></td>"+
	"<td>Number of Modbus Lines:<input type='text' id='site_num_modbus_lines"+current_num+"' name='site_num_modbus_lines' class='tip' title='Total number of modbus inputs '></td><td>Site timezone: <select name='timezone' id='timezone"+current_num+"'><option value='UTC' selected>UTC</option>{% for timezone in timezones %}<option value='{{ timezone }}'> {{ timezone }} </option>{% endfor %}</select></td></tr>"+
	"<tr><td colspan='3'>Labels: <div id='labels"+current_num+"'></div></td></tr>"+
                                  "<tr class='tip' title='Select users who will have access to this site and all its utilities'><td colspan='3'>User Access<select name='site_user_access[]' class='multiselect' id='site_user_access"+current_num+"' multiple size='5'>{% for user in website_users %}<option value='{{ user.id }}' >{{ user.username }}</option>{% endfor %}</select></td></tr>"+
                                  "</table>"
    );
    var register_site_btn = $("<p style='margin-bottom:20px;'>{% if is_cro%}<button disabled>Register Site</button>{% else %}<button id='btn_register_site"+current_num+"'>Register Site</button>{% endif %}</p>"); 
    var register_site_div = $('.register_site_div');

    register_site_form.append(heading);
    register_site_form.append(register_site_details);
    register_site_form.append(register_site_btn);

    register_site_div.parent().html(register_site_form);


    $('.multiselect').multiselect();

    $( ".tip" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });

  // add taggle on labels field
  var label_input = new Taggle('labels'+current_num,{
    preserveCase:true,
  });
  var container = label_input.getContainer();

    $('#btn_register_site'+current_num).click(function(){ 
       $("#register_site_notification"+current_num).text("");

       var site_name = $("#site_name"+current_num).val();
       var site_company_name = $.trim($("#site_company_name"+current_num).val());
       var site_operator_name = $.trim($("#site_operator_name"+current_num).val());
       var site_num_lines = $.trim($("#site_num_lines"+current_num).val());
       var site_num_modbus_lines = $.trim($("#site_num_modbus_lines"+current_num).val());
       var site_equipment = $.trim($("#site_equipment"+current_num).val());
       var site_latitude = $.trim($("#site_latitude"+current_num).val());
       var site_longitude = $.trim($("#site_longitude"+current_num).val());
       var site_currency = $.trim($("#site_currency"+current_num).val());
       var site_rent = $.trim($("#site_rent"+current_num).val());
       var site_personnel_fees = $.trim($("#site_personnel_fees"+current_num).val())
       var site_bh_number = $.trim($("#site_bh_number"+current_num).val());
       var bh_logging_hours = $.trim($("#bh_logging_hours"+current_num).val());
       var site_pricing_bundles = $.trim($("#site_pricing_bundles"+current_num).val());
       var site_capacities = $.trim($("#site_capacities"+current_num).val());
       var site_user_access = $.trim($("#site_user_access"+current_num).val());
       var timezone = $.trim($("#timezone"+current_num).val());
       var labels = label_input.getTags().values.join(); // get labels array, then stringfy

       if(site_name == ""||site_company_name==""||site_operator_name==""||site_num_lines==""||site_latitude==""||site_longitude ==""||site_currency == ""){
           $("#register_site_notification"+current_num).text("All fields marked in * are required.");
       }
       else if(site_name.indexOf("-")==-1){
           $("#register_site_notification"+current_num).text("Site name should follow format: Name-Number e.g. Site Name-I or Site Name-II");
       }
       else if (!$.isNumeric(site_num_lines)){
           $("#register_site_notification"+current_num).text("Invalid value for number of lines.");
}
       else if(!$.isNumeric(site_latitude) || !$.isNumeric(site_longitude)){
           $("#register_site_notification"+current_num).text("Invalid value for latitude or longitude.");
       }
       else if(site_rent !="" && !$.isNumeric(site_rent)){
           $("#register_site_notification"+current_num).text("Invalid value for site rent.");
       }
       else if(site_personnel_fees !="" && !$.isNumeric(site_personnel_fees)){
           $("#register_site_notification"+current_num).text("Invalid value for personnel fees.");
       }
       else if(bh_logging_hours !="" && !$.isNumeric(bh_logging_hours)){
           $("#register_site_notification"+current_num).text("Enter bitHarvester logging hours");
       }
       else{
           $.ajax({
               url:'/register/site/',
               type:'POST',
               data:{
                   'site_name':site_name,
                   'site_company_name':site_company_name,
                   'site_operator_name':site_operator_name,
'site_num_lines':site_num_lines,
'site_num_modbus_lines':site_num_modbus_lines,
                   'site_equipment':site_equipment,
                   'site_latitude':site_latitude,
                   'site_longitude':site_longitude,
                   'site_currency':site_currency,
                   'site_rent':site_rent,
                   'site_personnel_fees':site_personnel_fees, 
                   'site_bh_number':site_bh_number,
                   'bh_logging_hours':bh_logging_hours,
                   'site_pricing_bundles':site_pricing_bundles,
                   'site_capacities':site_capacities,
                   'site_user_access':site_user_access,
                   'timezone':timezone,
                   'labels':labels,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend: function(){   
                   $("#btn_register_site"+current_num).html("Registering  <img src='/static/custom/img/loading.gif'>");
               },
               success:function(response){
                   $("#register_site_notification"+current_num).text(response);
                   $("#btn_register_site"+current_num).html("Register");
               }
           });
        }
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
</script>


