<div class="register_gateway_div"></div>
<script type="text/javascript">
$(document).ready(function(){

    var current_num = $(".register_gateway_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register Gateway</h4>");
    var register_gateway_form = $("<form id='register_gateway_form"+current_num+"' class='register_gateway_details' method='post' action='/register/gateway/'>{%csrf_token%}</form>");    
    var register_gateway_details = $("<p><span class='notification' id='register_gateway_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Name <input type='text' placeholder='e.g. SC001-+254712345678-SEND' class='tip' title='The name of the gateway. This MUST start with the wordds SC if it is of type Sneaker Cloud' name='name' id='name' required /></td><td>Telephone <input type='text' placeholder='e.g. +255712345678' class='tip' title='This is the number associated with the gateway. If SC, it is the phone number of the default simcard on the SC phone in INTERNATION format' name='telephone' id='telephone' required /></td></tr>"+
                                  "<tr><td>Device ID <input type='text' placeholder='e.g. device_1' class='tip' title='This is the device ID on gateway phone, if the gateway is using smsSync app. If not, leave this as the phone number' name='device_id' id='device_id' required /></td><td>Username <input type='text' placeholder='e.g. steamaco_one' class='tip' title='This is a unique username used to identify SC phone with Steama. If not using Sneaker Cloud app, leave this as the phone number' name='username' id='username' required /></td></tr>"+
                                  "<tr><td>Gateway Password/Secret Code <input type='text' placeholder='e.g. Sneaker123$!' class='tip' title='This is a password/secret code used to identify the gateway phone with Steama. If not using smsSyc or Sneaker Cloud app, leave this as the phone number. A strong password/username is reccomended for this field' name='password' id='password' required /></td><td>Message Format <select name='message_format' id='message_format' title='Message format to deliver messages. This is either through SMSes or emails'><option value='sms' selected>SMS</option><option value='email'>E-mail</option></select></td></tr>"+
                                  "<tr><td>SC Send URL <input type='text' placeholder='e.g. https://app.steama.co/gateway/' class='tip' title='Enter the send Url' name='send_url' id='send_url' required /></td><td>Steama Endpoint (Receive URL) <input type='text' placeholder='e.g. https://app.steama.co/gateway/' class='tip' title='' name='receive_url' id='receive_url' required /></td></tr>"+
                                  "</table>"
    );
    var register_gateway_btn = $("<p><button id='btn_register_gateway"+current_num+"'>Register Gateway</button></p>"); 
    var register_gateway_div = $('.register_gateway_div');


    register_gateway_form.append(heading);
    register_gateway_form.append(register_gateway_details);
    register_gateway_form.append(register_gateway_btn);

    register_gateway_div.parent().html(register_gateway_form);
    $('.multiselect').multiselect();
    $('#btn_register_gateway'+current_num).click(function(){ 
       var form_id = 'register_gateway_form'+current_num; 
       

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                $('#btn_register_gateway'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
               },
               complete:function(){
                $('#btn_register_gateway'+current_num).html('Register Gateway');
               },
               success: function (data) {
                   $("#register_gateway_notification"+current_num).text("");
                   $("#register_gateway_notification"+current_num).text(data);
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 

    $( ".tip" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });


});

</script>
