<div class="register_website_user_div"></div>
<script type="text/javascript">
$(document).ready(function(){

    var current_num = $(".register_website_user_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register a Website User</h4>");
    var register_website_user_form = $("<form id='register_website_user_form"+current_num+"' class='register_website_user_details' method='post' action='/register/website_user/'>{%csrf_token%}</form>");    
    var register_website_user_details = $("<p><span class='notification' id='register_website_user_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Username <input type='text' placeholder='Enter username' name='username' id='username' /></td><td>First name <input type='text' placeholder='Enter first name' name='first_name' id='first_name' /></td></tr>"+
                                  "<tr><td>Last name <input type='text' placeholder='Enter last name' name='last_name' id='last_name' /></td><td>Email <input type='email' placeholder='Enter email address' name='email' id='email' /></td></tr>"+
                                  "<tr><td>Send emails <input type='checkbox' name='send_emails' id='send_emails' /></td><td>User Type <select name='user_type' id='user_type"+current_num+"'> {% if user_type == 'AAD' %} <option value='AAD'>SteamaCo Admin</option><option value='CAD'>Admin User</option> {% elif user_type == 'CAD' %} <option value='CAD'>Admin User</option> {% endif %}<option selected value='CRO'> Read-Only User </option></select></td></tr>"+
                                  "<tr>{% if user_details.is_staff %}<td>Is staff ? <input type='checkbox' name='is_staff' /></td>{% endif %} {% if user_details.is_superuser %}<td>Is superuser ? <input type='checkbox' name='is_superuser' /></td>{% endif %}</tr>"+
                                  "{% if utility_management %}<tr><td colspan='2'>Utilities <select name='utility[]' class='multiselect' id='utility' multiple size='5'>{% for utility in utilities %} <option value='{{ utility.id }}'> {{utility.name}} </option> {% endfor %}</select></td></tr>{% endif %}"+
                                  "<tr><td colspan='2'>User Permissions <select name='user_permissions[]' class='multiselect' id='user_permissions"+current_num+"' multiple size='5'>{% for permission in user_permissions %}<option value='{{ permission.id }}' >{{ permission.feature_name }}</option>{% endfor %}</select></td></tr>"+
                                  "<tr><td colspan='2'>Sites <select multiple size='5' class='multiselect' name='user_sites[]' id='user_sites"+current_num+"'> {% for site in user_sites %} <option value='{{ site.id }}' > {{ site.name }} {% endfor %} </select></td></tr>"+
                                  "</table>"
    );
    var register_website_user_btn = $("<p><button id='btn_register_website_user"+current_num+"'>Register User</button></p>"); 
    var register_website_user_div = $('.register_website_user_div');


    register_website_user_form.append(heading);
    register_website_user_form.append(register_website_user_details);
    register_website_user_form.append(register_website_user_btn);

    register_website_user_div.parent().html(register_website_user_form);
    $('.multiselect').multiselect();
    $('#btn_register_website_user'+current_num).click(function(){ 
       var form_id = 'register_website_user_form'+current_num; 
       

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                $('#btn_register_website_user'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
               },
               complete:function(){
                $('#btn_register_website_user'+current_num).html('Register User');
               },
               success: function (data) {
                   $("#register_website_user_notification"+current_num).text("");
                   $("#register_website_user_notification"+current_num).text(data);
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
