<div class="register_faq_category_div"></div>
<script type="text/javascript">
$(document).ready(function(){

    var current_num = $(".register_faq_category_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register FAQ Category</h4>");
    var register_faq_category_form = $("<form id='register_faq_category_form"+current_num+"' class='register_faq_category_details' method='post' action='/register/faq_category/'>{%csrf_token%}</form>");    
    var register_faq_category_details = $("<p><span class='notification' id='register_faq_category_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Category Name <input type='text' placeholder='Enter category' name='faq_category' id='faq_category' /></td></tr>"+
                                  "</table>"
    );
    var register_faq_category_btn = $("<p><button id='btn_register_faq_category"+current_num+"'>Reister FAQ Category</button></p>"); 
    var register_faq_category_div = $('.register_faq_category_div');


    register_faq_category_form.append(heading);
    register_faq_category_form.append(register_faq_category_details);
    register_faq_category_form.append(register_faq_category_btn);

    register_faq_category_div.parent().html(register_faq_category_form);
    $('.multiselect').multiselect();
    $('#btn_register_faq_category'+current_num).click(function(){ 
       var form_id = 'register_faq_category_form'+current_num;        

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                $('#btn_register_faq_category'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
               },
               complete:function(){
                $('#btn_register_faq_category'+current_num).html('Reister FAQ Category');
               },
               success: function (data) {
                   $("#register_faq_category_notification"+current_num).text("");
                   $("#register_faq_category_notification"+current_num).text(data);
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
