<div class="register_multimedia_div"></div>
<script type="text/javascript">
$(document).ready(function(){

    var current_num = $(".register_multimedia_details").length + 1;
    var heading = $("<span class='close_button'>X</span><h4 align='center'>Register Multimedia</h4>");
    var register_multimedia_form = $("<form id='register_multimedia_form"+current_num+"' class='register_multimedia_details' method='post' action='/register/multimedia/'>{%csrf_token%}</form>");    
    var register_multimedia_details = $("<p><span class='notification' id='register_multimedia_notification"+current_num+"'></span></p>"+
                                  "<table>"+
                                  "<tr><td>Title <input type='text' placeholder='Enter title' name='title' id='title' /></td><td>Mutimedia Type <select id='multimedia_type"+current_num+"' name='multimedia_type'><option value='' selected>Select multimedia type</option>{%for multimedia in multimedia_types %} <option value='{{ multimedia.0 }}'>{{ multimedia.1 }}</option>{% endfor %}</select></td></tr>"+
                                  "<tr><td>Content <input type='text' placeholder='Enter content' id='content"+current_num+"' name='content' /></td><td>Thumbnail <input type='text' placeholder='Enter/select thumbnail' name='thumbnail' id='thumbnail' /></td></tr>"+
                                  "<tr><td>Is featured ? <input type='checkbox' name='is_featured' id='is_featured' /></td><td>Order <input type='text' placeholder='Order' name='order' id='order' /></td></tr>"+
                                  "</table>"
    );
    var register_multimedia_btn = $("<p><button id='btn_register_multimedia"+current_num+"'>Register Multimedia</button></p>"); 
    var register_multimedia_div = $('.register_multimedia_div');


    register_multimedia_form.append(heading);
    register_multimedia_form.append(register_multimedia_details);
    register_multimedia_form.append(register_multimedia_btn);

    register_multimedia_div.parent().html(register_multimedia_form);
    $('.multiselect').multiselect();
    $('#btn_register_multimedia'+current_num).click(function(){ 
       var form_id = 'register_multimedia_form'+current_num; 
       

       $('#'+form_id).unbind('submit').submit(function(){           
           $.ajax({
               type:$('#'+form_id).attr('method'),
               url: $('#'+form_id).attr('action'),
               data: $('#'+form_id).serialize(),
               beforeSend:function(){
                $('#btn_register_multimedia'+current_num).html('Please wait <img src="/static/custom/img/loading.gif">');
               },
               complete:function(){
                $('#btn_register_multimedia'+current_num).html('Register Multimedia');
               },
               success: function (data) {
                   $("#register_multimedia_notification"+current_num).text("");
                   $("#register_multimedia_notification"+current_num).text(data);
               },
               error: function(data) {                      
               }
           });                
          return false;                                   
      }); 
    });

$('#multimedia_type'+current_num).change(function(){
  // alert("yes");
  // $("#content"+current_num).attr("type","text");
  // if($(this).val()=="pdf")
  // {
  //   $("#content"+current_num).attr("type","file");
  // }
  // else
  // {
  //   // do nothing
  // }
});


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
});

</script>
