<div class="report_builder_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var count = 0; 
    var selected_cols = [];
    var current_num = $(".report_builder_form").length + 1; 
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>Report Builder</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.default_timezone }} ["+off_set('{{ request.session.default_timezone }}')+"] timezone</div>");
    var form_message = $("<span class='notification' id='report_builder_notification"+current_num+"'></span>");
    var form = $("<div id='report_builder_form"+current_num+"' class='report_builder_form'></div>");
    var form_items = $("<table class='report_builder_tb'>"+
                       "<tr>"+
                       "<td colspan='2'><select name='report_type'><option value=''>--Select Report--</option><option value='csv'>CSV</option></select></td>"+
                       "<td colspan='2'><input type='text' name='title' placeholder='Title'></td>"+
                       "<td colspan='2'><input type='text' name='start_date' placeholder='Start Date' id='report_builder_start_date"+current_num+"'></td>"+
                       "<td colspan='2'><input type='text' name='end_date' placeholder='End Date' id='report_builder_end_date"+current_num+"'></td></tr>"+
                       "<tr><td colspan='4'><input type='text' name='header_info' placeholder='Header Info'></td><td colspan='2'><select name='site'><option value=''>All Sites</option>{% for site in sites %}<option value='{{site.id}}'>{{site.name}}</option>{% endfor %}</select></td>"+                                             
                       "</tr>"+
                       "<tr><td colspan='8'><hr></td></tr>"+
                       "<tr><td colspan='8'><label>Select columns to show in report</label></td></tr>"+
                       "<tr>"+
                       "<td colspan='4'><span class='bold_text'>Row Type: </span><input type='radio' name='row_type"+current_num+"' value='by_user' id='by_user_row_type"+current_num+"'>By User</input><input type='radio' name='row_type"+current_num+"' value='by_date' id='by_date_row_type"+current_num+"'>By Date</input></td>"+
                       "<td colspan='2'><select id='row_type_cols"+current_num+"' name='row_type_cols'><option value=''>--Select Column--</option></select></td>"+
                       "<td><button style='float:left;margin:0;padding:0px 10px 0px 10px;background:#F14700;border:none' class='btn btn-success' id='report_builder_add_column_btn"+current_num+"'> + Add Column</button></td>"+
                       "</tr>"+
                       "</table>"
    );
    var columns_div = $("<div id='report_builder_columns_div"+current_num+"' class='report_builder_columns_div'></div>");
    var report_button = $("<table><tr><td><button>Generate Report</button></td></tr></table>");

    var report_builder_div = $(".report_builder_div");

    form.append(form_heading);
    form.append(form_message);
    form.append(form_items);
    form.append(columns_div);
    form.append(report_button);

    report_builder_div.parent().html(form);    
    

    $("#report_builder_start_date"+current_num).datepicker();
    $("#report_builder_end_date"+current_num).datepicker();

    $("#report_builder_start_date"+current_num).datepicker("option", "dateFormat","dd-mm-y"); 
    $("#report_builder_end_date"+current_num).datepicker("option", "dateFormat","dd-mm-y"); 

    $(".close_button").click(function(){
        var div_id = $(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 
    $("#report_builder_form"+current_num+" .close").live("click",function(){    
        var col_name = $(this).attr('col-name');
        var col_num = $(this).attr('col-num');
        var index = selected_cols.indexOf(col_name);

        if(index > -1){
            selected_cols.splice(index,1);
        }

        $(this).parent().parent().hide("slow", function() { $(this).remove(); } );
        count = count - 1;

        var current_cols = $("#report_builder_form"+current_num+" #report_builder_columns_div"+current_num+" .close");
        var cols_size = current_cols.length;

        for(i=0;i<cols_size;i++){
            var prev_col_num = $(current_cols[i]).attr('col-num');
            if(parseInt(prev_col_num) > parseInt(col_num)){ 
                var new_col_num = parseInt(prev_col_num) - 1;
                $(current_cols[i]).attr('col-num',new_col_num);
                $(current_cols[i]).parent().html("Col. "+new_col_num+"<span class='close' col-name='"+$(current_cols[i]).attr('col-num')+"' col-num='"+new_col_num+"'>X</span>");
            }

        }
    });       

    //add column
    $("#report_builder_add_column_btn"+current_num).click(function(){         
        $("#report_builder_notification"+current_num).html("");
        var row_type_cols_val = $('#row_type_cols'+current_num).val();
        if($.trim(row_type_cols_val) == ""){
            $("#report_builder_notification"+current_num).html("Please select at least one column to show.");
        }
        else{  
            //limit cols to 10
            if(selected_cols.length > 9){                
                $("#report_builder_notification"+current_num).html("A maximum of nine columns is allowed."); 
            }
            else{
                create_minicard(row_type_cols_val);
            }
        } 
    });    

    $("input[name='row_type"+current_num+"']").click(function(){
        $("#report_builder_columns_div"+current_num).html("");
        selected_cols = [];
        count = 0;

        var select_row_type_cols = $('#row_type_cols'+current_num);
        var by_user_options = [
                                  'Average payment amount',
                                  'Number of payments made',
                                  'Average daily revenue',
                                  'Total revenue',
                                  'Average daily energy use',
                                  'Total energy use'
                              ];
        var by_date_options = [
                                  'Daily total revenue',
                                  'Daily total payments (number)',
                                  'Daily total energy use',
                                  'Total number of payments',
                                  'Average payment amount'
                              ];
        select_row_type_cols.html("<option value=''>--Select Column--</option>");
        if(this.value == "by_user"){
            for(var i=0; i<by_user_options.length; i++){
                 select_row_type_cols.append('<option value="'+by_user_options[i]+'">'+by_user_options[i]+'</option>');
            }
        }
        else if(this.value == "by_date"){
            for(var i=0; i<by_date_options.length; i++){
                 select_row_type_cols.append('<option value="'+by_date_options[i]+'">'+by_date_options[i]+'</option>');
            }
        }
        else{
            $("#report_builder_notification"+current_num).html("An error has occured.Please try again.");
        }
    });


    function create_minicard(column_name){        
        if($.inArray(column_name,selected_cols) == -1){
            count = count + 1;
            selected_cols.push(column_name);
            $("#report_builder_columns_div"+current_num).append("<div class='div-table'><div class='div-table-col'>Col. "+count+"<span class='close' col-name='"+column_name+"' col-num='"+count+"'>X</span></div><div class='div-table-row'>"+column_name+"</div></div>");
        }
        else{
            //do nothing            
        }
        
    }

    //by_user row type clicked by default
    $("#by_user_row_type"+current_num).click();

});


</script>
