<div class="reports_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".reports_form").length + 1; 
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>Generate Reports</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.default_timezone }} ["+off_set('{{ request.session.default_timezone }}')+"] timezone</div>");
    var form_message = $("<span class='notification' id='reports_notification"+current_num+"'></span>");
    var reports_form = $("<div id='reports_form"+current_num+"' class='reports_form'></div>");
    var form_items = $("<table>"+
                       "<tr><td>"+
                       "<span class='bold_text'>Choose a report:</span> <select id='report_type"+current_num+"' style='width:250px !important;'>"+
          "<option value=''>-- Select a report type --</option>"+
          "{% if is_staff %}"+
          "<option value='finance_report'>Finance Report</option>"+
	  "{% endif %}"+
	  "{% if is_staff or user.username == 'eon-admin' %}"+
          "<option value='energy_report'>Energy Report</option>"+
	  "<option value='kpi_report'>KPIs Report</option>"+
          "{% endif %}"+
          "<option value='csv_data_report'>CSV Data Report</option>"+
                       "</select>"+
                       "</td></tr>"+
                       "<tr><td><div class='notification-warning'>Kindly note that data will not be sent if the file size is greater than 10MB. To prevent this, we recommend that you select data ranges of 2 months or less or select a compressed file format (<i>where applicable</i>)</div></td></tr>"+
                       "</table>"
    );


    var finance_report_message = $("<span class='notification' id='finance_report_notification"+current_num+"'></span>");
    var finance_report_form = $("<form class='finance_report_form' id='finance_report_form"+current_num+"' name='"+current_num+"' method='post' action='/finance_report/generate/'>{%csrf_token%}</form>");  
    var finance_report_table = $("<table><tr><td><span class='bold_text'>Month:</span><br><select id='month' name='month'><option value='1'>January</option><option value='2'>February</option><option value='3'>March</option><option value='4'>April</option><option value='5'>May</option><option value='6'>June</option><option value='7'>July</option><option value='8'>August</option><option value='9'>September</option><option value='10'>October</option><option value='11'>November</option><option value='12'>December</option></select></td><td><span class='bold_text'>Year:</span><br><select name='year'><option value='2014'>2014</option><option value='2015' selected>2015</option><option value='2016'>2016</option></select></td><td><span class='bold_text'>Email Address:</span><br><input type='text' id='email_address"+current_num+"' name='email_address'></td><td><span class='bold_text'>File Format:</span><br/><select class='tip' title='Compressed CSV will enable you select large data sets. In Plain CSV the data will be sent uncompressed, this could lead to a large file. In such cases where the file exceeds 10MB the file will not be sent!' name='file_format' id='file_format"+current_num+"'><option value='plain' selected>Plain CSV</option><option value='zip'>Compressed CSV</option></select></td></tr></table>");
    var finance_report_button = $("<button type='submit' style='float:right;' name='generate' class='generate_finance_report'>Generate Finance Report</button>");

    var energy_report_message = $("<span class='notification' id='energy_report_notification"+current_num+"'></span>");
    var energy_report_form = $("<form class='energy_report_form' id='energy_report_form"+current_num+"' name='"+current_num+"' method='post' action='/energy_report/generate/'>{%csrf_token%}</form>");  
    var energy_report_table = $("<table><tr><td><span class='bold_text'>Start Date: </span><br><input type='text' id='energy_report_start_date"+current_num+"' name='start_date'></td><td><span class='bold_text'>End Date:</span><br><input type='text' id='energy_report_end_date"+current_num+"' name='end_date'></td><td><span class='bold_text'>Email Address:</span><br><input type='text' id='energy_report_email_address"+current_num+"' name='email_address'></td><td><span class='bold_text'>File Format:</span><br/><select  class='tip' title='Compressed CSV will enable you select large data sets. In Plain CSV the data will be sent uncompressed, this could lead to a large file. In such cases where the file exceeds 10MB the file will not be sent!' name='file_format' id='file_format"+current_num+"'><option value='plain' selected>Plain CSV</option><option value='zip'>Compressed CSV</option></select></td></tr></table>");
    var energy_report_button = $("<button type='submit' style='float:right;' name='generate' class='generate_energy_report'>Generate Energy Report</button>");


var kpi_report_message = $("<span class='notification' id='kpi_report_notification"+current_num+"'></span>");
    var kpi_report_form = $("<form class='kpi_report_form' id='kpi_report_form"+current_num+"' name='"+current_num+"' method='post' action='/kpi_report/generate/'>{%csrf_token%}</form>");  
    var kpi_report_table = $("<table><tr><td><span class='bold_text'>Start Date: </span><br><input type='text' id='kpi_report_start_date"+current_num+"' name='start_date'></td><td><span class='bold_text'>End Date:</span><br><input type='text' id='kpi_report_end_date"+current_num+"' name='end_date'></td><td><span class='bold_text'>Email Address:</span><br><input type='text' id='kpi_report_email_address"+current_num+"' name='email_address'></td><td><span class='bold_text'>File Format:</span><br/><select class='tip' title='Compressed CSV will enable you select large data sets. In Plain CSV the data will be sent uncompressed, this could lead to a large file. In such cases where the file exceeds 10MB the file will not be sent!' name='file_format' id='file_format"+current_num+"'><option value='plain' selected>Plain CSV</option><option value='zip'>Compressed CSV</option></select></td></tr></table>");
    var kpi_report_button = $("<button type='submit' style='float:right;' name='generate' class='generate_kpi_report'>Generate KPI Report</button>");


    var csv_report_message = $("<p><span  class='notification' id='csv_report_notification"+current_num+"'></span></p>");
    var csv_report_form = $("<form class='csv_report_form' id='csv_report_form"+current_num+"' name='"+current_num+"' method='post' action='/csv_report/generate/'>{%csrf_token%}</form>");  
    var csv_report_table = $("<table class='csv_report_tb'>"+
                         "<tr><td><span class='bold_text'>Start Date: </span> <input type='text' id='filter_start_date"+current_num+"' name='min_date'></td><td><span class='bold_text'>End Date: </span><input type='text' id='filter_end_date"+current_num+"' name='max_date'></td></tr>"+
                       "<tr><td><span class='bold_text'>Site: </span><select name='site'>{% for site in all_sites %}<option value='{{ site.name }}'>{{ site.name}}</option>{% endfor %}</select></td><td> <span class='bold_text'>Data For: </span><select name='object_name'><option value='Line_State_Snapshot'>Line State Snapshots</option><option value='Kopo_Kopo_Message'>Payments</option><option value='Mingi_User'>User Profiles</option><option value='SMS_Data'>SMS Data</option><option value='Voltage'>System Data</option><option value='Revenue Rollup'>Hourly Site Revenue</option><option value='Power Rollup'>Hourly Site Utility Use</option><option value='Daily Site Power'>Daily Site Utility Use</option><option value='Daily User Power'>Daily Line Utility Use</option></select></td></tr>"+
                      "<tr><td><span class='bold_text'>Email Address:</span><input type='text' name='email' id='email"+current_num+"'></td><td><span class='bold_text'>File Format:</span><br/><select  class='tip' title='Compressed CSV will enable you select large data sets. In Plain CSV the data will be sent uncompressed, this could lead to a large file. In such cases where the file exceeds 10MB the file will not be sent!' name='file_format' id='file_format"+current_num+"'><option value='plain' selected>Plain CSV</option><option value='zip'>Compressed CSV</option></select></td></tr>"+
                      "</table>");
    var csv_report_button = $("<button type='submit' name='generate' class='generate_csv_report'>Generate CSV Report</button>");

    var reports_div = $(".reports_div");
    
    finance_report_form.append(finance_report_message);
    finance_report_form.append(finance_report_table);
    finance_report_form.append(finance_report_button);

    energy_report_form.append(energy_report_message);
    energy_report_form.append(energy_report_table);
    energy_report_form.append(energy_report_button);

    kpi_report_form.append(kpi_report_message);
    kpi_report_form.append(kpi_report_table);
    kpi_report_form.append(kpi_report_button);

    csv_report_form.append(csv_report_message);
    csv_report_form.append(csv_report_table);
    csv_report_form.append(csv_report_button);

    reports_form.append(form_heading);
    reports_form.append(form_message);
    reports_form.append(form_items);
    reports_form.append(finance_report_form);
    reports_form.append(energy_report_form);
    reports_form.append(kpi_report_form);
    reports_form.append(csv_report_form);

    reports_div.parent().html(reports_form);



    $("#energy_report_start_date"+current_num).datepicker({ maxDate: "-1D" });
    $("#energy_report_end_date"+current_num).datepicker({ maxDate: "-1D" });

    $( "#energy_report_start_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 
    $( "#energy_report_end_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 

    $("#kpi_report_start_date"+current_num).datepicker({ maxDate: "-1D" });
    $("#kpi_report_end_date"+current_num).datepicker({ maxDate: "-1D" });

    $( "#kpi_report_start_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 
    $( "#kpi_report_end_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 

    $( "#filter_start_date"+current_num).datepicker();
    $( "#filter_end_date"+current_num).datepicker();

    $( "#filter_start_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 
    $( "#filter_end_date"+current_num).datepicker( "option", "dateFormat","dd-mm-y"); 

    $("#finance_report_form"+current_num).hide();
    $("#energy_report_form"+current_num).hide();
    $("#kpi_report_form"+current_num).hide();
    $("#csv_report_form"+current_num).hide();

    $(".close_button").click(function(){
        var div_id = $(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $("#report_type"+current_num).live("change",function(){
        var value = $(this).val();
        if(value == "finance_report"){
            $("#energy_report_form"+current_num).hide();
            $("#kpi_report_form"+current_num).hide();
            $("#csv_report_form"+current_num).hide();
            $("#finance_report_form"+current_num).show();
        }
        if(value == "energy_report"){
            $("#finance_report_form"+current_num).hide(); 
            $("#kpi_report_form"+current_num).hide();
            $("#csv_report_form"+current_num).hide();
            $("#energy_report_form"+current_num).show();     
        }
        if(value == "csv_data_report"){
            $("#energy_report_form"+current_num).hide();
            $("#kpi_report_form"+current_num).hide();
            $("#finance_report_form"+current_num).hide();  
            $("#csv_report_form"+current_num).show();        
        }
        if(value == "kpi_report"){
            $("#energy_report_form"+current_num).hide();
            $("#finance_report_form"+current_num).hide();  
            $("#csv_report_form"+current_num).hide(); 
            $("#kpi_report_form"+current_num).show();
        }        

        if(value == ""){
            //hide all forms
        }
    });

    //on submission of the form
    $('.generate_finance_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        $('#finance_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email_address=$('#email_address'+element_id).val();
        validEmail=validateEmail(email_address);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#finance_report_notification'+element_id).text("");
            if($.trim(email_address)==""||validEmail==false){
			    $('#finance_report_notification'+element_id).text("Enter a valid email address.");
		    }
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {
                        if(data=="success"){
                            $('#finance_report_notification'+element_id).text("Your report is being generated and will arrive in your email inbox soon.");
					    }
                        else{
                            $('#finance_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#finance_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });  

    //on submission of the form
    $('.generate_energy_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        var date1 = $("#energy_report_start_date"+element_id).val();
        var date2 = $("#energy_report_end_date"+element_id).val();

        $('#energy_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email_address=$('#energy_report_email_address'+element_id).val();
        validEmail=validateEmail(email_address);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#energy_report_notification'+element_id).text("");

            if(isValidDate(date1,true)){$("#energy_report_start_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#energy_report_start_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}
            if(isValidDate(date2,true)){$("#energy_report_end_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#energy_report_end_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}

            if($.trim(email_address)==""||validEmail==false){
	        $('#energy_report_notification'+element_id).text("Enter a valid email address.");
            parts = '01-01-15'.split('-');
            }
        
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {
                        if(data=="success"){
                            $('#energy_report_notification'+element_id).html("Your report is being generated and will arrive in your email inbox soon.");
			             }
                         else if(data=="large-range"){
                            $('#energy_report_notification'+element_id).html("<div class='notification-warning'>Selected number of days is greater than "+window.MAX_SITES+" days which is the maximum recommended for this report</div>");
                            $('#energy_report_notification'+element_id).effect( "bounce", "slow" );
                         }
                        else{
                            $('#energy_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#energy_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });  

    //on submission of the form
    $('.generate_kpi_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        var date1 = $("#kpi_report_start_date"+element_id).val();
        var date2 = $("#kpi_report_end_date"+element_id).val();

        $('#kpi_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email_address=$('#kpi_report_email_address'+element_id).val();
        validEmail=validateEmail(email_address);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#kpi_report_notification'+element_id).text("");

            if(isValidDate(date1,true)){$("#kpi_report_start_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#kpi_report_start_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}
            if(isValidDate(date2,true)){$("#kpi_report_end_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#kpi_report_end_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}

            if($.trim(email_address)==""||validEmail==false){
	        $('#kpi_report_notification'+element_id).text("Enter a valid email address.");
            }
        
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {
                        if(data=="success"){
                            $('#kpi_report_notification'+element_id).html("Your report is being generated and will arrive in your email inbox soon.");
			             }
                         else if(data=="large-range"){
                            $('#kpi_report_notification'+element_id).html("<div class='notification-warning'>Selected number of days is greater than "+window.MAX_SITES+" days which is the maximum recommended for this report</div>");
                            $('#kpi_report_notification'+element_id).effect( "bounce", "slow" );
                         }
                        else{
                            $('#kpi_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#kpi_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;       
        });         
    });  

    $( ".tip" ).tooltip({
            show: {
                effect: "slideDown",
                delay: 250,
            }
        });


    //on submission of the form
    $('.generate_csv_report').click(function(){  
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        var date1 = $("#filter_start_date"+element_id).val();
        var date2 = $("#filter_end_date"+element_id).val();

        $('#csv_report_notification'+element_id).text("");

        //check whether email address is in right format
        var email=$('#email'+element_id).val();
        validEmail=validateEmail(email);
		        
        $('#'+form_id).unbind('submit').submit(function(){ 
            $('#csv_report_notification'+element_id).text("");
            if(isValidDate(date1,true)){$("#filter_start_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#filter_start_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}
            if(isValidDate(date2,true)){$("#filter_end_date"+element_id).css("border","1px solid rgb(187, 187, 187)");}else{$("#filter_end_date"+element_id).css("border","#ff0000 1px solid").effect( "shake" ); return false;}
            if($.trim(email)==""||validEmail==false){
			    $('#csv_report_notification'+element_id).text("Enter a valid email address.");
		    }
            else{
                $.ajax({
                    type:$('#'+form_id).attr('method'),
                    url: $('#'+form_id).attr('action'),
                    data: $('#'+form_id).serialize(),
                    success: function (data) {

                       if(data=="success"){
                            $('#csv_report_notification'+element_id).text("Your report is being generated and will arrive in your email inbox soon.");

					    }
                        else{
                            $('#csv_report_notification'+element_id).text("An error has occured while trying to send your report via email. Please try again.");
                        }
                    },
                    error: function(data) {   
                        $('#csv_report_notification'+element_id).text(data);
                    }
                }); 
            }        
            return false;
        });         
    });    

    
});

</script>
