<div class="resolved_alerts_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".resolved_alerts").length + 1;
   var resolved_alerts = $("<div class='resolved_alerts' id='resolved_alerts"+current_num+"'></div>");
   var table_heading = $("<span class='close_button'>X</span><h4 align='center'>Resolved Alerts</h4>");
   var alerts_table = $("<table class='resolved_alerts_tb'><thead><tr><th>Timestamp</th><th>Problem Type</th><th>Details</th><th>Creator</th></tr></thead></table>");
   var alerts_list = $("<tbody class='resolved_alerts_list'>{% for alert in alerts_list %}<tr class='alert_{{alert.id}}'><td>{{ alert.timestamp }}</td><td>{{ alert.get_problem_type_display }}</td><td>{{ alert.problem_message }}</td><td>{{ alert.creator }}</td></tr>{% empty %}<tr><td colspan='4'><h4>No resolved alerts!</h4></td></tr>{% endfor %}</tbody>");

   var resolved_alerts_div = $('.resolved_alerts_div'); 
   
   alerts_table.append(table_heading);  
   alerts_table.append()
   alerts_table.append(alerts_list);

   resolved_alerts.append(table_heading);
   resolved_alerts.append(alerts_table);
   

   resolved_alerts_div.parent().html(resolved_alerts);

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });
});
</script>
