<div class="search_user_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $('.search_user_form').length + 1;
    var form_heading = $("<span class='close_button'>X</span><h4 align='center'>Search for a Mingi User</h4>");
    var form_message = $("<p><span class='notification' id='search_user_notification"+current_num+"'></span></p>");
    var search_user_form = $("<form class='search_user_form' id='search_user_form"+current_num+"' name='"+current_num+"' action='/search/user/' method='post'></form>"); 
    var form_items = $("<input type='text' class='search-first-name' placeholder='First Name' id='first_name"+current_num+"' > <input type='text' class='search-last-name' id='last_name"+current_num+"' placeholder='Last Name'> <input type='text' class='search-telephone' id='telephone"+current_num+"' placeholder='Telephone'> "); 
    var form_button = $(" <button class='search_user_btn' name='search' id='search_user"+current_num+"'>Search</button>");
    var search_list = $("<div id='search_list"+current_num+"'></div>");
    var search_user_div = $('.search_user_div');

    search_user_form.append(form_heading);
    search_user_form.append(form_message);
    search_user_form.append(form_items);  
    search_user_form.append(form_button);
    search_user_form.append(search_list);

    search_user_div.parent().html(search_user_form);


    setupFirstNameAutocomplete(current_num);
    setupLastNameAutocomplete(current_num);
    setupTelephoneAutocomplete(current_num);

    $('.ui-menu-item').click(function(event){
        //event.preventDefault();
        alert(".ui-autocomplete clicked");
    });

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });

    $('#search_user'+current_num).click(function(event){        
        var form_id = $(this).parent().attr('id');
        var element_id = $(this).parent().attr('name');
       
        var first_name = $('#first_name'+element_id).val();
        var last_name = $('#last_name'+element_id).val();
        var telephone = $('#telephone'+element_id).val();

        $('#'+form_id).unbind('submit').submit(function(){
                if($.trim(first_name)=="" && $.trim(last_name)=="" && $.trim(telephone)==""){
                    event.preventDefault();
                    $("#search_user_notification"+element_id).text("Enter either a first name, last name or telephone");
                }
                else{
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        dataType:'json',
                        data: "first_name="+first_name+"&last_name="+last_name+"&telephone="+telephone+"&csrfmiddlewaretoken={{csrf_token}}",
                        success: function (data) {
                            var response = data['response'];
                            if(response=="failed"){
                                $("#search_list"+element_id).html("");
                                $("#search_user_notification"+element_id).text("No such user exists."); 
                            }
                            else{                            
                                $("#search_user_notification"+element_id).text("");                              
                                $("#search_list"+element_id).html("<a href='#' onclick='show_user("+data['user_id']+")' class='user_details_link' id='"+data['user_id']+"'>"+data['user_name']+"</a>");
                            }
                        },
                        error: function(data){   
                            $("#search_user_notification"+element_id).text(data);
                        }
                    });
                }
                return false;   
       });
    });
});
function show_user(user_id){
    create_card("/cards/user/user_details/"+user_id+"/");
    create_card("/cards/user/user_recent_activity/"+user_id+"/");
}
function setupFirstNameAutocomplete(item_id) {
    var availableFirstNames = [{% for user in all_users %}
        "{{ user.first_name }}",
    {% endfor %}];

    $("#first_name"+item_id).autocomplete({
        source: availableFirstNames,
    });    
}

function setupLastNameAutocomplete(item_id) {
    var availableLastNames = [{% for user in all_users %}
        "{{ user.last_name }}",
    {% endfor %}];

    $("#last_name"+item_id).autocomplete({
        source: availableLastNames,
    });
}

function setupTelephoneAutocomplete(item_id) {
    var availableTelephones = [{% for user in all_users %}
        "{{ user.telephone }}",
    {% endfor %}];

    $("#telephone"+item_id).autocomplete({
        source: availableTelephones,
    });
}
</script>
