<style type="text/css"> .whiten{background: #fff !important;}</style>
<div class="site_users_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".site_users").length + 1;
   var site_users = $("<div class='site_users' id='site_users"+current_num+"'></div>");
   var users_list = $("<table id='tb_users"+current_num+"' class='display' cellspacing='0' width='100%'>"+
                    "<thead><tr><th class='whiten'></th><th class='whiten'></th><th class='whiten'></th><th class='whiten'></th><th site_id='{{ site_id }}' id='site_users_refresh"+current_num+"'>refresh <i class='fa fa-refresh'></i></th></tr><tr><th>Name</th><th align='center'>A/C Bal.</th><th align='center'>Line No.</th><th align='center'>Line Status</th><th align='center'>Activity</th></tr></thead>"+
                    "<tbody id='tbody_site_users"+current_num+"'>"+
                    //site users
                    "{% for user in site_users %}"+                                        
                    "<tr><td><a href='#' class='user_link' id='{{user.id}}'>{{ user.first_name }} {{user.last_name}}</a></td><td align='center'>{{ user.account_balance }}</td><td align='center'>{% for line in site_lines %}{% if line.user == user %}{{ line.number|linebreaks}}{% endif %}{% endfor %}</td><td align='center'>{% for line in site_lines %}{% if line.user == user %}{{ line.get_line_status_display|linebreaks }}{% endif %}{% endfor %}</td><td align='center'><a href='#' class='user_activity_link' id={{user.id}}>View</a></td></tr>"+
                    "{% endfor %}"+
                    //no user lines
                    "{% for line in no_user_lines %}"+                                        
                    "<tr><td><a href='#' class='line_link' id='{{line.id}}'>{{ line.name }}</a></td><td align='center'>0</td><td align='center'>{{ line.number }}</td><td align='center'>{{ line.get_line_status_display }}</td><td align='center'><a href='#' class='line_activity_link' id={{line.id}}>View</a></td></tr>"+
                    "{% endfor %}"+
                    "</tbody>"+
                    "</table>"
   );
   var heading = $("<span class='close_button'>X</span><h4 align='center'>{% if utility_management %}Utilities:{% else %}Customers:{% endif %} {{site_name}}</h4>");

   var site_links = $("<p><a href='#' class='view_site_btn'>View Site</a> | <a href='#' class='switch_lines_btn'>Switch Lines</a></p>");

   var site_users_div = $('.site_users_div'); 
   site_users.append(heading);
   site_users.append(users_list);
   site_users.append(site_links);

   site_users_div.parent().html(site_users);    

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });      

   $('#tb_users'+current_num).dataTable( {
       "sPaginationType": "full_numbers",
       "ordering":true,
       "bFilter":true,
       "bLengthChange": true,
       "aoColumns": [
            { "bSortable": true },
            { "bSortable": true },
            { "bSortable": true },
            { "bSortable": true },
            { "bSortable": true }
       ]
   });

   $('#tb_users'+current_num).on('click','.user_link',function(){   
       var user_id = $(this).attr('id');
       create_card("/cards/user/user_details/"+user_id+"/");
   });

   $('#tb_users'+current_num).on('click','.line_link',function(){   
       var line_id = $(this).attr('id');
       create_card("/cards/line/line_details/line_"+line_id+"/");
   });

   $('#tb_users'+current_num).on('click','.user_activity_link',function(){
       var user_id = $(this).attr('id');
       create_card("/cards/user/user_recent_activity/"+user_id+"/user/");
   });
   $('#tb_users'+current_num).on('click','.line_activity_link',function(){
       var user_id = $(this).attr('id');
       create_card("/cards/user/user_recent_activity/line_"+user_id+"/line/");
   });

    $(".view_site_btn").unbind('click').click(function(){
        create_card("/cards/site/site_details/{{site_id}}/");
    });

    $(".switch_lines_btn").unbind('click').click(function(){
        create_card("/cards/bh_controls/");
    });

   $('#site_users_refresh'+current_num).click(function(){ 
       var site_id = $(this).attr('site_id');
       var items_to_display = $("select[name='tb_users"+current_num+"_length']").val();
       var items_no = $(".current[aria-controls='tb_users"+current_num+"']").html();      
        $.ajax({
            type:'get',
            url: 'cards/site/site_users_refresh/'+site_id+'/',
            dataType:'json',
            beforeSend:function(){
                $('#site_users_refresh'+current_num).html('Crunching data. Please wait <img src="/static/custom/img/loading.gif">');
            },
            success: function (data) {
              
                if(data['errors'])
                {
                  $('#tbody_site_users'+current_num).html('<tr><td colspan="5" class="notification-warning">Error in retrieving data. kindly re-try or contact the admin if the problem persists</td><td></td><td></td><td></td><td></td></tr>');
                } 
                else
                {
                  var output = '';
                  var user_lines = JSON.parse(data.no_user_lines);
                  var users = JSON.parse(data.site_users);
                  var line_status = JSON.parse(data.site_users);
                  items_no = +items_no - 1;
                  var start = +items_to_display * +items_no;
                  var end = +start + +items_to_display;
                  // alert(start);
                  // alert(end);
                  // organize data
                  // organoze lines
                  if(user_lines.length>1){
                  for(var i=start;i<end;i++)
                  {
                    if(i>=user_lines.length){break;}
                    // alert(user_lines[i]['fields'].name);
                    output+='<tr>';
                    output+='<td class="sorting_1"><a id="'+user_lines[i]['pk']+'" class="line_link" href="#">'+user_lines[i]['fields'].name+'</a></td>';
                    output+='<td align="center">0</td>';
                    output+='<td align="center">'+user_lines[i]['fields'].number+'</td>';
                    output+='<td align="center">'+data.line_status_options[user_lines[i]['fields'].line_status]+'</td>';
                    output+='<td align="center"><a id="'+user_lines[i]['pk']+'" class="line_activity_link" href="#">View</a></td>';
                    output+='</tr>';
                  }}
                  // organoize users
                  var all_site_lines = JSON.parse(data.site_lines);
                  if(users.length>1){
                  for(var i=start;i<end;i++)
                  {
                    if(i>=users.length){break;}
                    // alert(user_lines[i]['fields'].name);
                    var line_no = '';
                    var line_status = '';
                    for(var z=0;z<users[i]['fields'].line_number.split(',').length;z++)
                    {
                      line_no +='<p>'+users[i]['fields'].line_number.split(',')[z]+'</p>';
                      // loop to get line Status
                      for(var q=0;q<all_site_lines.length;q++)
                      {
                        if(all_site_lines[q]['fields'].number==users[i]['fields'].line_number.split(',')[z])
                        {
                          line_status += '<p>'+data.line_status_options[all_site_lines[q]['fields'].line_status]+'</p>';
                        }
                      }
                      // line_status +='<p>'+data.line_status_options[users[i]['fields'].line_number.split(',')[z]]+'</p>';
                    }

                    output+='<tr>';
                    output+='<td class="sorting_1"><a id="'+users[i]['pk']+'" class="user_link" href="#">'+users[i]['fields'].first_name+' '+users[i]['fields'].last_name+'</a></td>';
                    output+='<td align="center">'+users[i]['fields'].account_balance+'</td>';
                    output+='<td align="center">'+line_no+'</td>';
                    // loop for line Status

                    output+='<td align="center">'+line_status+'</td>';
                    output+='<td align="center"><a id="'+users[i]['pk']+'" class="user_activity_link" href="#">View</a></td>';
                    output+='</tr>';
                  }}

                  $('#tbody_site_users'+current_num).html(output);
                } 
            },
            error: function(a,b,c) {  
              alert(b);
                $('#site_users_refresh'+current_num).html(a);
            },
            complete:function(){
              $('#site_users_refresh'+current_num).html('refresh <i class="fa fa-refresh"></i>');
            }
        }); 

       return false;
   });

   

});
</script>
