<div class="site_meter_reading_div"></div>

<script type="text/javascript">
$(document).ready(function(){ 
  var no_lines_to_show = 7;
   var current_num = $(".site_meter_reading").length + 1;
   var site_meter_reading = $("<div class='site_meter_reading' id='site_meter_reading"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>{{ site }} Meter Readings </h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div><span class='notification' id='meter_reading_notification"+current_num+"'></span>");
   var meter_reading_buttons = $("<table class='energy-bilevel' width='100%' align='center'><tr><td colspan='2' class='"+current_num+"'><a id='meter_reading_this_month"+current_num+"'>THIS MONTH</a> <span>| <a id='meter_reading_this_week"+current_num+"'>THIS WEEK </a></span> | <input type='text' name='' id='meter_reading_from_date"+current_num+"' placeholder='From'> <input type='text' name='' id='meter_reading_to_date"+current_num+"' placeholder='To'> {% if utility_management %}<select id='meter_reading_utility_type"+current_num+"'>{% for utility in utilities %}<option value='{{utility.name}}'>{{utility.name}}</option>{% endfor %}</select>{% endif %}</td></tr><tr id='meter_reading_loading"+current_num+"'><td  colspan='2' align='center'>Crunching data. Please wait <img src='/static/custom/img/loading.gif'/></td></tr></table>");     
   var chart_div = $("<div id='meter-recent-activity"+current_num+"'></div>");    
   var chart_buttons = $("meter reading table");

   var site_meter_reading_div = $('.site_meter_reading_div'); 

   site_meter_reading.append(heading);
   site_meter_reading.append(meter_reading_buttons);
   site_meter_reading.append(chart_div); 
   site_meter_reading.append(chart_buttons);   

   site_meter_reading_div.parent().html(site_meter_reading);

   var highchart = setupSiteMeterReadingUsageGraph('meter-recent-activity'+current_num,current_num);

   $('#meter_reading_loading'+current_num).hide();
   $('#hide_adjust_settings'+current_num).hide();

   $('#adjust_settings'+current_num).click(function(){
       $('#adjust_settings'+current_num).hide();
       $('.adjust_date_settings'+current_num).show();
       $('#hide_adjust_settings'+current_num).show();
   });
   $('#hide_adjust_settings'+current_num).click(function(){
       $('#hide_adjust_settings'+current_num).hide();
       $('.adjust_date_settings'+current_num).hide();
       $('#adjust_settings'+current_num).show();
   });

   $('#meter_reading_from_date'+current_num).datepicker({ maxDate: "+0D" });
   $('#meter_reading_to_date'+current_num).datepicker({ maxDate: "+0D" });
   $('#meter_reading_from_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd");  
   $('#meter_reading_to_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd");       

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   // Meter reading this month
   $('#meter_reading_this_month'+current_num).click(function(){
          drawSiteMeterReading('month');
       });
   $('#meter_reading_this_week'+current_num).click(function(){
          drawSiteMeterReading('week');
       });
   $('#meter_reading_to_date'+current_num).datepicker("option", "onClose", function(){
        var st = $('#meter_reading_from_date'+current_num).val();
        var ed = $('#meter_reading_to_date'+current_num).val();
        if(st=='')
        {
          $('#meter_reading_notification'+current_num).html("Select start date first");
          return false;
        }
        else if(st=='' && ed=='')
        {
          $('#meter_reading_notification'+current_num).html("Select dates first");
          return false;
        }
        else{/*Do nothing*/}
          drawSiteMeterReading('dates');
       });
  
  function drawSiteMeterReading(type)
  {
      var url = '/adjust_meter_reading/site';
      var start_date = '';
      var end_date = '';
      var site = '{{ site_data.site_id }}';
      var selected_utility = 'none';

      {% if utility_management %}
        selected_utility = $('#meter_reading_utility_type'+current_num).val();
      {% endif %}

      if(type=='dates')
      {
        start_date = $('#meter_reading_from_date'+current_num).val();
        end_date = $('#meter_reading_to_date'+current_num).val();;
      }

      $.ajax({
               url:url,
               type:'POST',
               dataType:'json',
               data:{
                   'type':type,
                   'start_date':start_date,
                   'end_date':end_date,
                   'site_id':site,
                   'selected_utility':selected_utility,
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend:function(){
                   $('#meter_reading_loading'+current_num).show();
               },
               complete:function(){
                $('#meter_reading_loading'+current_num).hide();
               },
               success:function(data){  
                // Get dates
                var date_data=[];
                for (var item in data['data']['chart_data'])
                {
                  for (var item2 in data['data']['chart_data'][item]['user_data'])
                  {
                    // alert(data['data']['chart_data'][item]['user_data'][item2]['timestamp']);
                    date_data.push([data['data']['chart_data'][item]['user_data'][item2]['timestamp']]);
                  }
                }



            chartID = 'meter-recent-activity'+current_num;                 
                   ////////////////////////////////////////////////////////
                   var options = {
            chart: {
                type: 'scatter',
                renderTo:chartID, 
                alignTicks:false        
            },
            plotOptions: {
                scatter: {
                    lineWidth:2,
                    marker: {
                        fillColor: 'transparent'
                    },                
                }
            },        
            credits:{
                enabled:false
            },
            title: {
                text: '',
                style:{'fontWeight':'bold'},
            },
            subtitle:{
                text:'From: '+data['data']['start_date']+' To: '+data['data']['end_date'],
                style:{
                    'fontWeight':'bold'
                }
            },
            xAxis: {
                type:'datetime', 
                //categories : date_data 
            },  
            tooltip: {
                formatter: function() {                         
                        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2);
                }
            },                      
            series:[],
        }; 
        var count = 0; 
        var left_axis_title = "";
        var right_axs_title = "";
       
        if(data['data']['selected_utility']=="Water:")
        {
          left_axis_title = "M^3";
        }
        else if(data['data']['selected_utility']=="Fuel:")
        {
          left_axis_title = "M^3";
        }
        else
        {
          left_axis_title = "KWh";
        }

        var z = 0;
        for (var item in data['data']['chart_data'])
        {
          var rates = [];
          for (var item2 in data['data']['chart_data'][item]['user_data'])
          {
            rates.push([data['data']['chart_data'][item]['user_data'][item2]['timestamp'],parseFloat(data['data']['chart_data'][item]['user_data'][item2]['reading'])]);
          }

          if(rates.length != 0)
          {
            // Show for the first 7 lines, then disable the rest
            if(z<no_lines_to_show)
            {
                  options.series.push({
                    name: data['data']['chart_data'][item]['user'],
                    data:rates,     
                    yAxis:0               
                });
            }
            else
            {
                  options.series.push({
                    name: data['data']['chart_data'][item]['user'],
                    data:rates,     
                    yAxis:0,
                    visible:false              
                });
            }
          }
          z++;
        }
        
        $("#left_y_axis_label"+current_num).text(left_axis_title+ " Scale: ");
              
        var chart = new Highcharts.Chart(options);             
        chart.yAxis[0].setTitle({text: left_axis_title});
        
        return chart; 

                   ////////////////////////////////////////////////////////
               },
               error:function(a,b,c){
                alert(b);
               }
          });

  }

   // Draw graph
   function setupSiteMeterReadingUsageGraph(chartID,current_num){
          var options = {
            chart: {
                type: 'scatter',
                renderTo:chartID, 
                alignTicks:false        
            },
            plotOptions: {
                scatter: {
                    lineWidth:2,
                    marker: {
                        fillColor: 'transparent'
                    },                
                }
            },        
            credits:{
                enabled:false
            },
            title: {
                text: '',
                style:{'fontWeight':'bold'},
            },
            subtitle:{
                text:'From: {{ site_data.start_date }} To: {{ site_data.end_date }}',
                style:{
                    'fontWeight':'bold'
                }
            },
            xAxis: {
                type:'datetime',  
            },  
            tooltip: {
                formatter: function() {                         
                        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2);
                }
            },                       
            series:[],
        };         
        
        var count = 0; 
        var left_axis_title = "";
        var right_axs_title = "";
        if("{{ site_data.selected_utility }}"=="Water:")
        {
          left_axis_title = "M^3";
        }
        else if("{{ site_data.selected_utility }}"=="Fuel:")
        {
          left_axis_title = "M^3";
        }
        else
        {
          left_axis_title = "KWh";
        }
        var z=0;    
        {% for user in site_data.chart_data %}
          var rates = [];
          {% for data in user.user_data %}
             rates.push([{{data.timestamp}},{{data.reading}}]);
          {% endfor %}

              if(rates.length != 0)
              {
                if (z<no_lines_to_show)
                {
                    options.series.push({
                      name: "{{ user.user }}",
                      data:rates,     
                      yAxis:0               
                  });
                }
                else
                {
                    options.series.push({
                      name: "{{ user.user }}",
                      data:rates,     
                      yAxis:0,
                      visible:false               
                  });
                }
            z++;
              }
        {% endfor %}
        
        $("#left_y_axis_label"+current_num).text(left_axis_title+ " Scale: ");
              
        var chart = new Highcharts.Chart(options);             
        chart.yAxis[0].setTitle({text: left_axis_title});
        
        return chart; 
  }

// End of draw graph

 });

</script>
