<div class='site_revenues_daily_totals' id='site_revenues_daily_totals_{{ random_number }}'>
    <!-- Headers -->
    <span class='close_button'>X</span>
    <h4 align='center'>
        <span id='site_name_revenue_totals'>{{site_name}}</span>:
        {% if utility_management %}Daily Costs{% else %}Daily Revenues{% endif %}
    </h4>
    <p align='center' style='font-weight:bold;'>
        Total: <span id='site_currency_revenue_totals'>{{currency}}</span>
        <span id='revenues_duration_total'></span>
    </p>

    <!-- Chart divs -->
    <div class='row-fluid site-chart-row'>
        <div id='revenues-chart-{{ random_number }}'></div>
    </div>

    <!-- Chart buttons -->
    <div class="row">
        <button id='cur_last_date' class="date-adjustment-input edit-date-button" dates_range='3' begin_date=''>Prev 3 Days</button>
        <button id='cur_next_date' class="date-adjustment-input edit-date-button" dates_range='3' last_date=''>Next 3 Days</button>
    </div>
    <div class="row">
        <button id='last_3_day' class="date-adjustment-input edit-date-button" dates_range='3'>Last 3 Days</button>
        <button id='last_7_day' class="date-adjustment-input edit-date-button" dates_range='7'>Last 7 Days</button>
        <button id='last_30_day' class="date-adjustment-input edit-date-button" dates_range='30'>Last 30 Days</button>
        <button id='last_90_day' class="date-adjustment-input edit-date-button" dates_range='90'>Last 90 Days</button>
    </div>
    <div class="row">
        <span class='float:right;'>
            <input type='text'
                   id='sites_list_option'
                   placeholder='Site Name'
                   style='width:220px'
                   class='tip date-adjustment-input'
                   title='Type site name to switch graph data'>
            <img src='/static/custom/img/loading.gif' id='show_loading'>
        </span>
        <button id='site_revenues_daily_totals_adjust_dates' class="date-adjustment-input">Choose Dates</button>
    </div>
    <div class="row">
        <span id='site_revenues_daily_totals_msg' class='notification'></span>
    </div>
    <div class="row site_daily_revenues_totals_adjust_axis_settings" style="display: none;">
        <hr>
        <span class='bold_text'>Date Range: </span>
        <input type='text' id='site_daily_revenues_totals_min_date' style='width:100px' placeholder='Min Date'>
        <input type='text' id='site_daily_revenues_totals_max_date' style='width:100px' placeholder='Max Date'>
    </div>
    <div class="row site_daily_revenues_totals_adjust_axis_settings" style="display: none;">
        <button type='submit'
                id='site_daily_revenues_totals_update_graph'
                class='update_graph edit-date-button'
                style='float:left;margin:2px;'>Update Graph</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var site_id = "{{site_id}}";
        var site_name = "{{site_name}}";
        var site_currency = "{{currency}}";
        var duration_total = 0.0;
        var chart_state = 'default';

        {# Get elements based on root element (using "random_number" identifier) #}
        var baseDiv = $("#site_revenues_daily_totals_{{ random_number }}");

        var last3DayBtn = baseDiv.find('#last_3_day');
        var last7DayBtn = baseDiv.find('#last_7_day');
        var last30DayBtn = baseDiv.find('#last_30_day');
        var last90DayBtn = baseDiv.find('#last_90_day');
        var lastPeriodBtn = baseDiv.find('#cur_last_date');
        var nextPeriodBtn = baseDiv.find('#cur_next_date');
        var updateGraphBtn = baseDiv.find('#site_daily_revenues_totals_update_graph');

        var minDateInput = baseDiv.find('#site_daily_revenues_totals_min_date');
        var maxDateInput = baseDiv.find('#site_daily_revenues_totals_max_date');

        var siteChangeLoadingIndicator = baseDiv.find('#show_loading');
        var totalRevenueNumber = baseDiv.find('#revenues_duration_total');

        siteChangeLoadingIndicator.hide();

        var revenueChart = financial_chart('revenues-chart-{{ random_number }}');

        minDateInput.datepicker({ maxDate: "-0D" });
        maxDateInput.datepicker({ maxDate: "-0D" });
        minDateInput.datepicker("option", "dateFormat","yy-mm-dd");
        maxDateInput.datepicker("option", "dateFormat","yy-mm-dd");

        $( ".tip" ).tooltip({
            show: {
                effect: "slideDown",
                delay: 250,
            }
        });

        $('.close_button').click(function(){
            var div_id=$(this).parent().attr('id');
            $('#'+div_id).parent().parent().hide('slow');
        });

        baseDiv.find('#site_revenues_daily_totals_adjust_dates').click(function(){
            baseDiv.find('.site_daily_revenues_totals_adjust_axis_settings').toggle();
        });

        sites = [{% for site in sites %}
            {value:"{{ site.name }}",id:"{{ site.id }}", currency:"{{ site.currency }}"},
        {% endfor %}];

        baseDiv.find("#sites_list_option").autocomplete({
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(sites, request.term);
                response(results.slice(0, 10));
            },
            select: function( event, ui ){
                site_id = ui.item.id;
                site_name = ui.item.value;
                site_currency = ui.item.currency;

                change_site();
            }
        });

        lastPeriodBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = $(this).attr("dates_range");
            var last_date = $(this).attr("begin_date");

            update_chart(site_id,last_date,dates_range,"last_dates");
        });

        nextPeriodBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = $(this).attr("dates_range");
            var last_date = $(this).attr("last_date");

            update_chart(site_id,last_date,dates_range,"next_dates");
        });

        last3DayBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = "";
            var last_date = "";

            update_chart(site_id,last_date,dates_range,"last_3_day");
        });

        last7DayBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = "";
            var last_date = "";

            update_chart(site_id,last_date,dates_range,"last_7_day");
        });

        last30DayBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = "";
            var last_date = "";

            update_chart(site_id,last_date,dates_range,"last_30_day");
        });

        last90DayBtn.click(function(){
            setButtonLoading($(this));
            var dates_range = "";
            var last_date = "";

            update_chart(site_id,last_date,dates_range,"last_90_day");
        });

        updateGraphBtn.click(function(){
            var msgDiv = baseDiv.find("#site_revenues_daily_totals_msg");
            msgDiv.text("");
            var min_date = minDateInput.val();
            var max_date = maxDateInput.val();

            if($.trim(min_date)=="" || $.trim(max_date)==""){
                msgDiv.text("Enter a min and max date first");
            }
            else{
                update_chart(site_id,min_date,max_date,"update");
            }
        });

        function update_chart(site_id,min_date,max_date,action)
        {
            chart_state = 'adjusted';
            $.ajax({
                url:'/totals/revenues/',
                type:'POST',
                dataType:'json',
                data:{
                    'min_date':min_date,
                    'max_date':max_date,
                    'site_id':site_id,
                    'action':action,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend:function(){
                    updateGraphBtn.html("Updating...");
                },
                success:function(data){
                    baseDiv.find(".edit-date-button").prop("disabled", false);
                    adjusted_financial_chart(data, revenueChart);
                    updateGraphBtn.html("Update Graph");
                }
            });
        }

        function change_site(){
            chart_state = 'default';

            $.ajax({
                url:'/totals/revenues/',
                type:'POST',
                dataType:'json',
                data:{
                    'site_id':site_id,
                    'action':'default',
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend:function(){
                    siteChangeLoadingIndicator.show();
                },
                success:function(data){
                    adjusted_financial_chart(data, revenueChart);
                    baseDiv.find("#site_name_revenue_totals").html(site_name);
                    baseDiv.find("#site_currency_revenue_totals").html(site_currency);
                    siteChangeLoadingIndicator.hide();
                }
            });

        }

        function adjusted_financial_chart(data, highchart){
            // get the last date
            var begin_date = data['chart_data']['financial']['begin_date'];
            var last_date = data['chart_data']['financial']['last_date'];

            var dates_range = data['chart_data']['financial']['dates_range'];

            lastPeriodBtn.attr("begin_date",begin_date);
            nextPeriodBtn.attr('last_date', last_date);

            lastPeriodBtn.attr("dates_range", dates_range);
            nextPeriodBtn.attr('dates_range', dates_range);

            lastPeriodBtn.html("&larr; Prev " + (dates_range + 1) + " Days");
            nextPeriodBtn.html("Next " + (dates_range + 1) + " Days &rarr;");
            last3DayBtn.text("Last 3 Days");
            last7DayBtn.text("Last 7 Days");
            last30DayBtn.text("Last 30 Days");
            last90DayBtn.text("Last 90 Days");

            duration_total = data['chart_data']['financial']['duration_total'];
            totalRevenueNumber.html(duration_total);
            var chart_data = data['chart_data']['financial']['dates'];
            var chartData = [];
            var payData = [];
            var chartDates = [];
            for (i = 0; i < chart_data.length; i++) {

                chartDates.push(["<b>"+data['chart_data']['financial']['dates'][i]+"</b>"]);
                {% if utility_management %}
                    chartData.push([
                        "<b>"+data['chart_data']['financial']['dates'][i]+"</b>",
                        data['chart_data']['financial']['total'][i]
                    ]);
                {% else %}
                    payData.push([
                        data['chart_data']['communication']['payments'][i]
                    ]);
                    chartData.push([
                        data['chart_data']['financial']['total'][i]
                    ]);
                {% endif %}
            }
            highchart.xAxis[0].setCategories(chartDates);
            {% if utility_management %}
                highchart.series[0].setData(chartData);
            {% else %}
                highchart.series[0].setData(chartData);
                highchart.series[1].setData(payData);
            {% endif %}
        }

        function financial_chart(chart_id){
            duration_total = {{chart_data.financial.duration_total }};
            var begin_date = "{{chart_data.financial.begin_date }}";
            var last_date = "{{chart_data.financial.last_date }}";
            var dates_range = "{{chart_data.financial.dates_range }}";
            // alert(last_date);
            lastPeriodBtn.attr("begin_date",begin_date);
            nextPeriodBtn.attr('last_date', last_date);
            lastPeriodBtn.attr("dates_range",dates_range);
            nextPeriodBtn.attr('dates_range', dates_range);

            lastPeriodBtn.html("&larr; Prev "+dates_range+" Days");
            nextPeriodBtn.html("Next "+dates_range+" Days &rarr;");

            totalRevenueNumber.html(duration_total);
            var dates=[{% for date in chart_data.financial.dates %}
                ["<b>{{ date }}</b>"],
            {% endfor %}];

            var data = [{% for count in chart_data.financial.total %}
                [{{ forloop.counter0 }}, {{ count }}],
            {% endfor %}];

            var payData = [{% for count in chart_data.communication.payments %}
                [{{ forloop.counter0 }}, {{ count }}],
            {% endfor %}];

            var options = {
                chart: {
                    renderTo:chart_id,
                    alignTicks:false,
                    height:300
                },
                credits:{
                    enabled:false,
                },
                title: {
                    text: '',
                },
                xAxis: {
                    categories: dates
                },
                yAxis: [{
                    title: {
                        style:{
                            fontWeight:'bold',
                            fontSize:'14px',
                            color:'#000'
                        }
                    },
                },{
                    title: {
                        style:{
                            fontWeight:'bold',
                            fontSize:'14px',
                            color:'#000'
                        }
                    },
                    floor:0,
                    opposite:true,
                    gridLineWidth:0
                }],
                tooltip:{
                    formatter: function() {
                        if(this.series.name == "Total"){
                            return  '<b>' + this.x +'</b><br><b>'+ Highcharts.numberFormat(this.y,2) +' {{currency}}</b>';
                        }
                        else{
                            return  '<b>' + this.x +'</b><br><b>'+ Highcharts.numberFormat(this.y,0) +'</b> ';
                        }
                    }
                },
                series:[]
            };

            {% if utility_management %}
                options.series.push({
                    type:'column',
                    color:'#FFA54F',
                    name:'Total',
                    data:data
                });
            {% else %}
                options.series.push({
                    type:'column',
                    color:'#FFA54F',
                    name:'Total',
                    data:data
                });
                options.series.push({
                    type:'line',
                    name:'Payments Received',
                    data:payData,
                    yAxis: 1,
                    color:'#7F8DFF'
                });
            {% endif %}

            var chart = new Highcharts.Chart(options);
            {% if utility_management %}
                chart.yAxis[0].update({title:{text: "Cost ({{currency}})"}});
                chart.yAxis[1].update({title:{text: ""}});
            {% else %}
                chart.yAxis[0].update({title:{text: "Payments ({{currency}})"}});
                chart.yAxis[1].update({title:{text: "Payments Received"}});
            {% endif %}
            return chart;
        }

        function setButtonLoading(button) {
            button.html("Please wait <img src='/static/custom/img/loading.gif'/>");
            baseDiv.find(".edit-date-button").prop("disabled", true);
        }

    });
</script>
