<div class="sites_temperature_activity_div"></div>

<script type="text/javascript">
$(document).ready(function(){   
   var current_num = $(".sites_temperature_activity").length + 1;
   var sites_temperature_activity = $("<div class='sites_temperature_activity' id='sites_temperature_activity"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>Sites Temperature</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");      
   var chart_div = $("<div id='sites-temperature-recent-activity"+current_num+"'></div>");    
   var chart_buttons = $("<table class='recent_activity_tb'>"+
			"<tr><span id='error_msg"+current_num+"' class='notification'></span></td></tr>"+
                        "<tr><td><button id='sites_temperature_adjust_axis_btn"+current_num+"'>Adjust Axis</button><button id='sites_temperature_hide_axis_btn"+current_num+"'>Hide Axis Settings</button></td></tr>"+
                        "<tr class='sites_temperature_adjust_axis_settings"+current_num+"'><td><span class='bold_text'>Date Range: </span><input type='text' id='sites_temperature_activity_min_date"+current_num+"' placeholder='Min Date'> <input type='text' id='sites_temperature_activity_max_date"+current_num+"' placeholder='Max Date'></td></tr>"+
                        "<tr class='sites_temperature_adjust_axis_settings"+current_num+"'><td><span class='bold_text'>Temperature Scale: </span><input type='text' id='y_sitestemperature_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='y_sitestemperature_scale_max"+current_num+"' placeholder='Max'></td></tr>"+                                                
			"<tr class='sites_temperature_adjust_axis_settings"+current_num+"'><td><button type='submit' id='sites_temperature_update_graph"+current_num+"' class='update_graph' style='margin-right:5px;'>Update Graph</button> <button type='submit' id='sites_temperature_reset_graph"+current_num+"' class='reset_graph'>Reset Graph</button></td></tr>"+                                                               
                        "</table>");

   var sites_temperature_activity_div = $('.sites_temperature_activity_div'); 

   sites_temperature_activity.append(heading);
   sites_temperature_activity.append(chart_div); 
   sites_temperature_activity.append(chart_buttons);   

   sites_temperature_activity_div.parent().html(sites_temperature_activity); 

   var highchart = setupSitesTemperatureGraph('sites-temperature-recent-activity'+current_num); 

   $('#sites_temperature_activity_min_date'+current_num).datepicker();
   $('#sites_temperature_activity_max_date'+current_num).datepicker();
   $('#sites_temperature_activity_min_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");
   $('#sites_temperature_activity_max_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");   

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });
   

   $('.sites_temperature_adjust_axis_settings'+current_num).hide();
   $('#sites_temperature_hide_axis_btn'+current_num).hide();

   $('#sites_temperature_update_graph'+current_num).click(function(){       
       var y_sitestemperature_scale_max=$('#y_sitestemperature_scale_max'+current_num).val();
       var y_sitestemperature_scale_min=$('#y_sitestemperature_scale_min'+current_num).val();       
       
       var min_date = $('#sites_temperature_activity_min_date'+current_num).val();
       var max_date = $('#sites_temperature_activity_max_date'+current_num).val();

       if($.trim(y_sitestemperature_scale_max)!="" && $.trim(y_sitestemperature_scale_min)!=""){
           highchart.yAxis[0].setExtremes(y_sitestemperature_scale_min,y_sitestemperature_scale_max);
       }
       if($.trim(min_date)!="" && $.trim(max_date)!=""){
           $.ajax({
               url:'/adjust/sites_temperature/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':'{{id}}',
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'action':'update',
                   'start_date':min_date,
                   'end_date':max_date
               },
               beforeSend:function(){
                   $('#sites_temperature_update_graph'+current_num).html("Updating...");
               },
               success:function(data){  
                   highchart.setTitle(null,{'text': 'From: '+simpledate(min_date)+' To: '+simpledate(max_date)});
                   adjusted_sitesTemperatureGraph(data,highchart,current_num);
                   $('#sites_temperature_update_graph'+current_num).html("Update Graph");
               }  
           });
       }
       
   });

   $('#sites_temperature_reset_graph'+current_num).click(function(){  
       $.ajax({
               url:'/adjust/sites_temperature/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':'{{id}}',
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'action':'default'
               },
               beforeSend:function(){
                   $('#sites_temperature_update_graph'+current_num).html("Updating...");
               },
               success:function(data){  
                   highchart.setTitle(null,{'text': 'From: {{sites_temperature.start_date|date:"d-M-y" }} To: {{sites_temperature.end_date|date:"d-M-y"}}'});
                   adjusted_sitesTemperatureGraph(data,highchart,current_num);
                   $('#sites_temperature_update_graph'+current_num).html("Update Graph");
               }  
           });
   });

   $('#sites_temperature_adjust_axis_btn'+current_num).click(function(){
       $('#sites_temperature_adjust_axis_btn'+current_num).hide();
       $('.sites_temperature_adjust_axis_settings'+current_num).show();
       $('#sites_temperature_hide_axis_btn'+current_num).show();			
   });

   $('#sites_temperature_hide_axis_btn'+current_num).click(function(){
       $('#error_msg'+current_num).text("");
       $('#sites_temperature_hide_axis_btn'+current_num).hide();
       $('.sites_temperature_adjust_axis_settings'+current_num).hide();
       $('#sites_temperature_adjust_axis_btn'+current_num).show();
   });

});


function adjusted_sitesTemperatureGraph(data,highchart,current_num){
    var seriesIndex = 0;
    var sites = Object.keys(data['temp']);

    for (var i = 0; i < sites.length; i++) {
        var temperatureData = data['temp'][sites[i]];
        var chartTemperatureData = [];
        for (var j = 0; j < temperatureData.length; j++) {                           
            chartTemperatureData.push([
                temperatureData[j]['timestamp'],
                parseFloat(temperatureData[j]['reading'])
            ]);
        }
        highchart.series[seriesIndex].setData(chartTemperatureData);
        seriesIndex++;                                        
    }                                      
}


function setupSitesTemperatureGraph(chartID){
    var options = {
        chart: {
            type: 'scatter',
            renderTo:chartID, 
            alignTicks:false        
        },
        colors:['#032773','#3A54B0','#7F8DFF','#3333ff','#000080','#6495ED'],
        plotOptions: {
            scatter: {
                lineWidth:2,
                marker: {
                    fillColor: 'transparent'
                },                
            }
        },				
        credits:{
            enabled:false
        },
        title: {
            text: '',
            style:{'fontWeight':'bold'},
        },
        subtitle:{
            text:'From: {{sites_temperature.start_date|date:"d-M-y" }} To: {{sites_temperature.end_date|date:"d-M-y"}}',
            style:{
                'fontWeight':'bold'
            }
        },
        xAxis: {
            type:'datetime',	
        },				
        yAxis: { 
            labels: {
                format: '{value:.1f}',                
            },
            floor:0,   
            gridLineWidth:0,
            allowDecimals:false,
            title: {
                text: 'Temperature (C)',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                }
            },                        
        },
        tooltip:{
            valueDecimals: 2,
        },
        series:[]
    };		

    var count = 1;	    
    {% for site, temp in sites_temperature.temp.items %}
        var tempData = [{% for log in temp %}
            [{{ log.timestamp }}, {{ log.reading }}],
        {% endfor %}];				  
        
        if(count < 5){
            options.series.push({
                name: "{{ site }}",
                data:tempData,											
            });		
        }
        else{
            options.series.push({
                name: "{{ site }}",
                data:tempData,
                visible:false
            });	
        }
        count++;
    {% endfor %}
    var chart = new Highcharts.Chart(options);
    chart.tooltip.options.formatter = function() {
        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ this.y+"C";
    }     
    return chart;					
  }
</script>
