<div class="site_report"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $(".site_report_form").length + 1;
    var form_heading =$("<span class='close_button'>X</span><h4 align='center'>Site Report</h4>");
    var form_message = $("<p><span class='notification' id='site_report_notification"+current_num+"'></span></p>");
    var site_report_form = $("<form class='site_report_form' id='site_report_form"+current_num+"' name='"+current_num+"' method='get' action='/site_report/generate/'></form>");  
    var report_table = $("<table class='site_report_tb'><tr><td><span class='bold_text'>Dates:</span><br><input type='text' class='input-small' id='min_date_id"+current_num+"' name='min_date' placeholder='Start Date'> <input type='text' class='input-small' id='max_date_id"+current_num+"' name='max_date' placeholder='End Date'></td><td><span class='bold_text'>Sites:</span><br><select name='site'>{% for site in all_sites %}<option value='{{ site.name }}'>{{ site.name }}</option>{% endfor %}</select></td></tr><tr><td colspan='2'><span class='bold_text'>Highlight Lines:</span><br><input type='text' name='line_numbers' placeholder='eg. 1,2,3,4,5' ></td></tr></table>");
    var form_button = $("<button type='submit' name='generate' class='generate_site_report'>Generate Report</button>");

    var site_report = $('.site_report');
 
    site_report_form.append(form_heading);
    site_report_form.append(form_message);
    site_report_form.append(report_table);
    site_report_form.append(form_button);

    site_report.parent().html(site_report_form);


    $( "#min_date_id"+current_num).datepicker();
    $( "#max_date_id"+current_num).datepicker();


    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    }); 


    //on submission of the form
    $('.generate_site_report').click(function(){
        var form_id = $(this).parent().attr('id');            
        var element_id = $(this).parent().attr('name');

        $('#'+form_id).unbind('submit').submit(function(){ 
            $.ajax({
                type:$('#'+form_id).attr('method'),
                url: $('#'+form_id).attr('action'),
                data: $('#'+form_id).serialize(),
                success: function (data) {
                    $('#site_report_notification'+element_id).text(data);
                },
                error: function(data) {   
                    $('#site_report_notification'+element_id).text(data);
                }
            });         
            return false;       
        }); 
    });

});
</script>
