<div class="site_recent_activity_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var site_id = "{{site.id}}";
   var site_name = "{{site.name}}";
   var current_num = $(".site_recent_activity").length + 1;
   var site_recent_activity = $("<div class='site_recent_activity' id='site_recent_activity"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'><span id='site_recent_activity_site_name"+current_num+"'>{{site.name}}</span>: Recent Activity</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ site.timezone }} ["+off_set('{{ site.timezone }}')+"] timezone</div>");      
   var chart_div = $("<div id='recent-activity"+current_num+"'></div>");    
   var chart_buttons = $("<table class='recent_activity_tb'>"+
			"<tr><span id='error_msg"+current_num+"' class='notification'></span></td></tr>"+
                        "<tr><td id='adjust_site_utility"+current_num+"'><select style='width:200px;' id='site_utility_type"+current_num+"'>{% for utility in utility_lists %}<option>{{utility.name}}</option>{% endfor %}</select></td><td><input id='site_recent_activity_sites_list_option"+current_num+"' type='text' placeholder='Site Name'  style='width:150px;margin-left: 5px;'> <img src='/static/custom/img/loading.gif' id='site_recent_activity_show_loading"+current_num+"'></td><td><button id='adjust_axis_btn"+current_num+"'>Adjust Axis</button><button id='hide_axis_btn"+current_num+"'>Hide Axis Settings</button></td></tr>"+
                        "<tr class='adjust_axis_settings"+current_num+"'><td colspan='3'><span class='bold_text'>Date Range: </span><input type='text' id='site_recent_activity_min_date"+current_num+"' placeholder='Min Date'> <input type='text' id='site_recent_activity_max_date"+current_num+"' placeholder='Max Date'></td></tr>"+
			"<tr class='adjust_axis_settings"+current_num+"'><td  colspan='3'><span class='bold_text' id='left_y_axis_label"+current_num+"'></span><input type='text' id='y_powerdraw_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='y_powerdraw_scale_max"+current_num+"' placeholder='Max'></td></tr>"+
                        "<tr class='adjust_axis_settings"+current_num+"'><td colspan='3'><span class='bold_text' id='right_y_axis_label"+current_num+"'>Other Scale: </span><input type='text' id='y_voltemp_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='y_voltemp_scale_max"+current_num+"' placeholder='Max'></td></tr>"+                                                
			"<tr class='adjust_axis_settings"+current_num+"'><td  colspan='3'><button type='submit' id='update_graph"+current_num+"' class='update_graph' style='margin-right:5px;'>Update Graph</button> <button type='submit' id='reset_graph"+current_num+"' class='reset_graph'>Reset Graph</button></td></tr>"+"</table>");

   var site_recent_activity_div = $('.site_recent_activity_div');
    

   site_recent_activity.append(heading);
   site_recent_activity.append(chart_div); 
   site_recent_activity.append(chart_buttons);   

   site_recent_activity_div.parent().html(site_recent_activity); 

   $('#site_recent_activity_show_loading'+current_num).hide();

   $( ".tip" ).tooltip({
       show: {
           effect: "slideDown",
           delay: 250,
       }
    });

   "{% if utility_lists %}"
   var default_utility = "{{utility_lists.0.name}}"; 
   "{% else %}"
   var default_utility = "Electricity";   
   "{% endif %}"

   var highchart;
   setupSiteEnergyUsageGraph('recent-activity'+current_num,default_utility);

   $('#site_recent_activity_min_date'+current_num).datepicker();
   $('#site_recent_activity_max_date'+current_num).datepicker();
   $('#site_recent_activity_min_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd");
   $('#site_recent_activity_max_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd");   

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });
   

   $('.adjust_axis_settings'+current_num).hide();
   $('#hide_axis_btn'+current_num).hide();
   $('#adjust_site_utility'+current_num).hide();

   $('#update_graph'+current_num).click(function(){       
       var y_powerdraw_scale_max=$('#y_powerdraw_scale_max'+current_num).val();
       var y_powerdraw_scale_min=$('#y_powerdraw_scale_min'+current_num).val();

       var y_voltemp_scale_max=$('#y_voltemp_scale_max'+current_num).val();
       var y_voltemp_scale_min=$('#y_voltemp_scale_min'+current_num).val();
       
       var min_date = $('#site_recent_activity_min_date'+current_num).val();
       var max_date = $('#site_recent_activity_max_date'+current_num).val();

       if($.trim(y_powerdraw_scale_max)!="" && $.trim(y_powerdraw_scale_min)!=""){
           highchart.yAxis[0].setExtremes(y_powerdraw_scale_min,y_powerdraw_scale_max);
       }
       if($.trim(y_voltemp_scale_max)!="" && $.trim(y_voltemp_scale_min)!=""){
           highchart.yAxis[1].setExtremes(y_voltemp_scale_min,y_voltemp_scale_max);
       } 
       if($.trim(min_date)!="" && $.trim(max_date)!=""){
           $.ajax({
               url:'/adjust_activity/site/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'min_date':min_date,
                   'max_date':max_date,
                   'utility_type':default_utility
               },
               beforeSend:function(){
                   $('#update_graph'+current_num).html("Updating...");
               },
               success:function(data){
                   adjustSiteEnergyUsageGraph(highchart,data);
                   highchart.setTitle(null,{'text': 'From: '+simpledate(min_date)+' To: '+simpledate(max_date)});
                   $('#update_graph'+current_num).html("Update Graph");           
               }  
           });
       }
       
   });

   $('#reset_graph'+current_num).click(function(){ 
       var date = new Date();       
       var min_date = dashed_formatted_date(removedays(date,3));
       var max_date = dashed_formatted_date(date);

       $.ajax({
               url:'/adjust_activity/site/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'min_date':min_date,
                   'max_date':max_date,
                   'utility_type':default_utility
               },
               beforeSend:function(){
                   $('#reset_graph'+current_num).html("Resetting...");
               },
               success:function(data){ 
                   adjustSiteEnergyUsageGraph(highchart,data);
                   highchart.setTitle(null,{'text': 'From: '+simpledate(min_date)+' To: '+simpledate(max_date)});
                   $('#reset_graph'+current_num).html("Reset");           
               } 
           });
   });

   $('#adjust_axis_btn'+current_num).click(function(){
       $('#adjust_axis_btn'+current_num).hide();
       $('.adjust_axis_settings'+current_num).show();
       $('#hide_axis_btn'+current_num).show();			
   });

   $('#hide_axis_btn'+current_num).click(function(){
       $('#error_msg'+current_num).text("");
       $('#hide_axis_btn'+current_num).hide();
       $('.adjust_axis_settings'+current_num).hide();
       $('#adjust_axis_btn'+current_num).show();
   });

   //change the default utility type and reload graph 
   $("#site_utility_type"+current_num).change(function(){
       default_utility = $("#site_utility_type"+current_num).val();    
       setupSiteEnergyUsageGraph("recent-activity"+current_num,default_utility);
   });

   sites = [{% for site in sites %}
        {value:"{{ site.name }}",id:"{{ site.id }}"},
    {% endfor %}];   

    $("#site_recent_activity_sites_list_option"+current_num).autocomplete({            
        minLength: 0,
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(sites, request.term);
            response(results.slice(0, 10));        
        },
        select: function( event, ui ){
             site_id = ui.item.id;           
             site_name = ui.item.value;
             site_currency = ui.item.currency;
             
             change_site();
        }
    });

    function change_site(){
                //get the utility list of this site
        $.ajax({
            url:'/site/utilities/',
            type: 'POST',
            dataType: 'json',
            data:{
                'site_id':site_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend: function(){
            },
            success: function(data){
                $("#site_utility_type"+current_num).empty();
                for(i=0;i<data['utility_lists'].length; i++){
                    if(i==0){
                        default_utility = data['utility_lists'][i]['name'];
                    }
                    $("#site_utility_type"+current_num).append("<option>"+data['utility_lists'][i]['name']+"</option>");
                }
            }
        });

        $.ajax({
               url:'/load_activity/site/',
               type:'POST',
               dataType:'json',
               data:{
                   'csrfmiddlewaretoken':'{{csrf_token}}',            
                'site_id':site_id,
                'utility_type':default_utility
               },
               beforeSend:function(){
                   $('#site_recent_activity_show_loading'+current_num).show();
               },
               success:function(data){                                      
                   setupSiteEnergyUsageGraph("recent-activity"+current_num,default_utility);
                   $("#site_recent_activity_site_name"+current_num).html(site_name);
                   $('#site_recent_activity_show_loading'+current_num).hide();
               }
          }); 
    }


   function adjustSiteEnergyUsageGraph(chart,data){
       var tempData = [];
       var ratesData = [];
       var voltsData = [];                
       var currentData = [];

       var rates = Object.keys(data['rates']['total']);                         
       var temp = Object.keys(data['temp']['total']);
               
       for (i = 0; i < rates.length; i++) {
          ratesData.push([
               data['rates']['total'][i]['timestamp'] ,parseFloat(data['rates']['total'][i]['rate']),
          ]);
       }
                
       for (i = 0; i < temp.length; i++) {
            tempData.push([
               data['temp']['total'][i]['timestamp'] ,parseFloat(data['temp']['total'][i]['reading']),
            ]);
       }

       chart.series[0].setData(ratesData);       
       chart.series[1].setData(tempData);      
       if(data['volts'] != undefined){
           var volts = Object.keys(data['volts']['total']); 
           for (i = 0; i < volts.length; i++) {
               voltsData.push([
                   data['volts']['total'][i]['timestamp'] ,parseFloat(data['volts']['total'][i]['reading']),
               ]);
           }
           chart.series[2].setData(voltsData);
       }

       if(data['current'] != undefined){
           var current = Object.keys(data['current']['total']); 
           for (i = 0; i < current.length; i++) {
               currentData.push([
                   data['current']['total'][i]['timestamp'] ,parseFloat(data['current']['total'][i]['reading']),
               ]);
           }
           if(data['volts'] != undefined){
               chart.series[3].setData(currentData);
           }
           else{
               chart.series[2].setData(currentData);
           }
       }
   }


    function setupSiteEnergyUsageGraph(chartID,utility_type){
        $.ajax({
            url:'/load_activity/site/',
            type:'POST',
            data:{
                'csrfmiddlewaretoken':'{{csrf_token}}',            
                'site_id':site_id,
                'utility_type':utility_type
            },
            dataType:'json',
            beforeSend:function(){
                //Add loading chart where the graph is
                $("#recent-activity"+current_num).html("<div align='center'>Loading graph...<img src='/static/custom/img/loading.gif'></div>");
            },
            success:function(data){                              
                var options = {
                        chart: {
                            type: 'scatter',
                            renderTo:chartID, 
                            alignTicks:false        
                        },
                        plotOptions: {
                            scatter: {
                                lineWidth:2,
                                marker: {
                                    fillColor: 'transparent'
                                },                
                            }
                        },				
                        credits:{
                            enabled:false
                        },
                        title: {
                            text: '',
                            style:{'fontWeight':'bold'},
                        },
                        subtitle:{
                            text:'From: '+simpledate(data['start_date'])+ ' To: '+simpledate(data['end_date']),
                            style:{
                                'fontWeight':'bold'
                            }
                        },
                        xAxis: {
                            type:'datetime',	
                        },	
                        tooltip: {
                            formatter: function() {		                			
                                    return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2);
                            }
                        },	 
                        yAxis:[                
                            {
                            gridLineWidth:1,
                            floor:0,
                            labels: {
                                format: '{value:.1f}',                
                            },
                            title: {
                                style:{
                                    fontWeight:'bold',
                                    fontSize:'14px',
                                    color:'#000'
                                }
                            },
                        },{
                           gridLineWidth:0,
                           floor:0,
                           labels: {
                                format: '{value:.1f}',                
                           },
                           title: {
                                style:{
                                    fontWeight:'bold',
                                    fontSize:'14px',
                                    color:'#000'
                                }
                            }, 
                            opposite:true
                        }],                       
                        series:[],
                        tooltip: {
                            formatter: function() {		
                                if(this.series.name=='Voltage (V)'){				
                                        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2)+'V';
                                }
                                if(this.series.name=='Temperature (C)'){				
                                    return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2)+'C';
                                }
                                else{
                                    return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2)+data['secondary_unit'];
                                    }
                                }
                            }
                    };

                var tempData = [];
                var ratesData = [];
                var voltsData = [];      
                var currentData = [];          

                var rates = Object.keys(data['rates']['total']);                         
                var temp = Object.keys(data['temp']['total']);
                
                for (i = 0; i < rates.length; i++) {
                   ratesData.push([
                       data['rates']['total'][i]['timestamp'] ,parseFloat(data['rates']['total'][i]['rate']),
                   ]);
                }
                
                for (i = 0; i < temp.length; i++) {
                    tempData.push([
                       data['temp']['total'][i]['timestamp'] ,parseFloat(data['temp']['total'][i]['reading']),
                    ]);
                }    
                options.series.push({
                    name: data['chart_label'],
                    data:ratesData,
                    color:'#032773',
                    yAxis:0								
                });                

                options.series.push({
                    name: 'Temperature (C)',
                    data:tempData,
                    color:'#3A54B0',
                    yAxis:1								
                });

                if(data['volts'] != undefined){
                    var volts = Object.keys(data['volts']['total']); 
                        for (i = 0; i < volts.length; i++) {
                       voltsData.push([
                           data['volts']['total'][i]['timestamp'] ,parseFloat(data['volts']['total'][i]['reading']),
                       ]);
                    }
                    options.series.push({
                        name: 'Voltage (V)',
                        data:voltsData,
                        color:'#7F8DFF',
                        yAxis:1								
                    });
                }


                if(data['current'] != undefined){
                    var current = Object.keys(data['current']['total']); 
                        for (i = 0; i < current.length; i++) {
                       currentData.push([
                           data['current']['total'][i]['timestamp'] ,parseFloat(data['current']['total'][i]['reading']),
                       ]);
                    }
                    options.series.push({
                        name: 'Current (A)',
                        data:currentData,
                        color:'#FFA54F',
                        yAxis:1								
                    });
                }

                

                $("#left_y_axis_label"+current_num).html(data['chart_label']+ " Scale: ");
                $("#adjust_site_utility"+current_num).show();  
                var chart = new Highcharts.Chart(options);
                
                chart.yAxis[0].setTitle({text: data['chart_label']});

                if(data['volts'] != undefined && data['current'] == undefined){
                    chart.yAxis[1].setTitle({text: 'Temperature(C) | Voltage(V)'});
                }
                else if(data['volts'] != undefined && data['current'] != undefined){ 
                    chart.yAxis[1].setTitle({text: 'Temperature(C) | Voltage(V) | Current(A)'});
                }
                else{
                    chart.yAxis[1].setTitle({text: 'Temperature(C)'});
                }
                highchart = chart;
                return chart;                               
            }
        });                    
    }
});
</script>
