<div class="all_sites_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".all_sites").length + 1;
   var all_sites = $("<div class='all_sites' id='all_sites"+current_num+"'></div>");
   var sites_list = $("{% for site in all_sites %}<p><a href='#' class='site_link' id={{site.id}}>{{ site.name }}</a></p>{% endfor %}");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>Your Sites</h4>");
   var notification = $("<p><span class='all_sites_notification"+current_num+"'></span></p>");   

   var all_sites_div = $('.all_sites_div'); 
   all_sites.append(heading);
   all_sites.append(notification);
   all_sites.append(sites_list);

   all_sites_div.parent().html(all_sites); 

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $('.site_link').click(function(){
       var site_id = $(this).attr('id');
       create_card("/cards/site/site_details/"+site_id+"/");
       create_card("/cards/site/site_users/"+site_id+"/");
       create_card("/cards/site/site_daily_totals/"+site_id+"/");
       create_card("/cards/site/site_recent_activity/"+site_id+"/");
   });
   

});
</script>

