<div class="site_energyuse_daily_totals_div"></div>

<script type="text/javascript">

$(document).ready(function(){
   var site_id = "{{site_id}}";
   var site_name = "{{site_name}}";
   var duration_total = 0.0;
   var current_num = $(".site_energyuse_daily_totals").length + 1;
   var site_energyuse_daily_totals = $("<div class='site_energyuse_daily_totals' id='site_energyuse_daily_totals"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'><span id='site_energyuse_site_name"+current_num+"'>{{site_name}}</span>: Daily Utility Use</h4><p align='center' style='font-weight:bold;'><span id='energyuse_duration_total"+current_num+"'></span><div class='notification-warning' id='site-energy-alert"+current_num+"'>Please note that data for current date (today) maybe incomplete</div></p><div class='timezone-title' title='"+timezone_helper+"'>{{ site_timezone }} ["+off_set('{{ site_timezone }}')+"] timezone</div>");   

   var chart_divs = $("<div class='row-fluid site-chart-row'>"+
                      "<div id='energyuse-chart"+current_num+"'></div>"+                      	      
                      "</div>");

   var chart_buttons = $("<table id='adjust_dates"+current_num+"' class='daily_totals_tb'>"+
                        "<tr><td><select style='width:200px;' id='site_daily_energyuse_utility_type"+current_num+"'>{% for utility in utility_lists %}<option>{{utility.name}}</option>{% endfor %}</select></td><td><input type='text' id='site_energy_use_sites_list_option"+current_num+"' placeholder='Site Name' style='width:150px;margin-left:10px;' class='tip' title='Type site name to switch graph data'><img src='/static/custom/img/loading.gif' id='site_energyuse_show_loading"+current_num+"'></td><td><button id='site_energyuse_daily_totals_adjust_dates"+current_num+"'>Adjust Dates</button></td></tr>"+
                        "<tr><td colspan='3'><span id='site_energyuse_daily_totals_msg"+current_num+"' class='notification'></span></td></tr>"+
			"<tr class='site_daily_energyuse_totals_adjust_axis_settings"+current_num+"'>"+
			"<td colspan='3'><span class='bold_text'>Date Range: </span><input type='text' id='site_daily_energyuse_totals_min_date"+current_num+"' placeholder='Min Date'> <input type='text' id='site_daily_energyuse_totals_max_date"+current_num+"' placeholder='Max Date'></td></tr>"+
			"<tr class='site_daily_energyuse_totals_adjust_axis_settings"+current_num+"'><td colspan='3'><button type='submit' id='site_daily_energyuse_totals_update_graph"+current_num+"' class='update_graph' style='margin-right:5px;'>Update Graph</button> <button type='submit' id='site_daily_energyuse_totals_reset_graph"+current_num+"' class='reset_graph'>Reset Graph</button></td></tr>"+                                                                                      
                        "</table>");   

   var site_energyuse_daily_totals_div = $('.site_energyuse_daily_totals_div'); 

   site_energyuse_daily_totals.append(heading);
   site_energyuse_daily_totals.append(chart_divs);
   site_energyuse_daily_totals.append(chart_buttons);

   site_energyuse_daily_totals_div.parent().html(site_energyuse_daily_totals);

   $('#site_energyuse_show_loading'+current_num).hide();

   "{% if utility_lists %}"
   var default_utility = "{{utility_lists.0.name}}"; 
   "{% else %}"
   var default_utility = "Electricity";
   "{% endif %}"

   var highchart = energy_use_chart('energyuse-chart'+current_num,default_utility);   
   

   $('#site_daily_energyuse_totals_min_date'+current_num).datepicker({ maxDate: "+0D" });
   $('#site_daily_energyuse_totals_max_date'+current_num).datepicker({ maxDate: "+0D" });

   $('#site_daily_energyuse_totals_min_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");
   $('#site_daily_energyuse_totals_max_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");

   $('.site_daily_energyuse_totals_adjust_axis_settings'+current_num).hide(); 

   $( ".tip" ).tooltip({
       show: {
           effect: "slideDown",
           delay: 250,
       }
    });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $("#site_daily_energyuse_utility_type"+current_num).change(function(){
       default_utility = $("#site_daily_energyuse_utility_type"+current_num).val();    
       energy_use_chart('energyuse-chart'+current_num,default_utility);

   });
 
   $('#site_energyuse_daily_totals_adjust_dates'+current_num).click(function(){
       $('.site_daily_energyuse_totals_adjust_axis_settings'+current_num).toggle();
   });

   sites = [{% for site in sites %}
            {value:"{{ site.name }}",id:"{{ site.id }}"},
        {% endfor %}];   

    $("#site_energy_use_sites_list_option"+current_num).autocomplete({            
        minLength: 0,
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(sites, request.term);
            response(results.slice(0, 10));        
        },
        select: function( event, ui ){
             site_id = ui.item.id;           
             site_name = ui.item.value;
             
             change_site();
        }
    });


   $('#site_daily_energyuse_totals_update_graph'+current_num).click(function(){       
       $("#site_energyuse_daily_totals_msg"+current_num).text("");
       var min_date = $("#site_daily_energyuse_totals_min_date"+current_num).val();
       var max_date = $("#site_daily_energyuse_totals_max_date"+current_num).val();

       if($.trim(min_date)=="" || $.trim(max_date)==""){
           $("#site_energyuse_daily_totals_msg"+current_num).text("Enter a min and max date first");
       }
       else{
        // Check dates Range
        var days = ((new Date(max_date))-(new Date(min_date)))/(1000*60*60*24);
        $('#site_energyuse_daily_totals_msg'+current_num).html('');
        if(days>window.MAX_SINGLE_SITE)
        {
          $('#site-energy-alert'+current_num).html("Selected number of days is greater than "+MAX_SINGLE_SITE+" days which is the maximum recommended for this graph");
          $('#site-energy-alert'+current_num).addClass('notification-warning');
          return false;
        }

        var today_selected=false;
        var dt = new Date().toISOString().slice(0,10);
        // var date_today = dt.getFullYear()+"-"+(dt.getMonth()+1)+"-"+dt.getDate();
        if(dt==min_date){today_selected=true;}
        if(dt==max_date){today_selected=true;}

           $.ajax({
               url:'/totals/energyuse/',
               type:'POST',
               dataType:'json',
               data:{
                   'min_date':min_date,
                   'max_date':max_date,
                   'site_id':site_id,
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'utility_type':default_utility
               },
               beforeSend:function(){
                   $('#site_daily_energyuse_totals_update_graph'+current_num).html("Updating...");
               },
               success:function(data){
                   adjusted_energy_use_chart(data,highchart,current_num);
                   $('#site_daily_energyuse_totals_update_graph'+current_num).html("Update Graph");
                   $('#site-energy-alert'+current_num).html('');
                   $('#site-energy-alert'+current_num).removeClass('notification-warning');
                   if(today_selected)
                   {
                    $('#site-energy-alert'+current_num).addClass('notification-warning');
                    $('#site-energy-alert'+current_num).html("Kindly note that data for current date (today) maybe incomplete");
                   }
               }
           });
       }
   });

   $('#site_daily_energyuse_totals_reset_graph'+current_num).click(function(){
       energy_use_chart('energyuse-chart'+current_num,default_utility);
   }); 

function change_site(){
        //get the utility list of this site
        $.ajax({
            url:'/site/utilities/',
            type: 'POST',
            dataType: 'json',
            data:{
                'site_id':site_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend: function(){
            },
            success: function(data){
                $("#site_daily_energyuse_utility_type"+current_num).empty();
                for(i=0;i<data['utility_lists'].length; i++){
                    if(i==0){
                        default_utility = data['utility_lists'][i]['name'];
                    }
                    $("#site_daily_energyuse_utility_type"+current_num).append("<option>"+data['utility_lists'][i]['name']+"</option>");
                }
            }
        });

        $.ajax({
               url:'/load/totals/energyuse/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'action':'default',
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'utility_type':default_utility
               },
               beforeSend:function(){
                   $('#site_energyuse_show_loading'+current_num).show();
               },
               success:function(data){                   
                   energy_use_chart('energyuse-chart'+current_num,default_utility);
                   $("#site_energyuse_site_name"+current_num).html(site_name);
                   $('#site_energyuse_show_loading'+current_num).hide();
               }
          }); 

}

function adjusted_energy_use_chart(data,highchart,current_num){
    duration_total = data['duration_total'];  
    $("#energyuse_duration_total"+current_num).html("Total: "+duration_total+" "+data['chart_units']);
    
    var chart_data = data['dates'];
    var chartData = [];
    var chartDates = [];
    

    for (i = 0; i < chart_data.length; i++) {                   
        chartDates.push(["<b>"+data['dates'][i]+"</b>",]);                
    }    

    highchart.xAxis[0].setCategories(chartDates);

    for (i = 0; i < chart_data.length; i++) {                      
        chartData.push([                       
            data['total'][i]
        ]);
        highchart.series[0].setData(chartData);  
        
    }
    
}

function energy_use_chart(chart_id, utility_type){
    $.ajax({
        url:'/load/totals/energyuse/',
        type:'POST',
        dataType:'json',
        data:{
            'csrfmiddlewaretoken':'{{csrf_token}}',            
            'site_id':site_id,
            'utility_type':utility_type
        },
        beforeSend: function(){
        },
        success: function(data){
            var duration_total = data['duration_total'];
            var dates = [];
            for(i=0;i<data['dates'].length;i++){
                dates.push(data['dates'][i]);                
            }
            var totals = [];
            for(j=0;j<data['total'].length;j++){
                totals.push(data['total'][j]);
            }
            var options = {   
                chart: {
                    renderTo:chart_id,
                    type: 'column',
                    height:300                    
                },
                credits:{
                    enabled:false,
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: dates
                },
                yAxis: {
                    title: {
                        style:{
                            fontWeight:'bold',
                            fontSize:'14px',
                            color:'#000'
                        }, 
                        text:data['chart_label']
                    }
                },
                tooltip:{
                    formatter: function() {
                        return  '<b>' + this.x +'</b><br><b>'+ Highcharts.numberFormat(this.y,2) +' '+data['chart_units']+'</b>';
                    },
                    valueDecimals: 2
                },
                series: []
            };

            options.series.push({
                color:'#FFA54F',
                name: 'Total',
                data: totals 
            });   
            $("#energyuse_duration_total"+current_num).html("Total: "+duration_total+" "+data['chart_units']);
            var chart = new Highcharts.Chart(options);
            highchart = chart;
            return chart;
        }
    });
}


     
});

</script>
