<div class="site_daily_totals_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".site_daily_totals").length + 1;
   var site_daily_totals = $("<div class='site_daily_totals' id='site_daily_totals"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>{{site_name}}: Daily Totals</h4>");
   var buttons = $("<div id='chart-button-row'>"+
                   "<h4 class='chart-button' id='financial-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='financial'>Payments</h4> "+
                   "<h4 class='chart-button' id='technical-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='technical'>Energy Use</h4> "+
                   "<h4 class='chart-button' id='communication-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='communication'>Communication</h4>"+
                   "</div>");

   var chart_divs = $("<div class='row-fluid site-chart-row'>"+
                      "<div class='site-chart' chart-type='financial' id='financial-chart"+current_num+"'>FINANCIAL CHART "+current_num+"</div>"+
                      "<div class='site-chart' chart-type='technical' id='technical-chart"+current_num+"'>TECHNICAL CHART "+current_num+"</div>"+
                      "<div class='site-chart' chart-type='communication' id='communication-chart"+current_num+"'>COMMUNICATION CHART "+current_num+"</div>"+		      
                      "</div>");

   var site_daily_totals_div = $('.site_daily_totals_div'); 

   site_daily_totals.append(heading);
   site_daily_totals.append(buttons);
   site_daily_totals.append(chart_divs);

   site_daily_totals_div.parent().html(site_daily_totals); 

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });


   $('#financial-chart-button'+current_num).click(function() {
        var chartID = $(this).attr('chart-id');
        var chartType = $(this).attr('chart-type');
        $(this).siblings(".chart-button").removeClass('selected');
        $(this).addClass("selected");

        $('#financial-chart'+chartID).show();
        $('#technical-chart'+chartID).hide();
        $('#communication-chart'+chartID).hide();

        var dates=[{% for date in chart_data.financial.dates %}
            ["<b>{{ date }}</b>"],
        {% endfor %}];

        var data = [{% for count in chart_data.financial.total %}
            [{{ forloop.counter0 }}, {{ count }}],
        {% endfor %}];

        var payData = [{% for count in chart_data.communication.payments %}
            [{{ forloop.counter0 }}, {{ count }}],
        {% endfor %}];

        $('#financial-chart'+chartID).highcharts({
            chart: {
                renderTo:'financial-chart'+chartID,
                alignTicks:false                    
            },
            credits:{
                enabled:false,
            },
            title: {
                text: '',				
            },
            xAxis: {
                categories: dates
            },
            yAxis: [{
                title: {
                    text: 'Payments (KES)',
                    style:{
                        fontWeight:'bold',
                        fontSize:'14px',
                        color:'#000'
                    } 
                },                    
            },{
                title: {
                text: 'Payments Received',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
                floor:0,
                opposite:true,
                gridLineWidth:0
            }],
            series: [{
                type:'column',
                color:'#FFA54F',	    
                name: 'Total',
                data: data
            },{
                type:'line',
                color:'#7F8DFF',	    
                name: 'Payments Received',
                data: payData,
                yAxis:1
            }],
        });
    });    

   $('#technical-chart-button'+current_num).on("click",function() {
        var chartID = $(this).attr('chart-id');
        var chartType = $(this).attr('chart-type');
        $(this).siblings(".chart-button").removeClass('selected');
        $(this).addClass("selected");

        $('#financial-chart'+chartID).hide();
        $('#technical-chart'+chartID).show();
        $('#communication-chart'+chartID).hide();

        var dates=[
            {% for date in chart_data.technical.dates %}
                ["<b>{{ date }}</b>"],
            {% endfor %}];
        var data = [
            {% for count in chart_data.technical.total %}
                [{{ forloop.counter0 }}, {{ count }}],
            {% endfor %}];

        $("#technical-chart"+chartID).highcharts({
            chart: {
                type: 'column',                    
            },
            credits:{
                enabled:false,
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: dates
            },
            yAxis: {
                title: {
                    text: 'Energy Usage (kWh)',
                    style:{
                        fontWeight:'bold',
                        fontSize:'14px',
                        color:'#000'
                    } 
                }
            },
            series: [{
                color:'#FFA54F',
                name: 'Total',
                data: data
            }]
        });       
   });    

   $('#communication-chart-button'+current_num).on("click",function() {   
        var chartID = $(this).attr('chart-id');
        var chartType = $(this).attr('chart-type');
        $(this).siblings(".chart-button").removeClass('selected');
        $(this).addClass("selected");

        $('#financial-chart'+chartID).hide();
        $('#technical-chart'+chartID).hide();
        $('#communication-chart'+chartID).show();

        var dates=[{% for date in chart_data.communication.dates %}
            ["<b>{{ date }}</b>"],
        {% endfor %}];
        var sentData = [{% for count in chart_data.communication.sent %}
            [{{ forloop.counter0 }}, {{ count }}],
        {% endfor %}];
        var recvData = [{% for count in chart_data.communication.received %}
            [{{ forloop.counter0 }}, {{ count }}],
        {% endfor %}];	

        $("#communication-chart"+chartID).highcharts({
            chart: {
                type: 'line',                    
            },
            credits:{
                enabled:false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: dates
            },
            yAxis: {
                title: {
                    text: 'Messages',
                    style:{
                        fontWeight:'bold',
                        fontSize:'14px',
                        color:'#000'
                    } 
                },
                floor:0
		    },
            series: [{
                color:'#032773',
                name: 'Sent',
                data: sentData
            },{
                color:'#3A54B0',
                name: 'Received',
                data: recvData
            }],
        });      
    });    

    // Show financial chart by default
    $("#financial-chart-button"+current_num).click();
   });
</script>
