<div class="site_comms_daily_totals_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var site_id = "{{site_id}}";
   var site_name = "{{site_name}}";
   var chart_state = 'default';
   var current_num = $(".site_comms_daily_totals").length + 1;
   var site_comms_daily_totals = $("<div class='site_comms_daily_totals' id='site_comms_daily_totals"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'><span id='site_comms_site_name"+current_num+"'>{{site_name}}</span>: Comms Daily Totals</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ timezone }} ["+off_set('{{ timezone }}')+"] timezone</div>");   

   var chart_divs = $("<div class='row-fluid site-chart-row'>"+
                      "<div id='comms-chart"+current_num+"'></div>"+                      	      
                      "</div>");

   var chart_buttons = $("<table id='adjust_dates"+current_num+"' class='daily_totals_tb'>"+
                        "<tr><td><button id='site_comms_daily_totals_adjust_dates"+current_num+"'  style='float:left;'>Adjust Dates</button></td><td><input type='text' id='site_comms_sites_list_option"+current_num+"' placeholder='Site Name' style='width:220px;' class='tip' title='Type site name to switch graph data'> <img src='/static/custom/img/loading.gif' id='site_comms_show_loading"+current_num+"'></td></tr>"+
                        "<tr><span id='site_comms_daily_totals_msg"+current_num+"' class='notification'></span></td></tr>"+
			"<tr class='site_daily_comms_totals_adjust_axis_settings"+current_num+"'>"+
			"<td colspan='2'><span class='bold_text'>Date Range: </span><input type='text' id='site_daily_comms_totals_min_date"+current_num+"' placeholder='Min Date'> <input type='text' id='site_daily_comms_totals_max_date"+current_num+"' placeholder='Max Date'></td></tr>"+
			"<tr class='site_daily_comms_totals_adjust_axis_settings"+current_num+"'><td colspan='2'><button type='submit' id='site_daily_comms_totals_update_graph"+current_num+"' class='update_graph' style='margin-right:5px;'>Update Graph</button> <button type='submit' id='site_daily_comms_totals_reset_graph"+current_num+"' class='reset_graph'>Reset Graph</button></td></tr>"+                                                                                      
                        "</table>"); 
   
   var site_comms_daily_totals_div = $('.site_comms_daily_totals_div'); 

   site_comms_daily_totals.append(heading);
   site_comms_daily_totals.append(chart_divs);
   site_comms_daily_totals.append(chart_buttons);

   site_comms_daily_totals_div.parent().html(site_comms_daily_totals); 

   $('#site_comms_show_loading'+current_num).hide();

   $('#site_daily_comms_totals_min_date'+current_num).datepicker();
   $('#site_daily_comms_totals_max_date'+current_num).datepicker();
   $('#site_daily_comms_totals_min_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");
   $('#site_daily_comms_totals_max_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");

   $('.site_daily_comms_totals_adjust_axis_settings'+current_num).hide(); 

   var highchart = comms_chart('comms-chart'+current_num);

   $( ".tip" ).tooltip({
       show: {
           effect: "slideDown",
           delay: 250,
       }
    });

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $('#site_comms_daily_totals_adjust_dates'+current_num).click(function(){
       $('.site_daily_comms_totals_adjust_axis_settings'+current_num).toggle();
   });

   sites = [{% for site in sites %}
            {value:"{{ site.name }}",id:"{{ site.id }}"},
        {% endfor %}];   

    $("#site_comms_sites_list_option"+current_num).autocomplete({            
        minLength: 0,
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(sites, request.term);
            response(results.slice(0, 10));        
        },
        select: function( event, ui ){
             site_id = ui.item.id;           
             site_name = ui.item.value;
             
             change_site();
        }
    });

   /*$('#site_comms_sites_list_option'+current_num).change(function(){
        chart_state = 'default';
        site_id = $(this).val();
        site_name = $(this).find('option:selected').attr("name");
        site_currency = $(this).find('option:selected').attr("cur");

        $.ajax({
               url:'/totals/comms/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'action':'default',
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend:function(){
                   $('#site_comms_show_loading'+current_num).show();
               },
               success:function(data){                   
                   adjusted_comms_chart(data,highchart,current_num);
                   $("#site_comms_site_name"+current_num).html(site_name);
                   $('#site_comms_show_loading'+current_num).hide();
               }
          }); 
        
   });*/

   
   $('#site_daily_comms_totals_update_graph'+current_num).click(function(){
       $("#site_comms_daily_totals_msg"+current_num).text("");
       var min_date = $("#site_daily_comms_totals_min_date"+current_num).val();
       var max_date = $("#site_daily_comms_totals_max_date"+current_num).val();

       if($.trim(min_date)=="" || $.trim(max_date)==""){
           $("#site_comms_daily_totals_msg"+current_num).text("Enter a min and max date first");
       }
       else{
           chart_state = "adjusted";
           $.ajax({
               url:'/totals/comms/',
               type:'POST',
               dataType:'json',
               data:{
                   'min_date':min_date,
                   'max_date':max_date,
                   'site_id':site_id,
                   'action':'update',
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend:function(){
                   $('#site_daily_comms_totals_update_graph'+current_num).html("Updating...");
               },
               success:function(data){
                   adjusted_comms_chart(data,highchart,current_num);
                   $('#site_daily_comms_totals_update_graph'+current_num).html("Update Graph");
               }
           });
       }
   });

   $('#site_daily_comms_totals_reset_graph'+current_num).click(function(){
       chart_state = 'default';
       $.ajax({
               url:'/totals/comms/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'action':'default',
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend:function(){
                   $('#site_comms_daily_totals_reset_btn'+current_num).html("Resetting...");
               },
               success:function(data){                   
                   adjusted_comms_chart(data,highchart,current_num);
                   $('#site_comms_daily_totals_reset_btn'+current_num).html("Reset");
               }
          });
   });

function change_site(){
        chart_state = 'default';
        $.ajax({
               url:'/totals/comms/',
               type:'POST',
               dataType:'json',
               data:{
                   'site_id':site_id,
                   'action':'default',
                   'csrfmiddlewaretoken':'{{csrf_token}}'
               },
               beforeSend:function(){
                   $('#site_comms_show_loading'+current_num).show();
               },
               success:function(data){                   
                   adjusted_comms_chart(data,highchart,current_num);
                   $("#site_comms_site_name"+current_num).html(site_name);
                   $('#site_comms_show_loading'+current_num).hide();
               }
          }); 
}

function adjusted_comms_chart(data,highchart,current_num){
    var chart_data = data['chart_data']['communication']['dates'];
    var sentData = [];
    var recvData = [];
    var chartDates = [];
    for (i = 0; i < chart_data.length; i++) {
        chartDates.push(["<b>"+data['chart_data']['communication']['dates'][i]+"</b>",]);
        sentData.push([data['chart_data']['communication']['sent'][i]]);
        recvData.push([data['chart_data']['communication']['received'][i]]);
    }
    highchart.xAxis[0].setCategories(chartDates);                   
    highchart.series[0].setData(sentData);
    highchart.series[1].setData(recvData);
}

function comms_chart(chart_id){
   var dates=[{% for date in chart_data.communication.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var sentData = [{% for count in chart_data.communication.sent %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];

    var recvData = [{% for count in chart_data.communication.received %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];	


    var options = {
        chart: {
            renderTo:chart_id,
            type: 'line',
            height:300
        },
        credits:{
            enabled:false
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: dates
        },
        yAxis: {
            title: {
                text: 'Messages (count)',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            floor:0
        },
        series: [{
            color:'#032773',
            name: 'Sent',
            data: sentData
        },{
            color:'#3A54B0',
            name: 'Received',
            data: recvData
        }],
    };
    var chart = new Highcharts.Chart(options);    
    return chart;
}
   
});

</script>
