<div class="site_details_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".site_details").length + 1;
   var site_info = $("<div class='site_details' id='site_details"+current_num+"'></div>");
   var site_details = $("<p><span class='bold_text'>Number of Lines:</span> {{ num_lines }} <span class='bold_text'>Latitude:</span> {{ latitude }} <span class='bold_text'>Longitude:</span> {{ longitude }} <span class='bold_text'>Date Online:</span> {{ date_online }} <br><span class='bold_text'>Pulse Ratio:</span> {{pulse_ratio}} <span class='bold_text'>Pricing Bundles: </span>{% if bundle_settings != "" %}{{bundle_settings}}{% else %}None{% endif %}</p>"+      
                         "<table><tr><td><p><span class='bold_text'>Installed Equipment:</span></p>"+
                         "{% if equipment_list %}{% for item in equipment_list %}<p>{{ item }}</p>{% endfor %}{% else %}None{% endif %}</p></td>"+                                    
                         "<td><p><span class='bold_text'>Users with Access:</span> {% if users %}{% for user in users %}<p>{{user.username}}</p>{% endfor %}{% else %}None{% endif %}</p></td></tr></table>"+
                         "<p><span class='bold_text'>bitHarvester(s):</span> {% if bit_harvesters %}<table class='bulk_display'>{% for bh in bit_harvesters %}<tr><td>{{bh.harvester_id}} </td><td>{{bh.telephone}} </td><td>{{bh.version}}</td><td><a href='#' class='site_details_bh' bh_id='{{bh.harvester_id}}'>View</a></td></tr>{% endfor %}</table>{% else %}None{% endif %}</p>"                  
   );
   var site_buttons = $("<p><a href='#' class='view_site_activity'>View Activity</a> | <a href='#' class='edit_site'>Edit Site</a> <!--| <a href='#' class='revenues_btn'>Revenues</a> |  <a href='#' class='poweruse_btn'>Power Use</a--> </p>");    
   /*var site_payment_plan_details = $(
        "<h5>Tariff Bundles</h5>"+
        "{% if bundle_settings == None %}None"+
        "{% else %}"+
        //"{% for bundle in bundle_settings %}"+
        "<p>bundle.0</p>"+
        //"{% endfor %}"+
        "{% endif %}"+
        "<h5>Discounts / Time-Of-Use</h5>"+
        "<p></p>"
   );*/
   var heading = $("<span class='close_button'>X</span><h4 align='center'>{{name}} Details</h4>");

   var site_details_div = $('.site_details_div'); 

   site_info.append(heading);
   site_info.append(site_details);
   //site_info.append(site_payment_plan_details);
   site_info.append(site_buttons);

   site_details_div.parent().html(site_info); 

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });
   $(".site_details_bh").unbind('click').click(function(){
       var bh_id = $(this).attr('bh_id');
       create_card("/cards/bh/bh_details/"+bh_id+"/");
   });

   $('.edit_site').unbind('click').click(function(){
       create_card("/cards/site/edit_site/{{id}}/");
   });
   $('.view_site_activity').unbind('click').click(function(){
       create_card("/cards/site/site_recent_activity/{{id}}/");
   }); 
    
   /*$('.revenues_btn').unbind('click').click(function(){
       create_card("/cards/payments_bilevel/{{id}}/");
   });
   $('.poweruse_btn').unbind('click').click(function(){
       create_card("/cards/energy_bilevel/{{id}}/");
   });*/

});
</script>
