<div class="sites_utility_draw_activity_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var default_utility = "{{utilities.0}}";
   var current_num = $(".sites_utility_draw_activity").length + 1;
   var sites_utility_draw_activity = $("<div class='sites_utility_draw_activity' id='sites_utility_draw_activity"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>Sites Utility Draw</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");      
   var chart_div = $("<div id='sites-utility_draw-recent-activity"+current_num+"'></div>");    
   var chart_buttons = $("<table class='recent_activity_tb'>"+
			"<tr><span id='error_msg"+current_num+"' class='notification'></span></td></tr>"+
                        "<tr><td colspan='2'><select id='sites_utility_draw_utility_type"+current_num+"'>{% for utility in utilities %}<option value='{{utility.name}}'>{{utility.name}}</option>{% endfor %}</select> <img src='/static/custom/img/loading.gif' id='sites_utility_draw_show_loading"+current_num+"'></td><td colspan='2'><button id='sites_utility_draw_adjust_axis_btn"+current_num+"'>Adjust Axis</button><button id='sites_utility_draw_hide_axis_btn"+current_num+"'>Hide Axis Settings</button></td></tr>"+
                        "<tr class='sites_utility_draw_adjust_axis_settings"+current_num+"'><td colspan='3'><span class='bold_text'>Date Range: </span><input type='text' id='sites_utility_draw_activity_min_date"+current_num+"' placeholder='Min Date'> <input type='text' id='sites_utility_draw_activity_max_date"+current_num+"' placeholder='Max Date'></td></tr>"+
                        "<tr class='sites_utility_draw_adjust_axis_settings"+current_num+"'><td colspan='3'><span class='bold_text'>{{sites_utility_draw.chart_label}} Scale: </span><input type='text' id='y_sites_utility_draw_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='y_sites_utility_draw_scale_max"+current_num+"' placeholder='Max'></td></tr>"+                                                
			"<tr class='sites_utility_draw_adjust_axis_settings"+current_num+"'><td colspan='3'><button type='submit' id='sites_utility_draw_update_graph"+current_num+"' class='update_graph' style='margin-right:5px;'>Update Graph</button> <button type='submit' id='sites_utility_draw_reset_graph"+current_num+"' class='reset_graph'>Reset Graph</button></td></tr>"+
                        "</table>");

   var sites_utility_draw_activity_div = $('.sites_utility_draw_activity_div'); 

   sites_utility_draw_activity.append(heading);
   sites_utility_draw_activity.append(chart_div); 
   sites_utility_draw_activity.append(chart_buttons);   

   sites_utility_draw_activity_div.parent().html(sites_utility_draw_activity); 

   var highchart = sites_utility_drawGraph('sites-utility_draw-recent-activity'+current_num); 

   $('#sites_utility_draw_activity_min_date'+current_num).datepicker();
   $('#sites_utility_draw_activity_max_date'+current_num).datepicker();
   $('#sites_utility_draw_activity_min_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");
   $('#sites_utility_draw_activity_max_date'+current_num).datepicker("option", "dateFormat","yy-mm-dd");   

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });
   

   $('.sites_utility_draw_adjust_axis_settings'+current_num).hide();
   $('#sites_utility_draw_hide_axis_btn'+current_num).hide();
   $("#sites_utility_draw_show_loading"+current_num).hide();

   $("#sites_utility_draw_utility_type"+current_num).change(function(){
        default_utility = $(this).val();

        $.ajax({
               url:'/adjust/sites_utility_draw/',
               type:'POST',
               dataType:'json',
               data:{                   
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'action':'default',
                   'utility':default_utility
               },
               beforeSend:function(){
                    $("#sites_utility_draw_show_loading"+current_num).show();
               },
               success:function(data){  
                   highchart.setTitle(null,{'text': 'From: {{sites_utility_draw.start_date|date:"d-M-y" }} To: {{sites_utility_draw.end_date|date:"d-M-y"}}'});
                   highchart.yAxis[0].update({title:{text:data["chart_label"]}});
                   adjusted_sites_utility_drawGraph(data,highchart,current_num);
                   $("#sites_utility_draw_show_loading"+current_num).hide();
               }  
           });
   });

   $('#sites_utility_draw_update_graph'+current_num).click(function(){       
       var y_sites_utility_draw_scale_max=$('#y_sites_utility_draw_scale_max'+current_num).val();
       var y_sites_utility_draw_scale_min=$('#y_sites_utility_draw_scale_min'+current_num).val();       
       
       var min_date = $('#sites_utility_draw_activity_min_date'+current_num).val();
       var max_date = $('#sites_utility_draw_activity_max_date'+current_num).val();

       if($.trim(y_sites_utility_draw_scale_max)!="" && $.trim(y_sites_utility_draw_scale_min)!=""){
           highchart.yAxis[0].setExtremes(y_sites_utility_draw_scale_min,y_sites_utility_draw_scale_max);
       }
       if($.trim(min_date)!="" && $.trim(max_date)!=""){
           $.ajax({
               url:'/adjust/sites_utility_draw/',
               type:'POST',
               dataType:'json',
               data:{                   
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'action':'update',
                   'start_date':min_date,
                   'end_date':max_date,
                   'utility':default_utility
               },
               beforeSend:function(){
                   $('#sites_utility_draw_update_graph'+current_num).html("Updating...");
               },
               success:function(data){  
                   highchart.setTitle(null,{'text': 'From: '+simpledate(min_date)+' To: '+simpledate(max_date)});
                   adjusted_sites_utility_drawGraph(data,highchart,current_num);
                   $('#sites_utility_draw_update_graph'+current_num).html("Update Graph");
               }  
           });
       }       
   });

   $('#sites_utility_draw_reset_graph'+current_num).click(function(){
       $.ajax({
               url:'/adjust/sites_utility_draw/',
               type:'POST',
               dataType:'json',
               data:{                   
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'action':'default',
                   'utility':default_utility
               },
               beforeSend:function(){
                   $('#sites_utility_draw_reset_graph'+current_num).html("Resetting...");
               },
               success:function(data){  
                   highchart.setTitle(null,{'text': 'From: {{sites_utility_draw.start_date|date:"d-M-y" }} To: {{sites_utility_draw.end_date|date:"d-M-y"}}'});
                   adjusted_sites_utility_drawGraph(data,highchart,current_num);
                   $('#sites_utility_draw_reset_graph'+current_num).html("Reset Graph");
               }  
           });
   });

   $('#sites_utility_draw_adjust_axis_btn'+current_num).click(function(){
       $('#sites_utility_draw_adjust_axis_btn'+current_num).hide();
       $('.sites_utility_draw_adjust_axis_settings'+current_num).show();
       $('#sites_utility_draw_hide_axis_btn'+current_num).show();			
   });

   $('#sites_utility_draw_hide_axis_btn'+current_num).click(function(){
       $('#error_msg'+current_num).text("");
       $('#sites_utility_draw_hide_axis_btn'+current_num).hide();
       $('.sites_utility_draw_adjust_axis_settings'+current_num).hide();
       $('#sites_utility_draw_adjust_axis_btn'+current_num).show();
   });

});


function adjusted_sites_utility_drawGraph(data,highchart,current_num){
    var seriesIndex = 0;
    var sites = Object.keys(data['rates']);

    for (var i = 0; i < sites.length; i++) {
        var utility_drawData = data['rates'][sites[i]];
        var chartutility_drawData = [];
        for (var j = 0; j < utility_drawData.length; j++) {                           
            chartutility_drawData.push([
                utility_drawData[j]['timestamp'],
                parseFloat(utility_drawData[j]['rate'])
            ]);
        }
        highchart.series[seriesIndex].setData(chartutility_drawData);
        seriesIndex++;                                        
    }                                      
}


function sites_utility_drawGraph(chartID){
    var options = {
        chart: {
            type: 'scatter',
            renderTo:chartID, 
            alignTicks:false        
        },
        colors:['#032773','#3A54B0','#7F8DFF','#3333ff','#000080','#6495ED'],
        plotOptions: {
            scatter: {
                lineWidth:2,
                marker: {
                    fillColor: 'transparent'
                },                
            }
        },				
        credits:{
            enabled:false
        },
        title: {
            text: '',
            style:{'fontWeight':'bold'},
        },
        subtitle:{
            text:'From: {{sites_utility_draw.start_date|date:"d-M-y" }} To: {{sites_utility_draw.end_date|date:"d-M-y"}}',
            style:{
                'fontWeight':'bold'
            }
        },
        xAxis: {
            type:'datetime',	
        },				
        yAxis: [{ 
            labels: {
                format: '{value:.1f}',                
            },
            floor:0,   
            gridLineWidth:0,
            allowDecimals:false,
            title: {
                text: '{{sites_utility_draw.chart_label}}',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                }
            },                        
        }],
        tooltip:{
            valueDecimals: 2,
        },
        series:[]
    };			
    var count = 1;    
    {% for site, rates in sites_utility_draw.rates.items %}
        var ratesData = [{% for rate in rates %}
            [{{ rate.timestamp }}, {{ rate.rate }}],
        {% endfor %}];				  
        if(count < 5){
            options.series.push({
                name: "{{ site }}",
                yAxis:0,
                data:ratesData							
            });
        }	
        else{
            options.series.push({
                name: "{{ site }}",
                yAxis:0,
                data:ratesData,		
                visible:false						
            });
        }
        count++	
    {% endfor %}
    var chart = new Highcharts.Chart(options);
    chart.tooltip.options.formatter = function() {
        return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2);
    }     
    return chart;					
  }
</script>
