<div class="daily_totals_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".daily_totals").length + 1;
   var daily_totals = $("<div class='daily_totals' id='daily_totals"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div><h4 align='center'>Summary Totals</h4>");
   var buttons = $("<div id='chart-button-row' align='center'>"+
                   "<h4 class='chart-button' id='financial-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='financial'>{% if utility_management %}Costs{% else %}Payments{% endif %}</h4> "+
                   "<h4 class='chart-button' id='technical-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='technical'>Utility Use</h4> "+
                   "<h4 class='chart-button' id='communication-chart-button"+current_num+"' chart-id='"+current_num+"' chart-type='communication'>Communication</h4>"+
                   "</div>");

   var chart_divs = $("<div class='row-fluid site-chart-row'>"+
                      "<div class='site-chart' chart-type='financial' id='summary-financial-chart"+current_num+"' align='center' style='margin-top:10px;font-weight:bold;'>Loading chart...</div>"+
                      "<div class='site-chart' chart-type='technical' id='summary-technical-chart"+current_num+"' align='center' style='margin-top:10px;font-weight:bold;'>Loading chart...</div>"+
                      "<div class='site-chart' chart-type='communication' id='summary-communication-chart"+current_num+"' align='center' style='margin-top:10px;font-weight:bold;'>Loading chart...</div>"+
                      "</div>");

   var refresh_button = $("<table><tr><td><select style='width:200px;' id='summary_totals_utility_type"+current_num+"'>{% for utility in utilities %}<option>{{utility.name}}</option>{% endfor %}</select><button id='daily_totals_refresh_btn"+current_num+"'>Refresh</button></td></tr></table>");

   var daily_totals_div = $('.daily_totals_div'); 

   daily_totals.append(heading);
   daily_totals.append(buttons);
   daily_totals.append(chart_divs);
   daily_totals.append(refresh_button);

   daily_totals_div.parent().html(daily_totals);

   $("#summary_totals_utility_type"+current_num).hide();


   "{% if utilities %}"
   var default_utility = "{{utilities.0}}"; 
   "{% else %}"
   var default_utility = "Electricity";   
   "{% endif %}"


   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $("#summary_totals_utility_type"+current_num).change(function(){
       default_utility = $("#summary_totals_utility_type"+current_num).val();
       $.ajax({
           url:'/summary/technical/',
           dataType:'json',
           type:'POST',
           data:{
               'csrfmiddlewaretoken':'{{csrf_token}}',
               'utility_type':default_utility
           },
           beforeSend:function(){
           
           },
           success:function(data){           
               setupTechnicalChart(data, "summary-technical-chart"+current_num);
           } 
       });           
   });

   $('#daily_totals_refresh_btn'+current_num).click(function(){
       if($("#summary-financial-chart"+current_num).is(":visible")){
           $("#summary_totals_utility_type"+current_num).hide();
           $.ajax({
               url:'/summary/financial/',
               dataType:'json',
               beforeSend:function(){
                   $('#daily_totals_refresh_btn'+current_num).html("Refreshing...");
               },
               success:function(data){
                   $('#daily_totals_refresh_btn'+current_num).html("Refresh");
                   setupFinancialChart(data, "summary-financial-chart"+current_num);
               } 
           });
       }
       else if($("#summary-technical-chart"+current_num).is(":visible")){
           $("#summary_totals_utility_type"+current_num).show();
           $.ajax({
               url:'/summary/technical/',
               dataType:'json',
               type:'POST',
               data:{
                   'csrfmiddlewaretoken':'{{csrf_token}}',
                   'utility_type':default_utility
               },
               beforeSend:function(){
               
               },
               success:function(data){           
                   setupTechnicalChart(data, "summary-technical-chart"+current_num);
               } 
           });  
       }
       else if($("#summary-communication-chart"+current_num).is(":visible")){  
           $("#summary_totals_utility_type"+current_num).hide();         
           $.ajax({
              url:'/summary/comms/',
              dataType:'json',
              beforeSend:function(){
                  $('#daily_totals_refresh_btn'+current_num).html("Refreshing...");
              },
              success:function(data){                  
                  $('#daily_totals_refresh_btn'+current_num).html("Refresh");
                  setupCommunicationChart(data, "summary-communication-chart"+current_num);
              } 
          });
       }
   });
   $("#financial-chart-button"+current_num).click(function(){ 
        $("#summary-financial-chart"+current_num).show();
        $("#summary-technical-chart"+current_num).hide();
        $("#summary-communication-chart"+current_num).hide();     
        $("#summary_totals_utility_type"+current_num).hide();
        $(this).siblings(".chart-button").removeClass('selected');
        $(this).addClass("selected");
        $.ajax({
            url:'/summary/financial/',
            dataType:'json',
            beforeSend:function(){
            },
            success:function(data){
                setupFinancialChart(data,"summary-financial-chart"+current_num);
            }
        });
   });
   $("#technical-chart-button"+current_num).click(function(){   
       $("#summary-financial-chart"+current_num).hide();
       $("#summary-technical-chart"+current_num).show();
       $("#summary-communication-chart"+current_num).hide();     
       $("#summary_totals_utility_type"+current_num).show();
       $(this).siblings(".chart-button").removeClass('selected');
       $(this).addClass("selected");
       $.ajax({
           url:'/summary/technical/',
           dataType:'json',
           type:'POST',
           data:{
               'csrfmiddlewaretoken':'{{csrf_token}}',
               'utility_type':default_utility
           },
           beforeSend:function(){
           
           },
           success:function(data){           
               setupTechnicalChart(data, "summary-technical-chart"+current_num);
           } 
       });  
   });
   $("#communication-chart-button"+current_num).click(function(){
       $("#summary-financial-chart"+current_num).hide();
       $("#summary-technical-chart"+current_num).hide();
       $("#summary-communication-chart"+current_num).show(); 
       $("#summary_totals_utility_type"+current_num).hide();       
       $(this).siblings(".chart-button").removeClass('selected');
       $(this).addClass("selected");
       
       $.ajax({
            url:'/summary/comms/',
            dataType:'json',
            beforeSend:function(){
            },
            success:function(data){
                setupCommunicationChart(data,"summary-communication-chart"+current_num);
            } 
        });
    });

   // Show financial chart by default
   $("#financial-chart-button"+current_num).click();
    
});

function setupCommunicationChart(data, chart_id){
    var chart_data = data['chart_data']['communication']['dates'];
    var sentData = [];
    var recvData = [];
    var payData = [];
    var chartDates = [];

    var count = data['chart_data']['communication']['count'];

    for (i = 0; i < chart_data.length; i++) {
        chartDates.push(["<b>"+data['chart_data']['communication']['dates'][i]+"</b>",]);
        sentData.push([data['chart_data']['communication']['sent'][i]]);
        recvData.push([data['chart_data']['communication']['received'][i]]);
        payData.push([data['chart_data']['communication']['payments'][i]])
    }
    
    var options = {
        chart: {
            renderTo:chart_id,
            animation:true,
            type: 'line',
            height:300                    
        },        
        credits:{
            enabled:false
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: chartDates
        },
        yAxis: {
            title: {
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                },
                text: 'Messages (count)'
            },
            floor:0
        },           
        series: [{
            name: 'Sent',
            data: sentData,
            color:'#032773'				
        }, {
            name: 'Received',
            data: recvData,
            color:'#3A54B0'
		}, {
            name: 'Payment',
            data: payData,
            color:'#7F8DFF'
	}],
    };
    
    var highchart = new Highcharts.Chart(options);    
    "{% if utility_management %}"
        highchart.series[2].remove(true);
    "{% endif %}"
}

function setupTechnicalChart(data, chart_id){
    var chart_data = data['chart_data']['technical']['dates'];
    var total_data = [];
    var dates = [];

    for (i = 0; i < chart_data.length; i++) {
        dates.push(["<b>"+data['chart_data']['technical']['dates'][i]+"</b>",]);
        total_data.push([data['chart_data']['technical']['total'][i]]);
    }    
    

    var options = {
        chart: {
            renderTo:chart_id,
            height:300
        },      
        plotOptions:{		        
            line:{		             
                marker:{
                    enabled:false
                }
            }                       
        },			
        credits:{
            enabled:false
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: dates
        },			
        yAxis: {
            title: {
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                },
                text:data['chart_data']['technical']['chart_label']
            },
            floor:0
        },
        tooltip:{
            formatter: function() {		                			
                return  '<b>' + this.x +'</b><br><b>'+ Highcharts.numberFormat(this.y,2) +'</b> '+data['chart_data']['technical']['chart_units'];
            },
            valueDecimals: 2
        },
        series: []
    };
    options.series.push({type:'column',name:'Total',data:total_data,color:'#FFA54F'});

    if (data['chart_data']['technical']['1'] != undefined){
        var one_data = [];
        for (i = 0; i < chart_data.length; i++) {
            one_data.push([data['chart_data']['technical']['1'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['technical']['1'][0],data: one_data,color:'#032773'});
    }
    if (data['chart_data']['technical']['2'] != undefined){
        var two_data = [];
        for (i = 0; i < chart_data.length; i++) {
            two_data.push([data['chart_data']['technical']['2'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['technical']['2'][0],data: two_data,color:'#3A54B0'});
    }
    if (data['chart_data']['technical']['3'] != undefined){
        var three_data = [];
        for (i = 0; i < chart_data.length; i++) {
            three_data.push([data['chart_data']['technical']['3'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['technical']['3'][0],data: three_data,color:'#7F8DFF'});
    }
    new Highcharts.Chart(options);
}
function setupFinancialChart(data, chart_id){
    var chart_data = data['chart_data']['financial']['dates'];
    var total_data = [];
    var dates = [];
    var currency = data['chart_data']['financial']['currency'];

    for (i = 0; i < chart_data.length; i++) {
        dates.push(["<b>"+data['chart_data']['financial']['dates'][i]+"</b>",]);
        total_data.push([data['chart_data']['financial']['total'][i]])
    }  

    var options = {
        chart: {
            renderTo:chart_id,
            height:300
        },                    
        plotOptions:{
            line:{		             
                marker:{
                    enabled:false
                }
            }                       
        },			
        credits:{
            enabled:false
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: dates
        },			
        yAxis: {
            title: {
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                },
                text: '{% if utility_management %}Costs{% else %}Payments{% endif %} ('+currency+')'
            },
            floor:0
        },
        tooltip:{
            valueDecimals: 2,
        },
        series: []
    };

    options.series.push({type:'column',name:'Total',data:total_data,color:'#FFA54F'});

    if(data['chart_data']['financial']['1'] != undefined){
        var one_data = [];
        for (i = 0; i < chart_data.length; i++) {
            one_data.push([data['chart_data']['financial']['1'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['financial']['1'][0],data: one_data,color:'#032773'});
    }
    if(data['chart_data']['financial']['2'] != undefined){
        var two_data = [];
        for (i = 0; i < chart_data.length; i++) {
            two_data.push([data['chart_data']['financial']['2'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['financial']['2'][0],data: two_data,color:'#3A54B0'});
    }
    if(data['chart_data']['financial']['3'] != undefined){
        var three_data = [];
        for (i = 0; i < chart_data.length; i++) {
            three_data.push([data['chart_data']['financial']['3'][1][i]]);
        }
        options.series.push({type:'line',name: data['chart_data']['financial']['3'][0],data: three_data,color:'#7F8DFF'});
    }
			
    new Highcharts.Chart(options);    
}


</script>
