<div class="timer_command_form_div"></div>

<script type="text/javascript">

$(document).ready(function(){
        var current_num = $(".timer_command_form").length + 1;
        var form_heading = $("<h4 align='center'>Add Timer Command</h4>");
        var commands_heading = $("<span class='close_button'>X</span><h4 align='center'>Timer Commands</h4>");
        var form_message = $("<p><span class='notification' id='timer_command_notification"+current_num+"'></span></p>");
        var timer_command_form = $("<form class='timer_command_form' id='timer_command_form"+current_num+"' name='"+current_num+"' method='post' action='/timer_commands/add/'></form>"); 

        var form_items = $("<table><tr><td><input name='destination_phone' id='timer_destination_phone"+current_num+"' class='destination_phone' type='text' placeholder='Phone Number'></td><td><input name='message' id='timer_message"+current_num+"' class='message' type='text' placeholder='Message'></td><td><input name='hours' class='hours' id='timer_hours"+current_num+"' type='text' placeholder='Hour(s) to Send, eg.0,6,12,18'></td></tr></table>"); 
        var add_timer_btn = $("<button name='add_command' class='add_command' type='submit'>Add Command</button>");

        var timers_list = $("<table class='bulk_display'><thead><tr><th>Recipient</th><th>Site</th><th>Message</th><th>Hour(s)</th><th></th></tr></thead></table>");
        var commands_list = $("<tbody class='timer_commands_list'>{% for command in all_commands %}<tr class='command_{{command.id}}'><td>{{ command.destination_phone }}</td><td>{{ command.site.name }}</td><td>{{ command.message }}</td><td>{{ command.hours }}</td><td><a href='javascript:void(0);' id='{{ command.id }}' class='timer_command'>Delete</a></td></tr>{% empty %}<tr class='no_commands'><td colspan='5' style='text-align:center;'><h6>No Commands Registered for Your Sites</h6></td></tr>{% endfor %}</tbody>");


        var timer_command_form_div = $('.timer_command_form_div');

        timers_list.append(commands_list);

        timer_command_form.append(commands_heading);
        timer_command_form.append(timers_list);
        timer_command_form.append(form_heading);
        timer_command_form.append(form_message);
        timer_command_form.append(form_items);
        timer_command_form.append(add_timer_btn); 

        timer_command_form_div.parent().html(timer_command_form);

        $('.close_button').click(function(){
            var div_id=$(this).parent().attr('id');
            $('#'+div_id).parent().parent().hide('slow');
        });

        //on submission of a form
        $('.add_command').click(function(event){                                  
            $('#timer_command_notification'+element_id).text("");
            var form_id = $(this).parent().attr('id');            
            var element_id = $(this).parent().attr('name');

            //check if hours/phone number/ message entered
            var destination_phone = $('#timer_destination_phone'+element_id).val();
            var hours = $('#timer_hours'+element_id).val();
            var message = $('#timer_message'+element_id).val();

            if($.trim(destination_phone)==""||$.trim(hours)==""||$.trim(message)==""){
                event.preventDefault();
                $('#timer_command_notification'+element_id).text("Fill in all fields");
            }        
            else{
                $('#'+form_id).unbind('submit').submit(function(){ 
                    $('#timer_command_notification'+element_id).text("");                        
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        data: $('#'+form_id).serialize(),
                        success: function (data) {
                            if(data == "error"){
                                $('#timer_command_notification'+element_id).text("Fatal Error: Cannot add Timer Command. Phone number specified does not match a registered recipient!");                     
                            }
                            else{
                                var split_data = data.split(":");
                                var command_id = split_data[0];
                                var site = split_data[1];
                                var phone = split_data[2];
                                var msg = split_data[3];
                                var hrs = split_data[4];
                                if(('.no_commands').length>0){
                                    $('.no_commands').remove();
                                }
                                $('.timer_commands_list').append("<tr class='command_"+command_id+"'><td>"+phone+"</td><td>"+site+"</td><td>"+msg+"</td><td>"+hrs+"</td><td><a href='javascript:void(0);' id='"+ command_id +"' class='timer_command'>Delete</a></td></tr>");
                            }
                        }
                    });         
                    return false;       
              }); 
           }
        }); 

        //delete a timer command
        $('.timer_command').live("click",function(){
            var command_id = $(this).attr('id');         
            $.ajax({
                url:'/timer_commands/delete/',
                type:'POST',
                data:'command_id='+command_id,
                success:function(data){
                    if(data == "deleted"){
                        $('.command_'+command_id).remove();
                    }
                },
                error:function(data){
                }            
            });
        });

});

</script>
