<div class="transactions_div"></div>

<script type="text/javascript">
$(document).ready(function(){
    var current_num = $('.transactions_csv_form').length + 1;
    var form_heading = $("<span class='close_button'>X</span><h4 align='center'>Transactions CSV</h4>");
    var form_message = $("<p><span  class='notification' id='transactions_csv_notification"+current_num+"'></span></p>");
    var transactions_form = $("<form class='transactions_csv_form' id='transactions_csv_form"+current_num+"' method='get' action='/transactions/csv/'>{%csrf_token%}</form>"); 

    var form_items = $("<table >"+
                       "<tr><td><input type='text' id='transactions_csv_min_date"+current_num+"' name='min_date' placeholder='Min Date' {% if filter_form.min_date.value %} value='{{ filter_form.min_date.value }}'{% endif %}></td><td><input type='text' id='transactions_csv_max_date"+current_num+"' name='max_date' placeholder='Max Date'></td></tr>"+
                       "<tr><td><input type='text' id='transactions_csv_min_time"+current_num+"' name='min_time' placeholder='Min Time (hh:ss)'></td><td><input type='text' id='transactions_csv_max_time"+current_num+"' name='max_time' placeholder='Max Time (hh:ss)'></td></tr>"+
                       "<tr><td><input type='text' id='message_type_csv"+current_num+"' name='type' placeholder='Message Type'></td><td><input type='text' id='recipient_sender_csv"+current_num+"' name='other_party' placeholder='Recipient/Sender'></td></tr>"+
                       "<tr><td><input type='text' id='digest_csv"+current_num+"' name='digest' placeholder='Digest'></td><td><input type='text' id='full_content_csv"+current_num+"' name='raw_content' placeholder='Full Content'></td></tr>"+
                       "</table>");

    var form_buttons = $("<button id='transactions_export_csv_btn"+current_num+"' name='csv'>Export to CSV</button>");

    var transactions_div = $('.transactions_div');

    transactions_form.append(form_heading);
    transactions_form.append(form_message);
    transactions_form.append(form_items);
    transactions_form.append(form_buttons);

    transactions_div.parent().html(transactions_form);   


    $( "#transactions_csv_min_date"+current_num ).datepicker();
    $( "#transactions_csv_max_date"+current_num ).datepicker(); 

    $('.close_button').click(function(){
        var div_id=$(this).parent().attr('id');
        $('#'+div_id).parent().parent().hide('slow');
    });         
});
</script>
