<div class="user_email_form"></div>

<script type="text/javascript">

$(document).ready(function(){
        var current_num = $(".user_email_form").length + 1;
        var form_heading = $("<span class='close_button'>X</span><h4 align='center'>Send User Emails</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ request.session.current_timezone }} ["+off_set('{{ request.session.current_timezone }}')+"] timezone</div>");
        var form_message = $("<p><span  class='notification' id='user_email_notification"+current_num+"'></span></p>");
        var user_email_form = $("<form class='user_email_form' id='user_email_form"+current_num+"' name='"+current_num+"' method='post' action='/user_email/send/'></form>");        
        var all_users_div = $("<div class='all_users_div"+current_num+"'></div>");
        var all_users_radio_btn = $("<input id='all_users"+current_num+"' type='radio' name='recipient' class='all_users' value='ALL' checked> <span class='bold_text'>Send to All Users</span>");
        var individual_user_div = $("<div class='individual_user_div"+current_num+"'></div>");
        var individual_user_radio_btn = $("<input type='radio' name='recipient' class='individual_user' value='individual_user'> <span class='bold_text'>Send to Individual User</span>"); 
        var individual_users_list = $("<p>Specify User(s):</p><select name='recipient' class='recipient'><option value=''>----</option><option value='ALL'>All Users</option>{% for user in all_users %}<option value='{{ user.username }}'>{{ user.username }}: {{ user.email }}</option>{% endfor %}</select>");
        var subject_label = $("<p>Message Subject:</p>");
        var subject_box = $("<input type='text' name='subject' id='subject"+current_num+"' class='subject'>");
        var message_label = $("<p>Message Content:</p>");
        var message_box = $("<input type='text' name='message' id='message"+current_num+"' class='message'>");
        var form_button = $("<button type='submit' id='btn_user_email"+current_num+"' name='user_email' class='user_email'>Send</button>");

        var user_email_form_div = $('.user_email_form');        
                
        all_users_div.append(individual_users_list);
        
        individual_user_div.append(individual_users_list);        

        user_email_form.append(form_heading);
        user_email_form.append(form_message);
        user_email_form.append(individual_user_div);
        user_email_form.append(subject_label);        
        user_email_form.append(subject_box);
        user_email_form.append(message_label);        
        user_email_form.append(message_box);
        user_email_form.append(form_button); 
        user_email_form_div.parent().html(user_email_form);

        $('.close_button').click(function(){
            var div_id=$(this).parent().attr('id');
            $('#'+div_id).parent().parent().hide('slow');
        });      
    
        $('.individual_user').click(function(){
            var id = $(this).parent().attr('name');
            $('.individual_user_div'+id).show();
            $('.all_users_div'+id).hide();
            console.log($(all_users));
        });
        $('.all_users').click(function(){
            var id = $(this).parent().attr('name');
            $('.individual_user_div'+id).hide();
            $('.all_users_div'+id).show();
        });
        
        //on submission of a form
        $('.user_email').click(function(event){            
            var form_id = $(this).parent().attr('id');            
            var element_id = $(this).parent().attr('name');

            var message = $('#message'+element_id).val();

            if($.trim(message)==""){
                event.preventDefault();
                $('#user_email_notification'+element_id).text("Enter a message first."); 
            }     
            else{       
                $('#user_email_notification'+element_id).text(""); 
                $('#'+form_id).unbind('submit').submit(function(){
                    $.ajax({
                        type:$('#'+form_id).attr('method'),
                        url: $('#'+form_id).attr('action'),
                        data: $('#'+form_id).serialize(),
                        beforeSend:function(){
                            $('#btn_user_email'+element_id).html("Sending...");
                        },
                        success: function (data) {                            
                            $('#btn_user_email'+element_id).html("Send to All Recipients");
                            $('#user_email_notification'+element_id).text(data);
                        },
                        error: function(data) {   
                            $('#user_email_notification'+element_id).text(data);
                        }
                    });                              
                    return false;
                }); 
            }              
        });                       
});

</script>
