<div class="user_recent_activity_div"></div>
<script type="text/javascript">

$(document).ready(function(){   
   var user_id = '{% if type == "user" %}{{this_user.id}}{% else %}{{this_line.id}}{% endif %}';
   var user_type = "{{type}}";
   var user_name = "{% if type == 'user' %}{{ this_user.first_name }} {{ this_user.last_name }}{% else %}{{this_line.name}}{% endif %}";
   var current_num = $(".user_recent_activity").length + 1;
   var user_recent_activity = $("<div class='user_recent_activity' id='user_recent_activity"+current_num+"'></div>");
   var heading = $("<span class='close_button'>X</span><h4 align='center'>"+
                            "<span id='user_recent_activity_user_name"+current_num+"'>{% if type == 'user' %}{{ this_user.first_name }} {{ this_user.last_name }}{% else %}{{this_line.name}}{% endif %}</span>: Recent Activity"+
                        "</h4><div class='timezone-title' title='"+timezone_helper+"'>{{ this_user.site.timezone }} ["+off_set('{{ this_user.site.timezone }}')+"] timezone</div>");      
   var chart_div = $("<div id='user-recent-activity"+current_num+"'></div>");    
   var chart_buttons = $("<table class='recent_activity_tb'>"+
			"<tr><span id='user_activity_notification"+current_num+"' class='notification'></span></td></tr>"+
                        "<tr><td id='adjust_user_utility"+current_num+"'>{% if utility_lists %}<select style='width:200px;' id='user_utility_type"+current_num+"'>{% for utility in utility_lists %}<option>{{utility.name}}</option>{% endfor %}</select>{% endif %}</td><td>{% if type == 'user' %}<input id='user_recent_activity_users_list_option"+current_num+"' type='text' placeholder='Customer Name'  style='width:150px;margin-left: 5px;' class='tip' title='Type customer name to switch graph data'> <img src='/static/custom/img/loading.gif' id='user_recent_activity_show_loading"+current_num+"'>{% endif %}</td><td><button name='selected_period' id='adjust_settings"+current_num+"'>Adjust Activity</button> <button id='hide_adjust_settings"+current_num+"'>Hide Adjust Settings</button></td></tr>"+	
			"<tr class='adjust_date_settings"+current_num+"'><td colspan='3'><span class='bold_text'>Date Range: </span><input type='text' id='user_activity_from_date"+current_num+"' placeholder='Min Date'> <input type='text' id='user_activity_to_date"+current_num+"' placeholder='Max Date'></td></tr>"+
                        "<tr class='adjust_date_settings"+current_num+"'><td colspan='3'><span class='bold_text'>Account Balance: </span><input type='text' id='user_activity_accountbalance_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='user_activity_accountbalance_scale_max"+current_num+"' placeholder='Max'></td></tr>"+
                        "<tr class='adjust_date_settings"+current_num+"'><td colspan='3'><span class='bold_text' id='user_y_axis_label"+current_num+"'>{% if utility_management %} {{time_series_label}} Scale: {% else %}Power Draw Scale:{% endif %} </span><input type='text' id='user_activity_powerdraw_scale_min"+current_num+"' placeholder='Min'> <input type='text' id='user_activity_powerdraw_scale_max"+current_num+"' placeholder='Max'></td></tr>"+                        
                        "<tr class='adjust_date_settings"+current_num+"'><td colspan='3'><button id='btn_user_activity_update_graph"+current_num+"'  style='margin-right:5px;'>Update Graph</button> <button name='reset_activity' id='btn_user_activity_reset_graph"+current_num+"'>Reset Graph</button></td></tr>"+                        
                        "</table>");

   "{% if utility_lists %}"
   var default_utility = "{{utility_lists.0.name}}"; 
   "{% else %}"
       "{% if type == 'user ' %}"
       var default_utility = "Electricity";   
       "{% else %}"
       var default_utility = "{{this_line.utility_type}}";   
       "{% endif %}"   
   "{% endif %}"
   var user_recent_activity_div = $('.user_recent_activity_div'); 

   user_recent_activity.append(heading);
   user_recent_activity.append(chart_div); 
   user_recent_activity.append(chart_buttons);   

   user_recent_activity_div.parent().html(user_recent_activity);

   var highchart;
   setupUserEnergyUsageGraph('user-recent-activity'+current_num,default_utility);

   $( ".tip" ).tooltip({
       show: {
           effect: "slideDown",
           delay: 250,
       }
    });

   $('.adjust_date_settings'+current_num).hide();
   $('#hide_adjust_settings'+current_num).hide();
   $('#adjust_user_utility'+current_num).hide();
   $('#user_recent_activity_show_loading'+current_num).hide();

   $('#adjust_settings'+current_num).click(function(){
       $('#adjust_settings'+current_num).hide();
       $('.adjust_date_settings'+current_num).show();
       $('#hide_adjust_settings'+current_num).show();
   });
   $('#hide_adjust_settings'+current_num).click(function(){
       $('#hide_adjust_settings'+current_num).hide();
       $('.adjust_date_settings'+current_num).hide();
       $('#adjust_settings'+current_num).show();
   });
   $('#user_activity_from_date'+current_num).datepicker({ 				
       onSelect: function () {	
            $('#user_activity_to_date'+current_num).datepicker("option", 'minDate', $('#user_activity_from_date'+current_num).val());	
            var from_date_time=$('#user_activity_from_date'+current_num).datepicker('getDate').getTime();
            //maximum of 40 days
            var days_range_ms=86400000*39;
            var to_date_time=from_date_time + days_range_ms;				
            $('#user_activity_to_date'+current_num).datepicker("option","maxDate",new Date(to_date_time));				
       },					
   });
   $('#user_activity_from_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd"); 

   $('#user_activity_to_date'+current_num).datepicker({});
   $('#user_activity_to_date'+current_num).datepicker( "option", "dateFormat","yy-mm-dd"); 				

   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   //change the default utility type and reload graph 
   $("#user_utility_type"+current_num).change(function(){
       default_utility = $("#user_utility_type"+current_num).val();    
       setupUserEnergyUsageGraph("user-recent-activity"+current_num,default_utility);
   });

   "{% if type == 'user' %}"
       users = [{% for user in users %}
                {value:"{{ user.first_name|safe }} {{ user.last_name|safe }}",id:"{{ user.id }}",type:"user"},
            {% endfor %}];

       

        $("#user_recent_activity_users_list_option"+current_num).autocomplete({            
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(users, request.term);
                response(results.slice(0, 10));        
            },
            select: function( event, ui ){
                 user_id = ui.item.id;                               
                 user_type = ui.item.type;
                 user_name = ui.item.value;

                 change_user();
            }
        });
    "{% endif %}"
    

   $('#btn_user_activity_reset_graph'+current_num).click(function(){
       var date = new Date();
       var from_date = dashed_formatted_date(removedays(date,3));
       var to_date = dashed_formatted_date(date);
       
       $.ajax({
               url:'/load_activity/user/',
                type:'POST',
                data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',            
                    'user_id':user_id,
                    'type':user_type,
                    'utility_type':default_utility
                },
               dataType:'json',
               beforeSend:function(){
                   $('#btn_user_activity_update_graph'+current_num).html("Updating...");
               },
               success:function(data){                   
                   // Keep track of which highchart series we're editing
                   var seriesIndex = 0;

                   // List of all lines belonging to the user
                   var userLines = Object.keys(data['rates']);

                   var start_date = data['start_date'];
                   var end_date = data['end_date'];
                   

                   // Update power draw for each line
                   for (var i = 0; i < userLines.length; i++) {
                       var rawPowerData = data['rates'][userLines[i]];
                       var chartPowerData = [];
                       for (var j = 0; j < rawPowerData.length; j++) {
                           chartPowerData.push([
                               rawPowerData[j]['timestamp'],
                               rawPowerData[j]['rate']
                           ]);
                       }
                       highchart.series[seriesIndex].setData(chartPowerData);
                       seriesIndex++;
                   }

                   if(data['balances'] != undefined){
                     // Update account balance                   
                     var chartBalanceData = [];
                     for (i = 0; i < data['balances'].length; i++) {
                         chartBalanceData.push([
                             data['balances'][i]['timestamp'],
                             data['balances'][i]['balance']
                         ]);
                     }                                     
                     highchart.series[seriesIndex].setData(chartBalanceData);
                   }


                   highchart.setTitle(null,{'text': 'From: '+simpledate(start_date)+' To: '+simpledate(end_date)});
                   $('#btn_user_activity_update_graph'+current_num).html("Update Graph");
               }
           });
   });

   $('#btn_user_activity_update_graph'+current_num).click(function(){
       var from_date = $('#user_activity_from_date'+current_num).val();
       var to_date = $('#user_activity_to_date'+current_num).val();

       var y_accountbalance_scale_min = $("#user_activity_accountbalance_scale_min"+current_num).val();
       var y_accountbalance_scale_max = $("#user_activity_accountbalance_scale_max"+current_num).val();

       var y_powerdraw_scale_min = $("#user_activity_powerdraw_scale_min"+current_num).val();
       var y_powerdraw_scale_max = $("#user_activity_powerdraw_scale_max"+current_num).val();
      

       if($.trim(y_powerdraw_scale_max)!="" && $.trim(y_powerdraw_scale_min)!=""){
           highchart.yAxis[0].setExtremes(y_powerdraw_scale_min,y_powerdraw_scale_max);
       }
       if($.trim(y_accountbalance_scale_max)!="" && $.trim(y_accountbalance_scale_min)!=""){
           highchart.yAxis[1].setExtremes(y_accountbalance_scale_min,y_accountbalance_scale_max);
       }
       if($.trim(from_date)!=""&&$.trim(to_date)!=""){
           $('#user_activity_notification'+current_num).text("");
           $.ajax({
               url:'/adjust_activity/user/',
               type:'POST',
               data:{
                    'csrfmiddlewaretoken':'{{csrf_token}}',                            
                    'type':user_type,                
                    'from_date':from_date,
                    'to_date':to_date,
                    'user_id':user_id,
                    'utility_type':default_utility
               },
               dataType:'json',
               beforeSend:function(){
                   $('#btn_user_activity_update_graph'+current_num).html("Updating...");
               },
               success:function(data){
                   // Keep track of which highchart series we're editing
                   var seriesIndex = 0;

                   // List of all lines belonging to the user
                   var userLines = Object.keys(data['rates']);

                   var start_date = data['start_date'];
                   var end_date = data['end_date'];
                   

                   // Update power draw for each line
                   for (var i = 0; i < userLines.length; i++) {
                       var rawPowerData = data['rates'][userLines[i]];
                       var chartPowerData = [];
                       for (var j = 0; j < rawPowerData.length; j++) {
                           chartPowerData.push([
                               rawPowerData[j]['timestamp'],
                               rawPowerData[j]['rate']
                           ]);
                       }
                       highchart.series[seriesIndex].setData(chartPowerData);
                       seriesIndex++;
                   }

                   if(data['balances'] != undefined){
                     // Update account balance
                     var chartBalanceData = [];
                     for (i = 0; i < data['balances'].length; i++) {
                         chartBalanceData.push([
                             data['balances'][i]['timestamp'],
                             data['balances'][i]['balance']
                         ]);
                     }                                     
                     highchart.series[seriesIndex].setData(chartBalanceData);
                   }


                   highchart.setTitle(null,{'text': 'From: '+simpledate(start_date)+' To: '+simpledate(end_date)});
                   $('#btn_user_activity_update_graph'+current_num).html("Update Graph");
               }
           });
       }       
   });

   function change_user(){
    //get the utility list of this site
        $.ajax({
            url:'/user/utilities/',
            type: 'POST',
            dataType: 'json',
            data:{
                'user_id':user_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend: function(){
            },
            success: function(data){
                $("#user_utility_type"+current_num).empty();
                for(i=0;i<data['utility_lists'].length; i++){
                    if(i==0){
                        default_utility = data['utility_lists'][i]['name'];
                    }
                    $("#user_utility_type"+current_num).append("<option>"+data['utility_lists'][i]['name']+"</option>");
                }
            }
        });  

        setupUserEnergyUsageGraph("user-recent-activity"+current_num,default_utility);


   }


    function setupUserEnergyUsageGraph(chartID,utility_type) {
        $.ajax({
            url:'/load_activity/user/',
            type:'POST',
            data:{
                'csrfmiddlewaretoken':'{{csrf_token}}',            
                'user_id':user_id,
                'type':user_type,
                'utility_type':utility_type
            },
            dataType:'json',
            beforeSend:function(){
                $("#user-recent-activity"+current_num).html("<div align='center'>Loading graph...<img src='/static/custom/img/loading.gif'></div>");
            },
            success:function(data){             
                $("#user_recent_activity_user_name"+current_num).html(user_name);   
                var userLines = Object.keys(data['rates']);

                var start_date = data['start_date'];
                var end_date = data['end_date'];

                
                var options = {
                    chart: {
                        type: 'scatter',
                        renderTo:chartID     				
                    },
                    plotOptions: {
                        scatter:{              
                            lineWidth:2,
                            marker:{
                                fillColor: 'transparent'
                            }
                        },            
                    },
                    colors:['#032773','#3A54B0','#7F8DFF','#3333ff','#000080','#6495ED'],
                    credits:{
                        enabled:false
                    },
                    title: {
                        text: '',
                        style:{
                            'fontWeight':'bold'
                        },						
                    },
                    subtitle:{
                        text:'From: '+simpledate(data['start_date'])+' To: '+simpledate(data['end_date']),
                        style:{
                            'fontWeight':'bold'
                        },
                    },
                    xAxis: {
                        type:'datetime',
                    },				
                    yAxis: [{ 	
                        labels: {
                            format: '{value:.1f}',                
                        },			    
                        title: {
                            text: data['chart_label'],					
                            style:{
                                fontWeight:'bold',
                                fontSize:'14px',
                                color:'#000'
                            } 
                        },
                        floor:0
                        },{ 
                        title: {
                            text: '{% if utility_management %}Cost{% else %}Account Balance{% endif %} ({% if site_name == "Komolo-I" %}Rafiki Credits{% else %}'+data['currency']+'{% endif %})',
                            style:{
                                fontWeight:'bold',
                                fontSize:'14px',
                                color:'#000'
                            }               
                        },
                        floor:0,
                        opposite: true
                    }],
                    series:[]							
                }; 
                

                for (var i = 0; i < userLines.length; i++) {
                     var rawPowerData = data['rates'][userLines[i]];
                     var chartPowerData = [];
                     for (var j = 0; j < rawPowerData.length; j++) {
                         chartPowerData.push([
                             rawPowerData[j]['timestamp'],
                             rawPowerData[j]['rate']
                         ]);
                     }
                     options.series.push({
                         name: "Line "+userLines[i]+" ("+data['secondary_unit']+")",
                         data:chartPowerData,											
                     });	
                }

                if(data['balances'] != undefined){
                  var chartBalanceData = [];
                  for (i = 0; i < data['balances'].length; i++) {
                     chartBalanceData.push([
                         data['balances'][i]['timestamp'],
                         data['balances'][i]['balance']
                     ]);
                  }

                  options.series.push({
                      name:'{% if utility_management %}Cost{% else %}Account Balance{% endif %} ('+data['currency']+')',
                      data:chartBalanceData,
                      yAxis: 1,	
                      color:'#FFA54F'
                  });
                }

                $("#user_y_axis_label"+current_num).text(data['chart_label']+" Scale: ");
						
                var chart = new Highcharts.Chart(options);		
                if(data['balances'] == undefined){
                  //hide right y-axis
                  chart.yAxis[1].update({
                      labels: {
                          enabled: false
                      },
                      title: {
                          text: null
                      }
                  });
                }
                chart.tooltip.options.formatter = function() {
                    return  '<b>' + Highcharts.dateFormat(' %e - %b - %Y',new Date(this.x)) +' , '+Highcharts.dateFormat('%H:%M',new Date(this.x))+'</b><br>'+ Highcharts.numberFormat(this.y,2);
                }
                $("#adjust_user_utility"+current_num).show();
                highchart = chart;
                return chart;                                                   
            }
        });	
    }
});

</script>
