<div class="user_details_div"></div>

<script type="text/javascript">
$(document).ready(function(){
   var current_num = $(".user_details").length + 1;
   var user_info = $("<div class='user_details' id='user_details"+current_num+"'></div>");
   var user_details = $("<p><span class='bold_text'>Telephone:</span> {{ telephone }}"+
                         " <span class='bold_text'>{% if utility_management %}Utility Type: {% else %}First Name:{% endif %}</span> {{ first_name }}"+
                         " <span class='bold_text'>{% if utility_management %}Name:{% else %}Last Name:{% endif %}</span> {{ last_name }}"+
                         " <span class='bold_text'>Language:</span> {% if language == 'ENG' %}English{% elif language == 'SWA' %}Swahili{% endif %}"+
                         " <span class='bold_text'>Account Balance:</span> {{ account_balance }}"+
                         " <span class='bold_text'>Line:</span> {% for line in user_lines %}{{line.number}} - {{line.get_line_status_display}},{% endfor %}"+
                         " <span class='bold_text'>Control Type: </span> {{control_type}}"+
                         " <span class='bold_text'>Energy Price:</span> {{ energy_price }}"+
                         " <span class='bold_text'>Low Balance Warning Threshold:</span> {{ low_balance_warning }}"+
                         " <span class='bold_text'>Registration Date:</span> {{ created }}"+
                         " <span class='bold_text'>Site Manager:</span> {% if site_manager %}<a href='#' class='site_mgr_link' id='{{ site_manager_id }}'>{{ site_manager }}</a>{% else %}None{% endif %}"+
                         " <span class='bold_text'>Site:</span> <a href='#' class='user_site_link' id={{ site_id }}>{{ site_name }}</a>"+
                         " <span class='bold_text'>BitHarvester:</span> {% if harvester_id %}<a href='#' class='user_bh_link'>{{ harvester_id }}</a>{% else %}None{% endif %}</span>"  		  	
   );

   var user_payment_plan_details = $("<div>"+
            "<h6>Summary of Payment Terms</h6>"+
            "<p>>> Top ups will credit this account {% if tariff_bundle == None %} with the payment amount{% else %} according to the current tariff bundles{% endif %}</p>"+
            "<p>>> Energy will be charged from this account {% if payment_plan == 'Weekly Rate' %}at a flat fee of {{currency}} {{threshold}} every 7 days{% elif payment_plan == 'Monthly Rate' %} at a flat fee of {{currency}} {{threshold}} every 30 days{% else %}at a flat rate of {{currency}} {{energy_price}}/kWh{% endif %}</p>"+
            "<p>>> Lines will be turned on {% if payment_plan_name == 'High Energy User' %} when account balance is above {{currency}} {{threshold}}{% elif payment_plan_name == 'Weekly Rate' %}  if weekly payment is received by the first day of the week{% elif payment_plan_name == 'Monthly Rate' %} if monthly payment is received by the first of the month{% else %} when account balance is greater than 0{% endif %}</p>"+
            "<p>>> Lines will be turned off{% if payment_plan_name == 'High Energy User' %} when account balance is below {{currency}} {{threshold}}{% elif payment_plan_name == 'Weekly Rate' %}  if weekly payment is not received by the first day of the week{% elif payment_plan_name == 'Monthly Rate' %} if monthly payment is not received by the first of the month{% else %}  when account balance is 0{% endif %}</p>"+
        "</div>");

   var heading = $("<span class='close_button'>X</span><h4 align='center'>{{ first_name }} {{ last_name }} Details</h4>");

   var edit_user_buttons = $("{% if utility_management %} <a href='#' class='view_user_activity' name='{{this_user.id}}' id='view_user_activity_btn"+current_num+"'>View Activity</a> | <a href='#' class='edit_user' name='{{this_user.id}}' id='edit_user_btn"+current_num+"'>Edit Utility</a> | {% if not is_cro %}<a href='#' class='delete_user' id='delete_user_btn"+current_num+"' name='{{this_user.id}}'>Delete Utility</a>{% endif %}{% else %} <a href='#' class='view_user_activity' name='{{this_user.id}}' id='view_user_activity_btn"+current_num+"'>View Activity</a> | <a href='#' class='totals_btn'>View Totals</a> | <a href='#' class='edit_user' name='{{this_user.id}}' id='edit_user_btn"+current_num+"'>Edit User</a>{% if not is_cro %}<a href='#' class='delete_user' id='delete_user_btn"+current_num+"' name='{{this_user.id}}' style='float:right;'>Delete User</a>{% endif %}{% endif %}");
   var delete_user_div = $("<div id='delete_user_div"+current_num+"'></div>");
   var delete_user_buttons = $("<p class='notification'>Are you sure you want to delete this {% if utility_management %}utility{% else %}user{%endif %}?</p><div style='margin-bottom:10px;padding-bottom:10px;'><button id='delete_user_option_yes"+current_num+"'>Yes</button> <button id='delete_user_option_cancel"+current_num+"' style='margin-right:5px;'>Cancel</button></div>");

   var user_details_div = $('.user_details_div');


   delete_user_div.append(delete_user_buttons);
   
   user_info.append(heading);
   user_info.append(user_details);
   user_info.append(user_payment_plan_details);
   user_info.append(edit_user_buttons);
   user_info.append(delete_user_div);


   user_details_div.parent().html(user_info);

   //hide the delete options
   $('#delete_user_div'+current_num).hide();

   $('#delete_user_btn'+current_num).click(function(){
       var user_id = $(this).attr('name');
       $('#delete_user_div'+current_num).show();
   });

   $('#delete_user_option_yes'+current_num).click(function(){
       var user_id = $(this).attr('name');
       $.ajax({
           type:'GET',
           url:'/delete/user/{{line.id}}/',
           success:function(data){
               alert(data);
           }
       });
   });

   $('#delete_user_option_cancel'+current_num).click(function(){
       $('#delete_user_div'+current_num).hide();
   });
   
   $('#edit_user_btn'+current_num).unbind('click').click(function(){
       create_card("/cards/user/edit_user/{{this_user.id}}/");
   });
   $('.view_user_activity').unbind('click').click(function(){
       create_card("/cards/user/user_recent_activity/{{this_user.id}}/user/");
   });

   $('.totals_btn').unbind('click').click(function(){
       create_card("/cards/user/site_energyuse_daily_totals/{{this_user.id}}/");        
   });


   $('.close_button').click(function(){
       var div_id=$(this).parent().attr('id');
       $('#'+div_id).parent().parent().hide('slow');
   });

   $('.user_site_link').unbind('click').click(function(){
       create_card("/cards/site/site_details/{{site_id}}/");
   });

   $('.user_bh_link').unbind('click').click(function(){
       create_card("/cards/bh/bh_details/{{harvester_id}}/");       
   });

   $('.site_mgr_link').unbind('click').click(function(){
       create_card("/cards/user/user_details/{{this_user.id}}/");
   });
});
</script>
