<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}Mingi{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <!-- css -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" 
          rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" 
          rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
          rel="stylesheet">
    <link href="{% static "custom/css/mingi.css" %}"
          rel="stylesheet">

	<link href="{% static "custom/css/style.css" %}"
          rel="stylesheet">

    <!-- js -->
    <!--script src="http://code.jquery.com/jquery.js"></script-->
    <!--script src="http://code.jquery.com/jquery-1.9.0.min.js"></script-->
    <script src="//code.jquery.com/jquery-1.9.0.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


    {% block head_scripts %}
    {% endblock %}

  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
	  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <div class="container">

          <a class="brand" href="/">
            <img src="{% static "custom/img/logo-brown-square-small.png" %}" />
            SteamaCo
          </a>

          <div class="nav-collapse collapse">

            {% if request.user.is_authenticated %}

            <ul class="nav">

              <li{% if 'transactions' in request.path %} 
                    class="active"{% endif %}>
                <a href="/logs/">Logs</a>
              </li>

              <li class="dropdown{% if 'elements' in request.path %} 
                                                             active{% endif %}">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown">
                  Elements <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                  <li{% if 'elements/site' in request.path %} 
                        class="active"{% endif %}>
                    <a href="/elements/site/">Sites</a>
                  </li>

                  <li{% if 'elements/bitharvester' in request.path %} 
                        class="active"{% endif %}>
                    <a href="/elements/bitharvester/">BitHarvesters</a>
                  </li>

                  <li{% if 'elements/mingiuser' in request.path %} 
                        class="active"{% endif %}>
                    <a href="/elements/mingiuser/">Mingi Users</a>
                  </li>

                </ul>
              </li>
	      
	      {% if request.user.website_user_profile.user_type != "CRO" %}
	      <li{% if 'comms' in request.path %} 
                    class="active"{% endif %}>
                <a href="/comms_center/">Comms Center</a>
              </li>
	      
	      <li{% if 'reports' in request.path %} 
                    class="active"{% endif %}>
                <a href="/reports/">Reports</a>
              </li>
	      {% endif %}
	      
              {% if request.user.is_staff %}

                <li{% if 'alerts' in request.path %} 
                      class="active"{% endif %}>
                  <a href="/alerts/">Alerts</a>
                </li>

                <li><a href="/admin/">Django Admin</a></li>

                {% comment %}
                  <li class="active">
                    <a href="/reports/">Reports</a>
                  </li>
                {% endcomment %}

	      {% endif %}
	      
            </ul>
            
            <ul class="nav pull-right">
              <li class="navbar-text">
                Signed in as {{ request.user.first_name }}
                {{ request.user.last_name }}
              </li>
              <li class="divider-vertical"></li>
                  <li>
                    <a href="/logout/" style="margin-left:-15px"><b>Logout</b></a>
                  </li>
            </ul>

            {% endif %}

          </div><!--/.nav-collapse -->
        </div><!-- container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

    {% block content %}
    <h1>Mingi Administration</h1>

    <p>Template filler</p>
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block body_scripts %}
    {% endblock %}

  </body>

</html>
