<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}Steama - Temporarily Locked {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <!-- css -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}"
          rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}"
          rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
          rel="stylesheet">

	<link href="{% static "custom/css/style.css" %}"
          rel="stylesheet">
	<link href="{% static "custom/css/login.css" %}"
          rel="stylesheet">

    <!-- js -->
    <!--script src="http://code.jquery.com/jquery.js"></script-->
    <!--script src="http://code.jquery.com/jquery-1.9.0.min.js"></script-->
    <script src="//code.jquery.com/jquery-1.9.0.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

  </head>

  <body>

    <img src="{% static "custom/img/steamaco-logo.png" %}" id="login-logo" />

    <div class="well" >
     
      <div class="row-fluid" align="center" width="100%" style="line-height:2.2em;">

        <h1> account temporarily locked</h1><br/>
      You have exceeded the maximum number of login attempts. Kindly try again in <strong>30 minutes</strong><br/>
      Have you forgotten your password ? <a href="{% url 'forgot_password1' %}">Click here</a> to reset your password <br/>
      If you think you are seeing this by mistake, kindly send us a mail on <a href="mailto:app@steama.co"> app@steama.co </a>
      </div><!-- row-fluid -->
      <div class="row-fluid">
        
      </div><!-- row-fluid -->
    </div><!-- well (login-container) -->

  </body>
