<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}Steama - Login{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <!-- css -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}"
          rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}"
          rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"
          rel="stylesheet">

	<link href="{% static "custom/css/style.css" %}"
          rel="stylesheet">
	<link href="{% static "custom/css/login.css" %}"
          rel="stylesheet">

    <!-- js -->
    <!--script src="http://code.jquery.com/jquery.js"></script-->
    <!--script src="http://code.jquery.com/jquery-1.9.0.min.js"></script-->
    <script src="//code.jquery.com/jquery-1.9.0.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

  </head>

  <body>

    <img src="{% static "custom/img/steamaco-logo.png" %}" id="login-logo" />

    <div class="well" id="login-container">
      <div class="row-fluid">
        {% if login_error %}
        <h2 class="text-error login-header">{{ login_error }}</h2>
        {% endif %}
      </div><!-- row-fluid -->
      <div class="row-fluid">
        <form method="post" action="" class="form-signin">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username"
             class="login-input" /><br>
          <input type="password" name="password" placeholder="Password"
             class="login-input" /><br>
          <button type="submit" class="btn btn-large btn-default login-button">
            Log In
          </button><br>
          <a href="{% url 'forgot_password1' %}" class="login-forgot-password"><span>Forgot password?</span></a>
        </form>
      </div><!-- row-fluid -->
      <div class="row-fluid">
        
      </div><!-- row-fluid -->
    </div><!-- well (login-container) -->

  </body>
