{% load staticfiles %}
<div></div>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SteamaCo</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/custom/img/steamaco-icon.png" type="image/x-icon" />
    <link href='{% static "custom/css/new_steama_application.css" %}' rel='stylesheet'>
    <link href='{% static "custom/css/new_steama_vendor.css" %}' rel='stylesheet'>
    <link href='{% static "custom/css/cssmenu_style.css" %}' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "preview/jquery.slidePanel.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "custom/css/new_steama_style.css" %}" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'custom/js/new_steama_sort.js' %}" ></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="{% static "preview/jquery.slidePanel.min.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/custom/js/jquery.dataTables.js" type="text/javascript"></script>
    <link href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="/static/custom/css/steama.css" rel="stylesheet" />
    <link href="/static/custom/css/new_dashboard.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/static/custom/css/lazyYT.css" rel="stylesheet" />    
    <link href="/static/custom/css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css">
    <script src="/static/custom/js/newsteama_map.js"></script>
    <script src="/static/custom/js/infobox.js"></script>
    <script src="/static/highcharts/highcharts.js"></script>
    <script src="/static/highcharts/exporting.js"></script>
    <script src="/static/d3/d3.js"></script>
    <script src="/static/d3/tooltip.js"></script>
    <script src="/static/d3/newsteama_bilevel_charts.js"></script>
    <script src="/static/custom/js/newsteama_common_functions.js"></script>
    <script src="/static/custom/js/jquery.slimscroll.min.js"></script>
    <script src="/static/custom/js/ui.multiselect.js"></script>
    <script src="/static/custom/js/moment.min.js"></script>
    <script src="/static/custom/js/moment-timezone-with-data.min.js"></script>


    <script src="/static/custom/js/lazyYT.js"></script>
    <script src="/static/custom/js/jquery-ui-timepicker-addon.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <script src="/static/custom/js/chosen.jquery.js"></script>

    <script src="{% static "taggle/js/taggle.js" %}"></script>
    <script src="{% static "taggle/js/taggle-ie8.js" %}"></script>
    <script src="{% static "taggle/js/taggle-ie9.js" %}"></script>
    <link href="{% static "taggle/css/taggle.css" %}" rel="stylesheet" type="text/css"/>
    
    <link href="{% static "custom/css/chosen.css" %}" rel="stylesheet" type="text/css"/>

    {# intro.js: used for new user tour #}
    <script src="{% static "intro/intro.js" %}"></script>
    <link href="{% static "intro/introjs.css" %}" rel="stylesheet" type="text/css"/>
    <script src="{% static "custom/js/new_user_tour.js" %}"></script>
    <link href="{% static "custom/css/new_user_tour.css" %}" rel="stylesheet" type="text/css"/>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static "ajax-upload/js/jquery.iframe-transport.js" %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static "ajax-upload/js/jquery.fileupload.js" %}"></script>

    <script>
    // alert(off_set("Africa/Nairobi"));
    // alert(off_set("US/Central"));
        var availableUserNames;
        var availableWebsiteUserNames;

        var MAX_SITES = {{max_all_sites_graph_days}};
        var MAX_SINGLE_SITE = {{max_single_site_graph_days}}; 

        // make latitude and longitude global
        window.longitude = 38;
        window.latitude = 0;
        window.locations = [];

	$(document).ready(function(){
            // modify timezone
            $('.fall-back').hide();
                $('.timezone').hover(function () {
                    $('.fall-back', this).stop().slideToggle(200);
                });


            $('.simple_with_animation').slimScroll({
                height: '100%',
                color: '#ff7e02',
                size:'10px',
                alwaysVisible: true
            });     

            //when mobile menu is clicked
            $(".mobile_menu").click(function(){
                $("#overlay").show();
                $("#cssmenu").toggle();                                  
            });
                            
            //when other menu is clicked
            $(".show-menu").click(function(){
                $("#overlay").show();
                $("#cssmenu").toggle();                                  
            });

            $("#toggle_workspace").click(function(){
                if($("#style_switcher_panel2").is(":visible")){
                    $("#style_switcher_panel2").hide();
                    $("#overlay").show();
                    $("#style_switcher_panel").show();
                }
                else{              
                    $("#overlay").toggle();
                    $("#style_switcher_panel").toggle();
                }                
            });

            $("#open_help_center").click(function(){
                create_faqs_card("/cards/faqs/help/");
            });
	
            $("#email_us_btn").click(function(){
                create_faqs_card("/cards/faqs/email/");
                }); 

            $("#change_timezone").click(function(){
                create_faqs_card("/cards/change_timezone/");
                });    

            if ($(window).width() >= 801) {
                $("#cssmenu > ul > li > a").click(function () {                    
                    if ($(this).parent().hasClass('submenu')) {
                        $("#cssmenu ul li .submenu").removeClass("submenu");
                    }
                    else{
                        $("#cssmenu ul li .submenu").removeClass("submenu");
                    }
                    if ($(this).next("ul").length) {
                        $(this).next("ul").addClass("submenu");        
                    }		            
                });

                $("#cssmenu > ul > li > ul > li > a").click(function () {
                   if ($(this).parent().hasClass('submenu')) {
                        $("#cssmenu ul li ul li .submenu").removeClass("submenu");
                    }
                    else{
                        $("#cssmenu ul li ul li .submenu").removeClass("submenu");
                    }
                    if ($(this).next("ul").length) {
                        $(this).next("ul").addClass("submenu");                       
                    }                                       
                });
                $("#cssmenu > ul > li > ul > li > ul > li > a").click(function () {
                   if ($(this).parent().hasClass('submenu')) {
                        $("#cssmenu ul li ul li ul li .submenu").removeClass("submenu");
                    }
                    else{
                        $("#cssmenu ul li ul li ul li .submenu").removeClass("submenu");
                    }
                    if ($(this).next("ul").length) {
                        $(this).next("ul").addClass("submenu");
                    }                                       
                });
            }            
        });

function isValidDate(dateString,two_digit_year)
{
    if(dateString.length==0) // don't validate empty strings
        return true;
    // First check for the pattern
    var regex_date = /^\d{2,4}\-\d{1,2}\-\d{1,2}$/;

    if(!regex_date.test(dateString))
    {
        return false;
    }

    // Parse the date parts to integers
    var parts   = dateString.split("-");
    if(parts[0].length==2)
    {
        // date is inverted e.g. in reports
    var day     = parseInt(parts[0], 10);
    var month   = parseInt(parts[1], 10);
    var year    = parseInt(parts[2], 10);

    }
    else
    {
        // normal date validation
    var day     = parseInt(parts[2], 10);
    var month   = parseInt(parts[1], 10);
    var year    = parseInt(parts[0], 10);
    }

    if(year.toString().length!=2&&two_digit_year)
        return false;

    // Check the ranges of month and year
    if(month == 0 || month > 12 || day < 1 || day > 31)
    {
        return false;
    }

    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

    // Adjust for leap years
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
    {
        monthLength[1] = 29;
    }

    // Check the range of the day
    return day > 0 && day <= monthLength[month - 1];
}

function off_set(zone) {
    return ""+moment.tz(new Date(), zone).format("Z");
}
timezone_helper = "This is the default timezone used for this card."
$( ".timezone-title" ).tooltip({
        show: {
            effect: "slideDown",
            delay: 250,
        }
    });
   </script>

</head>
<body>
<div id="map"></div>
<div id="overlay"></div>
<div id="workspace">
    <span class="mobile_menu"><i class="fa fa-bars"></i></span>
    <span class="open_close_workspace">
        <a href='#' id="toggle_workspace">
            <img src='/static/custom/img/workspace-button-orange.png'>
        </a>
    </span>
    <span class="dashboard_help_center">
        <a href="#" id="open_help_center">
            <img src='/static/custom/img/Info_cog.png'>
        </a>
    </span>
    <span class="main-right-button">
        {% if user_account_days < 30 %}
        <span class="timezone" style="right:160px !important;">
        {% else %}
        <!-- <span class="timezone"> -->
        {% endif %}
             <!-- <div class="dropdown">

              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ current_timezone }}
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <p>This is the default timezone that's assumed for all data inputs and display in multi-site graphs. See top-right corner or every card, for the timezone used.</p>
                <button style="width:100%;" id="change_timezone">Change Timezone</button>
              </ul>
            </div>
        </span> -->
        
        <span class="email_us">
          {% if user_account_days < 30 %}
          <button id="tour_btn" style="float:right; margin-right:90px" onclick="startTour('{{ sites.0.id }}');">Tour</button>
          {% endif %}
        </span>
        <span class="email_us">
            <button id="email_us_btn" style="float:right;">Email Us</button>
        </span>
    </span>
</div>
<div id="company_logo"><img src='/static/custom/img/dashboard-logo.png'></div>
<div id="style_switcher_panel" class="panel middle">
    <div id="connected">
        <div class="row">
            <div class="info_ly">
                <div class="span7" id="card_column_left">
                    <ol class="simple_with_animation vertical blocks" id="style-11">
                    </ol>
                </div>
                <div class="span7" id="card_column_right">
                    <ol class="simple_with_animation vertical" id="style-11">
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="style_switcher_panel2" class="panel middle help_center" style="height:90%;margin-top:50px;">
   
</div>

<!--CSS MENU-->
<div class='show-menu' id="menu-button"></div>
<div id='cssmenu'>
    {% if not load_static_url %}
    <!-- add dynamic menus here -->
    {% autoescape off %}
    {{ print_menus }}
    {% endautoescape %}    
    <!-- end of dynamic menus  -->
    {% else %}
    <ul id="menu-list">
        <li class='has-sub'>
            <a href='#'><span>Graphs</span></a>
            <ul>
                <li><a href='#' id='summary_analysis'><span>Summary Totals</span></a></li>
                <li class='has-sub'>
                    <a href='#'><span>Daily Totals</span></a>
                    <ul>
                        <li>
                            {% if utility_management %}
                                <a href='#'><span>Costs</span></a>
                                <input type="text"  id="daily_totals_revenues_search_site" placeholder="Site">
                            {% else %}
                                <a href='#'><span>Payments & Revenues</span></a>
                                <input type="text"  id="daily_totals_revenues_search_site" placeholder="Site">
                            {% endif %}
                        </li>    
                        <li>
                            <a href='#'><span>Utility Use</span></a>
                            <input type="text"  id="daily_totals_energyuse_search_site" placeholder="Site">
                        </li>
                        <li>
                            <a href='#'><span>User Utility Use</span></a>
                            <input type="text"  id="daily_totals_energyuse_search_user" placeholder="User">
                        </li>
                        <li>
                            <a href='#'><span>Comms</span></a>
                            <input type="text"  id="daily_totals_comms_search_site" placeholder="Site">
                        </li>

                    </ul>
                </li>
                <li class='has-sub'>
                    <a href="#"><span>Time Series</span></a>
                    <ul>
                        <li class='has-sub'>
                            <a href="#"><span>By Site</span></a>
                            <ul>
                                <li>                                                                    
                                    <a href="#"><span>Utility Use</span></a>
                                    <input type="text" id="time_series_search_site" placeholder="Site">
                                </li>                                
                            </ul>
                        </li>
                        <li class='has-sub'>
                            {% if utility_management %}
                                <a href="#"><span>By Utility</span></a>
                            {% else %}
                                <a href="#"><span>By Utility</span></a>
                            {% endif %}
                            <ul>
                                <li>
                                    {% if utility_management %}
                                        <a href="#"><span>Utility Activity</span></a>
                                        <input type="text" id="time_series_search_utility" placeholder="Utility">
                                    {% else %}
                                        <a href="#"><span>Account Activity</span></a>
                                        <input type="text" id="time_series_search_user" placeholder="User">
                                    {% endif %}
                                </li>                                
                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href="#"><span>By Data Type</span></a>
                            <ul>
                                <li><a href="#" id="sites_utility_draw"><span>Utility Draw</span></a></li>
                                <li><a href="#" id="sites_voltage"><span>Voltage</span></a></li>
                                <li><a href="#" id="sites_temperature"><span>Temperature</span></a></li>
                                <li>
                                  <a href="#"><span>Meter Readings</span></a>
                                  <input type="text" id="site_meter_reading" placeholder="Site">
                                </li> 
                            </ul>
                        </li>
                    </ul>
                </li>                
                <li class='has-sub'>
                    <a href="#"><span>Bilevel Partition</span></a>
                    <ul>    
                        {% if utility_management %}   
                            <li><a href="#" id="payments_bilevel_card"><span>Cost Breakdown</span></a></li>          
                        {% else %}                        
                            <li><a href="#" id="payments_bilevel_card"><span>Revenues Breakdown</span></a></li>
                        {% endif %}
                        <li><a href="#" id="energy_bilevel_card"><span>Utility Use Breakdown</span></a></li>                        
                    </ul>
                </li>
                {% if is_staff %}
                <li>
                    <a href="#" id="comparison_graph"><span>Comparison Graph</span></a>
                </li>
                {% endif %}
            </ul>
        </li>
        <li class='has-sub'>
            <a href='#'><span>Profiles</span></a>
            <ul>
                <li>
                    <a href="#"><span>Search for site profiles</span></a>
                    <input type="text" id="profiles_search_site" placeholder="Site">                
                </li>
               <li>
                    {% if utility_management %}
                    <a href="#"><span>Search for utility profiles</span></a>
                    <input type="text" id="profiles_search_site_customers" placeholder="Site">                
                    {% else %}
                    <a href="#"><span>Search for site utilities</span></a>
                    <input type="text" id="profiles_search_site_customers" placeholder="Site">                
                    {% endif %}
                </li>
                <li>
                    {% if utility_management %}
                    <a href="#"><span>Search for utility</span></a>
                    <input type="text" id="profiles_search_user" placeholder="Utility">
                    {% else %}
                    <a href="#"><span>Search for utility</span></a>
                    <input type="text" id="profiles_search_user" placeholder="User">
                    {% endif %}                    
                </li>
            </ul>
        </li>
        <li class='has-sub'>
            <a href='#'><span>Logs</span></a>
            <ul>
                <li class='has-sub'>
                    <a href="#" id="messages_card"><span>Messages</span></a>
                    <ul>
                        <li><a href="#" id="all_messages_card"><span>All</span></a></li>
                        {% if not utility_management %}
                        <li><a href="#" id="payments_messages_card"><span>Payments</span></a></li>
                        {% endif %}
                        <li class='has-sub'>                          
                            <a href="#" class="has-sub"><span>SMS</span></a>
                            <ul>
                                <li><a href="#" id="all_sms_card"><span>All</span></a></li>
                                <li><a href="#" id="bh_sms_card"><span>bitHarvester</span></a></li>
                                {% if not utility_management %}
                                <li><a href="#" id="cust_sms_card"><span>Customer</span></a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </li>  
                <li><a href="#" id="pending_alerts_card"><span>Alerts</span></a></li>
            </ul>
        </li>
        <li class='has-sub'>
            <a href='#'><span>Controls</span></a>
            <ul>
                <li class='has-sub'>                    
                    <a href="#"><span>Register</span></a>
                    <ul>
                        {% if utility_management %}
                        <li><a href="#" id='register_user_card'><span>Utility</span></a></li>
                        {% else %}
                        <li><a href="#" id='register_user_card'><span>Customer</span></a></li>
                        {% endif %}
                        <li><a href="#" id="register_site_card"><span>Site</span></a></li>
                        {% if is_staff %}
                        <li><a href="#" id='register_bitharvester_card'><span>bitHarvester</span></a></li>
                        {% endif %}
                        <li><a href="#" id='register_website_user_card'><span>Website User</span></a></li>
                        {% if is_staff %}
                        <li><a href="#" id='register_faq_category_card'><span>FAQ Category</span></a></li>
                        <li><a href="#" id='register_faq_card'><span>FAQ</span></a></li>
                        <li><a href="#" id='register_multimedia_card'><span>Multimedia</span></a></li>
                        <li><a href="#" id='register_gateway_card'><span>Gateway</span></a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class='has-sub'>
                    <a href="#"><span>Edit</span></a>
                    <ul>
                        <li>
                            {% if utility_management %}
                            <a href="#"><span>Utility</span></a>
                            <input type="text" id="controls_edit_search_user" placeholder="Utility">
                            {% else %}
                            <a href="#"><span>Users</span></a>
                            <input type="text" id="controls_edit_search_user" placeholder="User">                            
                            {% endif %}
                        </li>
                        <li>
                            <a href="#"><span>bitHarvester</span></a>
                            <input type="text" id="controls_edit_search_bh" placeholder="bitHarvester">
                        </li>
                        <li>
                            <a href="#"><span>Site</span></a>
                            <input type="text" id="controls_edit_search_site" placeholder="Site">
                        </li>
                        <li>
                            <a href="#" class=''><span>Website User</span></a>
                            <input type="text" id="controls_edit_search_website_user" placeholder="Website User">
                        </li>
			{% if is_staff %}
                        <li>
                            <a href="#" class=''><span>Gateway</span></a>
                            <input type="text" id="controls_edit_search_gateway" placeholder="gateway">
                        </li>
                        <li><a href="#" id="controls_activate_website_user_card"><span>Activate Users</span></a></li>
                        {% endif %}
                    </ul>                    
                </li>
		<li class='has-sub'>
                    <a href="#"><span>Set</span></a>
                    <ul>
		      <li><a href="#" id="custom_trigger_commands_card"><span>Custom Triggers</span></a></li>
		      <li><a href="#" id="timer_commands_card"><span>Timer Commands</span></a></li>
		    </ul>
		</li>
                <li><a href="#" id="controls_bulk_edit_users"><span>Bulk Edit Users</span></a></li>
                {% if is_staff %}
                <li><a href="#" id="controls_management_command_card"><span>Management Commands</span></a></li>
                {% endif%}
            </ul>
        </li>
         
        <li class='has-sub'>
            <a href='#'><span>Comms</span></a>
            <ul>
                {% if not utility_management %}
                <li><a href="#" id="customer_sms_card"><span>Customer SMS</span></a></li>
                {% endif %}
                <li><a href="#" id="bh_controls_card"><span>bitHarvester SMS</span></a></li>
		        {% if is_staff %}
                <li><a href="#" id="user_email_card"><span>User Emails</span></a></li>
                {% endif %}
            </ul>
        </li>
        <li class='has-sub'>
            <a href='#'><span>Reports</span></a>
            <ul>
                <li><a href='#' id='reports_card'><span>Report Templates</span></a></li>                
                {% if is_staff %}
                <li><a href='#' id='report_builder_card'><span>Report Builder</span></a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href='#' id='kpis_card'><span>KPIs</span></a>            
        </li>
        <li class='has-sub'>
            <a href='#'><span>Admin</span></a>
            <ul>
              <li><a href="#" id="help_center_card">Help Center<span></span></a></li>
    	      <li><a href="#" id="credit_card_pay">Payment Settings<span></span></a></li>
              <li><a href="#" id="change_timezone" title="This is the default timezone that's assumed for all data inputs and display in multi-site graphs. See top-right corner or every card, for the timezone used.">Change Timezone<span></span></a></li>
              <!-- <li><a href="#" title="This is the default timezone that's assumed for all data inputs and display in multi-site graphs. See top-right corner or every card, for the timezone used." id="change_timezone"><button id="change_timezone">Change Timezone</button><span></span></a></li> -->

                {% if is_staff %}
                <li><a href="#" id="admin_card"><span>Admin</span></a></li>
                {% endif %}
                <!-- Redirect to log out -->
                <li><a href="{% url 'logout_page' %}" id="logout_card"><span>Logout</span></a></li>
            </ul>
        </li>

    </ul>
    {% endif %}
</div>

{% if is_asset_finance %}
<div id="filter_form">
    <p><span class="bold_text large">Filter: </span><span id="filter_not" class="notification"></span> <input type="text" value="" id="filter_text"></p>
    <p id="tr_units"><span class="bold_text">No. of Units: </span><span id="num_units"></span></p>
    <p id="tr_arrears"><span class="bold_text">Total Arrears: </span><span id="total_arrears"></span></p>    
</div>
{% endif %}

<script type="text/javascript">

    $(document).ready(function(){     
        $('#overlay').hide();
        $("#style_switcher_panel").hide(); 
        $("#style_switcher_panel2").hide();

        $('#overlay').click(function(){
            $('#overlay').hide();
            $("#cssmenu").hide();  
            $("#style_switcher_panel").hide();             
            $("#style_switcher_panel2").hide();
        });

        setupBitHarvestersAutocomplete("controls_edit_search_bh","controls_edit_search_bh");

        setupUncombinedSiteNamesAutocomplete("profiles_search_site","profiles_search_site");
        "{% if user_details_allowed %}"
        setupUncombinedSiteNamesAutocomplete("profiles_search_site_customers","profiles_search_site_customers");
        "{% endif %}"
        
        setupUncombinedSiteNamesAutocomplete("time_series_search_site","time_series_search_site");
        setupCombinedSiteNamesAutocomplete("daily_totals_revenues_search_site","daily_totals_revenues_search_site");
        setupCombinedSiteNamesAutocomplete("daily_totals_energyuse_search_site","daily_totals_energyuse_search_site");
        setupCombinedSiteNamesAutocomplete("daily_totals_comms_search_site","daily_totals_comms_search_site");
        setupCombinedSiteNamesAutocomplete("daily_totals_costs_search_site","daily_totals_costs_search_site")  
        setupUncombinedSiteNamesAutocomplete("site_meter_reading","site_meter_reading");
        setupUncombinedSiteNamesAutocomplete("controls_edit_search_site","controls_edit_search_site"); 

        setupUserNamesAutocomplete("daily_totals_energyuse_search_user","daily_totals_energyuse_search_user");

        "{% if user_details_allowed %}"
        setupUserNamesAutocomplete("profiles_search_user","profiles_search_user");      
        setupUserNamesAutocomplete("time_series_search_user","time_series_search_user"); 
        setupUserNamesAutocomplete("controls_edit_search_user","controls_edit_search_user");
        setupUserNamesAutocomplete("controls_edit_search_website_user","controls_edit_search_website_user");
        setupUserNamesAutocomplete("controls_edit_search_gateway","controls_edit_search_gateway");
        setupUserNamesAutocomplete("time_series_search_utility","time_series_search_utility");
        "{% endif %}"

        //create cards on load
        "{% if is_demo %}"    
{#        create_onload_card("/cards/site/site_energyuse_daily_totals/{{first_site_id}}/","left");#}
{#        create_onload_card("/cards/energy_bilevel/","left");                #}
{#        create_onload_card("/cards/reports/","right");#}
{#        create_onload_card("/cards/site/site_recent_activity/{{first_site_id}}/","right");#}
        "{% elif utility_management %}"
        create_onload_card("/cards/kpis/","left");
        create_onload_card("/cards/energy_bilevel/","left");                
        create_onload_card("/cards/reports/","right");
        create_onload_card("/cards/site/site_recent_activity/{{first_site_id}}/","right");
        "{% endif %}"

        var addDelay = (function(){
          var timer = 0;
          return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
          };
        })();

        $('#filter_text').keyup(function() {
            var label = $.trim($(this).val());

            addDelay(function(){
                filter_sites(label);                
            }, 1000);
        });
        
    });

    //allow dragging only on large screens
    if ($(window).width() >= 801) {
        var adjustment;
        $("ol.simple_with_animation").sortable({
            group: 'simple_with_animation',
            pullPlaceholder: false,
            onDrop: function  (item, targetContainer, _super) {
                var clonedItem = $('<li>').css({height: 0});
                item.before(clonedItem);
                clonedItem.animate({'height': item.height()});
                item.animate(clonedItem.position(), function  () {
                    clonedItem.detach();
                    _super(item)
                })
            },
            // set item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                    pointer = container.rootGroup.pointer;
                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                };
                _super($item, container)
            },
            onDrag: function ($item, position) {
                $item.css({
                    left: position.left - adjustment.left,
                    top: position.top - adjustment.top
                });
            }
        });
    }
</script>
<script>
// Remove asking user location
// request user geolocation
//     function showSteamaPosition(position) {
//         var latlon = position.coords.latitude + "," + position.coords.longitude;
//         window.geolocationshared = true;
//         window.longitude = position.coords.longitude;
//         window.latitude = position.coords.latitude;        
//         setupMap();
//     }
//     // catck errors on user shared geolocation
//     function showSteamaError(error) {
        
//     switch(error.code) {
//         case error.PERMISSION_DENIED:
//             x.innerHTML = "User denied the request for Geolocation."
//             window.longitude = 38;
//             window.latitude = 0;
//             setupMap();
//             break;
//         case error.POSITION_UNAVAILABLE:
//             x.innerHTML = "Location information is unavailable."
//             window.longitude = 38;
//             window.latitude = 0;
//             setupMap();
//             break;
//         case error.TIMEOUT:
//             x.innerHTML = "The request to get user location timed out."
//             window.longitude = 38;
//             window.latitude = 0;
//             setupMap();
//             break;
//         case error.UNKNOWN_ERROR:
//             x.innerHTML = "An unknown error occurred."
//             window.longitude = 38;
//             window.latitude = 0;
//             setupMap();
//             break;
//     }
// }

window.bounds = new google.maps.LatLngBounds();
window.infowindow = new google.maps.InfoWindow();

    
        


    var mapObj = null

    $(function() {
            window.longitude = 38;
            window.latitude = 0;
            {% if is_asset_finance %}
                filter_sites(""); 
            {% else %}
                setupMap();
            {% endif %}

        
    });

    function setupMap() { 
        // if single site, use this as map center
          {% if sites|length == 1 %}
          
          window.longitude = {{ sites.0.longitude }};
          window.latitude = {{ sites.0.latitude }};
          {% endif %}

          // if no sites, use Kenya as map center
          {% if sites|length == 0 %}
          window.longitude = 38;
          window.latitude = 0;
          {% endif %}

         mapObj = initializeSiteMap($("#map"));
         

         {% for site in sites %}
             addSite(mapObj, {
                 coords: {lat: {{ site.latitude }}, lng: {{ site.longitude }}},
                 name: "{{ site.name }}",
                 title: "{{ site.name }}",
                 siteId: "{{ site.id }}"
         });


         {% endfor %}

         // Zoom factor determined by site locations
         {% if sites|length > 1 %}
         mapObj.map.fitBounds(window.bounds);
         {% endif %}


         // If one site, set the zoom factor
          {% if sites|length == 1 or sites|length == 0 %}
          mapObj.map.setZoom(6);
         {% endif %}

    } 

    function updateMap(sites) { 
        
            window.longitude = sites[0]['long'];
            window.latitude = sites[0]['lat'];

            mapObj = initializeSiteMap($("#map"));

            for(var i=0; i<sites.length; i++){
                addSite(mapObj, {
                    coords: {lat: sites[i]['lat'], lng: sites[i]['long']},
                    name: sites[i]['name'],
                    title: sites[i]['name'],
                    siteId: sites[i]['id']
                });
            }

            // Zoom factor determined by site locations
            if(sites.length > 1){
                mapObj.map.fitBounds(window.bounds);       
            }

            if(sites.length == 1 || sites.length == 0){
                mapObj.map.setZoom(6);      
            }
    } 

    function filter_sites(label){ 
        $("#filter_not").html("");
        $.ajax({
            url: "/sites/filter/",
            type: "POST",
            dataType: "json",
            data:{
                "label": label,
                "csrfmiddlewaretoken": "{{csrf_token}}"
            },
            beforeSend: function(){
                $("#filter_text").removeClass("hide_loading");
                $("#filter_text").addClass("show_loading");
            },
            success: function(response){  
                if(response['sites'].length > 0){
                    updateMap(response['sites']);
                    //update no.of units/arrears
                    $("#num_units").html(response['units']);
                    $("#total_arrears").html(response['arrears']);                    
                }
                else{
                    $("#filter_not").html("No filter match!");
                }
                $("#filter_text").removeClass("hide_loading");
                $("#filter_text").addClass("hide_loading");
                
            },
            error:function(){
                $("#filter_not").html("No filter match!");
                $("#filter_text").removeClass("hide_loading");
                $("#filter_text").addClass("hide_loading");
            }
        });
    }   

    function create_card(content_url) {           
        $('#overlay').show();
        $("#cssmenu").hide(); 
        $("#style_switcher_panel2").hide();
        $("#style_switcher_panel").show();
        var card = $("<li></li>");
        var card_div = $("<div class='modal-body'></div>");
        var card_body = $("<p>Loading card...</p>");
        card.html(card_div);
        card_div.html(card_body);
        var ul = $('#card_column_left ol');
        $(card).prependTo(ul);

        var close_button = "<span class='close_button' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>";

        $.get(content_url, function (data) {
            if(data == "404 Not Found"){
                card_div.html(close_button + "<p>Failed to load card.</p>");
            }
            else{
                card_div.html(data);    
            }
            
        }).fail(function () {
            card_div.html(close_button + "<p>Failed to load card.</p>");
        });
    }
    // Create a card from data in the browser
    function create_card_from_client(content_data) {           
        $('#overlay').show();
        $("#cssmenu").hide(); 
        $("#style_switcher_panel2").hide();
        $("#style_switcher_panel").show();
        var card = $("<li></li>");
        var card_div = $("<div class='modal-body'></div>");
        var card_body = $("<p>Loading card...</p>");
        card.html(card_div);
        card_div.html(card_body);
        var ul = $('#card_column_left ol');
        $(card).prependTo(ul);

        var close_button = "<span class='close_button' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>";
        if (content_data==""||content_data=="undefined" || content_data == "404 Not Found")
        {
            card_div.html(close_button + "<p>Failed to load card.</p>");
        }
        else
        {
            card_div.html(close_button + content_data);
        }
    }

    // Errors
    function clickError(content_id_number)
    {
        create_card_from_client($('#span'+content_id_number).html());
        return false;
    }

    function create_faqs_card(content_url) {  
         if(content_url=="/cards/change_timezone/")
        {
            $("#style_switcher_panel2").removeClass("panel");
            $("#style_switcher_panel2").addClass("new-panel");
            $(".change_timezone_div .row").css("margin-right","0px !important");
        }
        else
        {
            $("#style_switcher_panel2").addClass("panel");
            $("#style_switcher_panel2").removeClass("new-panel");
        }

        $('#overlay').show();
        $("#cssmenu").hide(); 
        $("#style_switcher_panel").hide();
        $("#style_switcher_panel2").show();

       
        var close_button = "<span class='close_button' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode); return false;'>X</span>";

        $.get(content_url, function (data) {
            if(data == "404 Not Found"){
                $("#style_switcher_panel2").html(close_button + "<p>Failed to load card.</p>");
            }
            else{
                $("#style_switcher_panel2").html(data);
            }
            
        }).fail(function () {
            $("#style_switcher_panel2").html(close_button + "<p>Failed to load card.</p>");
        });
        
    }
    function create_onload_card(content_url,position) {           
        $('#overlay').show();
        $("#cssmenu").hide(); 
        $("#style_switcher_panel2").hide();
        $("#style_switcher_panel").show();
        var card = $("<li></li>");
        var card_div = $("<div class='modal-body'></div>");
        var card_body = $("<p>Loading card...</p>");
        card.html(card_div);
        card_div.html(card_body);
        var ul;
        if(position == "right"){
            ul = $('#card_column_right ol');
        }
        else{
            ul = $('#card_column_left ol');  
        }
        $(card).prependTo(ul);

        var close_button = "<span class='close_button' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>";

        $.get(content_url, function (data) {
            if(data == "404 Not Found"){
                card_div.html(close_button + "<p>Failed to load card.</p>");
            }
            else{
                card_div.html(data);
            }            
        }).fail(function () {
            card_div.html(close_button + "<p>Failed to load card.</p>");
        });
    }

    $("#summary_analysis").click(function(){
        create_card("/cards/summary_analysis/");
    });    
    $("#comparison_graph").click(function(){
        create_card("/cards/comparison_graph/");
    }); 
    $("#payments_bilevel_card").click(function() {
        create_card("/cards/payments_bilevel/");        
    });    
    $("#energy_bilevel_card").click(function() {
        create_card("/cards/energy_bilevel/");
    });    
    $("#timer_commands_card").click(function() {
        create_card("/cards/timer_commands/");
    });
    $("#custom_trigger_commands_card").click(function() {
        create_card("/cards/custom_trigger_commands/");
    });
    $("#customer_sms_card").click(function() {
        create_card("/cards/customer_sms/");
    });
    $("#bh_controls_card").click(function() {
        create_card("/cards/bh_controls/");
    });
    $("#user_email_card").click(function() {
        create_card("/cards/user_email/");
    });
    $("#pending_alerts_card").click(function() {
        create_card("/cards/pending_alerts/");
    });
    $("#resolved_alerts_card").click(function() {
        create_card("/cards/resolved_alerts/");
    });
    $("#sites_card").click(function() {
        create_card("/cards/sites/");
    });
    $("#reports_card").click(function(){
        create_card("/cards/reports/");
    });
    $("#report_builder_card").click(function(){
        create_card("/cards/report_builder/");
    });
    $("#kpis_card").click(function(){
        create_card("/cards/kpis/?id=kpis_card");
    });
    $("#sites_utility_draw").click(function(){
        create_card("/cards/sites_utility_draw");
    });
    $("#sites_voltage").click(function(){
        create_card("/cards/sites_voltage");
    });
    $("#sites_temperature").click(function(){
        create_card("/cards/sites_temperature");
    });
    $("#finance_report_card").click(function() {
        create_card("/cards/finance_report/");
    });
    $("#energy_report_card").click(function() {
        create_card("/cards/energy_report/");
    });
    $("#site_report_card").click(function() {
        create_card("/cards/site_report/");
    });
    $("#csv_report_card").click(function() {
        create_card("/cards/csv_report/");
    });
    $("#register_user_card").click(function() {
        create_card("/cards/user/register_user/");
    });
    $("#register_website_user_card").click(function() {
        create_card("/cards/user/register_website_user/");
    });
    $("#register_faq_category_card").click(function() {
        create_card("/cards/register/faq_category/");
    });
    $("#register_faq_card").click(function() {
        create_card("/cards/register/faq/");
    });
    $("#register_multimedia_card").click(function() {
        create_card("/cards/register/multimedia/");
    });
    $("#register_gateway_card").click(function() {
        create_card("/cards/register/gateway/");
    });
    $("#register_site_card").click(function() {
        create_card("/cards/site/register_site/");
    });
    $("#register_bitharvester_card").click(function(){
        create_card("/cards/site/register_bh");
    });
    $("#controls_bulk_edit_users").click(function(){
        create_card("/cards/bulk_edit_users/");
    });
    $("#profiles_search_user_card").click(function() {
        create_card("/cards/user/profiles_search_user/");
    });    
    $("#transactions_csv_card").click(function() {
        create_card("/cards/transactions/csv/");
    });
    $("#all_messages_card").click(function() {
        create_card("/cards/messages/all/");
    });
    $("#payments_messages_card").click(function() {
        create_card("/cards/messages/payments/");
    });    
    $("#all_sms_card").click(function() {
        create_card("/cards/messages/sms/all/");
    });
    $("#bh_sms_card").click(function() {
        create_card("/cards/messages/sms/bh/");
    });
    $("#cust_sms_card").click(function() {
        create_card("/cards/messages/sms/customer/");
    });
    $("#logout_card").click(function() {
        $.ajax({
            url:'/newsteama_logout/',
            type:'POST',
            data:'csrfmiddlewaretoken={{csrf_token}}',
            success:function(){
                window.location="/";
            }
            
        });
    });  
    $("#admin_card").click(function() {        
        window.location="/admin/";
    });       
    $("#help_center_card").click(function(){     
        create_faqs_card("/cards/faqs/help/");
    });
    $("#controls_activate_website_user_card").click(function() {
        create_card("/cards/user/activate_website_user/");
    });
    $("#controls_management_command_card").click(function() {
        create_card("/cards/management_command/");
    });

    function setupUserNamesAutocomplete(item_id,item_type) {
        "{% if utility_management %}"
        availableUserNames = [{% for user in all_users %}
            {value:"{{ user.first_name|safe }} {{ user.last_name|safe }}",id:"{{ user.id }}",type:"user"},
        {% endfor %}];
        "{% else %}"        
        availableUserNames = [{% for user in all_users %}
            {value:"{{ user.first_name|safe }} {{ user.last_name|safe }} {{ user.telephone }}",id:"{{ user.id }}",type:"user"},
        {% endfor %}];
        "{% endif %}"
         availableWebsiteUserNames = [{% for user in all_website_users %}
            {value:"{{ user|safe }}",id:"{{ user }}",type:"user"},
        {% endfor %}];
        availableGateways = [{% for gateway in all_gateways %}
            {value:"{{ gateway.name }}",id:"{{ gateway.name }}",type:"gateway"},
        {% endfor %}];

        availableNoUserLines = [{% for line in no_user_lines %}
            {value:"{{ line.name|safe }}", id:"line_{{line.id}}",type:"line"},
        {% endfor %}];
        
        var all_lines = availableUserNames.concat(availableNoUserLines);        
        
        $('#'+item_id).autocomplete({            
            minLength: 0,
            source: function(request, response) {
                if(item_type == "controls_edit_search_website_user"){
                    var results1 = $.ui.autocomplete.filter(availableWebsiteUserNames, request.term);
                    response(results1.slice(0, 10));
                }
                else if(item_type == "controls_edit_search_gateway"){
                var results1 = $.ui.autocomplete.filter(availableGateways, request.term);
                response(results1.slice(0, 10));
                }
                else{
                    var results = $.ui.autocomplete.filter(all_lines, request.term);
                    response(results.slice(0, 10));
                }
            },
            select: function( event, ui ){
                 $("#cssmenu").hide(); 
                 var user_id = ui.item.id;                               
                 var type = ui.item.type;
                 
                 if(item_type == "profiles_search_user"){
                     if (type == "line"){
                         create_card("/cards/line/line_details/"+user_id+"/");
                     }    
                     else{
                         create_card("/cards/user/user_details/"+user_id+"/");
                     }
                 }
                 if(item_type == "time_series_search_user"){
                     if (type == "line"){
                         create_card("/cards/user/user_recent_activity/"+user_id+"/line/");
                     }    
                     else{
                         create_card("/cards/user/user_recent_activity/"+user_id+"/user/");
                     }                     
                 }
                 if(item_type == "controls_edit_search_user"){
                     if (type == "line"){
                         create_card("/cards/line/edit_line/"+user_id+"/");
                     }    
                     else{
                         create_card("/cards/user/edit_user/"+user_id+"/");
                     }                     
                 } 
                 if(item_type == "controls_edit_search_website_user"){
                     create_card("/cards/user/edit_website_user/"+user_id+"/");
                 }
                 if(item_type == "controls_edit_search_gateway"){
                     create_card("/cards/edit_gateway/"+user_id+"/");
                 }
                 if(item_type == "daily_totals_energyuse_search_user"){
                     create_card("/cards/user/site_energyuse_daily_totals/"+user_id+"/");
                 }
                 if(item_type == "time_series_search_utility"){
                     if (type == "line"){
                         create_card("/cards/user/user_recent_activity/"+user_id+"/line/");
                     }    
                     else{
                         create_card("/cards/user/user_recent_activity/"+user_id+"/user/");
                     }                      
                 }                        
                 this.value = "";
                 return false;          
            },
        }).focus(function(){
            $(this).autocomplete("search");
        });        
    }

    function setupBitHarvestersAutocomplete(item_id,item_type) {        
        availableBH = [{% for bh in bitharvesters %}
            {value:"{{ bh.harvester_id }}",id:"{{ bh.harvester_id }}",type:"bitharvester"},
        {% endfor %}];
                
        
        
        $('#'+item_id).autocomplete({            
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableBH, request.term);
                response(results.slice(0, 10));
            },
            select: function( event, ui ){
                 $("#cssmenu").hide(); 
                 var bh_id = ui.item.id; 
                 var type = ui.item.type;
                 
                 if(item_type == "controls_edit_search_bh"){
                     create_card("/cards/bh/edit_bh/"+bh_id+"/");
                 }
                 this.value = "";
                 return false;          
            },
        }).focus(function(){
            $(this).autocomplete("search");
        });        
    }

    function setupCombinedSiteNamesAutocomplete(item_id,item_type) {
        var availableSiteNames = [{% for site in sites %}
            {value:"{{ site.name }}",id:"{{ site.id }}"},
        {% endfor %}];

        $("#"+item_id).autocomplete({                 
            minLength:0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableSiteNames, request.term);
                response(results.slice(0, 10));
            },
            select: function( event, ui ){
                 $("#cssmenu").hide(); 
                 var site_id = ui.item.id;                 
                                  
                 if(item_type == "daily_totals_revenues_search_site"){
                     create_card("/cards/site/site_revenues_daily_totals/"+site_id+"/");
                 }
                 if(item_type == "daily_totals_energyuse_search_site"){
                     create_card("/cards/site/site_energyuse_daily_totals/"+site_id+"/");
                 }
                 if(item_type == "daily_totals_comms_search_site"){
                     create_card("/cards/site/site_comms_daily_totals/"+site_id+"/");
                 }              
                 this.value = "";
                 return false; 
            },
            
        }).focus(function(){
            $(this).autocomplete("search");
        });    
    }  
    function setupUncombinedSiteNamesAutocomplete(item_id,item_type) {
        var availableSiteNames = Array();
        {% for site in sites %}
            {% if site.is_combined == False %}
                availableSiteNames.push({value:"{{site.name}}",id:"{{site.id}}"});
            {% endif %}
        {% endfor %}        

        $("#"+item_id).autocomplete({                 
            minLength:0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(availableSiteNames, request.term);
                response(results.slice(0, 10));
            },
            select: function( event, ui ){
                 $("#cssmenu").hide(); 
                 var site_id = ui.item.id;                                  

                 if(item_type == "time_series_search_site"){
                     create_card("/cards/site/site_recent_activity/"+site_id+"/");
                 }
                 if(item_type == "site_meter_reading"){
                     create_card("/cards/site/site_meter_reading/"+site_id+"/");
                 }

                 if(item_type == "profiles_search_site"){                   
                     create_card("/cards/site/site_details/"+site_id+"/");
                 }
                 if(item_type == "profiles_search_site_customers"){                                        
                     create_card("/cards/site/site_users/"+site_id+"/");
                 }
                 if(item_type == "controls_edit_search_site"){
                     create_card("/cards/site/edit_site/"+site_id+"/");
                 }

                 
                 this.value = "";
                 return false; 
            },
            
        }).focus(function(){
            $(this).autocomplete("search");
        });    
    } 
    function openDefaultCards(site_id)
    {
        // Left cards
        create_onload_card("/cards/site/site_users/"+site_id+"/","left");
        create_onload_card("/cards/summary_analysis/","left");
        // right cards
        create_onload_card("/cards/payments_bilevel/","right");
        create_onload_card("/cards/site/site_recent_activity/"+site_id+"/","right");
    }
         
</script>

<script>
  var handler = StripeCheckout.configure({
  key: '{{stripe_key}}',
  image: '/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  color: 'black',
  token: function(token) {
  // Use the token to create the customer object
  $.ajax({
  type: "POST",
  url:"/register_stripe/",
  data: {
  'stripeToken':token,
  }
  });
  }
  });
  
  $('#credit_card_pay').on('click', function(e) {
  // Open Checkout with further options
  handler.open({
  name: 'Steama Company Limited',
  description: 'Steama Payment',
  currency: "gbp",
  });
  e.preventDefault();
  });
  
  // Close Checkout on page navigation
  $(window).on('popstate', function() {
  handler.close();
  });
</script>


  
{# Kick off Tour immediately if user has a demo account #}
{% if is_demo %}
    <script>
        startTour('{{ sites.0.id }}');
    </script>
{% endif %}

</body>
</html>
