{% extends 'base.html' %}

{% block title %}{{ block.super }} - Sites{% endblock %}

{% block content %}
<div class="container">

  <div class="row-fluid">
      <h2>Sites</h2>
  </div><!-- row-fluid (header) -->

  <hr style="margin-top: 10px">

  <div class="row-fluid">
    <ul>
      {% for site in all_sites %}
        <li>
          <a href="/elements/site/{{ site.id }}/">
            {{ site.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
