{% extends 'base.html' %}

{% load tz %}

{% block title %}{{ block.super }} - Logs{% endblock %}

{% block head_scripts %}

<script>
  $(document).ready(function() {
    $( "#min_date_id" ).datepicker();
    $( "#max_date_id" ).datepicker();
    updateDateMaxMin();
  });
</script>

{% endblock %}

{% block content %}

<div class="container">

  <div class="row-fluid">
    <h2>Logs</h2>
    <hr>
  </div><!-- row-fluid (header) -->

  <form method="get" action="" role="form">
    <div class="row-fluid">
      <div class="span3">
	<input type="text" class="form-control" id="min_date_id"
	       name="min_date" placeholder="Min Date"
	       onchange="updateDateMaxMin()"
	       {% if filter_form.min_date.value %}
	       value="{{ filter_form.min_date.value }}"
	       {% endif %}/>
	<input type="text" class="form-control" id="max_date_id"
	       name="max_date" placeholder="Max Date"
	       onchange="updateDateMaxMin()"
	       {% if filter_form.max_date.value %}
	       value="{{ filter_form.max_date.value }}"
	       {% endif %}/>
      </div><!-- span3 -->
      <div class="span3">
	<input type="text" class="form-control" id="min_time_id"
	       name="min_time" placeholder="Min Time (hh:ss)"
	       {% if filter_form.min_time.value %}
	       value="{{ filter_form.min_time.value }}"
	       {% endif %}/>
	<input type="text" class="form-control" id="max_time_id"
	       name="max_time" placeholder="Max Time (hh:ss)"
	       {% if filter_form.max_time.value %}
	       value="{{ filter_form.max_time.value }}"
	       {% endif %}/>
      </div><!-- span3 -->
      <div class="span3">
	<input type="text" class="form-control" id="type_id"
	       name="type" placeholder="Message Type"
	       {% if type_in %}value="{{ type_in }}"{% endif %}/>
	<input type="text" class="form-control" id="other_party_id"
	       name="other_party" placeholder="Sender/Recipient"
	       {% if other_party_in %}value="{{ other_party_in }}"{% endif %}/>
      </div><!-- span3 -->
      <div class="span3">
	<input type="text" class="form-control" id="digest_id"
	       name="digest" placeholder="Digest"
	       {% if digest_in %}value="{{ digest_in }}"{% endif %}/>
	<input type="text" class="form-control" id="raw_content_id"
	       name="raw_content" placeholder="Full Content"
	       {% if raw_content_in %}value="{{ raw_content_in }}"{% endif %}/>
      </div><!-- span3 -->
    </div><!-- row-fluid (filters) -->
    <div class="row-fluid">
      <div class="span12">
	<button type="submit" class="btn btn-primary" name="filter">
	  Apply Filters
	</button>
	{% if user.last_name != "Guest" %}
	<button type="submit" class="btn btn-success" name="csv">
	  Export to CSV
	</button>
	{% endif %}
      </div><!-- span12 -->
    </div><!-- row-fluid (filter buttons) -->
  </form>

  <div class="row-fluid">
    {% if transactions_list %}
    <div class="span12">
      <table class="table table-bordered table-hover" id="transactions-table">
	<thead>
	  <tr>
	    <th>Timestamp</th>
	    <th>Message Type</th>
	    <th>Sender/Recipient</th>
	    <th>Digest</th>
	    <th>Full Content</th>
	  </tr>
	</thead>
	{% for transaction in transactions_list %}
	<tbody>
	    <tr>
	      <td>{{ transaction.timestamp }}</td>
	      <td>{{ transaction.type }}</td>
	      <td><a href="{{ transaction.other_party_link }}">
		  {{ transaction.other_party }}
	      </a></td>
	      <td>{{ transaction.digest }}</td>
	      <td>{{ transaction.raw_content }}</td>
	    </tr>
	</tbody>
	{% endfor %}
      </table>
    </div>
    {% else %}
    <p class="lead">No logs found matching the given query.</p>
    {% endif %}
  </div><!-- row-fluid (table) -->

</div>

{% endblock %}

{% block body_scripts %}

<script>
  function updateDateMaxMin() {
    $('#min_date_id').datepicker(
        "option", 
        "maxDate",
        $('#max_date_id').val()
    );
    $('#max_date_id').datepicker(
        "option", 
        "minDate",
        $('#min_date_id').val()
    );
  }
</script>

{% endblock %}
